<div class="container">
	<div class="grid-x grid-margin-x">
    <div class="cell medium-12">
    	<%= link_to t('.tornar_llistat_casos'), cas_practics_llistat_path, class:'button' %>
    	<div class="main-title-container">
				<span class="main-title"><%= t('.titol_editar') %></span>
			</div>

			<%= render 'form_es', cas_practic: @cas_practic %>

		</div>
	</div>
</div>


