<div class="container">
  <div class="grid-x">
    <div class="medium-12 cell">
      <div class="main-title-container">
        <span class="main-title"><%= t('.casos_practics') %></span>
      </div>
    </div>
  </div>

  
  <div class="video-array-container">
    <div class="grid-x grid-margin-x">
      
        <div class="medium-6 cell">
          <%= t('.en_construccio') %>
        </div>
      
    </div>
  </div>

</div>
