<div class="container">
  <%= render "layouts/dapcons_navigation" %>

  	<div class="medium-9 cell">
  		<div class="continguts-dapcons">
				
				<% if params[:locale] == 'ca' %>

					<div class="sub-title-container">
		        <span class="sub-title">Afiliació al Programa DAPconstrucción<sup>®</sup></span>
		      </div>

		      <p>Poden ser membres del Programa DAPconstrucción<sup>®</sup> totes aquelles empreses fabricants que vulguin assolir una transparència mediambiental, immediata o futura, dels seus productes reduint l’impacte ambiental associat al cicle de vida dels edificis.</p>
<p>Per fer-se membre s’ha d’enviar el formulari corresponent emplenat, havent llegit i acceptat els termes i condicions. Una vegada aprovada i acceptada, l’empresa passarà a formar part del Programa i a gaudir de tots els drets i avantatges que comporta.</p>

<br/>
<h4>Principals avantatges dels Membres del Programa DAPconstrucción<sup>®</sup></h4>
<ul>
<li>Formar part de la base de dates de les empreses membres del Programa.</li>
<li>Disposar d’assessorament, experiència i procediments del Programa en l’obtenció d’acreditacions mediambientals.</li>
<li>Accedir a les dades necessàries per al desenvolupament de l’Anàlisi del Cicle de Vida d’un producte.</li>
</ul>

<br/>
<h4>Quota d’afiliació al Programa DAPconstrucción<sup>®</sup></h4>
<p>El Programa d’ecoetiquetes preveu l’autofinancement a través de les aportacions de sol·licitants d’ecoetiquetes tipus III. L’import de la quota anual és de 800€.</p>

<br/>
<h4>Formularis d'afiliació</h4>

<p><a href="https://s3-eu-west-1.amazonaws.com/emissionssl-docs/dapc_docs/Solicitud+afiliacion+Programa+DAPconstrucci%C3%B3n+asociacion.doc">Formulari per a associacions</a> | <a href="https://s3-eu-west-1.amazonaws.com/emissionssl-docs/dapc_docs/Condiciones+DAPconstrucci%C3%B3n+asociaciones.pdf">Termes i condicions</a></p>

<p><a href="https://s3-eu-west-1.amazonaws.com/emissionssl-docs/dapc_docs/Solicitud+afiliacion+Programa+DAPconstrucci%C3%B3n+empresa.doc">Formulari per a empreses</a> | <a href="https://s3-eu-west-1.amazonaws.com/emissionssl-docs/dapc_docs/Condiciones+DAPconstrucci%C3%B3n+empresa.pdf">Termes i condicions</a></p>

<p><a href="https://s3-eu-west-1.amazonaws.com/emissionssl-docs/dapc_docs/solicitud+afiliacion+Programa+DAPconstrucci%C3%B3n+entidad.doc">Formulari per a entitats</a> | <a href="https://s3-eu-west-1.amazonaws.com/emissionssl-docs/dapc_docs/Condiciones+DAPconstrucci%C3%B3n+entidades.pdf">Termes i condicions</a></p>

		    <% else %>

		    	<div class="sub-title-container">
		        <span class="sub-title">Afiliación al Programa DAPconstrucción<sup>®</sup></span>
		      </div>

		      <p>Pueden ser Miembros del Programa DAPconstrucción<sup>®</sup> todas aquellas empresas fabricantes que quieran alcanzar una transparencia medioambiental, inmediata o futura, de sus productos reduciendo el impacto ambiental asociado al ciclo de vida de los edificios.</p>
<p>Para su afiliación, debe enviar el formulario correspondientemente rellenado y habiendo leído y aceptado los términos y condiciones. Una vez aprobada y aceptada, la empresa pasará a formar parte del Programa y a gozar de todos los derechos y ventajas que conlleva.</p>

<br/>
<h4>Principales ventajas de los Miembros del Programa DAPconstrucción<sup>®</sup></h4>
<ul>
<li>Formar parte de la base de datos de empresas miembros del Programa.</li>
<li>Disponer de asesoramiento, experiencias y procedimientos del Programa en la obtención de acreditaciones medioambientales.</li>
<li>Acceder a los datos necesarios para el desarrollo del Análisis de Ciclo de Vida de un producto.</li>
</ul>

<br/>
<h4>Cuota de afiliación al Programa DAPconstrucción<sup>®</sup></h4>
<p>El Programa de ecoetiquetado prevee su autofinanciación con las aportaciones de las empresas solicitantes de ecoetiquetas tipo III. El importe de la cuota anual es de 800€.</p>

<br/>
<h4>Formularios de afiliación</h4>

<p><a href="https://s3-eu-west-1.amazonaws.com/emissionssl-docs/dapc_docs/Solicitud+afiliacion+Programa+DAPconstrucci%C3%B3n+asociacion.doc">Formulario para asociaciones</a> | <a href="https://s3-eu-west-1.amazonaws.com/emissionssl-docs/dapc_docs/Condiciones+DAPconstrucci%C3%B3n+asociaciones.pdf">Términos y condiciones</a></p>

<p><a href="https://s3-eu-west-1.amazonaws.com/emissionssl-docs/dapc_docs/Solicitud+afiliacion+Programa+DAPconstrucci%C3%B3n+empresa.doc">Formulario para empresas</a> | <a href="https://s3-eu-west-1.amazonaws.com/emissionssl-docs/dapc_docs/Condiciones+DAPconstrucci%C3%B3n+empresa.pdf">Términos y condiciones</a></p>

<p><a href="https://s3-eu-west-1.amazonaws.com/emissionssl-docs/dapc_docs/solicitud+afiliacion+Programa+DAPconstrucci%C3%B3n+entidad.doc">Formulario para entidades</a> | <a href="https://s3-eu-west-1.amazonaws.com/emissionssl-docs/dapc_docs/Condiciones+DAPconstrucci%C3%B3n+entidades.pdf">Términos y condiciones</a></p>

		    <% end %>
		  </div>
		</div>
</div>
<%= render "layouts/dapcons_noticies" %>