<div class="container">
  <%= render "layouts/dapcons_navigation" %>

  	<div class="medium-9 cell">
  		<div class="continguts-dapcons">
				
				<% if params[:locale] == 'ca' %>

					<div class="sub-title-container">
		        <span class="sub-title">Afiliació al Programa DAPconstrucción<sup>®</sup></span>
		      </div>

		      <p>Poden ser membres del Programa DAPconstrucción<sup>®</sup> totes aquelles empreses fabricants que vulguin assolir una transparència mediambiental, immediata o futura, dels seus productes reduint l’impacte ambiental associat al cicle de vida dels edificis.</p>
					<p>Per fer-se membre cal registrar-se com empresa i completar les dades que trobareu a la plataforma de gestió DAPcons <a href="https://www.dapcons.com">https://www.dapcons.com</a></p>
					<p>Un cop aprovada i acceptada la petició, s’envia la factura per a l’abonament de la quota d’afiliació anual i l’organització/empresa passa a formar part del Programa operador i a gaudir de tots els drets i avantatges que comporta.</p>

					<br/>
					<h4>Principals avantatges dels Membres del Programa DAPconstrucción<sup>®</sup></h4>
					<ul>
					<li>Inscriure DAPs al programa DAPcons.</li>
					<li>Formar part de la base de dates de les empreses membres del Programa.</li>
					<li>Disposar d’assessorament, experiència i procediments del Programa en l’obtenció d’acreditacions mediambientals.</li>
					<li>Accedir a les dades necessàries per al desenvolupament de l’Anàlisi del Cicle de Vida d’un producte.</li>
					</ul>

					<br/>
					<h4>Quota d’afiliació al Programa DAPconstrucción<sup>®</sup></h4>
					<p>El Programa d’ecoetiquetes preveu l’autofinancement a través de les aportacions de sol·licitants d’ecoetiquetes tipus III. L’import de la quota anual és de 800€.</p>

		    <% elsif params[:locale] == 'es' %>

		    	<div class="sub-title-container">
		        <span class="sub-title">Afiliación al Programa DAPconstrucción<sup>®</sup></span>
		      </div>

		      <p>Pueden ser Miembros del Programa DAPconstrucción<sup>®</sup> todas aquellas empresas fabricantes que quieran alcanzar una transparencia medioambiental, inmediata o futura, de sus productos reduciendo el impacto ambiental asociado al ciclo de vida de los edificios.</p>
					<p>Para hacerse miembro hay que registrarse como empresa y completar los datos que  se solicitan en la plataforma de gestión DAPcons <a href="https://www.dapcons.com">https://www.dapcons.com</a></p>
					<p>Una vez aprobada y aceptada, se enviará la factura para el abono de la cuota de afiliación anual y la empresa pasará a formar parte del Programa y a disfrutar de todos los derechos y ventajas que conlleva.</p>

					<br/>
					<h4>Principales ventajas de los Miembros del Programa DAPconstrucción<sup>®</sup></h4>
					<ul>
					<li>Inscribir DAPs en el programa DAPcons.</li>
					<li>Formar parte de la base de datos de empresas miembros del Programa.</li>
					<li>Disponer de asesoramiento, experiencias y procedimientos del Programa en la obtención de acreditaciones medioambientales.</li>
					<li>Acceder a los datos necesarios para el desarrollo del Análisis de Ciclo de Vida de un producto.</li>
					</ul>

					<br/>
					<h4>Cuota de afiliación al Programa DAPconstrucción<sup>®</sup></h4>
					<p>El Programa de ecoetiquetado prevee su autofinanciación con las aportaciones de las empresas solicitantes de ecoetiquetas tipo III. El importe de la cuota anual es de 800€.</p>			

				<% else %>

					<div class="sub-title-container">
		        <span class="sub-title">Affiliation to the DAPconstrucción<sup>®</sup> Program</span>
		      </div>

		      <p>Members of the DAP Program can be <sup>®</sup> all those manufacturing companies that want to achieve environmental transparency, immediate or future, of their products by reducing the environmental impact associated with the life cycle of buildings.</p>
					<p>To become a member, you must register as a company and complete the information requested on the DAPcons management platform <a href="https://www.dapcons.com">https://www.dapcons.com</a></p>
					<p>Once approved and accepted, the invoice for the payment of the annual membership fee will be sent and the company will become part of the Program and enjoy all the rights and advantages that it entails.</p>

					<br/>
					<h4>Main advantages of the Members of the DAPconstrucción<sup>®</sup> Program</h4>
					<ul>
					<li>Register DAPs in the DAPcons program.</li>
					<li>Be part of the database of member companies of the Program.</li>
					<li>Have advice, experiences and procedures of the Program in obtaining environmental accreditations.</li>
					<li>Acceder a los datos necesarios para el desarrollo del Análisis de Ciclo de Vida de un producto.</li>
					</ul>

					<br/>
					<h4>Affiliation fee to the DAPconstrucción<sup>®</sup> Program</h4>
					<p>The Eco-labeling Program foresees its self-financing with the contributions of companies requesting eco-labels type III. The amount of the annual fee is € 800.</p>

		    <% end %>
		  </div>
		</div>
</div>
<%= render "layouts/dapcons_noticies" %>