<div class="container">
  <%= render "layouts/dapcons_navigation" %>

  	<div class="medium-9 cell">
  		<div class="continguts-dapcons">
				
				<% if params[:locale] == 'ca' %>

					<div class="sub-title-container">
		        <span class="sub-title">Contactar</span>
		      </div>

		      <p>Si voleu més informació sobre DAPcons<sup>®</sup> ens podeu contactar a: <a href="mailto:sostenible@cateb.cat">sostenible@cateb.cat</a>.</p>

		    <% elsif params[:locale] == 'es' %>

		    	<div class="sub-title-container">
		        <span class="sub-title">Contactar</span>
		      </div>

		      <p>Si quieren más información sobre DAPcons<sup>®</sup> podéis contactar a: <a href="mailto:sostenible@cateb.cat">sostenible@cateb.cat</a>.</p>

		    <% else %>

		    	<div class="sub-title-container">
		        <span class="sub-title">Contact</span>
		      </div>

		      <p>If you want more information about DAPcons<sup>®</sup> you can contact: <a href="mailto:sostenible@cateb.cat">sostenible@cateb.cat</a>.</p>

		    <% end %>
		  </div>
		</div>
</div>
<%= render "layouts/dapcons_noticies" %>