<div class="container">
  <%= render "layouts/dapcons_navigation" %>

  	<div class="medium-9 cell">
  		<div class="continguts-dapcons">
				<div class="main-title-container">
	        <span class="main-title"><%= t('.sistema_dapcons') %></span>
	      </div>
	  
    		<p>El Programa DAPconstrucción® és un programa que aglutina empreses fabricants de productes i materials de construcció que tenen un compromís amb la sostenibilitat i el medi ambient, i que volen avançar en l’anàlisi dels impactes mediambientals dels seus productes.</p>

				<p>L’objectiu és aglutinar aquelles empreses fabricants que volen comprometre’s amb la millora ambiental dels seus processos productius amb la finalitat de dotar al sector de la construcció de la transparència mediambiental necessària perquè els tècnics i professionals puguin prendre les decisions oportunes a l’hora d’escollir els productes a utilitzar en els seus projectes.</p>

				<p>Mitjançant la transparència mediambiental del sector de la construcció, els tècnics i professionals poden escollir els productes segons criteris mediambientals, més enllà dels estètics, econòmics i funcionals.</p>

				<p>La certificació DAPcons® és un programa d’ecoetiquetatge d’EPD de la construcció pioner a Espanya seguint les directrius europees i regulat per les normes ISO 14025 i 15804.</p>

				<p><span class="text-negreta">Saber-ne més:</span></p>

				<div class="grid-x grid-margin-x">
					<div class="small-4 cell">

					</div>
					<div class="small-8 cell">
						<p><span class="text-negreta">Ecoetiquetes en el sector de la construcció</span><br/>
						Les ecoetiquetes són útils per a distingir ràpidament els millors productes des del punt de vista ambiental. En aquest vídeo de l'Agenda de la Construcció Sostenible s'expliquen les principals diferències entre les ecoetiquetes de tipus I, II i III.</p>
					</div>
				</div>
			</div>
		</div>

</div>
	<%= render "layouts/dapcons_noticies" %>

 