<div class="container">
  <%= render "layouts/dapcons_navigation" %>

  	<div class="medium-9 cell">
  		<div class="continguts-dapcons">
				<div class="sub-title-container">
	        <span class="sub-title"><%= raw t('.utilitat') %></span>
	      </div>

				<h4 class="titol-seccio-dapcons">Per a tècnics i professionals</h4>
				<p class="paragraf-seccio-dapcons">Las DAPcons<sup>®</sup>  permeten quantificar els impactes dels components de l’edifici, i permeten escollir els  productes mediambientalment més respectuosos. El paper clau que ha de dur a terme el tècnic entorn a l’estudi de l’impacte ambiental dels edificis en l’etapa de projecte, construcció, ús i fi de vida, és determinant per reduir les emissions vinculades a la construcció d’edificis.</p>

				<h4 class="titol-seccio-dapcons">Per a empreses fabricants</h4>
				<p class="paragraf-seccio-dapcons">Les DAPcons<sup>®</sup>, són una eina per aconseguir donar resposta a exigències legals en un món global més competitiu. Aporten un valor afegit al producte i un mètode objectiu de quantificació de l’impacte ambiental dels processos de fabricació de productes de la construcció. La realització de l’Anàlisi del Cicle de Vida (ACV), imprescindible per obtenir una DAPcons<sup>®</sup>, permet a les empreses incidir de forma significativa sobre la millora dels seus processos i realitzar un estalvi econòmic important.</p>

				<h4 class="titol-seccio-dapcons">Per als usuaris</h4>
				<p class="paragraf-seccio-dapcons">Les DAPcons<sup>®</sup> comporten una major transparència i un bon coneixement de l’impacte global d’un edifici durant el seu cicle de vida, permeten establir criteris objectius de sostenibilitat d’un edifici i enfortir una etiqueta valorada, que és el que necessita l’usuari final.</p>

				<h4 class="titol-seccio-dapcons">Per a les administracions</h4>
				<p class="paragraf-seccio-dapcons">Les DAPcons<sup>®</sup>  són sol·licitades  i valorades per les administracions, doncs els productes contenen informació homogènia sobre el seu impacte ambiental i ajuden a tenir una major informació sobre l’edifici.</p>
				
			</div>
		</div>

</div>
<%= render "layouts/dapcons_noticies" %>
