<% if params[:locale] == 'ca' %>
<div class="container">

	<div class="grid-x">
		<div class="medium-12 cell">
			<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/aigua_gran_ca.jpg" alt="Aigua" class="responsive-img">	
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<p>La disponibilitat d'aigua en una zona com la Península ibèrica és limitada. Problemes com el manteniment dels cabals ecològics, la salinització d'aqüífers o la desaparició dels boscos de ribera són només un indici dels desequilibris ecològics que la sobreexplotació dels recursos hidràulics comporta. Per tant, és fonamental el desenvolupament de polítiques i actituds encaminades cap a un consum racional d’un bé tan escàs. Parlar d’aigua als edificis vol dir plantejar-se reduir el seu consum i la possible utilització de l’aigua de pluja o la reutilització de les aigües grises.</p>

				<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; margin-bottom: 40px; margin-top: 20px;} .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}</style><div class='embed-container'><iframe src="https://www.youtube.com/embed/QDQz0mKv5PY" frameborder="0" allowfullscreen></iframe></div>
			</div>
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<h2>Sistemes d'estalvi d'aigua</h2>
				<p>L'estalvi de l'aigua en el context de l'escalfament global i de la desertificació de moltes zones del nostre planeta es converteix en una assignatura obligatòria per a tota la població i en particular per als tècnics de la construcció. A continuació s'expliquen els diferents sistemes d'estalvi d'aigua per a edificis i zones enjardinades, que al costat d'un bon ús permeten minimitzar la despesa d'aigua fins a un 40%, reduint així el cost de la mateixa.</p>

				<h3>Aixetes i comptadors</h3>
				<p>Existeixen aixetes noves on el disseny facilita l'estalvi d'aigua gràcies al seu fàcil accionament enfront de les antigues aixetes de doble comandament. No obstant això si no es vol substituir les aixetes  antigues per noves es poden incorporar accessoris que redueixen bé el cabal i/o airegen l'aigua.</p>
				<p>L'aixeta mononomandament abunda entre el sector domèstic per la seva senzillesa d'ús i estètica. És una aixeta mescladora en el qual l'obertura, tancament i barreja d'aigua es realitzen mitjançant una sola palanca. El cabal d'aigua es regula bellugant la palanca cap amunt i baix. La selecció de temperatura es realitza girant gradualment la palanca de dreta a esquerra. Avantatges: En el seu interior està formada per peces ceràmiques amb una petita folgança entre elles que garanteix la pràctica supressió de fugides i degotejos. La selecció de temperatura requereix menys temps i en conseqüència es redueix el consum d'aigua perduda en la seva regulació. Inconvenients: El fàcil accionament de la palanca fa que l'usuari l'obri del tot, amb el que en moltes ocasions s'utilitza més quantitat de la necessària. Així mateix se sol utilitzar aigua calenta o tèbia amb més freqüència que amb el sistema bicomandamnent. Solució: Obertura en fred: Per defecte la palanca monocomandament se situa automàticament en posició d'aigua freda.</p>
				<p>Reduir el cabal d'aigua sense afectar el confort és una de les estratègies més utilitzades per reduir el consum. Els reguladors o limitadors de cabal reveixen precisament per a limitar el cabal màxim de l'aixeta. Un element molt diferent però amb una funcionalitat similar és el limitador de recorregut, també conegut com a discs eficients o ecodiscs. Es tracta de discs dentats que limiten el recorregut de la palanca amb l'objectiu de reduir el cabal màxim.</p>
				<p>Les aixetes termostàtiques solen estar adaptades a aixetes de dutxa i bany-dutxa i disposen d'un selector de temperatura. En el seu interior estan formades per materials termosensibles que es contreuen o expandeixen en funció de la temperatura. La reducció de consum d'energia està entre 7-17% a més del seu estalvi d'aigua.</p>
				<p>Les aixetes temporitzades estan molt esteses en edificis d'ús públic i en el sector serveis. S'accionen prement un botó que deixa sortir aigua durant un determinat temps i es tanquen automàticament. La reducció de consum s'estima entre un 30 i un 40%. Existeixen aixetes que es poden accionar amb els peus i braços, idònia per a geriàrtrics i recintes d'atenció sanitària. Una variant en són les aixetes electròniques, també conegudes com aixetes amb detecció per infrarojos. Hi ha models que possibiliten la barreja d'aigua freda i calenta. L'obertura de l'aixeta s'activa col·locant les mans sota la sortida d'aigua i es tanca automàticament quan es retiren les mans. S'aconsegueix el màxim estalvi d'aigua i energia.</p>
				<p>Existeixen solucions econòmiques per a reduir el consum d'aigua d’aixetes existents com airejadors, perlitzadors i reductors de cabal. El consum habitual en aixetes tradicional és de 15 l/min, si es utilitzen mecanismes reductors o airejadors es pot reduir el consum a uns 4-8 l/min.</p>
				<p>Finalment cal parlar dels comptadors. Els comptadors individuals per a aigua freda i calenta són elements clau per a poder controlar la despesa d'aigua a través de la lectura periòdica dels mateixos, fomentant així una política d'estalvi entre els usuaris.</p>

				<h3>Electrodomèstics</h3>
				<p>L'ús d'aigua en els electrodomèstics suposa el 20% del consum total en el sector domèstic, pel que la compra d'electrodomèstics classe A+ o superior comportarà un estalvi d'energia i aigua.</p>
				<p>Es poden considerar eficients les rentadores amb un consum d'aigua inferior als 7 litres per bugada. Aquestes rentadores poden incorporar entre uns altres els següents mecanismes:
					<ul>
						<li>Sensors de terbolesa que amiden el grau de brutícia de l'aigua i sobre la base d'aquesta graduen la temperatura, volum dóna aigua i temps de rentat.</li>
						<li>Sistemes electrònics que mullen per avançat les peces en lloc de prerentarles.</li>
						<li>Sistemes de detecció de càrrega que permeten un ajustament del volum d'aigua necessària per a rentar la roba.</li>
						<li>Dispositius antifuies per a evitar fugides o inundacions.</li>
						<li>Vàlvules antirretorn per evitar la pèrdua d'aigua i detergent pel desguàs.</li>
						<li>Filtres per a evitar l'obstrucció del desguàs.</li>
						<li>Programes de rentat en funció del grau de brutícia de la roba.</li>
					</ul>
				</p>
				<p>Així mateix és recomanable l'ús de detergents biodegradables i perles ceràmiques que poden estalviar fins al 85% del consum de detergent. Aquestes perles ceràmiques estan formades per diferents minerals que reduïxen la duresa de l'aigua i generen una acció tensoactiva en el rentat.</p>
				<p>Entre els rentavaixelles eficients destaquen aquells que per persona utilitzen menys de 1,85 litres d'aigua, arribant fins als 12 litres d'aigua per cicle de rentat. Al comprar un rentavaixelles es preferirà aquell que incorpori els següents sistemes d'estalvi d'aigua i energia:
					<ul>
						<li>Rentat intermitent per impulsos, els braços s'alternen en el rentat aconseguint un estalvi de fins a 5 litres.</li>
						<li>Neteja temporal del descalcificador en lloc de neteja per rentat.</li>
						<li>Sistemes de detecció de terbolesa de l'aigua de prerentat per a valorar la reutilització de la mateixa.</li>
						<li>Sistemes de detecció de la terbolesa de l'aigua per a graduar la temperatura de l'aigua.</li>
						<li>Sistemes de detecció de càrrega per a adaptar el volum d'aigua al nombre de coberts.</li>
						<li>Programes de rentat que adapten la temperatura a la brutícia dels coberts.</li>
						<li>Programes econòmics que incrementen la pressió de l'aigua, reduint el seu consum (4 a 7 litres).</li>
						<li>Vàlvules antiretorn per a evitar la pèrdua d'aigua i detergent pel desguàs.</li>
						<li>Filtres per a evitar l'obstrucció del desguàs.</li>
					</ul>
				</p>

				<h3>Sanitaris</h3>
				<p>Els vàters més comuns, sobretot en el sector domèstic, són els de descàrrega per gravetat. El sistema utilitza la força de la caiguda de l'aigua al caure per a netejar el vàter. Existeixen diferents sistemes per a ajustar o limitar el volum de la descàrrega en vàters amb dipòsit adossat a la tassa. La interrupció de descàrrega per a evitar el buidatge total de la cisterna, es realitza a través d'un polsador o tirador que per a la sortida d'aigua al prémer per segona vegada o baixar el tirador. La instal·lació d'un doble polsador està basat en el mateix principi. El polsador sol estar dividit en dues parts diferents en grandària perquè l'usuari pugui reconèixer-los fàcilment. Cadascun correspon a un volum determinat d'aigua, 3 o 6 litres generalment. En vàters amb cisterna elevada, solament es podrà col·locar un contrapès que interrompi el flux quan es deixi d'accionar el tirador.</p>
				<p>Un altre tipus de vàters són els de descàrrega pressuritzada. Aquests sistemes se solen trobar en edificis de públic accés. Els sistemes de descàrrega pressuritzada s'accionen mitjançant una aixeta de tancament automàtic (mecànic o electrònic) instal·lat sobre una derivació de la xarxa interior d'aigua. La pressió de descàrrega prové directament de la xarxa, pel que la neteja és molt més efectiva. Al no haver dipòsit d'aigua adossat al vàter, es guanya en espai i l'alta pressió de la xarxa evita que s'obstrueixin els conductes. Ja existeixen en el mercat fluxòmetres amb doble polsador per a 3 i 6 litres, no obstant això requereixen duplicar la instal·lació d'aigua. Els fluxors electrònics es basen en el mateix sistema que els fluxors temporitzats però s'activen mitjançant un sistema electrònic basat en detectors de presència. El sistema d'interrupció de descàrrega sol ser temporitzat.</p>
				<p>Els urinaris tenen una descàrrega màxima de 6 litres, però avui en dia tots els nous urinaris que s'instal·len tenen un consum molt menor. Igual que en els vàters, la descàrrega sol ser pressuritzada mitjançant fluxors temporitzats o electrònics. Com que requereixen poca pressió d'aigua, els fluxors poden instal·lar-se en qualsevol tipus d'edifici.</p>
				<p>Els vàters secs es basen en la separació de sòlids i líquids i és idoni per a climes càlids i secs. És aplicable a habitatges unifamiliars aïllats en zones en les quals no existeixi una xarxa de sanejament. La part líquida discorre a través de la placa base de formigó perforat i es filtra en la terra. A la part sòlida se li pot afegir deixalles del jardí o escombraries orgàniques, que així mateix facilitarà l'absorció de líquids. Es recomana la instal·lació d'un extractor eòlic o d'un ventilador elèctric per a extreure les males olors provinents de la descomposició orgànica.</p>

				<h3>Zones verdes</h3>
				<p>En habitatges unifamiliars aïllades o edificis destinats a altres usos que disposin de zona enjardinada així com espais verds públics és important economitzar al màxim l'ús de l'aigua. Les estratègies d'estalvi i reducció de manteniment són vàries, entre elles l'elecció d'un sistema de reg adequat al tipus de vegetació plantada, un adequat programa de reg, la recuperació d'aigües pluvials i la protecció del sòl per a evitar la condensació.</p>
				<p>El sistema de reg per aspersió està format per dispositius mòbils fixats a una xarxa de distribució d'aigua secundària que obté l'aigua d'un pou o dipòsit subterrani i la distribuïx bé per gravetat o per bombament. El consum d'aigua és menor que el requerit en el reg per solcs o inundació ja que és regulable. No obstant això, si es compara amb el sistema de reg per degoteig o microirrigació, presenta diversos desavantatges: el consum és major i el càlcul de distàncies entre aspersors ha de ser uniforme en el 80%. Aquest últim sistema proporciona aigua de manera constant i en petites quantitats a les arrels de les plantes, mantenint un nivell estable d'humitat. Al ser l'aport d'aigua subterrània s'eviten les pèrdues d'aigua per evaporació, optimitzant així a màxim l'ús de l'aigua. El sistema consta de canonades de diàmetre reduït amb vàlvules al costat de cada punt de reg, a les quals es connecta un emissor. Els degotejadors o emissors es poden regular electrònicament.</p>
				<p>Existeixen altres factors que juguen un important paper en l'optimització de l'aigua i que progressivament s'estan aplicant en el projecte, realització i manteniment de zones verdes a nivell particular i públic. La xerojardineria es basa en la utilització d'espècies vegetals amb baix consum hídric i adaptant el jardí a les condicions climàtiques pròpies de la zona. Part d'una anàlisi prèvia del sòl per a determinar les característiques físiques, químiques i topogràfiques del jardí, així com d'un estudi exhaustiu del clima o microclima de la zona. Sobre la base d'aquests dos estudis, es determinarà el disseny, vegetació i sistema de reg òptims per al jardí. Entre uns altres, té en compte la protecció o recobriment del sòl “mulching” mitjançant recursos vegetals per a evitar l'evaporació de l'aigua que contribueix a l'erosió i vessament superficial del terreny així com un manteniment constant del jardí. En alguns ajuntaments d'Espanya els responsables d'urbanisme estan promovent aquest tipus de jardineria, implantant-la en jardins públics, amb l'objectiu de fomentar al màxim l'estalvi d'aigua i servir d'exemple a la població. Alguns ajuntaments ja disposen d'ordenances en les quals es regula les fonts d'aigua de reg, fomentant les d'aigües recuperades, subterrànies i pluvials, i que obliguen a la construcció d'una doble xarxa de distribució per a poder aprofitar l'aigua de segona qualitat.</p>

				<h2>Sistemes de depuració</h2>

				<h3>Depuració de l'aigua a través de la vegetació</h3>
				<p>La contaminació de les aigües s'ha anat incrementant en els últims anys com a conseqüència d'un mal maneig de les aigües residuals urbanes. Industrials, agrícoles, en l'actualitat existeixen processos avançats en els quals s'obtenen efluentes amb una altíssima qualitat i on es pot començar a pensar en la reutilización, però per als països en vies de desenvolupament o poblacions que no poden realitzar fortes inversions, han de desenvolupar altre tipus de tècniques econòmicament viables. Existeixen mètodes on l'únic requisit és contar amb un terreny suficient, consisteix en la depuració d'aigües a través d'estanys amb plantes aquàtiques, aquest tractament no solament elimina la matèria orgànica i sediments presents en aigua residual, sinó que fins i tot elimina nutrientes, sals dissoltes, metalls pesats i organismes patògens.</p>
				<p>La base d'aquest tipus de sistemes és la utilització de la vegetació de la matèria orgànica per al seu creixement, a mesura que augmenta també augmenta la concentració d'oxigen en l'estany que utilitzen els bacteris per a degradar la matèria orgànica, per tant és un cicle, les plantes prenen del estaque matèria orgànica i CO2 produint oxigen en el mitjà, els bacteris per al seu creixement necessiten aquest oxigen i la matèria orgànica restant.</p>

				<h3>EDAR</h3>
				<p>Tal com el seu nom indica una EDAR és una estació depuradora d'aigües residuals. En aquestes instal·lacions es poden recollir i tractar tant les aigües residuals com les industrials, ja sigui de forma conjunta o separada, depenent dels municipis. Les aigües urbanes són aquelles generades per diferents activitats humanes es poden classificar pel seu origen en: aigües negres, aigües grises (procedeixen d'aigua de la banyera, lavabo...) i aigües blanques o pluvials.</p>
				
				<h3>Tractament d'aigües per infiltració directa al terreny</h3>
				<p>La idea d'utilitzar el sòl com mig depurador de les aigües residuals procedents de les ciutats data de l'antiguitat clàssica. Per a les petites poblacions és un sistema que encaixa perfectament amb els seus requisits, ja que, són sistemes que garanteixen una depuració suficient, i els costos de la qual d'instal·lació i manteniment són assequibles parar petits municipis.</p>
				<p>Sota la denominació de sistema natural de depuració s'engloben aquells procediments o tècniques en els quals l'eliminació de les substàncies contaminants presents en les aigües residuals urbanes es produeix per components del mitjà natural, no emprant-se en el procés cap tipus d'additiu químic. Habitualment es diferencien dos grans grups de tècniques de depuració natural: els mètodes de tractament mitjançant aplicació de l'aigua sobre el terreny, i els sistemes aquàtics.</p>
				<p>El sòl natural té uns límits ecològics suficientment amplis per a depurar els residus generats per una població dispersa o concentrada en petites localitats, sempre que els abocaments siguin biodegradables, això vol dir que no serien aptes per a aigües residuals provinents de les indústries, solament per a aigües residuals de petites poblacions, i la relació habitant equivalent/superfície de filtre sigui l'adequada. També cal tenir en compte la protecció del mig receptor, que en aquests casos solen ser aqüífers.</p>

				<h2>Sistemes de recuperació d'aigua</h2>
				<p>L'aigua és un factor important en el desenvolupament sostenible de les nostres societats. És nostra la responsabilitat de fer un bon consum d'aquest recurs natural. Estalviar, aprofitar i reutilitzar l'aigua són tres conceptes bàsics cada vegada més presents en les nostres vides. L'objectiu és allargar el cicle de l'aigua, d'aquesta manera, per a cada activitat que requereixi d'un consum d'aigua hem de destinar la quantitat i qualitat que correspongui amb l'ús que desitgem donar-li.</p>

				<h3>Recollida d'aigües pluvials</h3>
				<p>Les característiques de l'aigua de pluja la fan perfectament utilitzable per a ús domèstic i industrial. Les instal·lacions de recollida d'aigües pluvials existents consisteixen bàsicament en la canalització de l'aigua de la teulada de la coberta. L'estudi de la precipitació del nostre municipi, ens permetrà dimensionar el dipòsit d'aigües pluvials que ens garanteixi una reserva d'aigua destinada al rec del jardí, de l'hort… L'aigua potable és un aigua de gran qualitat que para molts usos domèstics es podria substituir per l'aigua pluvial. És el cas de l'aigua utilitzada per rentadores, rentavaixelles i WC. Aprofitar l'aigua pluvial té altres avantatges a l'hora de rentar la nostra roba, al ser l'aigua de pluja molt més tova que la de l'aixeta, estem estalviant fins a un 50% de detergent. En resum, si aprofitéssim l'aigua de pluja es podrien arribar a substituir, en una llar mitjana, 50.000 litres anuals d'aigua potable, per aigua de pluja. Això suposa una important contribució a la sostenibilitat del nostre hàbitat. Una bona instal·lació de recollida d'aigua ha de ser senzilla i ha de requerir un manteniment mínim. A més s'han d'evitar factors que poden alterar la qualitat de la nostra aigua emmagatzemada com són:
					<ul>
						<li>La brutícia</li>
						<li>La llum</li>
						<li>La calor excessiva</li>
					</ul>
				</p>
				<p>La condició prèvia perquè una instal·lació funcioni bé, és una bona planificació, i la selecció curosa dels diferents elements constructius. Un punt important que han de tenir en compte tant els propietaris com els tècnics de la construcció, és decidir el lloc de recollida d'aquesta aigua pluvial:
					<ul>
						<li>Sostres verds i superfícies de patis no són idonis, perquè comporten massa biomassa.</li>
						<li>Sostres de tela asfàltica tenyeixen l'aigua de groc.</li>
						<li>Sostres de fibrocement (Uralita) desprenen fibres d'amiant.</li>
						<li>Qualsevol altre tipus de coberta és apte.</li>
					</ul>
				</p>

				<h3>Reutilització d'aigües grises</h3>
				<p>Les aigües grises són aigües que provenen de la cuina, de la cambra de bany, dels lavabos, de les aigüeres... És l'aigua que a primera vista pot no tenir cap valor però que amb la seva reutilització estem allargant el seu cicle de vida afegint valor al seu ús. Reutilitzar les aigües “grises" generades en les nostres llars es correspon a una nova forma de pensar en l'aigua, en lloc de tenir un aigua residual passem a obtenir una font de recursos hídrics. Si reutilitzem les aigües grises, protegim les reserves d'aigües subterrànies, reduïm la càrrega de les aigües residuals i aconseguim una disminució important en la despesa d'aigua potable.</p>
				<p>Al reutilitzar les aigües grises per a les cisternes aconseguim un estalvi d'uns 50 litres per persona i dia. Si considerem una família mitjana de 4 persones, això suposaria un estalvi d'uns 200 l/dia, és a dir, aproximadament el 25 % del consum diari de l'habitatge. Si aquest sistema s'implanta en hotels, càmpings o instal·lacions esportives, estaríem parlant de xifres encara més importants, entorn del 30% d'estalvi d'aigua potable. </p>
				<p>Els sistemes per a la reutilització de les aigües grises són molt demandats per al seu ús en habitatges unifamiliars, comunitats de veïns, instal·lacions esportives com camps de futbol o piscines, hotels i universitats. Aquestes instal·lacions consten d'unes canonades independents per on circulen les aigües grises fins a arribar a uns dipòsits, on es porta a terme un tractament de depuració. Gràcies a la depuració, l'aigua es pot reutilitzar per a alimentar les cisternes dels WC, per al rec del jardí o la neteja dels exteriors. L'equip de reutilitzación d'aigües grises s'instal·la en els soterranis o la golfa, amb els corresponents bidons que recol·lectaran i tractaran les aigües. També s'instal·laran les canonades que es precisin per a recol·lectar l'aigua de la dutxa i el lavabo, que conduiran l'aigua a tractar i, d'altra banda, les canonades que duran l'aigua tractada cap a les cisternes del wc i a una boca de rec, si fos necessària.</p>

				<h2>Sistemes de tractament d'aigua</h2>

				<p>Avui dia, la qualitat de les aigües superficials d'Espanya no és del tot satisfactòria. L'estat de la majoria dels rius de la meitat nord peninsular presenta un grau òptim de conservació però el grau de contaminació de les aigües creix a mesura que van passant per nuclis urbans i industrials, arribant a un estat molt degradat en els seus trams mitjos i finals. El cas s'agreuja quan es tracta de la meitat sud, vam contar amb la mateixa problemàtica respecte a la meitat nord peninsular però a més la qualitat de l'aigua en les capçaleres empitjora a causa del menor cabal present, el que augmenta la concentració dels abocaments contaminants.</p>
				<p>Quan es tracta de l'aigua provinent de rius el tractament és més complex per estar exposada a la incorporació de materials i microorganismes. Segons l'època de l'any (a l'estiu l'aigua dels nostres rius és menys cabalós i per tant més tèrbola que a l'hivern) varien els nivells de terbolesa, de contingut mineral i el grau de contaminació.</p>
				<p>Les aigües provinents de fonts subterrànies profundes, galeries filtrants o manantials conten amb la peculiaritat que, si superen les anàlisis químiques i les previsions en la seva captació per a evitar la contaminació, poden destinar-se directament al consum. Aquestes aigües són en general potables de forma natural. Es recomana un tractament amb clor per a protegir l'aigua de possibles alteracions en la xarxa de distribució que puguin contaminar aquesta aigua. Si l'aigua no és potable de forma natural haurà de tractar-se d'igual manera amb un tractament corrector, tal com succeeix amb les aigües superficials. Aquest tractament corrector o potabilitzador pot ser físic, químic o bacteriològic i se sol realitzar en estacions potabilitzadores ETAP.</p>

				<h3>Tractament físic</h3>
				<p>L'objectiu d'aquest tractament corrector consisteix a eliminar la terbolesa i el color, és a dir, l'eliminació de matèries en suspensió, finament dividides, que no assenten fàcilment, acompanyades moltes vegades de matèries orgàniques coloidals o dissoltes, que no són retingudes per la simple filtració. Per a això és necessari un tractament previ amb coagulant químic, seguit de decantació o clarificació i després filtració, a través d'una capa de sorra. Hi ha dues classes de filtres de sorra: els d'acció lenta i els d'acció ràpida, i aquests es divideixen en filtres de superfície lliure i filtres de pressió. En els filtres lents l'aigua passa per gravetat a través de la sorra a baixa velocitat, la separació dels materials sòlids s'efectua al passar l'aigua pels porus de la capa filtrant i adherir-se les partícules als grans de sorra. En els filtres ràpids amb superfície lliure l'aigua descendeix per gravetat a través de la sorra a una velocitat major. És imprescindible el tractament amb coagulants per a treure la major quantitat de partícules en suspensió. El filtre es renta amb un corrent d'aigua en sentit contrari al de filtrat, que expandeix el jaç i es duu al desguàs els sòlids acumulats o qualsevol altre material inert i finalment es realitza un tractament de desinfecció, mes o menys intens, segons el grau de contaminació. Per a eliminar o reduir la intensitat dels gustos o olors es recomanen diferents procediments, que depenen de la naturalesa del problema, com són: airejació, carbó actiu, ús de clor o altres oxidants, com l'ozó, etc., i algunes vegades combinant amb tractament previ de l'aigua natural amb un alguicida.</p>

				<h3>Tractament químic</h3>
				<p>El tractament corrector químic es refereix a la correcció del pH de l'aigua, a la reducció de la duresa, a l'eliminació dels elements nocius o a l'agregat de certs productes químics, buscant sempre millorar la qualitat de l'aigua. La correcció del pH pot fer-se agregant calç o carbonat de sodi, abans o després de la filtració. La reducció de la duresa, pot fer-se per mètodes simples (calç, soda, zeolita o resines) o mètodes composts (calç-soda; calç-zeolita, calç-resines). L'eliminació d'elements nocius pot referir-se a baixar els continguts excessius de ferro, manganès, flúor, arsènic o vanadi. Per último pel que fa a l'agregat de productes químics, diem que es refereix a l'agregat de flúor.</p>

				<h3>Tractament bacteriològic</h3>
				<p>El tractament bacteriològic es refereix gairebé exclusivament a la desinfecció amb clor, podent-se utilitzar clor pur, sals clorogenes o hipoclorits. Les dosis a utilitzar generalment es fixen sobre la base del clor residual, el valor del qual ha d'estar entre 0.05 mg/ l i 0.1 mg/l per a quedar a cobert de qualsevol contaminació secundària. En els proveïments d'aigua potable s'empra el gas clor mentre que per a proveïments mitjans o petits s'utilitzen hipoclorits. El procés més senzill d’esterilitzaió i barat és la cloració, l'acció del clor és de poca profunditat i les partícules en suspensió la dificulten. Existeix un punt crític de cloració, si en la cloració sobrepassa el mínim de clor, es parla de cloració crítica, nociva per a la salut i causant de malalties tals com càncer.</p>
				
			</div>
		</div>
	</div>
		
</div>
<% elsif params[:locale] == 'es' %>
<div class="container">

	<div class="grid-x">
		<div class="medium-12 cell">
			<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/aigua_gran_es.jpg" alt="Agua" class="responsive-img">	
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<p>La disponibilidad de agua en una zona como la Península Ibérica es limitada. Problemas como el mantenimiento de los caudales ecológicos, la salinización de acuíferos o la desaparición de los bosques de ribera son sólo un indicio de los desequilibrios ecológicos que la sobreexplotación de los recursos hidráulicos conlleva. Por tanto, es fundamental el desarrollo de políticas y actitudes encaminadas hacia un consumo racional de un bien tan escaso. Hablar de agua en los edificios significa plantearse reducir su consumo y la posible utilización del agua de lluvia o la reutilización de las aguas grises.</p>

				<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; margin-bottom: 40px; margin-top: 20px;} .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}</style><div class='embed-container'><iframe src="https://www.youtube.com/embed/iTiJQ9CqxLM" frameborder="0" allowfullscreen></iframe></div>
			</div>
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<h2>Sistemas de ahorro de agua</h2>
				<p>El ahorro del agua en el contexto del calentamiento global y de la desertificación de muchas zonas de nuestro planeta se convierte en una asignatura obligatoria para toda la población y en particular para los técnicos de la construcción. A continuación se explican los diferentes sistemas de ahorro de agua para edificios y zonas ajardinadas, que junto a un buen uso permiten minimizar el gasto de agua hasta un 40%, reduciendo así el coste de la misma.</p>

				<h3>Grifos y contadores</h3>
				<p>Existen grifos no vas donde el diseño facilita ahorro de agua gracias a su fácil accionamiento frente a las antiguas grifos de doble mando. Sin embargo si no se quiere sustituir los grifos antiguas por nuevas se pueden incorporar accesorios que reducen bien el caudal y / o airean el agua.</p>
				<p>El grifo monomando abunda entre el sector doméstico por su sencillez de uso y estética. Es un grifo mezclador en el que la apertura, cierre y mezcla de agua se realizan mediante una sola palanca. El caudal de agua se regula moviendo la palanca hacia arriba y abajo. La selección de temperatura se realiza girando gradualmente la palanca de derecha a izquierda. Ventajas: En su interior está formada por piezas cerámicas con una pequeña holgura entre ellas que garantiza la práctica supresión de fugas y goteos. La selección de temperatura requiere menos tiempo y en consecuencia se reduce el consumo de agua perdida en su regulación. Inconvenientes: El fácil accionamiento de la palanca hace que el usuario la abra del todo, con lo que en muchas ocasiones se utiliza más cantidad de la necesaria. Asimismo se suele utilizar agua caliente o tibia con más frecuencia que con el sistema bicomandamnent. Solución: Apertura en frío: Por defecto la palanca monomando se sitúa automáticamente en posición de agua fría.</p>
				<p>Reducir el caudal de agua sin afectar el confort es una de las estrategias más utilizadas para reducir el consumo. Los reguladores o limitadores de caudal reveixen precisamente para limitar el caudal máximo del grifo. Un elemento muy diferente pero con una funcionalidad similar es el limitador de recorrido, también conocido como discos eficientes o ecodiscos. Se trata de discos dentados que limitan el recorrido de la palanca con el objetivo de reducir el caudal máximo.</p>
				<p>Los grifos termostáticos suelen estar adaptadas a grifos de ducha y baño-ducha y disponen de un selector de temperatura. En su interior están formadas por materiales termosensibles que se contraen o expanden en función de la temperatura. La reducción de consumo de energía está entre 7-17% además de su ahorro de agua.</p>
				<p>Los grifos temporizados están muy extendidas en edificios de uso público y en el sector servicios. Accionan pulsando un botón que deja salir agua durante un determinado tiempo y se cierran automáticamente. La reducción de consumo se estima entre un 30 y un 40%. Existen grifos que se pueden accionar con los pies y brazos, idónea para geriàrtrics y recintos de atención sanitaria. Una variante son los grifos electrónicas, también conocidas como grifos con detección por infrarrojos. Hay modelos que posibilitan la mezcla de agua fría y caliente. La apertura del grifo se activa colocando las manos bajo la salida de agua y se cierra automáticamente cuando se retiran las manos. Se consigue el máximo ahorro de agua y energía.</p>
				<p>Existen soluciones económicas para reducir el consumo de agua de'aixetes existentes como aireadores, perlizadores y reductores de caudal. El consumo habitual en grifos tradicional es de 15 l / min, si se utilizan mecanismos reductores o aireadores se puede reducir el consumo a unos 4-8 l / min.</p>
				<p>Finalmente hay que hablar de los contadores. Los contadores individuales para agua fría y caliente son elementos clave para poder controlar el gasto de agua a través de la lectura periódica de los mismos, fomentando así una política de ahorro entre los usuarios.</p>

				<h3>Electrodomésticos</h3>
				<p>El uso de agua en los electrodomésticos supone el 20% del consumo total en el sector doméstico, por lo que la compra de electrodomésticos clase A + o superior conllevará un ahorro de energía y agua.</p>
				<p>Se pueden considerar eficientes las lavadoras con un consumo de agua inferior a los 7 litros por colada. Estas lavadoras pueden incorporar entre otros los siguientes mecanismos:
					<ul>
						<li>Sensores de turbidez que miden el grado de suciedad del agua y sobre la base de esta gradúan la temperatura, volumen da agua y tiempo de lavado.</li>
						<li>Sistemas electrónicos que mojan por adelantado las piezas en lugar de prerentarles.</li>
						<li> Sistemas de detección de carga que permiten un ajuste del volumen de agua necesaria para lavar la ropa. </li>
						<li> Dispositivos antifuies para evitar fugas o inundaciones. </li>
						<li> Válvulas antirretorno para evitar la pérdida de agua y detergente por el desagüe. </li>
						<li> Filtros para evitar la obstrucción del desagüe. </li>
						<li> Programas de lavado en función del grado de suciedad de la ropa. </li>
					</ul>
				</p>
				<p>Asimismo es recomendable el uso de detergentes biodegradables y perlas cerámicas que pueden ahorrar hasta el 85% del consumo de detergente. Estas perlas cerámicas están formadas por diferentes minerales que reducen la dureza del agua y generan una acción tensoactiva en el lavado.</p>
				<p>Entre los lavavajillas eficientes destacan aquellos que por persona utilizan menos de 1,85 litros de agua, llegando hasta los 12 litros de agua por ciclo de lavado. Al comprar un lavavajillas se preferirá aquel que incorpore los siguientes sistemas de ahorro de agua y energía:
					<ul>
						<li>Lavado intermitente por impulsos, los brazos se alternan en el lavado consiguiendo un ahorro de hasta 5 litros. </li>
						<li>Limpieza temporal del descalcificador en lugar de limpieza por lavado. </li>
						<li>Sistemas de detección de turbidez del agua de prelavado para valorar la reutilización de la misma. </li>
						<li>Sistemas de detección de la turbidez del agua para graduar la temperatura del agua. </li>
						<li>Sistemas de detección de carga para adaptar el volumen de agua en el número de cubiertos. </li>
						<li>Programas de lavado que adaptan la temperatura a la suciedad de los cubiertos. </li>
						<li>Programas económicos que incrementan la presión del agua, reduciendo su consumo (4 a 7 litros). </li>
						<li>Válvulas antirretorno para evitar la pérdida de agua y detergente por el desagüe. </li>
						<li>Filtros para evitar la obstrucción del desagüe. </li>
					</ul>
				</p>

				<h3>Sanitarios</h3>
				<p>Los inodoros más comunes, sobre todo en el sector doméstico, son los de descarga por gravedad. El sistema utiliza la fuerza de la caída del agua al caer para limpiar el inodoro. Existen diferentes sistemas para ajustar o limitar el tamaño de la descarga en inodoros con depósito adosado a la taza. La interrupción de descarga para evitar el vaciado total de la cisterna, se realiza a través de un pulsador o tirador que para la salida de agua al pulsar por segunda vez o bajar el tirador. La instalación de un doble pulsador está basado en el mismo principio. El pulsador suele estar dividido en dos partes diferentes en tamaño para que el usuario pueda reconocer fácilmente. Cada uno corresponde a un volumen determinado de agua, 3 o 6 litros generalmente. En inodoros con cisterna elevada, solamente se podrá colocar un contrapeso que interrumpa el flujo cuando se deje de accionar el tirador.</p>
				<p>Otro tipo de inodoros son los de descarga presurizada. Estos sistemas se suelen encontrar en edificios de público acceso. Los sistemas de descarga presurizada se accionan mediante un grifo de cierre automático (mecánico o electrónico) instalado sobre una derivación de la red interior de agua. La presión de descarga proviene directamente de la red, por lo que la limpieza es mucho más efectiva. Al no haber depósito de agua adosado al inodoro, se gana en espacio y la alta presión de la red evita que se obstruyan los conductos. Ya existen en el mercado fluxómetros con doble pulsador para 3 y 6 litros, sin embargo requieren duplicar la instalación de agua. Los fluxores electrónicos se basan en el mismo sistema que los fluxores temporizados pero se activan mediante un sistema electrónico basado en detectores de presencia. El sistema de interrupción de descarga suele ser temporizado.</p>
				<p>Los urinarios tienen una descarga máxima de 6 litros, pero hoy en día todos los nuevos urinarios que se instalan tienen un consumo mucho menor. Al igual que en los inodoros, la descarga suele ser presurizada mediante fluxores temporizados o electrónicos. Como que requieren poca presión de agua, los fluxores pueden instalarse en cualquier tipo de edificio.</p>
				<p>Los inodoros secos se basan en la separación de sólidos y líquidos y es idóneo para climas cálidos y secos. Es aplicable a viviendas unifamiliares aisladas en zonas en las que no exista una red de saneamiento. La parte líquida discurre a través de la placa base de hormigón perforado y se filtra en la tierra. En la parte sólida se le puede añadir desechos del jardín o basura orgánica, que asimismo facilitará la absorción de líquidos. Se recomienda la instalación de un extractor eólico o de un ventilador eléctrico para extraer los malos olores provenientes de la descomposición orgánica.</p>

				<h3>Zonas verdes</h3>
				<p>En viviendas unifamiliares aisladas o edificios destinados a otros usos que dispongan de zona ajardinada así como espacios verdes públicos es importante economizar al máximo el uso del agua. Las estrategias de ahorro y reducción de mantenimiento son varias, entre ellas la elección de un sistema de riego adecuado al tipo de vegetación plantada, un adecuado programa de riego, la recuperación de aguas pluviales y la protección del suelo para evitar la condensación.</p>
				<p>El sistema de riego por aspersión está formado por dispositivos móviles fijados a una red de distribución de agua secundaria que obtiene el agua de un pozo o depósito subterráneo y la distribuye bien por gravedad o por bombeo. El consumo de agua es menor que el requerido en el riego por surcos o inundación ya que es regulable. Sin embargo, si se compara con el sistema de riego por goteo o microirrigación, presenta varias desventajas: el consumo es mayor y el cálculo de distancias entre aspersores debe ser uniforme en el 80%. Este último sistema proporciona agua de manera constante y en pequeñas cantidades a las raíces de las plantas, manteniendo un nivel estable de humedad. Al ser el aporte de agua subterránea se evitan las pérdidas de agua por evaporación, optimizando así máximo el uso del agua. El sistema consta de tuberías de diámetro reducido con válvulas al lado de cada punto de riego, a las que se conecta un emisor. Los degotejadors o emisores se pueden regular electrónicamente.</p>
				<p>Existen otros factores que juegan un importante papel en la optimización del agua y que progresivamente se están aplicando en el proyecto, realización y mantenimiento de zonas verdes a nivel particular y público. La xerojardinería se basa en la utilización de especies vegetales con bajo consumo hídrico y adaptando el jardín a las condiciones climáticas propias de la zona. Parte de un análisis previo del suelo para determinar las características físicas, químicas y topográficas del jardín, así como de un estudio exhaustivo del clima o microclima de la zona. Sobre la base de estos dos estudios, se determinará el diseño, vegetación y sistema de riego óptimos para el jardín. Entre otros, tiene en cuenta la protección o recubrimiento del suelo "mulching" mediante recursos vegetales para evitar la evaporación del agua que contribuye a la erosión y escorrentía superficial del terreno así como un mantenimiento constante del jardín. En algunos ayuntamientos de España los responsables de urbanismo están promoviendo este tipo de jardinería, implantándose en jardines públicos, con el objetivo de fomentar al máximo el ahorro de agua y servir de ejemplo a la población. Algunos ayuntamientos ya disponen de ordenanzas en las que se regula las fuentes de agua de riego, fomentando las de aguas recuperadas, subterráneas y pluviales, y que obligan a la construcción de una doble red de distribución para poder aprovechar la agua de segunda calidad.</p>

				<h2>Sistemas de depuración</h2>

				<h3>Depuración del agua a través de la vegetación</h3>
				<p>La contaminación de las aguas se ha ido incrementando en los últimos años como consecuencia de un mal manejo de las aguas residuales urbanas. Industriales, agrícolas, en la actualidad existen procesos avanzados en los que se obtienen efluentes con una altísima calidad y donde se puede empezar a pensar en la reutilización, pero para los países en vías de desarrollo o poblaciones que no pueden realizar fuertes inversiones, deben desarrollar otro tipo de técnicas económicamente viables. Existen métodos donde el único requisito es contar con un terreno suficiente, consiste en la depuración de aguas a través de estanques con plantas acuáticas, este tratamiento no sólo elimina la materia orgánica y sedimentos presentes en agua residual, sino que incluso elimina nutrientes, sales disueltas, metales pesados y organismos patógenos.</p>
				<p>La base de este tipo de sistemas es la utilización de la vegetación de la materia orgánica para su crecimiento, a medida que aumenta también aumenta la concentración de oxígeno en el estanque que utilizan las bacterias para degradar la materia orgánica, por tanto es un ciclo, las plantas toman del estaque materia orgánica y CO2 produciendo oxígeno en el medio, las bacterias para su crecimiento necesitan este oxígeno y la materia orgánica restante.</p>

				<h3>EDAR</h3>
				<p>Tal como su nombre indica una EDAR es una estación depuradora de aguas residuales. En estas instalaciones se pueden recoger y tratar tanto las aguas residuales como las industriales, ya sea de forma conjunta o separada, dependiendo de los municipios. Las aguas urbanas son aquellas generadas por diferentes actividades humanas se pueden clasificar por su origen en: aguas negras, aguas grises (proceden de agua de la bañera, lavabo ...) y aguas blancas o pluviales.</p>
				
				<h3>Tratamiento de aguas por infiltración directa al terreno</h3>
				<p>La idea de utilizar el suelo como medio depurador de las aguas residuales procedentes de las ciudades fecha de la antigüedad clásica. Para las pequeñas poblaciones es un sistema que encaja perfectamente con sus requisitos, ya que son sistemas que garantizan una depuración suficiente, y los costes de la cual de instalación y mantenimiento son asequibles parar pequeños municipios.</p>
				<p>Bajo la denominación de sistema natural de depuración se engloban aquellos procedimientos o técnicas en los que la eliminación de las sustancias contaminantes presentes en las aguas residuales urbanas se produce por componentes del medio natural, no empleándose en el proceso ningún tipo de aditivo químico. Habitualmente se diferencian dos grandes grupos de técnicas de depuración natural: los métodos de tratamiento mediante aplicación del agua sobre el terreno, y los sistemas acuáticos.</p>
				<p>El suelo natural tiene unos límites ecológicos suficientemente amplios para depurar los residuos generados por una población dispersa o concentrada en pequeñas localidades, siempre que los vertidos sean biodegradables, esto quiere decir que no serían aptos para aguas residuales provenientes de las industrias, solo para aguas residuales de pequeñas poblaciones, y la relación habitante equivalente / superficie de filtro sea la adecuada. También hay que tener en cuenta la protección del medio receptor, que en estos casos suelen ser acuíferos.</p>

				<h2>Sistemas de recuperación de agua</h2>
				<p>El agua es un factor importante en el desarrollo sostenible de nuestras sociedades. Es nuestra la responsabilidad de hacer un buen consumo de este recurso natural. Ahorrar, aprovechar y reutilizar el agua son tres conceptos básicos cada vez más presentes en nuestras vidas. El objetivo es alargar el ciclo del agua, de esta manera, para cada actividad que requiera de un consumo de agua debemos destinar la cantidad y calidad que corresponda con el uso que deseamos darle.</p>

				<h3>Recogida de aguas pluviales</h3>
				<p>Las características del agua de lluvia la hacen perfectamente utilizable para uso doméstico e industrial. Las instalaciones de recogida de aguas pluviales existentes consisten básicamente en la canalización del agua del tejado de la cubierta. El estudio de la precipitación de nuestro municipio, nos permitirá dimensionar el depósito de aguas pluviales que nos garantice una reserva de agua destinada al riego del jardín, del huerto ... El agua potable es un agua de gran calidad que para muchos usos domésticos se podría sustituir por el agua pluvial. Es el caso del agua utilizada para lavadoras, lavavajillas y WC. Aprovechar el agua pluvial tiene otras ventajas a la hora de lavar nuestra ropa, al ser el agua de lluvia mucho más blanda que la del grifo, estamos ahorrando hasta un 50% de detergente. En resumen, si aprovecháramos el agua de lluvia se podrían llegar a sustituir, en un hogar medio, 50.000 litros anuales de agua potable, por agua de lluvia. Esto supone una importante contribución a la sostenibilidad de nuestro hábitat. Una buena instalación de recogida de agua debe ser sencilla y debe requerir un mantenimiento mínimo. Además se deben evitar factores que pueden alterar la calidad de nuestra agua almacenada como son:
					<ul>
						<li>La suciedad</li>
						<li>La luz</li>
						<li>El calor excesivo</li>
					</ul>
				</p>
				<p>La condición previa para que una instalación funcione bien, es una buena planificación, y la selección cuidadosa de los diferentes elementos constructivos. Un punto importante que deben tener en cuenta tanto los propietarios como los técnicos de la construcción, es decidir el lugar de recogida de esta agua pluvial:
					<ul>
						<li>Techos verdes y superficies de patios no son idóneos, para que comportan demasiado biomasa.</li>
						<li>Techos de tela asfáltica tiñen el agua de amarillo.</li>
						<li>Techos de fibrocemento (Uralita) desprenden fibras de amianto.</li>
						<li>Cualquier otro tipo de cubierta es apto.</li>
					</ul>
				</p>

				<h3>Reutilización de aguas grises</h3>
				<p>Las aguas grises son aguas que provienen de la cocina, del cuarto de baño, los lavabos, de los fregaderos ... Es el agua que a primera vista puede no tener ningún valor pero que con su reutilización estamos alargando su ciclo de vida añadiendo valor a su uso. Reutilizar las aguas "grises" generadas en nuestros hogares se corresponde a una nueva forma de pensar en el agua, en lugar de tener un agua residual pasamos a obtener una fuente de recursos hídricos. Si reutilizamos las aguas grises, protegemos las reservas de aguas subterráneas, reducimos la carga de las aguas residuales y conseguimos una disminución importante en el gasto de agua potable.</p>
				<p>Al reutilizar las aguas grises para las cisternas conseguir un ahorro de unos 50 litros por persona y día. Si consideramos una familia media de 4 personas, esto supondría un ahorro de unos 200 l / día, es decir, aproximadamente el 25% del consumo diario de la vivienda. Si este sistema se implanta en hoteles, campings o instalaciones deportivas, estaríamos hablando de cifras aún más importantes, en torno al 30% de ahorro de agua potable.</p>
				<p>Los sistemas para la reutilización de las aguas grises son muy demandados para su uso en viviendas unifamiliares, comunidades de vecinos, instalaciones deportivas como campos de fútbol o piscinas, hoteles y universidades. Estas instalaciones constan de unas tuberías independientes por donde circulan las aguas grises hasta llegar a unos depósitos, donde se lleva a cabo un tratamiento de depuración. Gracias a la depuración, el agua se puede reutilizar para alimentar las cisternas de los WC, para el riego del jardín o la limpieza de los exteriores. El equipo de reutilización de aguas grises se instala en los sótanos o la buhardilla, con los correspondientes bidones que recolectarán y tratarán las aguas. También se instalarán las tuberías que se precisen para recolectar el agua de la ducha y el lavabo, que conducirán el agua a tratar y, por otro lado, las tuberías que llevarán el agua tratada hacia las cisternas del wc y una boca de riego, si fuera necesaria.</p>

				<h2>Sistemas de tratamiento de agua</h2>

				<p>Hoy en día, la calidad de las aguas superficiales de España no es del todo satisfactoria. El estado de la mayoría de los ríos de la mitad norte peninsular presenta un grado óptimo de conservación pero el grado de contaminación de las aguas crece a medida que van pasando por núcleos urbanos e industriales, llegando a un estado muy degradado en sus tramos medios y finales. El caso se agrava cuando se trata de la mitad sur, contamos con la misma problemática respecto a la mitad norte peninsular pero además la calidad del agua en las cabeceras empeora debido al menor caudal presente, lo que aumenta la concentración los vertidos contaminantes.</p>
				<p>Cuando se trata del agua proveniente de ríos el tratamiento es más complejo por estar expuesta a la incorporación de materiales y microorganismos. Según la época del año (en verano el agua de nuestros ríos es menos caudaloso y por tanto más turbia que en invierno) varían los niveles de turbidez, de contenido mineral y el grado de contaminación.</p>
				<p>Las aguas provenientes de fuentes subterráneas profundas, galerías filtrantes o manantiales cuentan con la peculiaridad de que, si superan los análisis químicos y las previsiones en su captación para evitar la contaminación, pueden destinarse directamente al consumo. Estas aguas son en general potables de forma natural. Se recomienda un tratamiento con cloro para proteger el agua de posibles alteraciones en la red de distribución que puedan contaminar esta agua. Si el agua no es potable de forma natural deberá tratarse de igual manera con un tratamiento corrector, tal como sucede con las aguas superficiales. Este tratamiento corrector o potabilizador puede ser físico, químico o bacteriológico y se suele realizar en estaciones potabilizadoras ETAP.</p>

				<h3>Tratamiento físico</h3>
				<p>El objetivo de este tratamiento corrector consiste en eliminar la turbidez y el color, es decir, la eliminación de materias en suspensión, finamente divididas, que no asientan fácilmente, acompañadas muchas veces de materias orgánicas coloidales o disueltas, que no son retenidas por la simple filtración. Para ello es necesario un tratamiento previo con coagulante químico, seguido de decantación o clarificación y después filtración, a través de una capa de arena. Hay dos clases de filtros de arena: los de acción lenta y los de acción rápida, y estos se dividen en filtros de superficie libre y filtros de presión. En los filtros lentos el agua pasa por gravedad a través de la arena a baja velocidad, la separación de los materiales sólidos se efectúa al pasar el agua por los poros de la capa filtrante y adherirse a las partículas en los granos de arena. En los filtros rápidos con superficie libre del agua desciende por gravedad a través de la arena a una velocidad mayor. Es imprescindible el tratamiento con coagulantes para sacar la mayor cantidad de partículas en suspensión. El filtro se lava con una corriente de agua en sentido contrario al de filtrado, que expande el lecho y se lleva el desagüe los sólidos acumulados o cualquier otro material inerte y finalmente se realiza un tratamiento de desinfección, más o menos intenso, según el grado de contaminación. Para eliminar o reducir la intensidad de los sabores u olores se recomiendan diferentes procedimientos, que dependen de la naturaleza del problema, como son: aireación, carbón activo, uso de cloro u otros oxidantes, como el ozono, etc., y algunas veces combinando con tratamiento previo del agua natural con un alguicida.</p>

				<h3>Tratamiento químico</h3>
				<p>El tratamiento corrector químico se refiere a la corrección del pH del agua, a la reducción de la dureza, la eliminación de los elementos nocivos o al agregado de ciertos productos químicos, buscando siempre mejorar la calidad del agua. La corrección del pH puede hacerse agregando cal o carbonato de sodio, antes o después de la filtración. La reducción de la dureza, puede hacerse por métodos simples (cal, soda, zeolita o resinas) o métodos compuestos (cal-soda; cal-zeolita, cal-resinas). La eliminación de elementos nocivos puede referirse a bajar los contenidos excesivos de hierro, manganeso, flúor, arsénico o vanadio. Por último con respecto al agregado de productos químicos, decimos que se refiere al agregado de flúor.</p>

				<h3>Tratamiento bacteriológico</h3>
				<p>El tratamiento bacteriológico se refiere casi exclusivamente a la desinfección con cloro, pudiéndose utilizar cloro puro, sales clorogenes o hipocloritos. Las dosis a utilizar generalmente se fijan sobre la base del cloro residual, cuyo valor debe estar entre 12:05 mg / l y 0.1 mg / l para quedar a cubierto de cualquier contaminación secundaria. En los abastecimientos de agua potable se emplea el gas cloro mientras que para abastecimientos medianos o pequeños utilizan hipocloritos. El proceso más sencillo de esterilitzaió y barato es la cloración, la acción del cloro es de poca profundidad y las partículas en suspensión la dificultan. Existe un punto crítico de cloración, si en la cloración sobrepasa el mínimo de cloro, se habla de cloración crítica, nociva para la salud y causante de enfermedades tales como cáncer.</p>
				
			</div>
		</div>
	</div>			
</div>


<% else %>
<div class="container">

	<div class="grid-x">
		<div class="medium-12 cell">
			<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/aigua_gran_en.jpg" alt="Agua" class="responsive-img">	
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<p>The water availability in an area like the Iberian Peninsula is limited. Problems such as the ecologic flows maintenance, aquifer salinization or Riparian forest disappearance are just some examples of the effects derived from the hydraulic resources overexploitation. Therefore, the development of policies and attitudes to achieve a rational consumption of this scarce good are fundamental. When talking about water in buildings, it is necessary to raise the reduction of its consumption and development of alternatives such as the use of rain or grey water.</p>

				<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; margin-bottom: 40px; margin-top: 20px;} .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}</style><div class='embed-container'><iframe src="https://www.youtube.com/embed/iTiJQ9CqxLM" frameborder="0" allowfullscreen></iframe></div>
			</div>
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<h2>Water saving systems</h2>
				<p>Water saving is of crucial importance for the entire population and especially for the construction technicians in order to reduce the environmental impacts derived from water scarcity. In the following sections, different water saving systems for buildings and landscaped areas that minimise the water waste up to a 40% and reduce its economic cost are presented.</p>

				<h3>Taps and water meters</h3>
				<p>There are new taps where the design facilitates the saving of water thanks to its easy drive in front of the old double-command taps. However, in case of not replacing old taps, different accessories can be installed to reduce the flow of water or to aerate it.</p>
				<p>Single-lever taps are widely used in the domestic sector because their simple use and aesthetic. They are taps which the opening, closing and mixing of water is driven by the same lever. The water flow is regulated by moving the lever up and down and the temperature changes by turning the lever from right to left. </p>
				<p>
					<ul>
						<li>Advantages: it has ceramic pieces inside with a small slackness between them that guarantees the practical suppression of leaks and drips. The temperature selection requires less time and consequently, the water consumption lost is reduced.</li>
						<li>Disadvantages: due to its easy lever drive, the user usually opens it completely and usually more than the required water is consumed. Moreover, more hot and warm water is consumed compared to double-lever taps. </li>
						<li>Solution: cold opening. By default, the single-lever lever is positioned automatically in cold water position.</li>
					</ul>
				</p>
				<p>Reducing the water flow without affecting comfort is one of the most used strategies to reduce the consumption.  Regulators or flow limiters do this function as well as the ecodisks, also known as efficient disks, that limit the lever with the aim of reducing the maximum water flow. </p>
				<p>Thermostatic taps are adapted to shower taps and bath-shower taps and have a temperature selector. They are made of thermal sensible materials that contract and expand depending on the temperature. The energy consumption reduction is compressed between 7-17%, in addition to the water saving. </p>
				<p>Timed taps are widely used in public spaces and in the service sector. They are activated by pressing a button. Water runs during a certain period of time and stops automatically. The reduction of the consumption is expected to be between the 30 and 40%. There are taps that can be activated with the feet and arms, suitable for geriatric and health care facilities. Nevertheless, the maximum water and energy saving is achieved by using electronic taps, also known as taps with infrared detection. There are models that make possible to mix cold and hot water. The opening of the tap is activated by placing the hands under the water exit and closes automatically when the hands are removed. </p>
				<p>There are other economic solutions to reduce water consumption in taps. The installation of accessories such as aerators, flow regulators and reducers are a good idea. The usual consumption in traditional taps is 15 l/min. If reducing mechanisms or aerators are installed, consumption can be reduced to about 4-8 l/min.</p>
				<p>Finally, individual counters for hot and cold water are key elements to control the wastewater through a periodical reading of them, promoting a policy of saving among users.</p>

				<h3>Household appliances</h3>
				<p>The water use in household appliances accounts for the 20% of the total energy and water consumption in the domestic sector. Then, the purchase of class A + or higher appliances will lead to an energy and water saving.</p>
				<p>The washing machines can be considered efficient when they consume less than 7 litres per wash. These washing machines can incorporate the following mechanisms, among others:
					<ul>
						<li>Turbidity sensors that measure the degree of water dirt and, depending on it, graduate the temperature, water volume and washing time.</li>
						<li>Electronic systems that wet the pieces of clothing in advance, rather than pre-washing them.</li>
						<li>Load detection systems that allow the adjustment of the volume of water necessary to wash clothes.</li>
						<li>Anti-leakage devices to prevent leakage or flooding.</li>
						<li>Anti-return valves to prevent water loss and detergent through the drainage. </li>
						<li>Filters to prevent drainage obstruction.</li>
						<li>Washing programs according to the degree of dirt on clothing.</li>
					</ul>
				</p>
				<p>Likewise, it is recommended to use biodegradable detergents and ceramic pearls that can save up to the 85% of the detergent consumed. These ceramic pearls are made up of different minerals that reduce the water hardness and generate a surfactant action in the washing.</p>
				<p>Efficient dishwashers are those that use less than 1.85 liters of water per person (12 litres of water per washing cycle). When buying a dishwasher, one that incorporates the following water and energy saving systems is preferred:
					<ul>
						<li>Intermittent pulse washing, achieving a saving of up to 5 litres.</li>
						<li>Temporary cleaning of the decalcifying machine instead of cleaning by washing.</li>
						<li>Turbid water detection systems of pre-washed water to assess the reuse of water.</li>
						<li>Detection systems for the turbidity of water to graduate the water temperature. </li>
						<li>Load detection systems to adapt the water volume to the number of cutlery.</li>
						<li>Washing programs that adapt the temperature to the cutlery dirt.</li>
						<li>Economic programs that increase the water pressure, reducing its consumption (4 to 7 litres).</li>
						<li>Anti-return valves to prevent water and detergent loss through the drainage.</li>
						<li>Filters to prevent drainage obstruction.</li>
					</ul>
				</p>

				<h3>Toilets </h3>
				<p>The most common used toilets, especially in the domestic sector, are the gravity ones. This system uses the strength of the water discharge to clean the toilet. There are different systems to adjust or limit the volume of the discharge in toilets with a deposit attached to the toilet bowl. The disruption of the discharge to avoid the total emptying of the tank is carried out by means of a pushbutton or a handle that for the exit of water. The installation of a double push button is based on the same principle. The push button is usually divided into two different parts in size so that the user can easily recognize them. Each one corresponds to a specific volume of water, 3 or 6 litres generally. In toilets with an elevated tank, only a counterweight can be placed to interrupts the flow when the handle is not activated. </p>
				<p>Another type of toilets are the pressurised discharge ones. These systems are usually found in public buildings. They are operated by an automatic closing tap (mechanical or electronic) installed on a derivation of the internal water network. The discharge pressure comes directly from the network, so the cleaning is much more effective. When there is no water tank attached to the toilet, there is more space and the high pressure of the network avoids the conducts obstruction. In the market, it already exists two-pulse fluxmeters for 3 and 6 liters. However, they require duplicating the installation of water. Electronic fluxes are based on the same system as timed fluxes but are activated through an electronic system based on presence detection. The disruption interrupt system is usually timed.</p>
				<p>The urinals have a maximum discharge of 6 liters, but nowadays all the new urinals that are installed have a much lower consumption. As in the toilets, the discharge is usually pressurized by timed or electronic fluxes. Because they require little water pressure, the fluxors can be installed in any type of building.</p>
				<p>Dry toilets are based on the separation of solids and liquids and are suitable for warm and dry climates. They are implemented in single-family homes that are isolated in areas where there is no sanitary water network. The liquid part runs through the base plate of perforated concrete and is filtered on the ground. In the solid part, garbage from the garden or organic waste can be added and this will also facilitate the absorption of liquids. The installation of a wind extractor or an electric fan is recommended to extract the bad odours from the organic decomposition.</p>

				<h3>Green areas</h3>
				<p>In isolated single-family homes or buildings destined for other uses that have a garden area as well as in green public spaces, it is important to economize the use of water. There are several saving and maintenance reduction strategies that can be adopted, including choosing a suitable irrigation system for the type of planted vegetation, an adequate irrigation program, a rainwater recovery system or a soil protection mechanism to avoid condensation.</p>
				<p>The sprinkler irrigation system is made up of mobile devices that are fixed to a secondary water distribution network. It obtains water from a well or underground tank and distributes it by gravity or by pumping. The water consumption is less than the required in the irrigation by grooves or flood since it is adjustable. However, if compared to the drip irrigation system or micro-irrigation, it presents several disadvantages: the consumption is higher and the calculation of distances between sprinklers must be uniform in the 80%. This last system provides water constantly and in small amounts to the roots of the plants, maintaining a stable level of humidity. As it is groundwater, the water losses by evaporation are avoided, optimizing the water use. The system consists of small diameter pipes with valves next to each irrigation point, to which an emitter is connected. Dryers or emitters can be regulated electronically.</p>
				<p>There are other factors that play an important role in water optimization and that are progressively being applied to the project, realization and maintenance of green zones at a private and public level. Xeriscaping is based on the use of vegetable species with low water necessity and the adaptation of the garden to the climatic conditions of the area. A previous analysis of the soil to determine the physical, chemical and topographical characteristics of the garden, as well as an exhaustive study of the climate or microclimate of the area is needed. Based on these two studies, the design, vegetation and optimum irrigation system for the garden will be determined. Among others, it takes into account the protection or coating of mulch through plant resources to avoid the evaporation of water that contributes to the erosion and surface spillage of the soil as well as the constant maintenance of the garden. In some municipalities of Spain, urban planning managers are promoting this type of gardening, implanting it in public gardens, with the aim of promoting the maximum water saving and serve as an example to the population. Some town councils have already published ordinances regulating irrigation water sources, promoting the recovered, underground and rainwater, and obligating the construction of a dual distribution network to take advantage of the second water quality.</p>

				<h2>Purifying systems</h2>

				<h3>Water purification through vegetation</h3>
				<p>Water pollution has increased in the recent years as a result of poor urban, industrial and agricultural wastewater management. Currently, there are advanced processes in which the treated effluents present a high quality and where it is possible to start thinking about reuse. Nevertheless, for developing countries, other techniques have to be applied from the point of view of the economic cost. There are methods in whereby the only requirement is to have a terrain. They consist in the purification of water through ponds with aquatic plants. As the concentration of plants increases, so does the concentration of dissolved oxygen that bacteria can use to degrade organic matter. This treatment not only eliminates organic matter and sediments present in residual water, but also eliminates nutrients, dissolved salts, heavy metals and pathogenic organisms.</p>
				
				<h3>Wastewater treatment plant</h3>
				<p>In these facilities, both wastewater and industrial wastes are collected and treated, either jointly or separately, depending on the municipalities. Urban water is the one generated by different human activities and can be classified depending on its origin in: black water, grey water (they come from bath water, sink ...) and white or rainwater.</p>
				
				<h3>Water treatment for direct infiltration into the ground</h3>
				<p>The idea of using the soil for purifying wastewater from cities dates back to classical antiquity. For small populations, it is a system that fits perfectly with their requirements, since it can guarantee a sufficient purification and the costs of installation and maintenance are affordable.</p>
				<p>When talking about a natural purification system, it refers to the procedures or techniques in which the elimination of polluting substances of the urban wastewater is produced by using components of the natural environment without adding any chemical. Habitually two groups of natural purification techniques are differentiated: treatment methods that consist in the application of water on the ground and aquatic systems.</p>
				<p>The natural soil has sufficiently wide ecological limits to purify the wastewater generated by a dispersed or concentrated population in small towns, as long as the discharges are biodegradable and the equivalent inhabitant ratio/filter surface is appropriate. This means that they would not be suitable for treating wastewater from industries. It is also necessary to take into account the protection of the receiving environment, which in these cases are usually aquifers.</p>

				<h2>Systems of water recovery</h2>
				<p>Water is an important factor in the sustainable development of societies. It is our responsibility to make a good use of this natural resource. Saving, reusing and taking advantage of water are three basic concepts more and more present in our lives since the goal is to extend the water cycle. </p>

				<h3>Collection of rainwater</h3>
				<p>The characteristics of rainwater make it perfectly usable for domestic and industrial uses. The existing rainwater collection facilities basically consist of channelling the rainwater accumulated on the collectors of buildings. The study of the precipitation of each municipality, will allow designing the rainwater tank that guarantees a reserve of water intended to be used for several purposes such as watering the garden. Thus, if reusing rainwater, it is possible to save, in an averaging family, 50000l of drinking water per year. The installation of an adequate water collector must be simple and must require the minimal maintenance. In addition, factors that can disturb the quality of the stored water have to be avoided, such as:
					<ul>
						<li>Dirt</li>
						<li>Light</li>
						<li>Excess heat</li>
					</ul>
				</p>
				<p>The precondition for a facility to have a well performance is a good planning and a careful selection of the different construction elements. An important point that both the owners and the construction technicians have to take into account are deciding where to collect the rainwater:
					<ul>
						<li>Green roofs and patio surfaces are not ideal because they involve too much biomass.</li>
						<li>Asphalt cloths rooftops dye yellow the water.</li>
						<li>Fibrocement ceilings (Uralite) emit asbestos fibbers.</li>
						<li>Any other type of cover is apt.</li>
					</ul>
				</p>

				<h3>Reuse of grey water</h3>
				<p>Grey water comes from kitchens, bathrooms, toilets, sinks... This water at first sight may have no value, but it can be reusable, protecting the underground water reserves, reducing the load of wastewater and achieving a significant decrease in the cost of drinking water. </p>
				<p>By reusing the grey water for tanks, it is possible to save about 50 litres per person per day. Considering an average family of 4 people, this would mean a saving of about 200l/day, which is approximately about the 25% of the daily home consumption. If this system is implanted in hotels, campsites or sports facilities, these figures would be even more important, achieving a drinking water saving of around 30%.</p>
				<p>Systems for the reuse of grey waters are highly demanded in single-family homes, neighbourhood communities, hotels, universities and sports facilities such as football fields or swimming pools. These installations consist of separate pipes where the grey waters circulate until reaching deposits, where the water treatment is carried out. Thanks to the purification, the water can be reused for flushing toilets, watering gardens or cleaning outdoors. The grey water reuse equipment is installed in the basements or attics of buildings, with the corresponding drums that collect and treat the water. The necessary pipes to collect the water from the shower and the washbasin are also installed, and some of them will transport the water to be treated and the others will carry the treated water to the toilet tanks to be used and to a water hydrant, if necessary.</p>

				<h2>Water treatment systems</h2>

				<p>Nowadays, the quality of surface water in Spain is not satisfactory. The state of the majority of the rivers located in the northern half part of the peninsula have an optimal degree of conservation, but the contamination of the water grows as they pass through urban and industrial areas, reaching a very degraded state in their medium and final rivers sections. This gets worse when it comes to the southern half of the peninsula: the water quality in the headwaters of rivers is worse since there is less flow rate and hence, the concentration of pollutants is higher. </p>
				<p>The treatment of water from rivers is more complex due to the water has been exposed to materials and microorganisms. Depending on the time of the year, the levels of turbidity, mineral content and degree of pollution vary (in summer the flow rate of rivers is less abundant and then, more cloudy than in winter).</p>
				<p>Water from deep underground sources, filtering galleries or natural springs present a good quality after analysing them through chemical analysis, and can be directly used for consumption. These waters are generally naturally potable. A treatment with chlorine is recommended to protect the water from possible disturbances in the distribution network that can lead to a contamination. If the water is not potable in a natural way, it will require to be treated in the same way with a corrective treatment, as it happens with surface water. This corrective or purifying treatment can be physical, chemical or bacteriological and is usually carried out in water purification stations.</p>

				<h3>Physical treatment</h3>
				<p>The purpose of this corrective treatment is to eliminate the turbidity and colour of water, which means the elimination of suspended, finely divided, not settled particles, which are often accompanied by colloidal or dissolved organic matter, that are not retained by simple filtration. For this, a previous treatment with chemical coagulants is necessary, followed by decanting or clarification and then filtration processes, through a layer of sand. There are two kinds of sand filters: those of slow action and those of fast action, and these are divided into filters of free surface and filters of pressure. In slow filters the water passes through gravity at low speed and the separation of solid materials is carried out by passing the water through the pores of the filtering layer and particles stick to the sand grains. In the fast filters with free surface, water descends by gravity through the sand at a higher speed. It is essential the coagulant treatment to remove as much particles in suspension as possible. The filter is washed with a flow of water in the opposite direction of the filtrate, allowing the drainage of accumulated solids or any other inert materials. Finally, a disinfection treatment is carried out, more or less intense depending on the degree of contamination. To eliminate or reduce the intensity of water tastes or odours, different procedures, depending on the nature of the problem, are recommended, such as: aeration, active coal, use of chlorine or other oxidants, such as ozone, etc., and sometimes combining the prior treatment of natural water with algaecide.</p>

				<h3>Chemical treatment</h3>
				<p>The chemical corrective treatment refers to the correction of the water’s pH, the reduction of its hardness, the elimination of the harmful elements or the addition of certain chemical products, always seeking to improve the water quality. The pH correction can be done by adding lime or sodium carbonate, before or after the filtration process. The reduction of hardness can be done by using simple methods (lime, soda, zeolite or resins) or composite methods (lime-soda, lime-zeolite, lime-resins). The elimination of harmful elements refers to the reduction of the excessive content of iron, manganese, fluoride, arsenic or vanadium. Finally, when talking about the aggregation of chemicals, it refers to the fluoride aggregation.</p>

				<h3>Bacteriological treatment</h3>
				<p>The bacteriological treatment refers almost exclusively to the chlorine disinfection, by using pure chlorine, chlorogenes salts or hypochlorite. The doses used are generally fixed on the basis of the residual chlorine, whose value must be between 0.05 mg/l and 0.1 mg/l to avoid secondary contamination. For the provision of drinking water, chlorine gas is used, while for medium or small supplies hypochlorites are used. The simplest and cheapest sterilization process is chlorination. However, it has a critical point when the dose of chlorine is exceeded, being harmful for the health and cause of diseases.</p>
				
			</div>
		</div>
	</div>			
</div>
<% end %>