<% if params[:locale] == 'ca' %>
<div class="container">

	<div class="grid-x">
		<div class="medium-12 cell">
			<img src="https://csosteniblev4.s3-eu-west-1.amazonaws.com/imatges/economia_circular_gran_ca.jpg" alt="Economia circular" class="responsive-img">	
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<p>La Terra disposa de recursos limitats i el model econòmic actual no té en compte aquest factor. Els efectes del consum irresponsable de recursos i la generació descontrolada de residus cada vegada són més visibles i es tem que en molts casos tinguin efectes ja irreversibles. El concepte d’economia circular neix com a resposta a aquest problema i es basa en l’observació del funcionament de la natura. En el medi natural no existeix el concepte de residu. El que sobra a un ésser, el que seria un residu, ho aprofita un altre, per tant ho converteix en un recurs. L’economia circular es basa en la idea que el consum de recursos no sigui més ràpid que la capacitat del planeta de generar-los. Per tal que això sigui possible és imprescindible deixar de generar residus, els hem d’aprofitar tots com a recursos. Tal i com fa la natura, el que sobra a un ha de ser un recurs per a un altre.</p>

				<p>Aquest concepte és especialment important en el sector de l’edificació, perquè s’extreuen una gran quantitat de recursos, es transformen, s’utilitzen i, quan ha acabat la seva vida útil, es llencen i per tant es converteixen en residus.</p>

				<div class="imatge-cicle-materials">
					<img src="https://csosteniblev4.s3-eu-west-1.amazonaws.com/imatges/economia_linial.png" alt="Cicle materials obert" class="imatge-text">
				</div>

				<p>A nivell europeu els edificis són responsables de:
					<ul>
						<li>El 40% del consum final d’energia.</li>
						<li>El 35% de les emissions de gasos d’efecte hivernacle.</li>
						<li>El 50% de consum de recursos naturals.</li>
						<li>El 30% del consum d’aigua.</li>
						<li>El 35% del total de residus generats.</li>
					</ul>
				</p>

				<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; margin-bottom: 40px; margin-top: 20px;} .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}</style><div class='embed-container'><iframe src="https://www.youtube.com/embed/BuvrDzOPGtY" frameborder="0" allowfullscreen></iframe></div>
			</div>
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<h2>Estratègies per a professionals de l'edificació</h2>
				<p>Un arquitecte o un arquitecte tècnic que faci de prescriptor de materials té la possibilitat de canviar substancialment l’impacte ambiental de la construcció o rehabilitació d’un edifici en funció dels productes que escolleixi i les decisions de disseny.</p>

				<p>S’han d’entendre els edificis com a bancs de materials. Hem de procurar aprofitar tot el possible dels edificis existents que acaben la seva vida útil, i hem de dissenyar els edificis nous de manera que al final de la seva vida útil es puguin aprofitar bé els seus components.</p>

				<p>El procés d’elecció de productes i solucions constructives hauria de ser el següent:</p>
			</div>
		</div>
	</div>
	<div class="grid-x grid-margin-x">
		<div class="medium-4 cell">
			<div class="icona-economia-circular">
				<img src="https://csosteniblev4.s3-eu-west-1.amazonaws.com/imatges/professionals_existents2.png" class="responsive-img">
			</div>
			<div class="text-impacte">
				<h3 class="subtitol-materials">Reutilitzar productes existents</h3>
				<p>Conceptualment el millor que podem fer és utilitzar productes que ja no tinguin ús, normalment provinents de la desconstrucció d’un edifici. Podem trobar alguns productes adequats per a la seva reutilització, però avui en dia és impensable construir un edifici sencer amb productes reutilitzats. A part de la poca cultura de reutilització que hi ha també cal tenir en compte que la legislació vigent exigeix moltes garanties documentals als productes que s’utilitzen a obra.</p>
			</div>
		</div>
		<div class="medium-4 cell">
			<div class="icona-economia-circular">
				<img src="https://csosteniblev4.s3-eu-west-1.amazonaws.com/imatges/professionals_reutilitzar2.png" class="responsive-img">
			</div>
			<div class="text-impacte">	
				<h3 class="subtitol-materials">Utilitzar productes i sistemes constructius que permetin la futura reutilització</h3>
				<p>Si estem utilitzant productes nous per a la construcció, aquests haurien de tenir el mínim impacte ambiental possible, haurien de tenir una llarga durabilitat i haurien de permetre la construcció en sec, de manera que sigui més fàcil separar-los i reutilitzar-los quan acabi la vida útil de l’edifici.</p>
			</div>
		</div>
		<div class="medium-4 cell">
			<div class="icona-economia-circular">
				<img src="https://csosteniblev4.s3-eu-west-1.amazonaws.com/imatges/professionals_reciclable3.png" class="responsive-img">
			</div>
			<div class="text-impacte">
				<h3 class="subtitol-materials">Utilitzar productes de fàcil reciclabilitat</h3>
				<p>A vegades es parla del reciclatge com una solució màgica per eliminar residus, però la realitat és que no tot el reciclatge és viable. Per exemple si tenim una paret feta de maó ceràmic, morter, guix, pintura i poliuretà projectat a la cambra d’aire resultaria massa complex fer un bon reciclatge. En canvi si la paret està feta de panells de fusta i aïllament de fibres de fusta, per exemple, serà molt senzilla de reciclar.</p>
			</div>
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<h2>Estratègies per a fabricants</h2>
				<p>Els fabricants han d’optimitzar processos, escollir subministradors amb criteris ambientals i posar en pràctica principis de l’ecodisseny per tal de reduir tant com sigui possible l’impacte ambiental dels productes que ofereixen. Serà un factor clau per a la seva competitivitat futura.</p>
			</div>
		</div>
	</div>

	<div class="grid-x grid-margin-x">
		<div class="medium-4 cell">
			<div class="icona-economia-circular">
				<img src="https://csosteniblev4.s3-eu-west-1.amazonaws.com/imatges/fabricants_dapcons2.png"  class="responsive-img">
			</div>
			<div class="text-impacte">
				<p>Els productes han de tenir el màxim d’informació disponible. Els tècnics han de poder escollir els productes que utilitzen basant-se en informació objectiva i fiable. Aquí entrarien els conceptes del passaport de materials, on s’especifica de forma precisa la composició del material, o les Declaracions Ambientals de Productes, on s’especifiquen els impactes ambientals del producte.</p>
			</div>
		</div>
		<div class="medium-4 cell">
			<div class="icona-economia-circular">
				<img src="https://csosteniblev4.s3-eu-west-1.amazonaws.com/imatges/fabricants_durabilitat3.png" class="responsive-img">
			</div>
			<div class="text-impacte">
				<p>Hi ha d'haver una relació lògica entre durabilitat i impacte ambiental d'un producte. Un producte de baixa durabilitat i baix impacte ambiental pot ser encertat, tot i que normalment optarem per productes de gran durabilitat. A més els productes també s'han de pensar per que siguin fàcils de reutilitzar.</p>
			</div>
		</div>
		<div class="medium-4 cell">
			<div class="icona-economia-circular">
				<img src="https://csosteniblev4.s3-eu-west-1.amazonaws.com/imatges/fabricants_tornar3.png"  class="responsive-img">
			</div>
			<div class="text-impacte">
				<p>Acceptar la devolució de productes reutilitzables o dels residus generats després de l’ús dels productes, assumint així la gestió i responsabilitat financera d’aquestes activitats.</p>
			</div>
		</div>
	</div>

	
	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<h2>Estratègies per a usuaris</h2>
				<p>Els usuaris juguen un paper important en l'impacte ambiental dels edificis i poden ser agents clau per a la circularitat de l'economia. Els esforços dels fabricants o els coneixements dels tècnics poden resultar inútils si no hi ha una certa conscienciació per part dels usuaris, que al final són els que decideixen com s'utilitza l'edifici, quin manteniment es fa, quins recursos entren i surten durant la seva vida útil, etc. </p>
			</div>
		</div>
	</div>

	<div class="grid-x grid-margin-x">
		<div class="medium-4 cell">
			<div class="icona-economia-circular">
				<img src="https://csosteniblev4.s3-eu-west-1.amazonaws.com/imatges/usuari_gestio.png"  class="responsive-img">
			</div>
			<div class="text-impacte">
				<p>La forma d’utilitzar o gestionar els edificis depèn en gran part dels usuaris i per tant tenen una rellevància cabdal en el consum de recursos que tindrà l’edifici durant la seva vida útil. Cal estar informat de quina és la millor manera d’utilitzar l’edifici per tal de reduir els consums d’energia i aigua.</p>
			</div>
		</div>
		<div class="medium-4 cell">
			<div class="icona-economia-circular">
				<img src="https://csosteniblev4.s3-eu-west-1.amazonaws.com/imatges/usuari_manteniment.png"  class="responsive-img">
			</div>
			<div class="text-impacte">
				<p>El bon manteniment d’un edifici és clau per tal d’allargar-ne la vida útil. Tot i que el manteniment el realitzen els professionals de l’edificació, els edificis no tenen un bon manteniment si els propietaris no el consideren prioritari. Tenint en compte que un bon manteniment no només redueix l’impacte ambiental de l’edifici sinó que també permet estalviar diners a llarg termini, hauria de ser molt habitual la presència del tècnic de capçalera, que és la persona encarregada de la gestió del manteniment dels edificis.</p>
			</div>
		</div>
		<div class="medium-4 cell">
			<div class="icona-economia-circular">
				<img src="https://csosteniblev4.s3-eu-west-1.amazonaws.com/imatges/usuari_reparar.png"  class="responsive-img">
			</div>
			<div class="text-impacte">
				<p>Hi ha una tendència en decoració que es basa en la reutilització, donar una nova vida a productes que d’altra manera haurien acabat a l’abocador. Estèticament és molt interessant i pot ser una activitat lúdica molt entretinguda si ens dediquem nosaltres mateixos a convertir productes obsolets en productes per la llar.</p>
			</div>
		</div>
	</div>
</div>
<% end %>

	