<% if params[:locale] == 'ca' %>
<div class="container">

	<div class="grid-x">
		<div class="medium-12 cell">
			<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/renovables_gran_ca.jpg" alt="Energies renovables" class="responsive-img">	
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<p>Una part molt important de l’energia que consumim avui en dia prové de la utilització de fonts d’energia exhauribles, normalment procedents de derivats del petroli o del carbó. La combustió d’aquests recursos comporta l’alliberament de gasos que tenen efectes negatius en la salut de les persones (per exemple NOx) o agreugen el canvi climàtic (CO<sub>2</sub>).</p>
				<p>Les energies renovables procedeixen de fonts d’energia que no s’exhaureixen, bàsicament la radiació solar i el calor de la terra. Utilitzar aquestes fonts d’energia ens permet reduir la factura ambiental i també l’econòmica. Durant dècades s’han anat millorant les diferents tecnologies que permeten aprofitar les fonts d’energia renovables, i actualment totes les que comentarem són tecnologies madures que ofereixen alts rendiments a preus assumibles.</p>
			</div>
			<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; margin-bottom: 40px; margin-top: 20px;} .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}</style><div class='embed-container'><iframe src="https://www.youtube.com/embed/SE-zXKqQZhs" frameborder="0" allowfullscreen></iframe></div>
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<h2>Biomassa</h2>
				<p>La biomassa residual (fems, residus forestals, agrícoles o domèstics) o la generada en conreus energètics (forestals o plantes anuals) o la de la fracció orgànica dels residus sòlids urbans i els fangs d’estacions depuradores d’aigües residuals (per obtenir biogàs o biocombustibles) permeten obtenir combustibles gasosos, líquids o sòlids.</p>
				<p>La biomassa com a font d’energia produeix menys emissions que els recursos convencionals, com el gas natural i el carbó. A més, l’aprofitament energètic de la biomassa forestal no té un impacte mediambiental significatiu, ja que el CO<sub>2</sub> que s’allibera a l’atmosfera durant la combustió ha estat prèviament captat pels vegetals durant el seu creixement; per tant, el balanç final és nul. La seva utilització també ajuda a reduir les emissions de sulfurs (SO<sub>2</sub>) i d’òxids de nitrogen (NOx) a l’atmosfera.</p>
				<p>Els residus agrícoles i forestals, després de ser transformats per diversos processos, donen lloc a uns productes que tenen aplicacions diverses. D’una manera directa, la combustió dels residus forestals i agrícoles pot ser una font energètica per a calefacció dins l’àmbit de l’edificació, tant en instal·lacions individuals com col·lectives. Per mitjà del tractament de combustió també es genera vapor, que es pot utilitzar en una turbina per produir energia mecànica i, si s’escau, fer moure un generador i obtenir energia elèctrica. A través dels tractaments biològics i termoquímics obtenim l’anomenat biogàs i també combustibles fluids que es poden utilitzar en motors alternatius i turbines de gas per produir electricitat.</p>
				<p>Dins el sector de la construcció, les calderes de biomassa han experimentat, en els últims vint anys, un avenç considerable. Les calderes modernes cremen biomassa d’alta qualitat com estelles de fusta, pellets o residus agrícoles i agroindustrials uniformes, sense fums i amb emissions comparables als sistemes moderns de gasoil i gas. L’estat actual de desenvolupament tecnològic d’aquestes calderes permet que la neteja de les superfícies d’intercanvi i l’extracció de cendres siguin automàtiques. Aquests sistemes de calefacció es poden combinar fàcilment amb sistemes d’energia solar tèrmica. Les calderes de biomassa modernes utilitzen fins al 90% de l’energia continguda a la fusta per a la calefacció, igual que una bona caldera de gasoil o de gas.</p>
				
			</div>
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<h2>Geotèrmia</h2>
				<p>A diferència d’altres fonts d’energia renovable que depenen directament o indirectament de la influència del sol, l'energia geotèrmica prové de l’interior del planeta. Com a font d’energia és essencialment inexhaurible. Els jaciments geotèrmics, si es gestionen d’una manera correcta, poden mantenir la seva producció d’energia indefinidament. Aquesta energia prové d’una dinàmica interna del planeta, que la concentra en llocs molt concrets, on el flux calorífic pot arribar a ser d’unes deu o quinze vegades més elevat del normal.</p>
				<p>Aquesta font d’energia es pot utilitzar tant per subministrar calor com per generar electricitat. Normalment, aquestes tecnologies disponibles es divideixen en tres categories: les centrals geotèrmiques, les aplicacions d’ús directe i les bombes de calor geotèrmiques.</p>
				<p>Les centrals geotèrmiques generen electricitat a partir de la perforació de pous, d’un quilòmetre o més de profunditat, per explotar dipòsits subterranis geotèrmics, de vapor d’aigua i aigua molt calenta.</p>
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/renovables/geotermia_classes_ca.png" alt="Tipus d'instal·lacions geotèrmiques" class="responsive-img">
				<p>Les aplicacions d’ús directe són les que la s’utilitzen com a calefacció ambient o per a la producció d’aigua calenta per a usos industrials, agrícoles o residencials. En el cas d’un país com ara Islàndia és la segona font d’energia i arriba a escalfar el 85% dels edificis.</p>
				<p>Les bombes de calor geotèrmiques utilitzen l’energia de sòls poc profunds per escalfar i refrigerar edificis. Una bomba de calor d’aquestes característiques està formada per tubs soterrats en el terreny, un intercanviador de calor i un sistema de conductes a l’interior de l’edifici.</p>
				<p>La idea bàsica consisteix en el fet d’obtenir energia calorífica del subsòl i transmetre-la, a través dels sistemes adequats, a l’edifici. El mateix principi es pot utilitzar de manera inversa, traslladant la calor innecessària al subsòl. La temperatura constant del sòl, d’entre 10 i 16ºC a 10 m de profunditat, ofereix les condicions òptimes per fer funcionar, de forma integrada, el sistema de calefacció i aire condicionat d’un edifici. Sempre que es compti amb les característiques apropiades, és possible l’acumulació estacional d’energia calorífica en el subsòl.</p>
				<p>Actualment, es disposa d’una tecnologia d’absorció massiva coneguda com a ‘fonaments geotèrmics’ o ‘fonaments termoactius’. Es tracta d’aprofitar el potencial energètic del subsòl a través dels elements de fonamentació dels edificis. Es basa en les propietats de magatzematge i conductivitat tèrmica dels elements constructius de formigó, com poden ser els fonaments, els forjats, etc.</p>
				<p>El principi de la geotèrmia solar es basa en el fet que part de la radiació que prové del sol s’acumula en forma de calor a l’escorça terrestre. Atesa la gran massa de la terra, la temperatura es manté gairebé constant a partir d’aproximadament cinc metres de profunditat, a uns 15ºC.</p>
				<p>L’aplicació  geotèrmica consisteix a utilitzar l’energia calorífica continguda en l’escorça terrestre a profunditats de fins als 100 metres, mitjançant un sistema de perforació (pou), una unitat geotèrmica d’intercanvi (UGI) i una bomba de calor. Es transfereix l’energia d’aquesta font estable (d’uns 15º C) a una altra de major temperatura (50º C) que permeti la seva posterior utilització per climatitzar qualsevol tipus d’espai, així com obtenir aigua calenta sanitària. Les bombes de calor són reversibles, per la qual cosa a l’estiu poden absorbir la calor de l'interior de l’habitatge i lliurar-lo al subsòl. D’aquesta manera poden ser utilitzades com una solució integral per a la climatització de qualsevol espai.</p>
				<p>L’eficiència energètica d’aquest sistema de climatització o relació entre l’energia consumida i l’energia lliurada pel sistema, que usa com a font de calor el subsòl, és altament favorable. Com a mínim és del 400% escalfant i del 500% refredant (és a dir, que l’energia lliurada pot arribar a ser 5 vegades l’energia consumida).</p>
				
			</div>
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<h2>Solar fotovoltaica</h2>
				<p>L’aprofitament de l’energia del Sol per a generar electricitat amb cèl·lules de silici és una de les tecnologies que més està evolucionant en els últims anys. De forma contínua s’ha anat millorant el rendiment dels captadors fotovoltaics i avui en dia representen una inversió força rendible si la normativa acompanya. </p>
				<p>Els components d’una instal·lació són: el captador, el regulador de càrrega i les bateries en cas que sigui una instal·lació aïllada, sinó no caldrien, l’ondulador o inversor necessari per convertir la corrent contínua dels captadors en corrent alterna a 230 volts, aparells de protecció per millorar la seguretat de la instal·lació, i aparells de mesura per tal de saber quanta energia estem generant en cada moment.</p>
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/renovables/components_fotovoltaica_ca.png" alt="Components d'una instal·lació fotovoltaica" class="responsive-img">
				<p>La majoria dels captadors solars fotovoltaics utilitzats actualment són fets de cèl·lules fabricades amb silici, un dels elements més abundants a la Terra. Aquestes cèl·lules tenen la propietat de generar electricitat quan són il·luminades pel sol. Totes les cèl·lules de la placa estan unides entre si en sèrie, així sumen la seva potència (corrent i tensió) elèctrica, fins a arribar a la potència, corrent i tensió nominal de la placa.</p>
				<p>Les característiques elèctriques d'una placa fotovoltaica varien en funció de l'assolellament que hi incideix. La potència nominal d'una placa determinada es mesura en watts-pic (Wp), que és la potència que pot generar la placa quan està sotmesa a una quantitat d'assolellament normalitzat, establert en 1.000 W/m2 i a una temperatura de 25ºC. Una placa de, per exemple, 40 Wp, produirà 40 Wh d'energia si durant una hora rep aquesta radiació nominal. Si l'assolellament no arriba a aquesta intensitat necessitarà més d'una hora per produir aquests 40 Wh. Per tant, cal utilitzar un nou concepte, el de l'hora solar pic. Un dia pot tenir 10 hores de sol, però en canvi pot ser que només tingui 4 o 5 hores de pic. El nombre d'hores pic d'un dia determinat s'obtindrà dividint tota l'energia de l'assolellament d'aquell dia (en Wh/m2/dia) per 1.000 W/m2. Per això, per saber l'energia que ens donarà una placa no es pot multiplicar la seva potència (en watts-pic) pel nombre d'hores de sol d'un dia, ja que no totes aquestes hores no són de màxima intensitat solar. Per tenir una idea, sumant tota l'energia que dóna el sol durant un dia només equival a unes 5 hores solars de pic a l'estiu i entre 3 i 4 a l' hivern (a una latitud de 41 º per exemple).</p>
				<p>Un possible problema dels captadors solars fotovoltaics és la seva integració en els edificis. En cada localització hi ha una orientació ideal per maximitzar la producció d’electricitat, però això implica posar un afegit a l’edifici que en trenca l’harmonia estètica. </p>
				<p>Trobarem casos de tot tipus, i cal tenir en compte l’opinió del client i la normativa aplicable en cada cas, però molts professionals opten per una bona integració en l’edifici encara que la producció d’electricitat sigui menor. D’aquesta manera es facilita la seva implantació i per tant més edificis optaran per utilitzar aquesta font d’energia.</p>
			</div>
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<h2>Solar tèrmica</h2>
				<p>En un clima com el nostre, l'ús de l’energia solar tèrmica pot arribar a cobrir fins a un 60% de les necessitats de consum d'aigua calenta d'una família mitjana, amb uns nivells de confort i qualitat de vida perfectament compatibles amb els estàndards actuals. Actualment aquest tipus d'instal·lacions estan contrastades i perfeccionades abastament i ens poden garantir un bon funcionament i rendiment, sempre que les condicions d'utilització, dimensionat i muntatge siguin correctes. L'aigua calenta és un dels principals consums d'energia del sector domèstic i de serveis (de l’ordre del 27%). Si aquesta aplicació es cobreix amb energia solar en comptes de la utilització d'energies convencionals (electricitat, gas, gas-oil, … ) la reducció de la factura energètica i de la contaminació produïda poden ser realment importants.</p>
				<p>El circuit de l’aigua està diferenciat en dues parts. Hi ha un circuit d’aigua que passa pels col·lectors i s’escalfa amb la radiació solar. Aquesta aigua passa per un intercanviador de calor i preescalfa l’aigua que es consumirà a l’habitatge. Si és necessari, el sistema de suport acaba d’escalfar l’aigua fins a assolir la temperatura de consum.</p>
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/renovables/components_termica_ca.png" alt="Components d'una instal·lació solar tèrmica" class="responsive-img">
				<p>La producció d'aigua calenta sanitària és l'aplicació de l'energia solar que, ara per ara, resulta més estesa i rendible. A causa de la relativa constància de la demanda d'aigua calenta sanitària, la instal·lació solar està en servei durant tots els mesos del any, fet que permet amortitzar-la més ràpidament que en el cas d'aplicacions de calefacció, en què el sistema només s'utilitza durant la temporada hivernal.</p>
				<p>Els captadors solars tèrmics també es poden utilitzar per a la calefacció, però com que tindrà una utilització estacional es recomana que tan sols cobreixi una petita part de la demanda de calefacció (15-25%) i que aquest sistema es dediqui a la producció d’aigua calenta sanitària durant la resta de l’any.</p>
				<p>L’escalfament de piscines constitueix una altra aplicació interessant a baixa temperatura. La superfície de captació necessària es pot calcular en funció de la superfície de la piscina a escalfar i de la zona climàtica on estigui ubicada. En les nostres latituds normalment es necessita una superfície de captadors de 30-50% de la superfície de la piscina, depenent de si està ubicada en una zona càlida (litoral) o freda (Catalunya central). El fet de que les temperatures de treball siguin baixes i l´època habitual d´ús molt favorable (els mesos de més radiació solar) fan possible que aquestes instal·lacions siguin força simples. Té l'avantatge que si s'usa de manera directa, no requereix utilitzar anticongelants i possibilita l'ús de sistemes en els que s'escalfa directament l'aigua de la piscina sense necessitat de bescanviador, intercalats en el circuit dels filtres de depuració i algunes vàlvules de regulació, aconsegueix augmentar la temperatura fins a l´òptima confortable.</p>
			</div>
		</div>
	</div>

</div>
<% else %>
<div class="container">

	<div class="grid-x">
		<div class="medium-12 cell">
			<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/renovables_gran_es.jpg" alt="Energías renovables" class="responsive-img">	
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<p>Una parte muy importante de la energía que consumimos hoy en día proviene de la utilización de fuentes de energía no renovables, normalmente procedentes de derivados del petróleo o del carbón. La combustión de estos recursos conlleva la liberación de gases que tienen efectos negativos en la salud de las personas (por ejemplo NOx) o agravan el cambio climático (CO<sub>2</sub>).</p>
				<p>Las energías renovables proceden de fuentes de energía que no se agotan, básicamente la radiación solar y el calor de la tierra. Utilizar estas fuentes de energía nos permite reducir la factura ambiental y también la económica. Durante décadas se han ido mejorando las diferentes tecnologías que permiten aprovechar las fuentes de energía renovables, y actualmente todas las que comentaremos son tecnologías maduras que ofrecen altos rendimientos a precios asumibles.</p>
			</div>
			<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; margin-bottom: 40px; margin-top: 20px;} .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}</style><div class='embed-container'><iframe src="https://www.youtube.com/embed/uTcKtZrPXI0" frameborder="0" allowfullscreen></iframe></div>
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<h2>Biomasa</h2>
				<p>La biomasa residual (estiércol, residuos forestales, agrícolas o domésticos) o la generada en cultivos energéticos (forestales o plantas anuales) o la de la fracción orgánica de los residuos sólidos urbanos y los lodos de estaciones depuradoras de aguas residuales (para obtener biogás o biocombustibles) permiten obtener combustibles gaseosos, líquidos o sólidos.</p>
				<p>La biomasa como fuente de energía produce menos emisiones que los recursos convencionales, como el gas natural y el carbón. Además, el aprovechamiento energético de la biomasa forestal no tiene un impacto medioambiental significativo, ya que el CO<sub>2</sub> que se libera a la atmósfera durante la combustión ha sido previamente captado por los vegetales durante su crecimiento; por tanto, el balance final es nulo. Su utilización también ayuda a reducir las emisiones de sulfuros (SO<sub>2</sub>) y de óxidos de nitrógeno (NOx) a la atmósfera.</p>
				<p>Los residuos agrícolas y forestales, tras ser transformados por varios procesos, dan lugar a unos productos que tienen aplicaciones diversas. De una manera directa, la combustión de los residuos forestales y agrícolas puede ser una fuente energética para calefacción dentro del ámbito de la edificación, tanto en instalaciones individuales como colectivas. Mediante el tratamiento de combustión también se genera vapor, que se puede utilizar en una turbina para producir energía mecánica y, en su caso, hacer mover un generador y obtener energía eléctrica. A través de los tratamientos biológicos y termoquímicos obtenemos el llamado biogás y también combustibles fluidos que se pueden utilizar en motores alternativos y turbinas de gas para producir electricidad.</p>
				<p>Dentro del sector de la construcción, las calderas de biomasa han experimentado, en los últimos veinte años, un avance considerable. Las calderas modernas queman biomasa de alta calidad como astillas de madera, pellets o residuos agrícolas y agroindustriales uniformes, sin humos y con emisiones comparables a los sistemas modernos de gasóleo y gas. El estado actual de desarrollo tecnológico de estas calderas permite que la limpieza de las superficies de intercambio y la extracción de cenizas sean automáticas. Estos sistemas de calefacción se pueden combinar fácilmente con sistemas de energía solar térmica. Las calderas de biomasa modernas utilizan hasta el 90% de la energía contenida en la madera para la calefacción, al igual que una buena caldera de gasoil o de gas.</p>
				
			</div>
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<h2>Geotermia</h2>
				<p>A diferencia de otras fuentes de energía renovable que dependen directa o indirectamente de la influencia del sol, la energía geotérmica proviene del interior del planeta. Como fuente de energía es esencialmente inagotable. Los yacimientos geotérmicos, si se gestionan de una manera correcta, pueden mantener su producción de energía indefinidamente. Esta energía proviene de una dinámica interna del planeta, que la concentra en lugares muy concretos, donde el flujo calorífico puede llegar a ser de unas diez o quince veces más elevado de lo normal.</p>
				<p>Esta fuente de energía se puede utilizar tanto para suministrar calor como para generar electricidad. Normalmente, estas tecnologías disponibles se dividen en tres categorías: las centrales geotérmicas, las aplicaciones de uso directo y las bombas de calor geotérmicas.</p>
				<p>Las centrales geotérmicas generan electricidad a partir de la perforación de pozos, de un kilómetro o más de profundidad, para explotar depósitos subterráneos geotérmicos, de vapor de agua y agua muy caliente.</p>
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/renovables/geotermia_classes_es.png" alt="Tipos de instalaciones geotérmicas" class="responsive-img">
				<p>Las aplicaciones de uso directo son las que la utilizan como calefacción ambiente o para la producción de agua caliente para usos industriales, agrícolas o residenciales. En el caso de un país como Islandia es la segunda fuente de energía y llega a calentar el 85% de los edificios.</p>
				<p>Las bombas de calor geotérmicas utilizan la energía de suelos poco profundos para calentar y refrigerar edificios. Una bomba de calor de estas características está formada por tubos enterrados en el terreno, un intercambiador de calor y un sistema de conductos en el interior del edificio.</p>
				<p>La idea básica consiste en el hecho de obtener energía calorífica del subsuelo y transmitirla, a través de los sistemas adecuados, en el edificio. El mismo principio se puede utilizar de manera inversa, trasladando el calor innecesaria en el subsuelo. La temperatura constante del suelo, de entre 10 y 16ºC a 10 m de profundidad, ofrece las condiciones óptimas para hacer funcionar, de forma integrada, el sistema de calefacción y aire acondicionado de un edificio. Siempre que se cuente con las características apropiadas, es posible la acumulación estacional de energía calorífica en el subsuelo.</p>
				<p>Actualmente, se dispone de una tecnología de absorción masiva conocida como ‘cimentaciones geotérmicas' o 'cimentaciones termo'. Se trata de aprovechar el potencial energético del subsuelo a través de los elementos de cimentación de los edificios. Se basa en las propiedades de almacenaje y conductividad térmica de los elementos constructivos de hormigón, como pueden ser los cimientos, los forjados, etc.</p>
				<p>El principio de la geotermia solar se basa en el hecho de que parte de la radiación que proviene del sol se acumula en forma de calor en la corteza terrestre. Dada la gran masa de la tierra, la temperatura se mantiene casi constante a partir de aproximadamente cinco metros de profundidad, a unos 15º C.</p>
				<p>La aplicación geotérmica consiste en utilizar la energía calorífica contenida en la corteza terrestre a profundidades de hasta 100 metros, mediante un sistema de perforación (pozo), una unidad geotérmica de intercambio (UGI) y una bomba de calor. Se transfiere la energía de esta fuente estable (de unos 15º C) a otra de mayor temperatura (50º C) que permita su posterior utilización para climatizar cualquier tipo de espacio, así como obtener agua caliente sanitaria. Las bombas de calor son reversibles, por lo que en verano pueden absorber el calor del interior de la vivienda y entregarlo al subsuelo. De este modo pueden ser utilizadas como una solución integral para la climatización de cualquier espacio.</p>
				<p>La eficiencia energética de este sistema de climatización o relación entre la energía consumida y la energía entregada por el sistema, que usa como fuente de calor el subsuelo, es altamente favorable. Como mínimo es del 400% calentando y del 500% enfriando (es decir, que la energía entregada puede llegar a ser 5 veces la energía consumida).</p>

			</div>
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<h2>Solar fotovoltaica</h2>
				<p>El aprovechamiento de la energía del Sol para generar electricidad con células de silicio es una de las tecnologías que más está evolucionando en los últimos años. De forma continua se ha ido mejorando el rendimiento de los captadores fotovoltaicos y hoy en día representan una inversión bastante rentable si la normativa acompaña.</p>
				<p>Los componentes de una instalación son: el captador, el regulador de carga y las baterías en caso de que sea una instalación aislada, sino no serían necesarios, el ondulador o inversor necesario para convertir la corriente continua de los captadores en corriente alterna a 230 voltios, aparatos de protección para mejorar la seguridad de la instalación, y aparatos de medida para saber cuánta energía estamos generando en cada momento.</p>
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/renovables/components_fotovoltaica_es.png" alt="Componentes de una instalación fotovoltaica" class="responsive-img">
				<p>La mayoría de los captadores solares fotovoltaicos utilizados actualmente son hechos de células fabricadas con silicio, uno de los elementos más abundantes en la Tierra. Estas células tienen la propiedad de generar electricidad cuando son iluminadas por el sol. Todas las células de la placa están unidas entre sí en serie, así suman su potencia (corriente y tensión) eléctrica, hasta llegar a la potencia, corriente y tensión nominal de la placa.</p>
				<p>Las características eléctricas de una placa fotovoltaica varían en función del soleamiento que recibe. La potencia nominal de una placa determinada se mide en vatios-pico (Wp), que es la potencia que puede generar la placa cuando está sometida a una cantidad de soleamiento normalizado, establecido en 1.000 W/m2 y una temperatura de 25ºC. Una placa de, por ejemplo, 40 Wp, producirá 40 Wh de energía si durante una hora recibe esta radiación nominal. Si el soleamiento no llega a esta intensidad necesitará más de una hora para producir estos 40 Wh. Por lo tanto, hay que utilizar un nuevo concepto, el de la hora solar pico. Un día puede tener 10 horas de sol, pero en cambio puede que sólo tenga 4 o 5 horas de pico. El número de horas pico de un día determinado se obtendrá dividiendo toda la energía del soleamiento de ese día (en Wh / m2 / día) por 1.000 W / m2. Por ello, para saber la energía que nos dará una placa no se puede multiplicar su potencia (en vatios-pico) por el número de horas de sol de un día, ya que no todas estas horas no son de máxima intensidad solar. Para tener una idea, sumando toda la energía que da el sol durante un día sólo equivale a unas 5 horas solares pico en verano y entre 3 y 4 en invierno (a una latitud de 41º por ejemplo).</p>
				<p>Un posible problema de los captadores solares fotovoltaicos es su integración en los edificios. En cada localización hay una orientación ideal para maximizar la producción de electricidad, pero esto implica poner un añadido al edificio que rompe la armonía estética.</p>
				<p>Encontraremos casos de todo tipo, y hay que tener en cuenta la opinión del cliente y la normativa aplicable en cada caso, pero muchos profesionales optan por una buena integración en el edificio aunque la producción de electricidad sea menor. De esta manera se facilita su implantación y por tanto más edificios optarán por utilizar esta fuente de energía.</p>
				
			</div>
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<h2>Solar térmica</h2>
				<p>En un clima como el nuestro, el uso de la energía solar térmica puede llegar a cubrir hasta un 60% de las necesidades de consumo de agua caliente de una familia media, con unos niveles de confort y calidad de vida perfectamente compatibles con los estándares actuales. Actualmente este tipo de instalaciones están contrastadas y perfeccionadas sobradamente y nos pueden garantizar un buen funcionamiento y rendimiento, siempre que las condiciones de utilización, dimensionado y montaje sean correctos. El agua caliente es uno de los principales consumos de energía del sector doméstico y de servicios (del orden del 27%). Si esta aplicación se cubre con energía solar en vez de la utilización de energías convencionales (electricidad, gas, gasoil, ...) la reducción de la factura energética y de la contaminación producida pueden ser realmente importantes.</p>
				<p>El circuito del agua está diferenciado en dos partes. Hay un circuito de agua que pasa por los colectores y se calienta con la radiación solar. Esta agua pasa por un intercambiador de calor y precalienta el agua que se consumirá en la vivienda. Si es necesario, el sistema de apoyo acaba de calentar el agua hasta alcanzar la temperatura de consumo.</p>
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/renovables/components_termica_es.png" alt="Componentes de una instalación solar térmica" class="responsive-img">
				<p>La producción de agua caliente sanitaria es la aplicación de la energía solar que, hoy por hoy, resulta más extendida y rentable. Debido a la relativa constancia de la demanda de agua caliente sanitaria, la instalación solar está en servicio durante todos los meses del año, lo que permite amortizar más rápidamente que en el caso de aplicaciones de calefacción, en el que el sistema sólo se utiliza durante la temporada invernal.</p>
				<p>Para esta aplicación, los tipos de captadores más utilizados son los planos de cubierta vidriada, sin cubierta, o los de vacío. La radiación solar que llega durante el día calienta el líquido que circula a través de los captadores solares y el circuito primario. La energía solar que llega a los captadores se cede en forma de calor a un depósito acumulador, que la guarda hasta el momento en que el usuario la necesite consumir. Su volumen se calculará según el consumo diario de agua y el número de captadores instalados; de esta manera, se optimiza el uso de la instalación. Es necesario que el acumulador y toda la instalación estén bien aislados térmicamente para evitar las pérdidas de calor.</p>
				<p>Los captadores solares térmicos también se pueden utilizar para la calefacción, pero como que tendrá una utilización estacional se recomienda que sólo cubra una pequeña parte de la demanda de calefacción (15-25%) y que este sistema se dedique a la producción de agua caliente sanitaria durante el resto del año.</p>
				<p>El calentamiento de piscinas constituye otra aplicación interesante a baja temperatura. La superficie de captación necesaria se puede calcular en función de la superficie de la piscina a calentar y de la zona climática donde esté ubicada. En nuestras latitudes normalmente se necesita una superficie de captadores de 30-50% de la superficie de la piscina, dependiendo de si está ubicada en una zona cálida (litoral) o fría (Cataluña central). El hecho de que las temperaturas de trabajo sean bajas y la época habitual de uso muy favorable (los meses de más radiación solar) hacen posible que estas instalaciones sean muy simples. Tiene la ventaja de que si se usa de manera directa, no requiere utilizar anticongelantes y posibilita el uso de sistemas en los que se calienta directamente el agua de la piscina sin necesidad de intercambiador, intercalados en el circuito de los filtros de depuración y algunas válvulas de regulación, consigue aumentar la temperatura hasta óptima confortable.</p>
			</div>
		</div>
	</div>
</div>



<% end %>