<% if params[:locale] == 'ca' %>
<div class="container">

	<div class="grid-x">
		<div class="medium-12 cell">
			<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/actius_gran_ca.jpg" alt="Sistemes actius" class="responsive-img">	
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<p>El consum d’energia en els edificis ha augmentat considerablement en les últimes dècades per l’increment de les exigències de confort. Tot i així una major consciència social sobre la necessitat d’estalviar energia i, sobretot, els canvis normatius, estan ajudant a reduir el consum dels edificis. </p>
				<p>Per reduir el consum d’energia de forma efectiva és imprescindible qüestionar-se quines són les instal·lacions que ha de tenir l’edifici. Un aspecte important és avaluar el rendiment dels sistemes, però hi ha altres factors igualment importants com el grau real de confort que poden oferir i la flexibilitat que tindran els usuaris per utilitzar-los.</p>
				<p>El disseny de les instal·lacions i els altres elements de l’edifici s’ha de fer en conjunt, al mateix temps. Els sistemes actius cada vegada tenen més rellevància, per tant han de formar un tot coherent amb els sistemes passius per tal de garantir el confort sense malbaratar energia. Aquesta dependència d’uns i altres sistemes serà cada vegada més rellevant a mesura que s’exigeixi una reducció més gran del consum d’energia, ja que els sistemes actius d’un edifici de consum d’energia quasi nul poc tenen a veure amb els d’un edifici convencional. </p>
			</div>
			<div class="paragraf-tema-clau">
				<h2>Climatització</h2>
			</div>
			<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; margin-bottom: 40px; margin-top: 20px;} .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}</style><div class='embed-container'><iframe src="https://www.youtube.com/embed/GtEoYb9Gh0k" frameborder="0" allowfullscreen></iframe></div>
			<div class="paragraf-tema-clau">
				<p>La major part del consum d’energia dels edificis és degut a la necessitat d’escalfar-los i refredar-los, per tant les decisions que es prenguin a l’hora de dissenyar el sistema de climatització tindran una gran repercussió en el consum final d’energia de l’edifici.</p>
				<p>Un bon sistema de climatització no es limita a utilitzar els equips amb millor rendiment del mercat. La clau per assolir un consum baix és poder garantir als usuaris un alt grau de confort i flexibilitat a l’hora de gestionar el sistema. Si el sistema de climatització genera disconfort, per exemple per una elevada velocitat de l’aire d’impulsió o per diferències de temperatura en els espais, els usuaris de l’edifici començaran a fer una gestió no prevista de l’edifici. Alguns efectes habituals dels sistemes deficients són l’obertura de finestres amb la climatització en funcionament, tapat de boques d’impulsió, assignació de temperatures de consigna extremes, etc.</p>
				<div class="imatge-climatitzacio">
					<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/actius/tot_aire.png" alt="Sistema de climatització tot aire" class="responsive-img">
				</div>
				<div class="text-ventilacio">
					<p>Sistema de climatització tot aire</p>
				</div>
				<p>Els sistemes tot aire tenen diversos avantatges pel que fa a l’estalvi d’energia. Els més destacables són que permeten fer free cooling, instal·lar recuperadors de calor i controlar els nivells d’humitat de l’aire. Tot i així no són el sistema més adequat per tots els casos, ja que requereixen una quantitat d’espai important per fer-hi passar els conductes i cal tenir un servei de manteniment que netegi aquests conductes.</p>
				<div class="imatge-climatitzacio">
					<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/actius/aire_aigua.png" alt="Sistema de climatització aire-aigua" class="responsive-img">
				</div>
				<div class="text-ventilacio">
					<p>Sistema de climatització aire-aigua</p>
				</div>
				<p>Els sistemes aire-aigua poden ser de diversos tipus. Per exemple tenim el sistema amb aerotermos i el sistema radiant. Un dels principals avantatges d’aquests sistemes és que requereixen menys espai que un sistema tot aire. En el cas del sistema amb aerotermos permet un gran control de la climatització perquè es pot controlar la temperatura de cada local i donar calefacció i refrigeració al mateix temps. Els sistemes de terra i sostre radiant permeten donar una millor sensació de confort i, com que tenen una temperatura d’impulsió de l’aigua moderada, fan que el rendiment de la producció de l’aigua sigui millor.</p>
				<div class="imatge-climatitzacio">
					<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/actius/tot_aigua.png" alt="Sistema de climatització tot aigua" class="responsive-img">
				</div>
				<div class="text-ventilacio">
					<p>Sistema de climatització tot aigua</p>
				</div>
				<p>Els sistemes tot aigua es caracteritzen pel fet de no haver-hi aire tractat, no hi ha climatitzadors o unitats centrals de tractament d’aire. Avui en dia tots els edificis nous han de tenir un sistema de ventilació forçada, per tant caldrà col·locar un sistema de ventilació independent. Les unitats terminals seran aerotermos si tenim producció de fred i calor. En cas que tan sols tinguem producció de calor les unitats terminals poden ser radiadors convencionals o superfícies radiants. Aquests sistemes permeten fer un control zonificat utilitzant vàlvules termostàtiques. Això sí, cal tenir una instal·lació de dos tubs, de manera que al apagar un aparell no s’interrompi tot el sistema.</p>
				<div class="imatge-climatitzacio">
					<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/actius/expansio_directa_partit.png" alt="Sistema d'expansió directa" class="responsive-img">
				</div>
				<div class="text-ventilacio">
					<p>Sistema de climatització d'expansió directa</p>
				</div>
				<p>Els sistemes d’expansió directa són força més simples que els altres sistemes esmentats fins ara. En trobem de compactes i de partits. En el cas dels partits hi ha una unitat interior i una d’exterior, unides pels conductes pel refrigerant. Els aparells compactes tenen tots els elements del circuit frigorífic en el seu interior. La seva instal·lació és senzilla però són sorollosos. Aquest problema no el tenim amb els sistemes partits, perquè el compressor, que és l’element que fa més soroll, està a l’exterior.</p>
				<p>Hi ha moltes possibilitats a l’hora de dissenyar el sistema de climatització d’un edifici. Aquí n’hem vist una petita part, però es poden fer moltes combinacions d’elements per crear sistemes que s’adaptin a les necessitats de cada edifici. La principal conclusió és que el rendiment a l’hora de generar calor o fred condicionarà el consum final, però hi ha altres factors a tenir en compte que també influiran molt en aquest consum. Per exemple és molt important que el sistema es pugui adaptar correctament a les necessitats reals dels usuaris, així resulta més fàcil gestionar la climatització i es pot estalviar energia sense renunciar al confort.</p>
			</div>
			<div class="paragraf-tema-clau">
				<h3>Calderes</h3>
				<p>Hi ha dos factors bàsics a tenir en compte a l’hora d’escollir una caldera: el seu rendiment i el combustible que utilitzarà. Aquests dos factors condicionaran el consum d’energia i l’impacte ambiental de la producció d’aigua calenta.</p>
				<h4 class="titol-caldera">Caldera convencional</h4>
				<p>Aquest tipus de caldera impulsa l'aigua a un temperatura compresa entre els 70 i els 90ºC, i ha de tenir una temperatura mínima de retorn de 55ºC. Aquestes temperatures són força elevades i per tant impliquen un consum d'energia considerable. </p>
				<p>Si es reduís la temperatura es podria estalviar energia, però les calderes convencionals no poden treballar a menys temperatura. La raó és que han de treballar a una temperatura prou alta per evitar la condensació àcida. Si el vapor d'aigua produït durant la combustió es condensa, i es combina amb el sofre present en la combustió del gasoil, ens apareix anhídric sulfurós i àcid sulfúric. Com que són molt corrosius farien malbé la caldera. Si la caldera és de gas natural el problema persisteix, perquè es produeix àcid carbònic.</p>
				<h4 class="titol-caldera">Caldera de baixa temperatura</h4>
				<p>Aquestes calderes estan dissenyades per produïr poques condensacions, encara que treballin amb una temperatura de l'aigua d'alimentació d'entre 35 i 40ºC. La clau és la utilització d'una doble paret amb cambra d'aire entre els gasos de combustió i l'aigua. Així l'aportació de calor a l'aigua es dosifica i s'evita en gran mesura arribar al punt de rosada. </p>
				<p>Aquestes calderes estan construïdes de forma que les condensacions de vapor d'aigua que es poden produïr no deterioren els conductes interiors. Això permet adaptar la temperatura de funcionament segons la demanda calorífica, i per tant podem dir que poden adaptar-se a la corba característica de calefacció d'un edifici.</p>
				<h4 class="titol-caldera">Caldera de condensació</h4>
				<p>Aquestes calderes es caracteritzen per aprofitar la calor latent del canvi de fase del vapor d'aigua contingut als gasos de combustió. Aquesta calor es transfereix a l'aigua abans que aquesta sigui escalfada per la combustió.</p>
				<p>Les superfícies d'intercanvi d'aquestes calderes han de ser especialment resistents, i han d'utilitzar cremadors pressuritzats per reduïr l'excés d'aire i disminuir així el punt de rosada.</p>
				<h4 class="titol-caldera">Caldera de biomassa</h4>
				<p>Aquestes calderes no es caracteritzen per la seva eficiència, sinó pel tipus de combustible que utilitzen: estelles, encenalls, pellets, etc.</p>
				<p>Actualment la biomassa com a combustible té un paper estratègic, tant per la seva contribució a la bona gestió dels boscos, la valorització dels residus llenyosos, l'estalvi de combustibles fòssils com per a contenir les emissions de CO<sub>2</sub>.</p>
				<p>L'inconvenient de la biomassa sòlida com a combustible és la necessitat d'un espai de dimensions considerables per a emmagatzemar el combustible.</p>
			</div>

			<div class="paragraf-tema-clau">
				<h3>Sistemes d'expansió directa</h3>
				<p>Els sistemes d’expansió directa més habituals que trobem són els de tipus split per refrigeració o bombes de calor. Aquests sistemes aquests sistemes es caracteritzen per tenir uns rendiments molt elevats en comparació amb els d’una caldera. La raó per tenir un rendiment tant alt, superior al 100%, és que la bomba de calor no crea calor sinó que es limita a transportar-lo d’un punt a un altre. S’aprofita una propietat dels gasos: quan un gas es comprimeix incrementa la seva temperatura, i quan s’expandeix es redueix la seva temperatura. Per entendre-ho veurem una versió simplificada del cicle que segueix el refrigerant. Primer el refrigerant entra al compressor, on augmenta la seva temperatura. En sortirà tan calent que l’aire exterior, encara que estigui a més de 30º, tindrà una temperatura més freda. Per tant al intercanviar calor amb l’aire exterior estem refredant el refrigerant de forma gratuïta. Aquest refrigerant continua el camí fins a la vàlvula d’expansió, i al expandir-se es refredarà encara més. D’aquesta manera, quan el fem passar per la unitat interior el refrigerant estarà tan fred que absorbirà calor de l’ambient interior. A continuació tornaria a anar al compressor i ja hem fet el cicle sencer. Ja veieu que la bomba de calor ens permet refredar de forma molt econòmica, perquè el que fem és traslladar el calor de l’interior fins a l’exterior. Quan és hivern el cicle s’inverteix però el procés és exactament el mateix.</p>
				<p>El rendiment d’una bomba de calor habitualment s’expressa en tant per u, no en percentatge com en les calderes. El COP és el rendiment en calefacció i l’EER és el rendiment en refrigeració.</p>
				<p>Una bomba de calor tradicional tindrà un COP d’entre 2,5 o 3, uns valors molt elevats en comparació amb una caldera. Tot i així les bombes de calor inverter presenten uns valors encara més elevats. La raó és que utilitzen un cabal de refrigerant variable que els permet adaptar-se a les necessitats tèrmiques de cada moment.</p>
			</div>
			<div class="paragraf-tema-clau">
				<h2>Ventilació</h2>
				<p>Actualment un edifici nou ha de disposar obligatòriament d’un sistema de ventilació mecànica. Les principals raons per utilitzar sistemes de ventilació mecànica són:</p>
			</div>
		</div>
	</div>
	<div class="grid-x grid-margin-x">
		<div class="medium-4 cell">
			<div class="imatge-ventilacio">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/actius/avantatges_ventilacio_mecanica-01.png" alt="Control de la concentració de CO2" class="responsive-img">
			</div>
			<div class="text-ventilacio">
				<p>Control de la concentració de CO2</p>
			</div>
		</div>
		<div class="medium-4 cell">
			<div class="imatge-ventilacio">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/actius/avantatges_ventilacio_mecanica-02.png" alt="Reducció de la contaminació" class="responsive-img">
			</div>
			<div class="text-ventilacio">
				<p>Reducció de la contaminació</p>
			</div>
		</div>
		<div class="medium-4 cell">
			<div class="imatge-ventilacio">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/actius/avantatges_ventilacio_mecanica-03.png" alt="Reducció dels nivells de pol·len" class="responsive-img">
			</div>
			<div class="text-ventilacio">
				<p>Reducció dels nivells de pol·len</p>
			</div>
		</div>
	</div>
	<div class="grid-x grid-margin-x">
		<div class="medium-4 cell">
			<div class="imatge-ventilacio">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/actius/avantatges_ventilacio_mecanica-04.png" alt="Reducció de les olors externes" class="responsive-img">
			</div>
			<div class="text-ventilacio">
				<p>Reducció de les olors externes</p>
			</div>
		</div>
		<div class="medium-4 cell">
			<div class="imatge-ventilacio">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/actius/avantatges_ventilacio_mecanica-05.png" alt="Regulació de la humitat de l'aire" class="responsive-img">
			</div>
			<div class="text-ventilacio">
				<p>Regulació de la humitat de l'aire</p>
			</div>
		</div>
		<div class="medium-4 cell">
			<div class="imatge-ventilacio">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/actius/avantatges_ventilacio_mecanica-06.png" alt="Estalvi d'energia" class="responsive-img">
			</div>
			<div class="text-ventilacio">
				<p>Estalvi d'energia</p>
			</div>
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<p>Un dels principals avantatges és garantir els mínims de qualitat de l’aire interior per la concentració de CO2. Confiar la ventilació a les imperfeccions de l’envolupant tèrmica és un greu error, sobretot tenint en compte que cada dia es fan edificis més estancs. En edificis localitzats en zones contaminades, com ciutats o zones industrials, amb la ventilació mecànica s’obre la possibilitat de filtrar l’aire. Està demostrat que l’exposició prolongada a la contaminació ambiental pot causar diferents malalties, per tant aquesta mesura pot millorar, a més del confort i l’eficiència energètica, la salut de les persones. Això també pot ser un avantatge per a persones amb al·lèrgies, ja que es pot filtrar el pol·len i altres agents al·lèrgens. Un sistema de ventilació mecànica també pot suposar una millora en el confort per l’eliminació d’olors provinents de l’exterior i la possibilitat de pretractar l’aire que entra a l’edifici per assegurar que té unes condicions ideals.</p>
				<p>A part de suposar beneficis per a la salut i el confort, la ventilació mecànica pot ser una eina d’estalvi energètic si es dissenya de forma adequada. Per una banda podem ventilar estrictament el necessari, per tant hem de climatitzar menys aire. Per altra banda podem utilitzar un sistema de pou canadenc o geotèrmia per preescalfar o prerefrescar l’aire. També podem instal·lar un recuperador de calor, de forma que l’aire climatitzat que hem d’expulsar per raons de salubritat serveixi per acondicionar la temperatura de l’aire que entra de l’exterior. Construïr edificis de molt baix consum energètic seria impossible sense utilitzar ventilació mecànica, és una de les estratègies clau en els projectes ambiciosos.</p>
			</div>
			<div class="paragraf-tema-clau">
				<h2>Il·luminació</h2>
				<p>Una bona il·luminació ha de proporcionar la llum adequada, durant el temps adequat i en el lloc adequat. D’aquesta manera les persones que utilitzen l’edifici podran tenir un bon confort sense haver de patir fatiga visual.</p>
				<p>El tipus de làmpada acostuma a ser el primer que es comprova al evaluar l’eficiència d’una instal·lació d’il·luminació, però hi ha altres factors que també tenen una gran repercussió en el consum final d’energia i el confort dels usuaris.</p>
			</div>
		</div>
	</div>

	<div class="grid-x grid-margin-x">
		<div class="medium-4 cell">
			<div class="imatge-ventilacio">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/actius/bombetes-01.png" alt="Bombeta incandescent" class="responsive-img">
			</div>
			<div class="text-ventilacio">
				<p>Làmpada incandescent</p>
			</div>
		</div>
		<div class="medium-4 cell">
			<div class="imatge-ventilacio">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/actius/bombetes-02.png" alt="Bombeta fluorescent" class="responsive-img">
			</div>
			<div class="text-ventilacio">
				<p>Làmpada fluorescent</p>
			</div>
		</div>
		<div class="medium-4 cell">
			<div class="imatge-ventilacio">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/actius/bombetes-03.png" alt="Bombeta LED" class="responsive-img">
			</div>
			<div class="text-ventilacio">
				<p>Làmpada LED</p>
			</div>
		</div>
	</div>
	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<p>En el sector domèstic el més habitual és trobar làmpades d’incandescència, fluorescència o LED. La tecnologia LED està destinada a substituir les altres per la seva major eficiència i durabilitat. Les làmpades fluorescents porten components que poden resultar nocius per a la salut, per tant és un altre punt a favor de la tecnologia LED.</p>
				<p>En edificis d’oficines o altres usos que no siguin el domèstic és habitual trobar làmpades fluorescents de tipus T8 o T5, làmpades d’halogenurs metàl·lics i làmpades de vapor de sodi. En el cas dels fluorescents existents podem trobar que tinguin diferents tipus de balasts que condicionin les característiques de la instal·lació. El balast és el component que limita el consum de corrent de la làmpada als seus paràmetres òptims. Des del punt de vista de l’eficiència energètica podem diferenciar tres tipus de balasts: magnètic estàndard, magnètic de baixes pèrdues i electrònic. Dels tres, l’electrònic és el balast que permet estalviar més energia, fins a un 25% respecte un equip magnètic estàndard. També permet allargar la vida de les làmpades fins a un 50%, fa que l’encesa de la làmpada sigui instantània i evita el parpalleig de la llum. Per tant un fluorescent amb balast electrònic serà més eficient i proporcionarà més confort als usuaris.</p>
			</div>
		</div>
	</div>
	<div class="grid-x grid-margin-x">
		<div class="medium-4 cell">
			<div class="imatge-ventilacio">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/actius/llumeneres-01.png" alt="Il·luminació directa" class="responsive-img">
			</div>
			<div class="text-ventilacio">
				<p>Il·luminació directa</p>
			</div>
		</div>
		<div class="medium-4 cell">
			<div class="imatge-ventilacio">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/actius/llumeneres-02.png" alt="Il·luminació semi-directa" class="responsive-img">
			</div>
			<div class="text-ventilacio">
				<p>Il·luminació semi-directa</p>
			</div>
		</div>
		<div class="medium-4 cell">
			<div class="imatge-ventilacio">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/actius/llumeneres-03.png" alt="Il·luminació general difusa" class="responsive-img">
			</div>
			<div class="text-ventilacio">
				<p>Il·luminació general difusa</p>
			</div>
		</div>
	</div>
	<div class="grid-x grid-margin-x">
		<div class="medium-4 cell">
			<div class="imatge-ventilacio">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/actius/llumeneres-04.png" alt="Il·luminació directa-indirecta" class="responsive-img">
			</div>
			<div class="text-ventilacio">
				<p>Il·luminació directa-indirecta</p>
			</div>
		</div>
		<div class="medium-4 cell">
			<div class="imatge-ventilacio">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/actius/llumeneres-05.png" alt="Il·luminació semi-indirecta" class="responsive-img">
			</div>
			<div class="text-ventilacio">
				<p>Il·luminació semi-indirecta</p>
			</div>
		</div>
		<div class="medium-4 cell">
			<div class="imatge-ventilacio">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/actius/llumeneres-06.png" alt="Il·luminació indirecta" class="responsive-img">
			</div>
			<div class="text-ventilacio">
				<p>Il·luminació indirecta</p>
			</div>
		</div>
	</div>
	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<p>El disseny de les llumeneres influeix molt en el confort visual. Si la llumenera està mal dissenyada ens obligarà a utilitzar làmpades de més potència per evitar la fatiga visual o crearà enlluernaments als usuaris.</p>
			</div>
		</div>
	</div>
				

</div>
<% else %>
<div class="container">

	<div class="grid-x">
		<div class="medium-12 cell">
			<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/actius_gran_es.jpg" alt="Sistemas activos" class="responsive-img">	
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<p>El consumo de energía en los edificios ha aumentado considerablemente en las últimas décadas por el incremento de las exigencias de confort. Aún así una mayor conciencia social sobre la necesidad de ahorrar energía y, sobre todo, los cambios normativos, están ayudando a reducir el consumo de los edificios.</p>
				<p>Para reducir el consumo de energía de forma efectiva es imprescindible cuestionarse cuáles son las instalaciones que debe tener el edificio. Un aspecto importante es evaluar el rendimiento de los sistemas, pero hay otros factores igualmente importantes como el grado real de confort que pueden ofrecer y la flexibilidad que tendrán los usuarios para utilizarlos.</p>
				<p>El diseño de las instalaciones y los otros elementos del edificio se debe realizar en conjunto, al mismo tiempo. Los sistemas activos cada vez tienen más relevancia, por lo tanto deben formar un todo coherente con los sistemas pasivos para garantizar el confort sin desperdiciar energía. Esta dependencia de unos y otros sistemas será cada vez más relevante a medida que se exija una mayor reducción del consumo de energía, ya que los sistemas activos de un edificio de consumo de energía casi nulo poco tienen que ver con los de un edificio convencional.</p>
			</div>
			<div class="paragraf-tema-clau">
				<h2>Climatización</h2>
			</div>
			<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; margin-bottom: 40px; margin-top: 20px;} .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}</style><div class='embed-container'><iframe src="https://www.youtube.com/embed/DKxFWxywAW4" frameborder="0" allowfullscreen></iframe></div>
			<div class="paragraf-tema-clau">
				<p>La mayor parte del consumo de energía de los edificios se debe a la necesidad de calentarlos y enfriarlos, por tanto las decisiones que se tomen a la hora de diseñar el sistema de climatización tendrán una gran repercusión en el consumo final de energía del edificio.</p>
				<p>Un buen sistema de climatización no se limita a utilizar los equipos con mejor rendimiento del mercado. La clave para lograr un consumo bajo es poder garantizar a los usuarios un alto grado de confort y flexibilidad a la hora de gestionar el sistema. Si el sistema de climatización genera disconfort, por ejemplo por una elevada velocidad del aire de impulsión o por diferencias de temperatura en los espacios, los usuarios del edificio harán una gestión no prevista del edificio. Algunos efectos habituales de los sistemas deficientes son la apertura de ventanas con la climatización en funcionamiento, tapado de bocas de impulsión, asignación de temperaturas de consigna extremas, etc.</p>
				<div class="imatge-climatitzacio">
					<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/actius/tot_aire_es.png" alt="Sistema de climatización todo aire" class="responsive-img">
				</div>
				<div class="text-ventilacio">
					<p>Sistema de climatización todo aire</p>
				</div>
				<p>Los sistemas todo aire tienen varias ventajas con respecto al ahorro de energía. Los más destacables son que permiten hacer free cooling, instalar recuperadores de calor y controlar los niveles de humedad del aire. Aún así no son el sistema más adecuado para todos los casos, ya que requieren una cantidad de espacio importante para hacer pasar los conductos y hay que tener un servicio de mantenimiento que limpie estos conductos.</p>
				<div class="imatge-climatitzacio">
					<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/actius/aire_aigua_es.png" alt="Sistema de climatización aire-agua" class="responsive-img">
				</div>
				<div class="text-ventilacio">
					<p>Sistema de climatización aire-agua</p>
				</div>
				<p>Los sistemas aire-agua pueden ser de varios tipos. Por ejemplo tenemos el sistema con aerotermos y el sistema radiante. Una de las principales ventajas de estos sistemas es que requieren menos espacio que un sistema todo aire. En el caso del sistema con aerotermos permite un gran control de la climatización porque se puede controlar la temperatura de cada local y dar calefacción y refrigeración al mismo tiempo. Los sistemas de tierra y techo radiante permiten dar una mejor sensación de confort y, al tener una temperatura de impulsión del agua moderada, hacen que el rendimiento de la producción del agua sea mejor.</p>
				<div class="imatge-climatitzacio">
					<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/actius/tot_aigua.png" alt="Sistema de climatización todo agua" class="responsive-img">
				</div>
				<div class="text-ventilacio">
					<p>Sistema de climatización todo agua</p>
				</div>
				<p>Los sistemas todo agua se caracterizan por el hecho de no haber aire tratado, no hay climatizadores o unidades centrales de tratamiento de aire. Hoy en día todos los edificios nuevos deben tener un sistema de ventilación forzada, por lo tanto habrá que colocar un sistema de ventilación independiente. Las unidades terminales serán aerotermos si tenemos producción de frío y calor. En caso de que sólo tengamos producción de calor las unidades terminales pueden ser radiadores convencionales o superficies radiantes. Estos sistemas permiten realizar un control zonificado utilizando válvulas termostáticas. Eso sí, hay que tener una instalación de dos tubos, de modo que al apagar un aparato no se interrumpa todo el sistema.</p>
				<div class="imatge-climatitzacio">
					<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/actius/expansio_directa_partit_es.png" alt="Sistema d'expansió directa" class="responsive-img">
				</div>
				<div class="text-ventilacio">
					<p>Sistema de climatización de expansión directa</p>
				</div>
				<p>Los sistemas de expansión directa son bastante más simples que los otros sistemas mencionados hasta ahora. Encontramos de compactos y de partidos. En el caso de los partidos hay una unidad interior y una exterior, unidas por los conductos para el refrigerante. Los aparatos compactos tienen todos los elementos del circuito frigorífico en su interior. Su instalación es sencilla pero son ruidosos. Este problema no lo tenemos con los sistemas partidos, porque el compresor, que es el elemento que hace más ruido, está en el exterior.</p>
				<p>Hay muchas posibilidades a la hora de diseñar el sistema de climatización de un edificio. Aquí hemos visto una pequeña parte, pero se pueden hacer muchas combinaciones de elementos para crear sistemas que se adapten a las necesidades de cada edificio. La principal conclusión es que el rendimiento a la hora de generar calor o frío condicionará el consumo final, pero hay otros factores a tener en cuenta que también influirán mucho en este consumo. Por ejemplo es muy importante que el sistema se pueda adaptar correctamente a las necesidades reales de los usuarios, así resulta más fácil gestionar la climatización y se puede ahorrar energía sin renunciar al confort.</p>
			</div>
			<div class="paragraf-tema-clau">
				<h3>Calderas</h3>
				<p>Hay dos factores básicos a tener en cuenta a la hora de elegir una caldera: su rendimiento y el combustible que utilizará. Estos dos factores condicionarán el consumo de energía y el impacto ambiental de la producción de agua caliente.</p>
				<h4 class="titol-caldera">Caldera convencional</h4>
				<p>Este tipo de caldera impulsa el agua a una temperatura comprendida entre los 70 y los 90ºC, y debe tener una temperatura mínima de retorno de 55ºC. Estas temperaturas son bastante elevadas y por tanto implican un consumo de energía considerable.</p>
				<p>Si se redujera la temperatura se podría ahorrar energía, pero las calderas convencionales no pueden trabajar a menos temperatura. La razón es que deben trabajar a una temperatura suficientemente alta para evitar la condensación ácida. Si el vapor de agua producido durante la combustión se condensa, y se combina con el azufre presente en la combustión del gasóleo, nos aparece anhídrido sulfuroso y ácido sulfúrico. Como son muy corrosivos dañarían la caldera. Si la caldera es de gas natural el problema persiste, porque se produce ácido carbónico.</p>
				<h4 class="titol-caldera">Caldera de baja temperatura</h4>
				<p>Estas calderas están diseñadas para producir pocas condensaciones, aunque trabajen con una temperatura del agua de alimentación de entre 35 y 40ºC. La clave es la utilización de una doble pared con cámara de aire entre los gases de combustión y el agua. Así el aporte de calor al agua se dosifica y se evita en gran medida alcanzar el punto de rocío.</p>
				<p>Estas calderas están construidas de forma que las condensaciones de vapor de agua que se pueden producir no deterioran los conductos interiores. Esto permite adaptar la temperatura de funcionamiento según la demanda calorífica, y por lo tanto podemos decir que pueden adaptarse a la curva característica de calefacción de un edificio.</p>
				<h4 class="titol-caldera">Caldera de condensación</h4>
				<p>Estas calderas se caracterizan por aprovechar el calor latente del cambio de fase del vapor de agua contenido en los gases de combustión. Este calor se transfiere al agua antes de que ésta sea calentada por la combustión.</p>
				<p>Las superficies de intercambio de estas calderas deben ser especialmente resistentes, y deben utilizar quemadores presurizados para reducir el exceso de aire y disminuir así el punto de rocío.</p>
				<h4 class="titol-caldera">Caldera de biomasa</h4>
				<p>Estas calderas no se caracterizan por su eficiencia, sino por el tipo de combustible que utilizan: astillas, virutas, pellets, etc.</p>
				<p>Actualmente la biomasa como combustible tiene un papel estratégico, tanto por su contribución a la buena gestión de los bosques, la valorización de los residuos leñosos, el ahorro de combustibles fósiles y para contener las emisiones de CO<sub>2</sub>.</p>
				<p>El inconveniente de la biomasa sólida como combustible es la necesidad de un espacio de dimensiones considerables para almacenar el combustible.</p>
			</div>

			<div class="paragraf-tema-clau">
				<h3>Sistemas de expansión directa</h3>
				<p>Los sistemas de expansión directa más habituales que encontramos son los de tipo split para refrigeración o bombas de calor. Estos sistemas se caracterizan por tener unos rendimientos muy elevados en comparación con los de una caldera. La razón para tener un rendimiento tan alto, superior al 100%, es que la bomba de calor no crea calor sino que se limita a transportarlo de un punto a otro. Aprovecha una propiedad de los gases: cuando un gas se comprime incrementa su temperatura, y cuando se expande se reduce su temperatura. Para entenderlo veremos una versión simplificada del ciclo que sigue el refrigerante. Primero el refrigerante entra en el compresor, donde aumenta su temperatura. Saldrá tan caliente que el aire exterior, aunque esté a más de 30º, tendrá una temperatura más fría. Por tanto al intercambiar calor con el aire exterior estamos enfriando el refrigerante de forma gratuita. Este refrigerante continúa el camino hasta la válvula de expansión, y al expandirse se enfriará aún más. De este modo, cuando lo hacemos pasar por la unidad interior el refrigerante estará tan frío que absorberá calor del ambiente interior. Después volvería a ir al compresor y ya hemos hecho el ciclo entero. Ya veis que la bomba de calor nos permite enfriar de forma muy económica, porque lo que hacemos es trasladar el calor del interior hasta el exterior. Cuando es invierno el ciclo se invierte pero el proceso es exactamente el mismo.</p>
				<p>El rendimiento de una bomba de calor habitualmente se expresa en tanto por uno, no en porcentaje como en las calderas. El COP es el rendimiento en calefacción y el EER es el rendimiento en refrigeración.</p>
				<p>Una bomba de calor tradicional tendrá un COP de 2,5 o 3, unos valores muy elevados en comparación con una caldera. Aún así las bombas de calor inverter presentan unos valores aún más elevados. La razón es que utilizan un caudal de refrigerante variable que les permite adaptarse a las necesidades térmicas de cada momento.</p>
			</div>
			<div class="paragraf-tema-clau">
				<h2>Ventilación</h2>
				<p>Actualmente un edificio nuevo debe disponer obligatoriamente de un sistema de ventilación mecánica. Las principales razones para utilizar sistemas de ventilación mecánica son:</p>
			</div>
		</div>
	</div>
	<div class="grid-x">
		<div class="medium-4 cell">
			<div class="imatge-ventilacio">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/actius/avantatges_ventilacio_mecanica-01.png" alt="Control de la concentració de CO2" class="responsive-img">
			</div>
			<div class="text-ventilacio">
				<p>Control de la concentración de CO2</p>
			</div>
		</div>
		<div class="medium-4 cell">
			<div class="imatge-ventilacio">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/actius/avantatges_ventilacio_mecanica-02.png" alt="Reducció de la contaminació" class="responsive-img">
			</div>
			<div class="text-ventilacio">
				<p>Reducción de la contaminación</p>
			</div>
		</div>
		<div class="medium-4 cell">
			<div class="imatge-ventilacio">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/actius/avantatges_ventilacio_mecanica-03.png" alt="Reducció dels nivells de pol·len" class="responsive-img">
			</div>
			<div class="text-ventilacio">
				<p>Reducción de los niveles de polen</p>
			</div>
		</div>
	</div>
	<div class="grid-x">
		<div class="medium-4 cell">
			<div class="imatge-ventilacio">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/actius/avantatges_ventilacio_mecanica-04.png" alt="Reducció de les olors externes" class="responsive-img">
			</div>
			<div class="text-ventilacio">
				<p>Reducción de los olores externos</p>
			</div>
		</div>
		<div class="medium-4 cell">
			<div class="imatge-ventilacio">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/actius/avantatges_ventilacio_mecanica-05.png" alt="Regulació de la humitat de l'aire" class="responsive-img">
			</div>
			<div class="text-ventilacio">
				<p>Regulación de la humedad del aire</p>
			</div>
		</div>
		<div class="medium-4 cell">
			<div class="imatge-ventilacio">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/actius/avantatges_ventilacio_mecanica-06.png" alt="Estalvi d'energia" class="responsive-img">
			</div>
			<div class="text-ventilacio">
				<p>Ahorro de energía</p>
			</div>
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<p>Una de las principales ventajas es garantizar los mínimos de calidad del aire interior por la concentración de CO2. Confiar la ventilación a las imperfecciones de la envolvente térmica es un grave error, sobre todo teniendo en cuenta que cada día se hacen edificios más estancos. En edificios localizados en zonas contaminadas, como ciudades o zonas industriales, con la ventilación mecánica se abre la posibilidad de filtrar el aire. Está demostrado que la exposición prolongada a la contaminación ambiental puede causar diferentes enfermedades, por lo tanto esta medida puede mejorar, además del confort y la eficiencia energética, la salud de las personas. Esto también puede ser una ventaja para personas con alergias, ya que se puede filtrar el polen y otros agentes alérgenos. Un sistema de ventilación mecánica también puede suponer una mejora en el confort para la eliminación de olores provenientes del exterior y la posibilidad de pretratar el aire que entra en el edificio para asegurar que tiene unas condiciones ideales.</p>
				<p>Aparte de suponer beneficios para la salud y el confort, la ventilación mecánica puede ser una herramienta de ahorro energético si se diseña de forma adecuada. Por un lado podemos ventilar estrictamente lo necesario, por lo tanto tenemos que climatizar menos aire. Por otro lado podemos utilizar un sistema de pozo canadiense o geotermia para precalentar o prerefrescar el aire. También podemos instalar un recuperador de calor, de forma que el aire climatizado que debemos expulsar por razones de salubridad sirva para acondicionar la temperatura del aire que entra del exterior. Construir edificios de muy bajo consumo energético sería imposible sin utilizar ventilación mecánica, es una de las estrategias clave en los proyectos ambiciosos.</p>
			</div>
			<div class="paragraf-tema-clau">
				<h2>Iluminación</h2>
				<p>Una buena iluminación debe proporcionar la luz adecuada, durante el tiempo adecuado y en el lugar adecuado. De esta manera las personas que utilizan el edificio podrán tener un buen confort sin tener que sufrir fatiga visual.</p>
				<p>El tipo de lámpara suele ser el primero que se comprueba al evaluar la eficiencia de una instalación de iluminación, pero hay otros factores que también tienen una gran repercusión en el consumo final de energía y el confort de los usuarios.</p>
			</div>
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-4 cell">
			<div class="imatge-ventilacio">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/actius/bombetes-01.png" alt="Bombeta incandescent" class="responsive-img">
			</div>
			<div class="text-ventilacio">
				<p>Lámpara incandescente</p>
			</div>
		</div>
		<div class="medium-4 cell">
			<div class="imatge-ventilacio">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/actius/bombetes-02.png" alt="Bombeta fluorescent" class="responsive-img">
			</div>
			<div class="text-ventilacio">
				<p>Lámpara fluorescente</p>
			</div>
		</div>
		<div class="medium-4 cell">
			<div class="imatge-ventilacio">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/actius/bombetes-03.png" alt="Bombeta LED" class="responsive-img">
			</div>
			<div class="text-ventilacio">
				<p>Lámpara LED</p>
			</div>
		</div>
	</div>
	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<p>En el sector doméstico lo más habitual es encontrar lámparas de incandescencia, fluorescencia o LED. La tecnología LED está destinada a sustituir las otras por su mayor eficiencia y durabilidad. Las lámparas fluorescentes son componentes que pueden resultar nocivos para la salud, por lo tanto es otro punto a favor de la tecnología LED.</p>
				<p>En edificios de oficinas u otros usos que no sean el doméstico es habitual encontrar lámparas fluorescentes de tipo T8 o T5, lámparas de halogenuros metálicos y lámparas de vapor de sodio. En el caso de los fluorescentes existentes podemos encontrar que tengan diferentes tipos de balastos que condicionen las características de la instalación. El balasto es el componente que limita el consumo de corriente de la lámpara a sus parámetros óptimos. Desde el punto de vista de la eficiencia energética podemos diferenciar tres tipos de balastos: magnético estándar, magnético de bajas pérdidas y electrónico. De los tres, el electrónico es el balasto que permite ahorrar más energía, hasta un 25% respecto a un equipo magnético estándar. También permite alargar la vida de las lámparas hasta un 50%, hace que el encendido de la lámpara sea instantánea y evita el parpadeo de la luz. Por lo tanto un fluorescente con balasto electrónico será más eficiente y proporcionará más confort a los usuarios.</p>
			</div>
		</div>
	</div>
	<div class="grid-x">
		<div class="medium-4 cell">
			<div class="imatge-ventilacio">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/actius/llumeneres-01.png" alt="Il·luminació directa" class="responsive-img">
			</div>
			<div class="text-ventilacio">
				<p>Iluminación directa</p>
			</div>
		</div>
		<div class="medium-4 cell">
			<div class="imatge-ventilacio">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/actius/llumeneres-02.png" alt="Il·luminació semi-directa" class="responsive-img">
			</div>
			<div class="text-ventilacio">
				<p>Iluminación semi-directa</p>
			</div>
		</div>
		<div class="medium-4 cell">
			<div class="imatge-ventilacio">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/actius/llumeneres-03.png" alt="Il·luminació general difusa" class="responsive-img">
			</div>
			<div class="text-ventilacio">
				<p>Iluminación general difusa</p>
			</div>
		</div>
	</div>
	<div class="grid-x">
		<div class="medium-4 cell">
			<div class="imatge-ventilacio">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/actius/llumeneres-04.png" alt="Il·luminació directa-indirecta" class="responsive-img">
			</div>
			<div class="text-ventilacio">
				<p>Iluminación directa-indirecta</p>
			</div>
		</div>
		<div class="medium-4 cell">
			<div class="imatge-ventilacio">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/actius/llumeneres-05.png" alt="Il·luminació semi-indirecta" class="responsive-img">
			</div>
			<div class="text-ventilacio">
				<p>Iluminación semi-indirecta</p>
			</div>
		</div>
		<div class="medium-4 cell">
			<div class="imatge-ventilacio">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/actius/llumeneres-06.png" alt="Il·luminació indirecta" class="responsive-img">
			</div>
			<div class="text-ventilacio">
				<p>Iluminación indirecta</p>
			</div>
		</div>
	</div>
	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<p>El diseño de las luminarias influye mucho en el confort visual. Si la luminaria está mal diseñada nos obligará a utilizar lámparas de mayor potencia para evitar la fatiga visual o creará deslumbramientos a los usuarios.</p>
			</div>
		</div>
	</div>
				

</div>


<% end %>