<% if params[:locale] == 'ca' %>
<div class="container">

	<div class="grid-x">
		<div class="medium-12 cell">
			<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/passius_gran_ca.jpg" alt="Sistemes passius" class="responsive-img">	
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<p>El cos humà té una certa capacitat d'adaptació als canvis de l'entorn, però habitem zones del planeta tan diferents que resultaria impossible viure-hi sense la protecció dels edificis. Arreu del món hi trobem construccions adaptades al clima i els recursos que ofereix l’entorn per tal d’assolir un millor confort. Les solucions constructives depenen dels següents factors:
					<ul>
						<li>Les condicions del clima general de la zona i el microclima de l’entorn (especialment en entorns urbans).</li>
						<li>Les característiques físiques del solar (topografia, entorn natural/edificat, infrastructures, vegetació, aigua, ecosistema, etc.).</li>
						<li>De la correcta implantació de l’edifici (aprofitant les condicions beneficioses de l’ambient exterior i protegint-se de les que no ho son).</li>
					</ul>
				</p>
				<p>Les condicions de confort a l’hivern i a l’estiu són molt diferents a l’igual que ho són per climes humits o climes secs. Els paràmetres que s’hauran de controlar són: temperatura de sensació, moviment de l’aire, humitat de l’aire, qualitat de l’aire, nivell d’il·luminació, color de la llum i enlluernament. Per tant s’han de preveure estratègies per a cada una de les situacions.</p>
			</div>
			<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; margin-bottom: 40px; margin-top: 20px;} .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}</style><div class='embed-container'><iframe src="https://www.youtube.com/embed/3uNvXAC8_tg" frameborder="0" allowfullscreen></iframe></div>
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<h2>Orientació</h2>
				<div class="icona-passius">
					<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/passius/orientacio.png" alt="Orientació" class="responsive-img">	
				</div>
				<p>Si estem a l’hemisferi nord l’orientació ideal per a l’edifici acostuma a ser la sud. Quan parlem d’orientació estem parlant de la façana que té més obertures. Un edifici pot tenir la mateixa superfície de façana en altres direccions, però si la majoria d’obertures estan a la façana sud direm que té orientació sud.</p>
				<p>Durant l’hivern la façana sud és la que rep més radiació solar i a l’estiu, com que el Sol va alt, rep poca radiació. Tot i així també li tocarà el Sol, i és per això que resulta molt important tenir unes bones proteccions solars. Les façanes est i oest també han de quedar protegides de la radiació solar, però com que el Sol està molt més baix, és més complicat aturar-lo. Una possible opció és utilitzar lames verticals, però com que és una solució més complicada en principi és millor no tenir gaires obertures en aquestes direccions.</p>
				<p>Un altre element que condiciona l’orientació ideal de l’edifici és el vent. Si sabem que hi ha vents predominants en una altra direcció pot ser interessant aprofitar-los per refrescar millor la casa amb ventilació natural. Per tant quan pensem l’orientació de l’edifici hem de pensar com gestionarem la radiació solar i el vent.</p>
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/passius/poble.jpg" alt="Ombres entre edificis">
				<p class="peu-foto">En regions amb clima mediterrani és habitual veure com uns edificis fan ombra als altres. D'aquesta manera es limita la radiació solar que arriba a l'edifici sense renunciar a la ventilació.</p>
			</div>
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<h2>Forma i volum</h2>
				<p>El factor de forma és la relació entre la superfície d’envolupant tèrmica i el volum de l’edifici.</p>
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/passius/forma.png" alt="Forma i volum" class="responsive-img">
				<p>Fixeu-vos que en aquests dos casos tenim el mateix volum d’edifici però l’envolupant, o sigui les façanes, cobertes i terres que dónen a l’exterior, és molt més gran en el primer cas que en el segon.</p>
				<p>Quan més petit sigui el factor de forma menys pèrdues i guanys tindrem a través de l’envolupant de l’edifici. Tot i així en edificis d’habitatges no podem aspirar a tenir un factor de forma massa baix perquè això empitjorarà la ventilació i la il·luminació naturals. Hi haurà molts espais que quedaran lluny de les façanes.</p>
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/passius/hong_kong.jpg" alt="Alta densitat edificatòria" class="responsive-img">
				<p class="peu-foto">L'alta densitat edificatòria d'algunes regions del planeta, com en aquest cas Hong Kong, fa que es busqui el límit entre compacitat de l'edifici i confort de cada un dels habitatges.</p> 
			</div>

			<div class="paragraf-tema-clau">
				<h2>Aïllament tèrmic</h2>
				<div class="icona-passius">
					<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/passius/aillament.png" alt="Aïllament tèrmic" class="responsive-img">	
				</div>
				<p>Un bon aïllament tèrmic és vital per aconseguir reduir el consum d’energia dels edificis. Un edifici mal aïllat necessita més energia per mantenir la temperatura interior i es refreda més ràpidament quan se’n va la font de calor.</p> 
				<p>En climes càlids i temperats hi ha la creença que si un edifici té molt aïllament tèrmic hi haurà problemes de sobreescalfament a l’estiu. Això pot ser cert en determinats casos en que no hi hagi una bona ventilació als edificis. La clau és aïllar bé i al mateix temps assegurar que l’edifici té un bon sistema de ventilació. D’aquesta manera hi haurà molt confort tant a l’hivern com a l’estiu i el consum d’energia serà molt baix.</p>
				<p>En rehabilitació d’edificis sovint tindrem limitacions a l’hora d’aïllar-los correctament. L’estratègia preferible és aïllar-los per l’exterior, per tal d’eliminar el màxim de ponts tèrmics i aprofitar la inèrcia tèrmica dels tancaments. Com a opció més econòmica, si hi ha càmera d’aire, és omplir-la de material aïllant. Per últim també és possible aïllar per l’interior. En aquest cas, com que augmenten les possibilitats que hi hagi condensacions intersticials s’acostuma a col·locar una barrera de vapor a la cara calenta del tancament.</p>
				<p>En climes càlids és molt més important aïllar bé la coberta, que rep molta radiació solar a l’estiu, que la solera. De fet en alguns casos pot ser interessant no aïllar la solera si, després de fer els càlculs necessaris, veiem que la dissipació de calor que ens proporciona a l’estiu compensa la pèrdua de calor durant l’hivern. Les façanes i cobertes ventilades també són una molt bona estratègia d’estalvi energètic per evitar el sobreescalfament dels tancaments.</p>
				<p>Un pont tèrmic és una discontinuïtat en els nivells d’aïllament tèrmic dels tancaments. Poden ser linials i puntuals. Els que més afecten al comportament tèrmic de l’edifici són els linials, com per exemple la trobada d’un sostre amb una façana.</p> 
				<p>Cal procurar que hi hagi una continuitat total en l’aïllament de l’edifici per assegurar que tingui un bon comportament tèrmic. A més els ponts tèrmics poden ocasionar condensacions i per tant empitjorar la qualitat de l’aire interior.</p>
			</div>

			<div class="paragraf-tema-clau">
				<h2>Hermeticitat i ventilació</h2>
				<div class="icona-passius">
					<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/passius/ventilacio.png" alt="Ventilació" class="responsive-img">	
				</div>
				<p>Hi ha edificis que consumeixen grans quantitats d’energia tot i estar raonablement ben aïllats. La raó d’aquest malbaratament acostuma a ser un problema d’infiltracions d’aire. Un edifici de molt baix consum d’energia ha d’estar molt aïllat a nivell tèrmic i a nivell d’estanquitat a l’aire.</p>
				<p>L’estratègia de fer edificis molt hermètics per estalviar energia suposa un repte de salubritat. Mentre que en edificis antics amb moltes infiltracions difícilment hi havia problemes de qualitat de l’aire interior, en edificis molt hermètics cal assegurar la qualitat de l’aire amb un bon sistema de ventilació mecànica.</p>
				<p>La ventilació mecànica i la ventilació natural són perfectament compatibles, i en determinades èpoques de l’any tenir la possibilitat d’utilitzar ventilació natural en els edificis pot incrementar el confort i reduir la despesa energètica.</p> 
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/passius/casa_japo.jpg" alt="Ventilació en una casa japonesa" class="responsive-img">
				<p class="peu-foto">En climes molt calurosos i humits, com el tropical, la millor estratègia per millorar el confort és potenciar al màxim la ventilació dels espais. Aquesta casa tradicional japonesa prioritza el confort estival tot i que durant els mesos d'hivern difícilment podrà proporcionar confort als seus habitants.</p>
			</div>

			<div class="paragraf-tema-clau">
				<h2>Inèrcia tèrmica</h2>
				<div class="icona-passius">
					<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/passius/inercia.png" alt="Inèrcia tèrmica" class="responsive-img">	
				</div>
				<p>La inèrcia tèrmica és la capacitat d’un material per acumular i cedir calor. Un edifici lleuger tindrà poca inèrcia tèrmica, per tant quan canvia la temperatura exterior, per exemple entre el dia i la nit, també fluctua molt la temperatura interior. Si en canvi tenim elements com poden ser uns sostres pesants, poden actuar de reguladors tèrmics. Mentre fa calor durant el dia van absorbint part d’aquesta calor, per tant hi ha més confort a l’interior. Quan la temperatura baixa a la nit els sostres es van desprenent d’aquesta calor i així el dia següent en poden tornar a absorbir. </p>
				<p>En edificis molt ben aïllats, amb un bon control de la radiació solar i amb aire condicionat l’efecte de la inèrcia tèrmica és baix, per tant no sempre és necessari tenir una gran inèrcia tèrmica a l’edifici.</p>
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/passius/inercia_paret.jpg" alt="Inèrcia tèrmica de les parets de pedra" class="responsive-img">
				<p class="peu-foto">L'obertura de la finestra mostra el gruix real de la façana. Un dels  objectius d'aquest tipus de façanes és incrementar la inèrcia tèrmica de l'habitatge.</p>
			</div>

			<div class="paragraf-tema-clau">
				<h2>Obertures i proteccions solars</h2>
				<div class="icona-passius">
					<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/passius/obertures.png" alt="Obertures i proteccions solars" class="responsive-img">	
				</div>
				<p>Les finestres tenen un paper molt important en el funcionament tèrmic i confort lumínic dels edificis. Són elements de captació solar directa, de ventilació natural i d’entrada de llum, elements vitals per la bona salut de les persones.</p>
				<p>Són el punt feble de façanes i cobertes, normalment serà el punt on tindrem un coeficient de transmissió tèrmica més elevat de l’edifici. A més també acostuma a ser el punt més feble pel que fa a l’estanquitat de l’edifici i a l’estiu podem patir sobreescalfament si no s’acompanyen d’unes proteccions solars adequades. </p>
				<p>Avui en dia hi ha al mercat finestres que funcionen molt bé a nivell tèrmic i d’estanquitat. Això s’aconsegueix utilitzant vidres baix emissius, triple vidre, capes de control solar i anclatges múltiples. </p>
				<p>La millor protecció solar acostuma a ser un tendal, perquè queda separat de la superfície de la façana i no disminueix la ventilació. En cas de tenir persianes caldrà assegurar que no generen ponts tèrmics i infiltracions d’aire. Una bona solució és utilitzar lames orientables d’accionament motoritzat. Així no generen ponts tèrmics i no tenim problemes amb les infiltracions d’aire perquè s’evita la cinta de les persianes convencionals.</p>
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/passius/tendal.jpg" alt="Tendal vegetal" class="responsive-img">	
				<p class="peu-foto">Els tendals vegetals, com aquest de bruc, funcionen molt bé a nivell tèrmic pel fet de deixar passar l'aire entre els branquillons.</p>
			</div>
		</div>
	</div>
</div>


<% elsif params[:locale] == 'es' %>
<div class="container">

	<div class="grid-x">
		<div class="medium-12 cell">
			<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/passius_gran_es.jpg" alt="Sistemes passius" class="responsive-img">	
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<p>El cuerpo humano tiene una cierta capacidad de adaptación a los cambios del entorno, pero habitamos zonas del planeta tan diferentes que resultaría imposible vivir sin la protección de los edificios. En todo el mundo encontramos construcciones adaptadas al clima y los recursos que ofrece el entorno para lograr un mejor confort. Las soluciones constructivas dependen de los siguientes factores:
					<ul>
						<li>Las condiciones del clima general de la zona y el microclima del entorno (especialmente en entornos urbanos).</li>
						<li>Las características físicas del solar (topografía, entorno natural/edificado, infraestructuras, vegetación, agua, ecosistema, etc.).</li>
						<li>De la correcta implantación del edificio (aprovechando las condiciones beneficiosas del ambiente exterior y protegiéndose de las que no lo son).</li>
					</ul>
				</p>
				<p>Las condiciones de confort en invierno y en verano son muy diferentes al igual que lo son para climas húmedos o climas secos. Los parámetros que se deberán controlar son: temperatura de sensación, movimiento del aire, humedad del aire, calidad del aire, nivel de iluminación, color de la luz y deslumbramiento. Por lo tanto se deben prever estrategias para cada una de las situaciones.</p>
			</div>
			<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; margin-bottom: 40px; margin-top: 20px;} .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}</style><div class='embed-container'><iframe src="https://www.youtube.com/embed/wyDjNewu_h8" frameborder="0" allowfullscreen></iframe></div>
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<h2>Orientación</h2>
				<div class="icona-passius">
					<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/passius/orientacio.png" alt="Orientació" class="responsive-img">	
				</div>
				<p>Si estamos en el hemisferio norte la orientación ideal para el edificio suele ser la sur. Cuando hablamos de orientación estamos hablando de la fachada que tiene más aberturas. Un edificio puede tener la misma superficie de fachada en otras direcciones, pero si la mayoría de aberturas están en la fachada sur diremos que tiene orientación sur.</p>
				<p>Durante el invierno la fachada sur es la que recibe más radiación solar y en verano, como el Sol va alto, recibe poca radiación. De todas maneras también le tocará el Sol, y es por ello que resulta muy importante tener unas buenas protecciones solares. Las fachadas este y oeste también deben quedar protegidas de la radiación solar, pero como el Sol está mucho más bajo, es más complicado detenerlo. Una posible opción es utilizar lamas verticales, pero como es una solución más complicada en principio es mejor no tener demasiadas aberturas en estas direcciones.</p>
				<p>Otro elemento que condiciona la orientación ideal del edificio es el viento. Si sabemos que hay vientos predominantes en otra dirección puede ser interesante aprovecharlos para refrescar mejor la casa con ventilación natural. Por lo tanto cuando pensamos la orientación del edificio debemos pensar como gestionaremos la radiación solar y el viento.</p>
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/passius/poble.jpg" alt="Sombras entre edificios" class="responsive-img">
				<p class="peu-foto">En regiones con clima mediterráneo es habitual ver como unos edificios hacen sombra a los demás. De esta manera se limita la radiación solar que llega al edificio sin renunciar a la ventilación.</p>
			</div>

			<div class="paragraf-tema-clau">
				<h2>Forma y volúmen</h2>
				<p>El factor de forma es la relación entre la superficie de envolvente térmica y el volumen del edificio. </p>
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/passius/forma.png" alt="Forma i volum" class="responsive-img">
				<p>En estos dos casos tenemos el mismo volumen de edificio pero la envolvente, o sea las fachadas, cubiertas y suelos que dan al exterior, es mucho mayor en el primer caso que en el segundo.</p>
				<p>Cuando menor sea el factor de forma menos pérdidas y ganancias tendremos a través de la envolvente del edificio. Aún así en edificios de viviendas no podemos aspirar a tener un factor de forma demasiado bajo porque esto empeorará la ventilación y la iluminación naturales. Habrá muchos espacios que quedarán lejos de las fachadas.</p>
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/passius/hong_kong.jpg" alt="Alta densitat edificatòria" class="responsive-img">
				<p class="peu-foto">La alta densidad edificatoria de algunas regiones del planeta, como en este caso Hong Kong, hace que se busque el límite entre compacidad del edificio y confort de cada una de las viviendas.</p> 
			</div>

			<div class="paragraf-tema-clau">
				<h2>Aislamiento térmico</h2>
				<div class="icona-passius">
					<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/passius/aillament.png" alt="Aïllament tèrmic" class="responsive-img">	
				</div>
				<p>Un buen aislamiento térmico es vital para conseguir reducir el consumo de energía de los edificios. Un edificio mal aislado necesita más energía para mantener la temperatura interior y se enfría más rápidamente cuando desaparece la fuente de calor.</p> 
				<p>En climas cálidos y templados existe la creencia de que si un edificio tiene mucho aislamiento térmico habrá problemas de sobrecalentamiento en verano. Esto puede ser cierto en determinados casos en que no haya una buena ventilación en los edificios. La clave es aislar bien y al mismo tiempo asegurar que el edificio tiene un buen sistema de ventilación. De esta manera habrá mucho confort tanto en invierno como en verano y el consumo de energía será muy bajo.</p>
				<p>En rehabilitación de edificios a menudo tendremos limitaciones a la hora de aislar correctamente. La estrategia preferible es aislarlos por el exterior, con el fin de eliminar el máximo de puentes térmicos y aprovechar la inercia térmica de los cerramientos. Como opción más económica, si hay cámara de aire, es llenarla de material aislante. Por último también es posible aislar por el interior. En este caso aumentan las posibilidades de que haya condensaciones intersticiales. Por ello se suele colocar una barrera de vapor en la cara caliente del cerramiento.</p>
				<p>En climas cálidos es mucho más importante aislar bien la cubierta, que recibe mucha radiación solar en verano, que la solera. De hecho en algunos casos puede ser interesante no aislar la solera si, después de hacer los cálculos necesarios, vemos que la disipación de calor que nos proporciona en verano compensa la pérdida de calor durante el invierno. Las fachadas y cubiertas ventiladas también son una muy buena estrategia de ahorro energético para evitar el sobrecalentamiento de los cerramientos.</p>
				<p>Un puente térmico es una discontinuidad en los niveles de aislamiento térmico de los cerramientos. Pueden ser lineales y puntuales. Los que más afectan al comportamiento térmico del edificio son los lineales, como por ejemplo el encuentro de un techo con una fachada.</p> 
				<p>Hay que procurar que haya una continuidad total en el aislamiento del edificio para asegurar que tenga un buen comportamiento térmico. Además los puentes térmicos pueden ocasionar condensaciones y por tanto empeorar la calidad del aire interior.</p>
			</div>

			<div class="paragraf-tema-clau">
				<h2>Hermeticidad y ventilación</h2>
				<div class="icona-passius">
					<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/passius/ventilacio.png" alt="Ventilació" class="responsive-img">	
				</div>
				<p>Hay edificios que consumen grandes cantidades de energía a pesar de estar razonablemente bien aislados. La razón de este derroche suele ser un problema de infiltraciones de aire. Un edificio de muy bajo consumo de energía debe estar muy aislado a nivel térmico ya nivel de estanqueidad al aire.</p>
				<p>La estrategia de hacer edificios muy herméticos para ahorrar energía supone un reto de salubridad. Mientras que en edificios antiguos con muchas infiltraciones difícilmente había problemas de calidad del aire interior, en edificios muy herméticos hay que asegurar la calidad del aire con un buen sistema de ventilación mecánica.</p>
				<p>La ventilación mecánica y la ventilación natural son perfectamente compatibles, y en determinadas épocas del año tener la posibilidad de utilizar ventilación natural en los edificios puede incrementar el confort y reducir el gasto energético.</p> 
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/passius/casa_japo.jpg" alt="Ventilación en una casa japonesa" class="responsive-img">
				<p class="peu-foto">En climas muy calurosos y húmedos, como el tropical, la mejor estrategia para mejorar el confort es potenciar al máximo la ventilación de los espacios. Esta casa tradicional japonesa prioriza el confort estival aunque durante los meses de invierno difícilmente podrá proporcionar confort a sus habitantes.</p>
			</div>

			<div class="paragraf-tema-clau">
				<h2>Inercia térmica</h2>
				<div class="icona-passius">
					<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/passius/inercia.png" alt="Inèrcia tèrmica" class="responsive-img">	
				</div>
				<p>La inercia térmica es la capacidad de un material para acumular y ceder calor. Un edificio ligero tendrá poca inercia térmica, por lo tanto cuando cambia la temperatura exterior, por ejemplo entre el día y la noche, también fluctúa mucho la temperatura interior. Si en cambio tenemos elementos como pueden ser unos techos pesados, pueden actuar de reguladores térmicos. Mientras hace calor durante el día van absorbiendo parte de este calor, por lo tanto hay más confort en el interior. Cuando la temperatura baja por la noche los techos se van desprendiendo de este calor y así el día siguiente pueden volver a absorber.</p>
				<p>En edificios muy bien aislados, con un buen control de la radiación solar y con aire acondicionado al efecto de la inercia térmica es bajo, por lo que no siempre es necesario tener una gran inercia térmica en el edificio.</p>
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/passius/inercia_paret.jpg" alt="Inercia térmica de las paredes de piedra" class="responsive-img">
				<p class="peu-foto">El hueco de la ventana muestra el grosor real de la fachada. Uno de los objetivos de este tipo de fachadas es incrementar la inercia térmica de la vivienda.</p>
			</div>

			<div class="paragraf-tema-clau">
				<h2>Huecos y protecciones solares</h2>
				<div class="icona-passius">
					<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/passius/obertures.png" alt="Obertures i proteccions solars" class="responsive-img">	
				</div>
				<p>Las ventanas tienen un papel muy importante en el funcionamiento térmico y confort lumínico de los edificios. Son elementos de captación solar directa, de ventilación natural y de entrada de luz, elementos vitales para la buena salud de las personas.</p>
				<p>Son el punto débil de fachadas y cubiertas, normalmente será el punto donde tendremos un coeficiente de transmisión térmica más elevado del edificio. Además también suele ser el punto más débil en cuanto a la estanqueidad del edificio y en verano podemos sufrir sobrecalentamiento si no se acompañan de unas protecciones solares adecuadas.</p>
				<p>Hoy en día existen en el mercado ventanas que funcionan muy bien a nivel térmico y de estanqueidad. Esto se consigue utilizando vidrios bajo emisivos, triple vidrio, capas de control solar y anclajes múltiples.</p>
				<p>La mejor protección solar suele ser un toldo, porque queda separado de la superficie de la fachada y no disminuye la ventilación. En caso de tener persianas habrá que asegurar que no generan puentes térmicos e infiltraciones de aire. Una buena solución es utilizar lamas orientables de accionamiento motorizado. Así no generan puentes térmicos y no tenemos problemas con las infiltraciones de aire porque se evita la cinta de las persianas convencionales.</p>
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/passius/tendal.jpg" alt="Toldo vegetal" class="responsive-img">	
				<p class="peu-foto">Los toldos vegetales, como este de brezo, funcionan muy bien a nivel térmico por el hecho de dejar pasar el aire entre las ramas.</p>
			</div>
		</div>
	</div>
</div>

<% else %>
<div class="container">

	<div class="grid-x">
		<div class="medium-12 cell">
			<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/passius_gran_es.jpg" alt="Sistemes passius" class="responsive-img">	
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<p>The human body has a certain capacity of adaptation to environmental changes, but, since we live in areas of the planet that are so different, it would be impossible to live without  buildings protection. Across the globe, there are constructions adapted to different climates and resources offered by the environment in order to achieve a better comfort. Constructive solutions depend on the following factors:
					<ul>
						<li>The general climate conditions of the area and the microclimate of the environment (especially as for urban environment).</li>
						<li>The physical characteristics of the site (topography, natural/built environment, infrastructures, vegetation, water, ecosystem, etc.).</li>
						<li>The correct building establishment (taking advantage of the beneficial conditions of the outdoor environment and protecting them against the not beneficial ones).</li>
					</ul>
				</p>
				<p>The comfort conditions in winter and summer are different, as well as in humid and dry climates. The parameters to be controlled are: temperature sensation, air movement, air humidity, air quality, illumination level and light colour. Therefore, different strategies have to be foreseen for each situation.</p>
			</div>
			<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; margin-bottom: 40px; margin-top: 20px;} .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}</style><div class='embed-container'><iframe src="https://www.youtube.com/embed/wyDjNewu_h8" frameborder="0" allowfullscreen></iframe></div>
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<h2>Orientation</h2>
				<div class="icona-passius">
					<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/passius/orientacio.png" alt="Orientació" class="responsive-img">	
				</div>
				<p>If we are located in the northern hemisphere, the ideal building orientation tends to be the south. When talking about orientation, we are referring to the façade that has more openings. A building can have the same façade surface in other directions, but if the majority of the openings are in the southern façade, the orientation considered would be the south.</p>
				<p>During winter, the southern façade is the one that receives more solar radiation and in summer, due to the sun goes higher, it receives less. However, it still receives solar radiation and that is why is so important to have adequate solar protections. Eastern and western façades also have to be protected from solar radiation, but it is more difficult to do it since the sun goes less high. A possible option is to use vertical slats, but as it is a more complicated solution, it is better not to have too many openings in these directions.</p>
				<p>Another element that determines the ideal orientation of the building is the wind. If it is known that there are prevailing winds in other directions, taking advantage of them for cooling the house with natural ventilation would be a good idea. Therefore, when thinking the building’s orientation, it is essential to think how to manage the solar radiation and wind.</p>
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/passius/poble.jpg" alt="Sombras entre edificios" class="responsive-img">
				<p class="peu-foto">En regiones con clima mediterráneo es habitual ver como unos edificios hacen sombra a los demás. De esta manera se limita la radiación solar que llega al edificio sin renunciar a la ventilación.</p>
			</div>

			<div class="paragraf-tema-clau">
				<h2>Shape and volume</h2>
				<p>The shape factor is the relation between the surface of the thermal envelope and the volume of the building.</p>
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/passius/forma.png" alt="Forma i volum" class="responsive-img">
				<p>In both cases, there is the same volume but the envelope (façades, roofs and floor) is higher in the first case.</p>
				<p>The smaller the shape factor, the lesser losses and gains will be produced through the envelope of the building. Even so, in residential buildings it can not be aspired to have a too low shape factor because natural ventilation and lighting will get worst due to there will be many spaces far from the façades.</p>
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/passius/hong_kong.jpg" alt="Alta densitat edificatòria" class="responsive-img">
				<p class="peu-foto">La alta densidad edificatoria de algunas regiones del planeta, como en este caso Hong Kong, hace que se busque el límite entre compacidad del edificio y confort de cada una de las viviendas.</p> 
			</div>

			<div class="paragraf-tema-clau">
				<h2>Thermal insulation</h2>
				<div class="icona-passius">
					<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/passius/aillament.png" alt="Aïllament tèrmic" class="responsive-img">	
				</div>
				<p>An optimal thermal insulation is fundamental to reduce the energy consumption of buildings. A poorly insulated building needs more energy to keep the indoor temperature and gets colder faster when there is not any heat source.</p> 
				<p>In warm and temperate climates, it is believed that if a building has too much thermal insulation, there will be overheating problems during the summer. This can happen when there is poor ventilation in buildings. Thus, the main key is to insulate them correctly at the same time that ensuring a correct ventilation system in the building. Then, the comfort will be high both in winter and summer and the energy consumption very low.</p>
				<p>In building restoration, we often have limitations when insulating them correctly. The best strategy is to insulate the external part of the building to eliminate the maximum thermal bridges and take advantage of the thermal inertia of the enclosures. The most economical option, if there is an air chamber, is to fill it with insulating material. Finally, it is also possible to do an indoor insulation. In this case, as the possibilities of interstitial condensation occurrence increase, a vapour barrier is usually placed in the hot side of the enclosure. </p>
				<p>In warm climates, it is important to insulate well the roof, which receives more solar radiation in summer, rather than the screed. In fact, in some cases it could be interesting not to insulate the screed if, after making the suitable calculations, we see that the heat dissipation from the summer compensates the heat loss during winter. Ventilated façades and roofs are also a very good energy saving strategies to avoid the overheating of the enclosures.</p>
				<p>A thermal bridge is a discontinuity in the levels of thermal insulation of the enclosures. They can be lineal or punctual. The ones that affect the most to the thermal performance of the building are the lineal. For instance, the encounter between a roof and a façade.</p> 
				<p>It is important to make sure that there is a total continuity in the building insulation to assure a correct thermal performance. Moreover, thermal bridges can cause condensations deteriorating the indoor air quality. </p>
			</div>

			<div class="paragraf-tema-clau">
				<h2>Air tightness and ventilation</h2>
				<div class="icona-passius">
					<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/passius/ventilacio.png" alt="Ventilació" class="responsive-img">	
				</div>
				<p>There are buildings that consume large amounts of energy even being reasonably well insulated. The reason of this waste is often an air infiltration problem. A low energy consumption building has to be very well insulated regarding the thermal conditions and air stagnation. </p>
				<p>The strategy of making very tight buildings to save energy has become a healthiness challenge. While in old buildings with a lot of infiltrations there were almost no indoor air quality problems, in too tight buildings a mechanical ventilation system has to be installed to assure a good air quality.</p>
				<p>Mechanical and natural ventilation are perfectly compatible and, at certain times of the year, by using natural ventilation in buildings, an increase comfort and reduction of the energy expenditure can be achieved. </p> 
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/passius/casa_japo.jpg" alt="Ventilación en una casa japonesa" class="responsive-img">
				<p class="peu-foto">En climas muy calurosos y húmedos, como el tropical, la mejor estrategia para mejorar el confort es potenciar al máximo la ventilación de los espacios. Esta casa tradicional japonesa prioriza el confort estival aunque durante los meses de invierno difícilmente podrá proporcionar confort a sus habitantes.</p>
			</div>

			<div class="paragraf-tema-clau">
				<h2>Thermal inertia</h2>
				<div class="icona-passius">
					<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/passius/inercia.png" alt="Inèrcia tèrmica" class="responsive-img">	
				</div>
				<p>Thermal inertia is the capacity of a material to accumulate and transfer heat. A lightweight building will have little thermal inertia. Therefore, when the outdoor temperature changes, for example between day and night, the indoor temperature also changes. If, in contrast, we have elements such as heavy roofs, they can act as thermal regulators. This is because when it is hot during the day, they absorb part of the heat producing more indoor comfort. When the temperature drops at night, roofs emit that heat and the following day they can absorb heat again. </p>
				<p>In very well insulated buildings, with a correct control of the solar radiation and with air conditioning, the thermal inertia effect is low. Hence, not always is necessary to have a high thermal inertia in buildings. </p>
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/passius/inercia_paret.jpg" alt="Inercia térmica de las paredes de piedra" class="responsive-img">
				<p class="peu-foto">El hueco de la ventana muestra el grosor real de la fachada. Uno de los objetivos de este tipo de fachadas es incrementar la inercia térmica de la vivienda.</p>
			</div>

			<div class="paragraf-tema-clau">
				<h2>Openings and solar protections</h2>
				<div class="icona-passius">
					<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/passius/obertures.png" alt="Obertures i proteccions solars" class="responsive-img">	
				</div>
				<p>Windows play an important role in the thermal operation and lighting comfort of buildings. They are elements of direct solar radiation capture, of natural ventilation and light entrance, which are vital for the human health.</p>
				<p>Nevertheless, they are the weakest point of the façades and roofs, usually the point with the highest coefficient of thermal transmission of the building. In addition, is also the weakest point regarding the standstill of the building and in summer can produce overheating if they are not well protected from the sun.</p>
				<p>Nowadays, there are windows that work very well in regards to the thermal and standstill conditions. This can be achieved by using low-emissive glasses, triple-glazed, solar control layers and multiple anchors.</p>
				<p>The best sun protection tends to be an awning, because it is separated from the façades surface and does not affect ventilation. In case of having window blinds, it would be necessary to ensure that they do not generate thermal bridges and air infiltrations. A good solution is the use of motorised adjustable slats. Then, there is neither generation of thermal bridges nor problems of air infiltrations because the use of the belt of the conventional windows blinds is avoided.</p>
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/passius/tendal.jpg" alt="Toldo vegetal" class="responsive-img">	
				<p class="peu-foto">Los toldos vegetales, como este de brezo, funcionan muy bien a nivel térmico por el hecho de dejar pasar el aire entre las ramas.</p>
			</div>
		</div>
	</div>
</div>

<% end %>