<% if params[:locale] == 'ca' %>
<div class="container">

	<div class="grid-x">
		<div class="medium-12 cell">
			<img src="https://csostenible.s3-eu-west-1.amazonaws.com/imatges/temes_clau/infraestructura_verda_gran_ca.jpg" alt="Infraestructura verda" class="responsive-img">	
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<p>En els darrers anys, s'han definit les "solucions basades en la natura" com a solucions inspirades i recolzades per la natura, que proporcionen simultàniament beneficis ambientals, socials i econòmics i conseqüentment contribueixen de forma activa a la construcció de la sostenibilitat i la resiliència. Aquestes solucions aporten diverses característiques i processos naturals a les ciutats i als paisatges, mitjançant intervencions adaptades localment, de forma sistèmica i eficient amb l'ús dels recursos. Així, les solucions basades en la natura permeten la prestació de múltiples serveis ecosistèmics i donen suport a la biodiversitat.</p>
				<p>D’acord amb aquesta idea, en l’àmbit urbà la “naturació” de les ciutats, fonamentalment mitjançant de la incorporació de vegetació, ha estat una de les prioritats de les polítiques urbanístiques en la implantació de les solucions basades en la natura.</p>
				<p>La “infraestructura verda urbana” constitueix tot un conjunt d’elements que permeten integrar vegetació en l’entorn urbà. En els darrers anys, als elements tradicionals de jardineria com els parcs urbans, parterres i arbrat d’alineació, se’ls han afegit aquells sistemes constructius que fan possible la integració de vegetació en l’envolupant dels edificis. </p>
				<p>Les “cobertes i façanes enjardinades” dels edificis contribueixen a la millora del medi ambient urbà proveint múltiples beneficis, especialment en aquells indrets de major densitat edificada en els que la possibilitat d’incorporar enjardinaments tradicionals és inviable.</p>
				<p>Essent el medi urbà molt agressiu, degut especialment a les altes temperatures i la pol·lució, el disseny d’aquests sistemes ha anat evolucionant en els darrers anys fins assolir alts nivells de tecnificació, donant lloc a veritables sistemes constructius que garanteixen la supervivència de les plantes. </p>
				<p>A més a més, essent punta de llança de l’aplicació de la sostenibilitat en el sector de l’edificació, els dissenys actuals estan tendint cap al compliment dels criteris de sostenibilitat exigits a qualsevol altre sistema constructiu pel que fa especialment als materials emprats i el consum d’aigua.</p>
				<p>Així doncs, tots els tècnics involucrats en el seu cicle de vida, des de les fases de disseny arquitectònic, a la seva execució i al seu manteniment durant la fase d’ús, han de ser perfectament coneixedors de tots els condicionants tècnics i requisits de qualitat que han de garantir l’èxit del seu ús. </p>
			</div>

			<div class="paragraf-tema-clau">
				<h2>Serveis ecosistèmics en l'entorn urbà</h2>
				<p>La societat està inevitablement tendint cap a un model urbà, de tal manera que es preveu que per a l’any 2030 el 70% de la població mundial sigui urbana. </p>
				<p>En aquest context, els auguris de ciutats sostenibles i resilients que garanteixin uns adequats nivells de qualitat de vida passen inevitablement per la integració de vegetació i les solucions basades en la natura que permetin la provisió de serveis ecosistèmics en aquests nous entorns urbans. Aquests serveis o beneficis directament relacionats amb les cobertes i façanes enjardinades han estat extensament estudiats i científicament demostrats en els darrers anys, i es poden agrupar en dos escales d’actuació.</p>
			</div>
		</div>
	</div>

	<div class="grid-x grid-margin-x">
		<div class="medium-4 medium-offset-2 cell">
			<div class="imatge-infraestructura-verda">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/infraestructura_verda/edifici.png" alt="Edifici" class="responsive-img">
			</div>
			<div class="text-infraestructura-verda">
				<h3 class="subtitol-materials">Beneficis per l'edifici</h3>
				<ul>
					<li>Protecció dels materials de l’envolupant</li>
					<li>Regulació tèrmica i estalvi d'energia</li>
					<li>Aïllament acústic</li>
					<li>Millora estètica i revalorització de la propietat</li>
					<li>Producció d'aliments</li>
				</ul>
			</div>
		</div>
		<div class="medium-4 cell">
			<div class="imatge-infraestructura-verda">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/infraestructura_verda/ciutat.png" alt="Edifici" class="responsive-img">
			</div>
			<div class="text-infraestructura-verda">
				<h3 class="subtitol-materials">Beneficis per la ciutat</h3>
				<ul>
					<li>Reducció de l'efecte “Illa de Calor Urbana”</li>
					<li>Control i millora del drenatge urbà</li>
					<li>Captura de CO2 i de la pol·lució</li>
					<li>Suport a la biodiversitat</li>
					<li>Efectes psicològics positius per contacte amb la natura</li>
					<li>Serveis educatius i de cultura</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<h2>Cobertes enjardinades</h2>
				<h3>Estructura</h3>
				<p>Les cobertes enjardinades estan formades per una estructura de capes que obeeix a tres funcions fonamentals:</p>
				<ul>
					<li>Garantir la protecció de l’edifici.</li>
					<li>Garantir el bon desenvolupament de la vegetació.</li>
					<li>Maximització dels serveis ecosistèmics.</li>
				</ul>
				<p>En ordre descendent les capes més habituals són, la capa de vegetació, la capa de substrat, la capa de filtre, la capa de drenatge, la capa de protecció i de retenció d'aigua i finalment la capa anti-arrels i membrana d'impermeabilització. En la Taula 1 es recullen els materials més habituals i la funció de cadascuna d’aquestes capes.</p>
			</div>
		</div>
	</div>

	<div class="grid-x grid-margin-x">
		<div class="medium-8 medium-offset-2 cell">
			<p>Taula 1. Descripció de les capes fonamentals de les cobertes enjardinades</p>
			<table>
				<tr>
					<th>Capa</th>
					<th>Funció</th>
					<th>Material</th>
				</tr>
				<tr>
					<td>1. Vegetació</td>
					<td>Provisió dels serveis ecosistèmics en l’entorn urbà (múltiples beneficis a escala d’edifici i de ciutat)</td>
					<td>Extensiva: Suculentes i herbàcies<br/>Intensiva: Qualsevol</td>
				</tr>
				<tr>
					<td>2. Substrat</td>
					<td>Suport físic per a la vegetació. Provisió d'aigua i nutrients. oxigenació</td>
					<td>Sòl natural <br/>Substrat de jardineria <br/>Llana de roca mineral (fertirrigació)</td>
				</tr>
				<tr>
					<td>3. Filtre</td>
					<td>Permet el pas de l'aigua però no de partícules sòlides</td>
					<td>Geotèxtil de polièster, polipropilè, etc.</td>
				</tr>
				<tr>
					<td>4. Drenatge</td>
					<td>Emmagatzematge d'aigua / drenatge de l'aigua sobrant / Oxigenació</td>
					<td>Tauler alveolar de polietilè, polipropilè, poliestirè, etc. <br/>Materials petris porosos</td>
				</tr>
				<tr>
					<td>5. Protecció</td>
					<td>Protecció mecànica de les capes inferiors / Emmagatzematge d'aigua</td>
					<td>Geotèxtil de polièster, polipropilè, etc.</td>
				</tr>
				<tr>
					<td>6. Impermeabilització / anti-arrels </td>
					<td>Protecció mecànica de les capes inferiors / Impermeabilització de l'edifici</td>
					<td>PVC, membranes asfàltiques o bituminoses, polietilè, etc. <br/>(Millorades amb additius anti-arrels, reforçades o duplicades)</td>
				</tr>
			</table>

			<br/>

			<img src="https://csostenible.s3-eu-west-1.amazonaws.com/imatges/temes_clau/infraestructura_verda/capes_coberta_verda.gif" alt="Capes coberta verda">
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<h3>Classificació</h3>
				<p>D’acord a l’estructura anteriorment descrita, i en funció de la tipologia de vegetació que es vol implementar i conseqüentment el règim de manteniment que cal establir, les cobertes enjardinades es poden classificar en tres tipus bàsics que són: les extensives, semi-intensives i intensives, essent les diferencies fonamentals les resumides en la Taula 2.</p>
			</div>
		</div>
	</div>

	<div class="grid-x grid-margin-x">
		<div class="medium-8 medium-offset-2 cell">
			<p>Taula 2. Classificació de les cobertes enjardinades</p>
			<table>
				<tr>
					<th></th>
					<th>Extensiva</th>
					<th>Semi-intensiva</th>
					<th>Intensiva</th>
				</tr>
				<tr>
					<td>Pes màxim saturada d'aigua</td>
					<td>50-150 Kg/m<sup>2</sup></td>
					<td>120-350 Kg/m<sup>2</sup></td>
					<td>>350 Kg/m<sup>2</sup></td>
				</tr>
				<tr>
					<td>Gruix de la capa de substrat</td>
					<td>6-20 cm</td>
					<td>10-25 cm</td>
					<td>>25 cm</td>
				</tr>
				<tr>
					<td>Tipus de vegetació</td>
					<td>Suculentes i herbàcies</td>
					<td>Herbàcies i arbustives</td>
					<td>Herbàcies, arbustives i arbres</td>
				</tr>
				<tr>
					<td>Pendent</td>
					<td>< 100% </td>
					<td>< 20%</td>
					<td>< 5%</td>
				</tr>
				<tr>
					<td>Reg</td>
					<td>Mai o ocasionalment </td>
					<td>Periòdicament</td>
					<td>Regularment</td>
				</tr>
				<tr>
					<td>Manteniment</td>
					<td>Baix</td>
					<td>Moderat</td>
					<td>Alt</td>
				</tr>
				<tr>
					<td>Cost</td>
					<td>Baix</td>
					<td>Moderat</td>
					<td>Alt</td>
				</tr>
				<tr>
					<td>Ús</td>
					<td>Només accessible per a manteniment</td>
					<td>Àrees de vianants d'ús limitat</td>
					<td>Àrees de vianants i d'esbarjo</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<h3>Variacions</h3>
				<p>A partir d’aquesta estructura bàsica, es poden trobar variants en les que algunes de les capes poden canviar lleugerament, sempre garantint la doble funció, per tal de incorporar alguna funcionalitat extra.</p>
				<p>Així, es poden trobar sistemes mitjançant mòduls pre-cultivats que permeten un muntatge i desmuntatge dels mòduls de forma individual, alguns d’ells incorporant el sistema de reg integrat. Aquesta adaptació pretén facilitar el cultiu, que té lloc en el viver i minimitzar el temps d’instal·lació i substitució dels mòduls.</p>
				<p>Una altra variació són les cobertes enjardinades que generen una capa d’emmagatzematge d’aigua anomenada “aljub”, la qual es forma mitjançant la utilització de suports que permeten elevar les capes superiors a mode d’un terra tècnic, creant la capa de dipòsit d’aigua que estarà disponible per a les plantes durant els períodes de sequera.</p>
				<p>Finalment, la tercera i més recent variació, és la utilització de capes de llana de roca mineral en substitució de la capa de substrat, tot generant una coberta sense substrat, que té com a principal objectiu maximitzar la retenció d’aigua d’escorrentia durant els esdeveniments de pluja.</p>
			</div>
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<h2>Façanes enjardinades</h2>
				<p>Els sistemes verticals d’enjardinament per a edificis es poden classificar en dos grans grups, les façanes enjardinades, que engloben aquells sistemes en els que plantes enfiladisses o arbustos de port penjant tendeixen a cobrir una àrea important de la façana, i els murs enjardinats o mur vius, en els que una estructura lleugera basada en capes recobreix la paret de façana permetent suportar diferent tipus de plantes herbàcies i arbustives.</p>
				<p>En la Taula 3 es resumeixen les diferents tipologies de sistemes verticals d’enjardinament d’edificis, així com les seves principals característiques.</p>
				<p>Les façanes enjardinades es poden classificar en tres tipologies. D’una banda les façanes enjardinades tradicionals en els que plantes enfiladisses auto-portants, normalment plantades directament a terra, s’enfilen per la superfície de la façana de l’edifici emprant en mateix material de façana com a suport. En una versió contemporània d’aquestes primeres, en les façanes enjardinades de doble pell s’instal·la una estructura lleugera, per exemple cales o malles, que permeten a les plantes enfiladisses crear una cortina vegetal separada de la paret de façana. Finalment, es podrien incloure en aquest grup, les jardineres perimetrals que formant part de la composició de la façana de l’edifici permeten plantar arbustos de tota mena, alguns d’ells amb port penjant, tot creant cintes verdes i o cortines verdes en la façana.</p>
				<p>Pel que fa als murs enjardinats o murs vius, aquests fonamentalment es subdivideixen en dos gran tipologies. La primera correspon a aquells sistemes que utilitzen feltres geotèxtils continus, ancorats a la façana, on s’allotgen les plantes en petites butxaques realitzades a la capa més externa i que es basen en tecnologies hidropòniques de fertirrigació. La segona tipologia, engloba aquells sistemes que utilitzen mòduls, normalment pre-cultivats, que es fixen en un suport vertical ancorat a la façana de l'edifici. Els mòduls, sovint de plàstic, es farceixen de substrat lleuger a base de torba, fibra de coco, etc. Que proporciona suport físic i nutrients a les plantes.</p>

			</div>
		</div>
	</div>

	<div class="grid-x grid-margin-x">
		<div class="medium-8 medium-offset-2 cell">
			<p>Taula 3. Classificació dels sistemes verticals d’enjardinament d’edificis i les seves principals característiques</p>
			<table class="tg">
				<thead>
				  <tr>
				    <th colspan="2" rowspan="2">Sistemes d’enjardinament vertical d’edificis</th>
				    <th colspan="4">Capes principals</th>
				    <th>Manteniment</th>
				  </tr>
				  <tr>
				    <td>Estructura de suport</td>
				    <td>Capa d’aire</td>
				    <td>Substrat</td>
				    <td>Vegetació</td>
				    <td></td>
				  </tr>
				</thead>
				<tbody>
				  <tr>
				    <td rowspan="3">Façanes enjardinades</td>
				    <td>Tradicional </td>
				    <td>Sense suport, directament sobra la paret de façana</td>
				    <td>No</td>
				    <td>No</td>
				    <td>Plantes enfiladisses autoportants</td>
				    <td>Extensiu</td>
				  </tr>
				  <tr>
				    <td>Doble pell </td>
				    <td>Molt lleugera: cables, males o enreixats</td>
				    <td>Si, normalment obert</td>
				    <td>No</td>
				    <td>Plantes enfiladisses</td>
				    <td>Extensiu</td>
				  </tr>
				  <tr>
				    <td>Jardineres perimetrals</td>
				    <td>Jardineres</td>
				    <td>Si, normalment obert</td>
				    <td>Si, a les jardineres</td>
				    <td>Enfiladisses i arbustives</td>
				    <td>Intensiu</td>
				  </tr>
				  <tr>
				    <td rowspan="2">Murs enjardinats o murs vius</td>
				    <td>Geotèxtil i hidropònic</td>
				    <td>Feltres geotèxtils sostinguts per estructures lleugeres ancorades a la façana de l'edifici</td>
				    <td>No, o en l'espai del marc</td>
				    <td>No, o dins de les butxaques</td>
				    <td>Enfiladisses i arbustives</td>
				    <td>Intensiu</td>
				  </tr>
				  <tr>
				    <td>Modular</td>
				    <td>Mòduls suportats per estructures ancorades a la façana de l'edifici</td>
				    <td>Sí, obert o tancat</td>
				    <td>Sí, omplint els mòduls</td>
				    <td>Arbustives</td>
				    <td>Intensiu</td>
				  </tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<h2>Les claus de l'èxit i reptes de futur</h2>
				<h3>Dissenyar processos</h3>
				<p>En un context de Construcció Sostenible, un dels principals criteris que cal considerar és que s’han de dissenyar processos, i per tant s’ha de tenir en compte tot el cicle de vida ja en la fase de disseny de l’edifici.</p>
				<p>Així, en dissenyar sistemes basats en la natura, com és el cas de la infraestructura verda urbana, cal tenir en compte que s’hauran de mantenir durant tota la seva vida útil, de la mateixa forma que ells contribuiran amb la provisió dels serveis ecosistèmics durant tota aquesta fase d’operació. </p>
				<p>Tots els agents implicats en aquests processos, tècnics i propietaris, han de ser conscients de la importància de cada una de les fases i l’obligatorietat ètica i professional de tenir els coneixements tècnics necessaris i de complir amb els requisits establerts en la fase de projecte, no tan sòls per garantir el bon desenvolupament de la vegetació, sinó per tal de poder gaudir dels múltiples beneficis.</p>
				<p>La gestió continua d’aquests sistemes constructius permetrà calcular el balanç cost benefici durant la fase d’operació que ha d’esvair els dubtes actuals sobre la viabilitat econòmica dels mateixos. S’ha d’ampliar la perspectiva en que es realitza l’estudi de viabilitat econòmica, no només mirant el cost d’inversió inicial, sinó els múltiples beneficis que aportaran durant la vida útil, que actualment estan infra-estimats o directament no es contemplen com la salut mental, el major rendiment laboral, etc. </p>
				<p>Aquest balanç ha de proveir també de les dades necessàries per tal de que l’administració municipal sigui conscient dels beneficis aportats a nivell social i de ciutat i conseqüentment justificar les inversions necessàries en el camí cap a les tant desitjades ciutats intel·ligents i sostenibles.</p>

				<h3>Veritables sistemes constructius</h3>
				<p>De forma generalitzada s’ha tendit a considerar els sistemes d’enjardinament integrat el els edificis com un complement que queda fora de l’àmbit del que és l’edifici en si mateix. </p>
				<p>Lluny d’aquesta concepció simplista, actualment el nivell d’integració en la composició de l’edifici i la seva contribució activa al funcionament del mateix (arquitectònic i compositiu, tèrmic, acústic, control escorrentia, protecció materials, etc.) impliquen que puguin ser considerats com a veritables sistemes constructius. </p>
				<p>Així doncs, s’ha d’exigir als tècnics implicats en tot el procés constructiu, des de les fases de disseny, passant per l’execució i finalment durant l’operació i manteniment de l’edifici, el mateix nivell d’exigència alhora de tenir els coneixements necessaris per a la seva correcta execució, compliment del control i qualitat, i posterior tasques de manteniment.</p>

				<h3>Regulació i normalització</h3>
				<p>Actualment es poden trobar dos nivells de regulació dels sistemes d’integració de vegetació en els edificis. A nivell europeu i podríem dir que a nivell internacional les normes alemanyes de l’associació Landscape Development and Landscaping Research Societye. V. (FLL)  s’encarreguen de definir i actualitzar els estàndards de disseny i manteniment de les cobertes i façanes enjardinades, disponibles en alemany i anglès.</p>
				<p>A nivell nacional, existeixen les normes de la Fundació de la Jardineria i el Paisatge, que regulen les cobertes i façanes enjardinades, disponibles en català i castellà.
				Més enllà d’aquestes normes, ja es baixa a nivell de ciutat i es poden trobar guies d’aplicació i recomanacions a nivell més local, tot i que en la gran majoria es tracta de documents generals i poc tècnics.</p>
				<p>Malauradament, els codis tècnics que regulen els processos constructius, específicament el Codi Tècnic de l’Edificació espanyol, no considera a hores d’ara aquests sistemes d’una forma específica, així com tampoc es tenen en compte en les eines de simulació vinculades al CTE, com per exemple les de certificació energètica de l’edifici en la fase de projecte.</p>

				<h3>El manteniment. Solucions intel·ligents i sostenibles</h3>
				<p>Essent el manteniment un punt crucial per al bon funcionament dels sistemes, l’adequat desenvolupament de les plantes i la maximització dels beneficis, les empreses, especialment en els sistemes verticals, han tendint cap al disseny de solucions que incorporen sistemes de control intel·ligent que permeten fer una monitorització continua, minimitzant així les tasques de manteniment, reduint els riscos i optimitzant els beneficis.</p>
				<p>A més a més, el control intel·ligent dels sistemes permet a la vegada recollir dades que en un futur context de ciutats intel·ligents i sostenibles poden ser de gran interès per a la planificació urbana.</p>

				<h3>Futurs dissenys focalitzats en l’optimització dels beneficis</h3>
				<p>Durant el desenvolupament d’aquestes tecnologies, el focus principal dels dissenys han estat les dues funcions principals que han de complir aquests sistemes, és a dir, la protecció de l’edifici i el bon desenvolupament de la vegetació.</p>
				<p>Amb el nivell de maduresa que presenten les solucions actuals, els nous dissenys tendeixen a incorporar la tercera i no menys important funció, que es l’optimització de la provisió dels serveis ecosistèmics (beneficis) en el medi ambient urbà. </p>
				<p>Així, es poden trobar variants constructives que els tècnics han de conèixer i incorporar en el seu catàleg d’estratègies en funció dels requisits i o condicionants de cada projecte. Un exemple clar d’aquestes adaptacions són els sistemes de coberta enjardinada basats en mantes de llana de roca mineral i capes de drenatge especials que permeten esmorteir els pics de aigua d’escorrentia cap al sistema de sanejament en els esdeveniments de pluja torrencial, cada cop més freqüents a causa del canvi climàtic, i que comencen a suposar un greu problema en els entorns urbans altament impermeabilitzats.</p>

			</div>
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div style="background-color:#eaeaea; border:1px solid; padding:10px 15px;">
				<p>Aquest tema clau ha estat realitzat per:</p>
				<ul>
					<li>Dr. Gabriel Pérez i Luque. Enginyer Agrònom per la UdL. Doctor en Arquitectura per la UPC</li>
					<li>Dr. Julià Coma Arpon. Arquitecte Tècnic i Enginyer de l’Edificació per al UdL. Doctor en Enginyeria per la UdL</li>
				</ul>
			</div>
		</div>
	</div>

</div>
<% end %>
