<% if params[:locale] == 'ca' %>
<div class="container">

	<div class="grid-x">
		<div class="medium-12 cell">
			<img src="https://csostenible.s3-eu-west-1.amazonaws.com/imatges/temes_clau/infraestructura_verda_gran_ca.jpg" alt="Infraestructura verda" class="responsive-img">	
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<p>En els darrers anys, s'han definit les "solucions basades en la natura" com a solucions inspirades i recolzades per la natura, que proporcionen simultàniament beneficis ambientals, socials i econòmics i conseqüentment contribueixen de forma activa a la construcció de la sostenibilitat i la resiliència. Aquestes solucions aporten diverses característiques i processos naturals a les ciutats i als paisatges, mitjançant intervencions adaptades localment, de forma sistèmica i eficient amb l'ús dels recursos. Així, les solucions basades en la natura permeten la prestació de múltiples serveis ecosistèmics i donen suport a la biodiversitat.</p>
				<p>D’acord amb aquesta idea, en l’àmbit urbà la “naturació” de les ciutats, fonamentalment mitjançant de la incorporació de vegetació, ha estat una de les prioritats de les polítiques urbanístiques en la implantació de les solucions basades en la natura.</p>
				<p>La “infraestructura verda urbana” constitueix tot un conjunt d’elements que permeten integrar vegetació en l’entorn urbà. En els darrers anys, als elements tradicionals de jardineria com els parcs urbans, parterres i arbrat d’alineació, se’ls han afegit aquells sistemes constructius que fan possible la integració de vegetació en l’envolupant dels edificis. </p>
				<p>Les “cobertes i façanes enjardinades” dels edificis contribueixen a la millora del medi ambient urbà proveint múltiples beneficis, especialment en aquells indrets de major densitat edificada en els que la possibilitat d’incorporar enjardinaments tradicionals és inviable.</p>
				<p>Essent el medi urbà molt agressiu, degut especialment a les altes temperatures i la pol·lució, el disseny d’aquests sistemes ha anat evolucionant en els darrers anys fins assolir alts nivells de tecnificació, donant lloc a veritables sistemes constructius que garanteixen la supervivència de les plantes. </p>
				<p>A més a més, essent punta de llança de l’aplicació de la sostenibilitat en el sector de l’edificació, els dissenys actuals estan tendint cap al compliment dels criteris de sostenibilitat exigits a qualsevol altre sistema constructiu pel que fa especialment als materials emprats i el consum d’aigua.</p>
				<p>Així doncs, tots els tècnics involucrats en el seu cicle de vida, des de les fases de disseny arquitectònic, a la seva execució i al seu manteniment durant la fase d’ús, han de ser perfectament coneixedors de tots els condicionants tècnics i requisits de qualitat que han de garantir l’èxit del seu ús. </p>
			</div>

			<div class="paragraf-tema-clau">
				<h2>Serveis ecosistèmics en l'entorn urbà</h2>
				<p>La societat està inevitablement tendint cap a un model urbà, de tal manera que es preveu que per a l’any 2030 el 70% de la població mundial sigui urbana. </p>
				<p>En aquest context, els auguris de ciutats sostenibles i resilients que garanteixin uns adequats nivells de qualitat de vida passen inevitablement per la integració de vegetació i les solucions basades en la natura que permetin la provisió de serveis ecosistèmics en aquests nous entorns urbans. Aquests serveis o beneficis directament relacionats amb les cobertes i façanes enjardinades han estat extensament estudiats i científicament demostrats en els darrers anys, i es poden agrupar en dos escales d’actuació.</p>
			</div>
		</div>
	</div>

	<div class="grid-x grid-margin-x">
		<div class="medium-4 medium-offset-2 cell">
			<div class="imatge-infraestructura-verda">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/infraestructura_verda/edifici.png" alt="Edifici" class="responsive-img">
			</div>
			<div class="text-infraestructura-verda">
				<h3 class="subtitol-materials">Beneficis per l'edifici</h3>
				<ul>
					<li>Protecció dels materials de l’envolupant</li>
					<li>Regulació tèrmica i estalvi d'energia</li>
					<li>Aïllament acústic</li>
					<li>Millora estètica i revalorització de la propietat</li>
					<li>Producció d'aliments</li>
				</ul>
			</div>
		</div>
		<div class="medium-4 cell">
			<div class="imatge-infraestructura-verda">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/infraestructura_verda/ciutat.png" alt="Edifici" class="responsive-img">
			</div>
			<div class="text-infraestructura-verda">
				<h3 class="subtitol-materials">Beneficis per la ciutat</h3>
				<ul>
					<li>Reducció de l'efecte “Illa de Calor Urbana”</li>
					<li>Control i millora del drenatge urbà</li>
					<li>Captura de CO2 i de la pol·lució</li>
					<li>Suport a la biodiversitat</li>
					<li>Efectes psicològics positius per contacte amb la natura</li>
					<li>Serveis educatius i de cultura</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<h2>Cobertes enjardinades</h2>
				<h3>Estructura</h3>
				<p>Les cobertes enjardinades estan formades per una estructura de capes que obeeix a tres funcions fonamentals:</p>
				<ul>
					<li>Garantir la protecció de l’edifici.</li>
					<li>Garantir el bon desenvolupament de la vegetació.</li>
					<li>Maximització dels serveis ecosistèmics.</li>
				</ul>

				
				<%= image_tag "https://csostenible.s3-eu-west-1.amazonaws.com/imatges/temes_clau/infraestructura_verda/coberta_verda.jpg", alt:"Coberta verda" %>
		
				<br/>
				<br/>

				<p>En ordre descendent les capes més habituals són, la capa de vegetació, la capa de substrat, la capa de filtre, la capa de drenatge, la capa de protecció i de retenció d'aigua i finalment la capa anti-arrels i membrana d'impermeabilització. En la Taula 1 es recullen els materials més habituals i la funció de cadascuna d’aquestes capes.</p>
			</div>
		</div>
	</div>

	<div class="grid-x grid-margin-x">
		<div class="medium-8 medium-offset-2 cell">
			<p>Taula 1. Descripció de les capes fonamentals de les cobertes enjardinades</p>
			<table>
				<tr>
					<th>Capa</th>
					<th>Funció</th>
					<th>Material</th>
				</tr>
				<tr>
					<td>1. Vegetació</td>
					<td>Provisió dels serveis ecosistèmics en l’entorn urbà (múltiples beneficis a escala d’edifici i de ciutat)</td>
					<td>Extensiva: Suculentes i herbàcies<br/>Intensiva: Qualsevol</td>
				</tr>
				<tr>
					<td>2. Substrat</td>
					<td>Suport físic per a la vegetació. Provisió d'aigua i nutrients. Oxigenació</td>
					<td>Sòl natural <br/>Substrat de jardineria <br/>Llana de roca mineral (fertirrigació)</td>
				</tr>
				<tr>
					<td>3. Filtre</td>
					<td>Permet el pas de l'aigua però no de partícules sòlides</td>
					<td>Geotèxtil de polièster, polipropilè, etc.</td>
				</tr>
				<tr>
					<td>4. Drenatge</td>
					<td>Emmagatzematge d'aigua / drenatge de l'aigua sobrant / Oxigenació</td>
					<td>Tauler alveolar de polietilè, polipropilè, poliestirè, etc. <br/>Materials petris porosos</td>
				</tr>
				<tr>
					<td>5. Protecció</td>
					<td>Protecció mecànica de les capes inferiors / Emmagatzematge d'aigua</td>
					<td>Geotèxtil de polièster, polipropilè, etc.</td>
				</tr>
				<tr>
					<td>6. Impermeabilització / anti-arrels </td>
					<td>Protecció mecànica de les capes inferiors / Impermeabilització de l'edifici</td>
					<td>PVC, membranes asfàltiques o bituminoses, polietilè, etc. <br/>(Millorades amb additius anti-arrels, reforçades o duplicades)</td>
				</tr>
			</table>

			<br/>

			<img src="https://csostenible.s3-eu-west-1.amazonaws.com/imatges/temes_clau/infraestructura_verda/capes_coberta_verda.gif" alt="Capes coberta verda">
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<h3>Classificació</h3>
				<p>D’acord a l’estructura anteriorment descrita, i en funció de la tipologia de vegetació que es vol implementar i conseqüentment el règim de manteniment que cal establir, les cobertes enjardinades es poden classificar en tres tipus bàsics que són: les extensives, semi-intensives i intensives, essent les diferencies fonamentals les resumides en la Taula 2.</p>
			</div>
		</div>
	</div>

	<div class="grid-x grid-margin-x">
		<div class="medium-8 medium-offset-2 cell">
			<p>Taula 2. Classificació de les cobertes enjardinades</p>
			<table>
				<tr>
					<th></th>
					<th>Extensiva</th>
					<th>Semi-intensiva</th>
					<th>Intensiva</th>
				</tr>
				<tr>
					<td>Pes màxim saturada d'aigua</td>
					<td>50-150 Kg/m<sup>2</sup></td>
					<td>120-350 Kg/m<sup>2</sup></td>
					<td>>350 Kg/m<sup>2</sup></td>
				</tr>
				<tr>
					<td>Gruix de la capa de substrat</td>
					<td>6-20 cm</td>
					<td>10-25 cm</td>
					<td>>25 cm</td>
				</tr>
				<tr>
					<td>Tipus de vegetació</td>
					<td>Suculentes i herbàcies</td>
					<td>Herbàcies i arbustives</td>
					<td>Herbàcies, arbustives i arbres</td>
				</tr>
				<tr>
					<td>Pendent</td>
					<td>< 100% </td>
					<td>< 20%</td>
					<td>< 5%</td>
				</tr>
				<tr>
					<td>Reg</td>
					<td>Mai o ocasionalment </td>
					<td>Periòdicament</td>
					<td>Regularment</td>
				</tr>
				<tr>
					<td>Manteniment</td>
					<td>Baix</td>
					<td>Moderat</td>
					<td>Alt</td>
				</tr>
				<tr>
					<td>Cost</td>
					<td>Baix</td>
					<td>Moderat</td>
					<td>Alt</td>
				</tr>
				<tr>
					<td>Ús</td>
					<td>Només accessible per a manteniment</td>
					<td>Àrees de vianants d'ús limitat</td>
					<td>Àrees de vianants i d'esbarjo</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<h3>Variacions</h3>
				<p>A partir d’aquesta estructura bàsica, es poden trobar variants en les que algunes de les capes poden canviar lleugerament, sempre garantint la doble funció, per tal d'incorporar alguna funcionalitat extra.</p>
				<p>Així, es poden trobar sistemes mitjançant mòduls pre-cultivats que permeten un muntatge i desmuntatge dels mòduls de forma individual, alguns d’ells incorporant el sistema de reg integrat. Aquesta adaptació pretén facilitar el cultiu, que té lloc en el viver i minimitzar el temps d’instal·lació i substitució dels mòduls.</p>
				<p>Una altra variació són les cobertes enjardinades que generen una capa d’emmagatzematge d’aigua anomenada “aljub”, la qual es forma mitjançant la utilització de suports que permeten elevar les capes superiors a mode d’un terra tècnic, creant la capa de dipòsit d’aigua que estarà disponible per a les plantes durant els períodes de sequera.</p>
				<p>Finalment, la tercera i més recent variació, és la utilització de capes de llana de roca mineral en substitució de la capa de substrat, tot generant una coberta sense substrat, que té com a principal objectiu maximitzar la retenció d’aigua d’escorrentia durant els esdeveniments de pluja.</p>
			</div>
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			
				<div class="grid-x grid-margin-x">
					<div class="medium-8 cell">
						<div class="paragraf-tema-clau">
							<h2>Façanes enjardinades</h2>
							<p>Els sistemes verticals d’enjardinament per a edificis es poden classificar en dos grans grups, les façanes enjardinades, que engloben aquells sistemes en els que plantes enfiladisses o arbustos de port penjant tendeixen a cobrir una àrea important de la façana, i els murs enjardinats o mur vius, en els que una estructura lleugera basada en capes recobreix la paret de façana permetent suportar diferent tipus de plantes herbàcies i arbustives.</p>
							<p>En la Taula 3 es resumeixen les diferents tipologies de sistemes verticals d’enjardinament d’edificis, així com les seves principals característiques.</p>
							
						</div>
					</div>
					<div class="medium-4 cell">
						<br/>
						<br/>
						<%= image_tag "https://csostenible.s3-eu-west-1.amazonaws.com/imatges/temes_clau/infraestructura_verda/facana_verda_v2.jpg", alt: "Façana verda" %>
					</div>
				</div>
		
			<div class="paragraf-tema-clau">
				<p>Les façanes enjardinades es poden classificar en tres tipologies. D’una banda les façanes enjardinades tradicionals en els que plantes enfiladisses auto-portants, normalment plantades directament a terra, s’enfilen per la superfície de la façana de l’edifici emprant en mateix material de façana com a suport. En una versió contemporània d’aquestes primeres, en les façanes enjardinades de doble pell s’instal·la una estructura lleugera, per exemple cales o malles, que permeten a les plantes enfiladisses crear una cortina vegetal separada de la paret de façana. Finalment, es podrien incloure en aquest grup, les jardineres perimetrals que formant part de la composició de la façana de l’edifici permeten plantar arbustos de tota mena, alguns d’ells amb port penjant, tot creant cintes verdes i o cortines verdes en la façana.</p>
				<p>Pel que fa als murs enjardinats o murs vius, aquests fonamentalment es subdivideixen en dos gran tipologies. La primera correspon a aquells sistemes que utilitzen feltres geotèxtils continus, ancorats a la façana, on s’allotgen les plantes en petites butxaques realitzades a la capa més externa i que es basen en tecnologies hidropòniques de fertirrigació. La segona tipologia, engloba aquells sistemes que utilitzen mòduls, normalment pre-cultivats, que es fixen en un suport vertical ancorat a la façana de l'edifici. Els mòduls, sovint de plàstic, es farceixen de substrat lleuger a base de torba, fibra de coco, etc. Que proporciona suport físic i nutrients a les plantes.</p>

			</div>
		</div>
		
	</div>

	<div class="grid-x grid-margin-x">
		<div class="medium-8 medium-offset-2 cell">
			<p>Taula 3. Classificació dels sistemes verticals d’enjardinament d’edificis i les seves principals característiques</p>
			<table>
				<thead>
				  <tr>
				    <th class="taula-infraestructura-verda" colspan="2" rowspan="2">Sistemes d’enjardinament vertical d’edificis</th>
				    <th class="taula-infraestructura-verda" colspan="4">Capes principals</th>
				    <th class="taula-infraestructura-verda">Manteniment</th>
				  </tr>
				  <tr>
				    <td class="taula-infraestructura-verda">Estructura de suport</td>
				    <td class="taula-infraestructura-verda">Capa d’aire</td>
				    <td class="taula-infraestructura-verda">Substrat</td>
				    <td class="taula-infraestructura-verda">Vegetació</td>
				    <td class="taula-infraestructura-verda"></td>
				  </tr>
				</thead>
				<tbody>
				  <tr>
				    <td class="taula-infraestructura-verda" rowspan="3">Façanes enjardinades</td>
				    <td class="taula-infraestructura-verda">Tradicional </td>
				    <td class="taula-infraestructura-verda">Sense suport, directament sobra la paret de façana</td>
				    <td class="taula-infraestructura-verda">No</td>
				    <td class="taula-infraestructura-verda">No</td>
				    <td class="taula-infraestructura-verda">Plantes enfiladisses autoportants</td>
				    <td class="taula-infraestructura-verda">Extensiu</td>
				  </tr>
				  <tr>
				    <td class="taula-infraestructura-verda">Doble pell </td>
				    <td class="taula-infraestructura-verda">Molt lleugera: cables, males o enreixats</td>
				    <td class="taula-infraestructura-verda">Si, normalment obert</td>
				    <td class="taula-infraestructura-verda">No</td>
				    <td class="taula-infraestructura-verda">Plantes enfiladisses</td>
				    <td class="taula-infraestructura-verda">Extensiu</td>
				  </tr>
				  <tr>
				    <td class="taula-infraestructura-verda">Jardineres perimetrals</td>
				    <td class="taula-infraestructura-verda">Jardineres</td>
				    <td class="taula-infraestructura-verda">Si, normalment obert</td>
				    <td class="taula-infraestructura-verda">Si, a les jardineres</td>
				    <td class="taula-infraestructura-verda">Enfiladisses i arbustives</td>
				    <td class="taula-infraestructura-verda">Intensiu</td>
				  </tr>
				  <tr>
				    <td class="taula-infraestructura-verda" rowspan="2">Murs enjardinats o murs vius</td>
				    <td class="taula-infraestructura-verda">Geotèxtil i hidropònic</td>
				    <td class="taula-infraestructura-verda">Feltres geotèxtils sostinguts per estructures lleugeres ancorades a la façana de l'edifici</td>
				    <td class="taula-infraestructura-verda">No, o en l'espai del marc</td>
				    <td class="taula-infraestructura-verda">No, o dins de les butxaques</td>
				    <td class="taula-infraestructura-verda">Enfiladisses i arbustives</td>
				    <td class="taula-infraestructura-verda">Intensiu</td>
				  </tr>
				  <tr>
				    <td class="taula-infraestructura-verda">Modular</td>
				    <td class="taula-infraestructura-verda">Mòduls suportats per estructures ancorades a la façana de l'edifici</td>
				    <td class="taula-infraestructura-verda">Sí, obert o tancat</td>
				    <td class="taula-infraestructura-verda">Sí, omplint els mòduls</td>
				    <td class="taula-infraestructura-verda">Arbustives</td>
				    <td class="taula-infraestructura-verda">Intensiu</td>
				  </tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<h2>Les claus de l'èxit i reptes de futur</h2>
				<h3>Dissenyar processos</h3>
				<p>En un context de Construcció Sostenible, un dels principals criteris que cal considerar és que s’han de dissenyar processos, i per tant s’ha de tenir en compte tot el cicle de vida ja en la fase de disseny de l’edifici.</p>
				<p>Així, en dissenyar sistemes basats en la natura, com és el cas de la infraestructura verda urbana, cal tenir en compte que s’hauran de mantenir durant tota la seva vida útil, de la mateixa forma que ells contribuiran amb la provisió dels serveis ecosistèmics durant tota aquesta fase d’operació. </p>
				<p>Tots els agents implicats en aquests processos, tècnics i propietaris, han de ser conscients de la importància de cada una de les fases i l’obligatorietat ètica i professional de tenir els coneixements tècnics necessaris i de complir amb els requisits establerts en la fase de projecte, no tan sòls per garantir el bon desenvolupament de la vegetació, sinó per tal de poder gaudir dels múltiples beneficis.</p>
				<p>La gestió continua d’aquests sistemes constructius permetrà calcular el balanç cost benefici durant la fase d’operació que ha d’esvair els dubtes actuals sobre la viabilitat econòmica dels mateixos. S’ha d’ampliar la perspectiva en que es realitza l’estudi de viabilitat econòmica, no només mirant el cost d’inversió inicial, sinó els múltiples beneficis que aportaran durant la vida útil, que actualment estan infra-estimats o directament no es contemplen com la salut mental, el major rendiment laboral, etc. </p>
				<p>Aquest balanç ha de proveir també de les dades necessàries per tal de que l’administració municipal sigui conscient dels beneficis aportats a nivell social i de ciutat i conseqüentment justificar les inversions necessàries en el camí cap a les tant desitjades ciutats intel·ligents i sostenibles.</p>

				<h3>Veritables sistemes constructius</h3>
				<p>De forma generalitzada s’ha tendit a considerar els sistemes d’enjardinament integrat el els edificis com un complement que queda fora de l’àmbit del que és l’edifici en si mateix. </p>
				<p>Lluny d’aquesta concepció simplista, actualment el nivell d’integració en la composició de l’edifici i la seva contribució activa al funcionament del mateix (arquitectònic i compositiu, tèrmic, acústic, control escorrentia, protecció materials, etc.) impliquen que puguin ser considerats com a veritables sistemes constructius. </p>
				<p>Així doncs, s’ha d’exigir als tècnics implicats en tot el procés constructiu, des de les fases de disseny, passant per l’execució i finalment durant l’operació i manteniment de l’edifici, el mateix nivell d’exigència alhora de tenir els coneixements necessaris per a la seva correcta execució, compliment del control i qualitat, i posterior tasques de manteniment.</p>

				<h3>Regulació i normalització</h3>
				<p>Actualment es poden trobar dos nivells de regulació dels sistemes d’integració de vegetació en els edificis. A nivell europeu i podríem dir que a nivell internacional les normes alemanyes de l’associació Landscape Development and Landscaping Research Societye. V. (FLL)  s’encarreguen de definir i actualitzar els estàndards de disseny i manteniment de les cobertes i façanes enjardinades, disponibles en alemany i anglès.</p>
				<p>A nivell nacional, existeixen les normes de la Fundació de la Jardineria i el Paisatge, que regulen les cobertes i façanes enjardinades, disponibles en català i castellà.
				Més enllà d’aquestes normes, ja es baixa a nivell de ciutat i es poden trobar guies d’aplicació i recomanacions a nivell més local, tot i que en la gran majoria es tracta de documents generals i poc tècnics.</p>
				<p>Malauradament, els codis tècnics que regulen els processos constructius, específicament el Codi Tècnic de l’Edificació espanyol, no considera a hores d’ara aquests sistemes d’una forma específica, així com tampoc es tenen en compte en les eines de simulació vinculades al CTE, com per exemple les de certificació energètica de l’edifici en la fase de projecte.</p>

				<h3>El manteniment. Solucions intel·ligents i sostenibles</h3>
				<p>Essent el manteniment un punt crucial per al bon funcionament dels sistemes, l’adequat desenvolupament de les plantes i la maximització dels beneficis, les empreses, especialment en els sistemes verticals, han tendint cap al disseny de solucions que incorporen sistemes de control intel·ligent que permeten fer una monitorització continua, minimitzant així les tasques de manteniment, reduint els riscos i optimitzant els beneficis.</p>
				<p>A més a més, el control intel·ligent dels sistemes permet a la vegada recollir dades que en un futur context de ciutats intel·ligents i sostenibles poden ser de gran interès per a la planificació urbana.</p>

				<h3>Futurs dissenys focalitzats en l’optimització dels beneficis</h3>
				<p>Durant el desenvolupament d’aquestes tecnologies, el focus principal dels dissenys han estat les dues funcions principals que han de complir aquests sistemes, és a dir, la protecció de l’edifici i el bon desenvolupament de la vegetació.</p>
				<p>Amb el nivell de maduresa que presenten les solucions actuals, els nous dissenys tendeixen a incorporar la tercera i no menys important funció, que es l’optimització de la provisió dels serveis ecosistèmics (beneficis) en el medi ambient urbà. </p>
				<p>Així, es poden trobar variants constructives que els tècnics han de conèixer i incorporar en el seu catàleg d’estratègies en funció dels requisits i o condicionants de cada projecte. Un exemple clar d’aquestes adaptacions són els sistemes de coberta enjardinada basats en mantes de llana de roca mineral i capes de drenatge especials que permeten esmorteir els pics de aigua d’escorrentia cap al sistema de sanejament en els esdeveniments de pluja torrencial, cada cop més freqüents a causa del canvi climàtic, i que comencen a suposar un greu problema en els entorns urbans altament impermeabilitzats.</p>

			</div>
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div style="background-color:#eaeaea; border:1px solid; padding:10px 15px;">
				<p>Aquest tema clau ha estat realitzat per:</p>
				<ul>
					<li>Dr. Gabriel Pérez i Luque. Enginyer Agrònom per la UdL. Doctor en Arquitectura per la UPC</li>
					<li>Dr. Julià Coma Arpon. Arquitecte Tècnic i Enginyer de l’Edificació per al UdL. Doctor en Enginyeria per la UdL</li>
				</ul>
			</div>
		</div>
	</div>

</div>




<% else %>
<div class="container">

	<div class="grid-x">
		<div class="medium-12 cell">
			<img src="https://csostenible.s3-eu-west-1.amazonaws.com/imatges/temes_clau/infraestructura_verda_gran_es.jpg" alt="Infraestructura verda" class="responsive-img">	
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<p>En los últimos años, se han definido las "soluciones basadas en la naturaleza" como soluciones inspiradas y apoyadas por la naturaleza, que proporcionan simultáneamente beneficios ambientales, sociales y económicos y consecuentemente contribuyen de forma activa en la construcción de la sostenibilidad y la resiliencia. Estas soluciones aportan diversas características y procesos naturales en las ciudades y los paisajes, mediante intervenciones adaptadas localmente, de forma sistémica y eficiente con el uso de los recursos. Así, las soluciones basadas en la naturaleza permiten la prestación de múltiples servicios ecosistémicos y apoyan la biodiversidad.</p>

				<p>De acuerdo con esta idea, en el ámbito urbano la "naturació" de las ciudades, fundamentalmente mediante la incorporación de vegetación, ha sido una de las prioridades de las políticas urbanísticas en la implantación de las soluciones basadas en la naturaleza.</p>

				<p>La "infraestructura verde urbana" constituye todo un conjunto de elementos que permiten integrar vegetación en el entorno urbano. En los últimos años, a los elementos tradicionales de jardinería como los parques urbanos, parterres y arbolado de alineación, se les han añadido aquellos sistemas constructivos que hacen posible la integración de vegetación en la envolvente de los edificios.</p>

				<p>Las "cubiertas y fachadas ajardinadas" de los edificios contribuyen a la mejora del medio ambiente urbano proveyendo múltiples beneficios, especialmente en aquellos lugares de mayor densidad edificada en los que la posibilidad de incorporar ajardinamientos tradicionales es inviable.</p>

				<p>Siendo el medio urbano muy agresivo, especialmente debido a las altas temperaturas y la polución, el diseño de estos sistemas ha ido evolucionando en los últimos años hasta alcanzar altos niveles de tecnificación, dando lugar a verdaderos sistemas constructivos que garantizan la supervivencia de las plantas.</p>

				<p>Además, siendo punta de lanza de la aplicación de la sostenibilidad en el sector de la edificación, los diseños actuales están tendiendo hacia el cumplimiento de los criterios de sostenibilidad exigidos a cualquier otro sistema constructivo con respecto especialmente a los materiales empleados y el consumo de agua.</p>

				<p>Así pues, todos los técnicos involucrados en su ciclo de vida, desde las fases de diseño arquitectónico, su ejecución y su mantenimiento durante la fase de uso, deben ser perfectamente conocedores de todos los condicionantes técnicos y requisitos de calidad que deben garantizar el éxito de su uso.</p>
			</div>

			<div class="paragraf-tema-clau">
				<h2>Servicios ecosistémicos en el entorno urbano</h2>
				<p>La sociedad está inevitablemente tendiendo hacia un modelo urbano, de tal manera que se prevé que para el año 2030 el 70% de la población mundial sea urbana.</p>

				<p>En este contexto, los augurios de ciudades sostenibles y resilientes que garanticen unos adecuados niveles de calidad de vida pasan inevitablemente por la integración de vegetación y las soluciones basadas en la naturaleza que permitan la provisión de servicios ecosistémicos en estos nuevos entornos urbanos. Estos servicios o beneficios directamente relacionados con las cubiertas y fachadas ajardinadas han sido extensamente estudiados y científicamente demostrados en los últimos años, y se pueden agrupar en dos escalas de actuación.</p>
			</div>
		</div>
	</div>

	<div class="grid-x grid-margin-x">
		<div class="medium-4 medium-offset-2 cell">
			<div class="imatge-infraestructura-verda">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/infraestructura_verda/edifici.png" alt="Edifici" class="responsive-img">
			</div>
			<div class="text-infraestructura-verda">
				<h3 class="subtitol-materials">Beneficios para el edificio</h3>
				<ul>
					<li>Protección de los materiales de la envolvente</li>
					<li>Regulación térmica y ahorro de energía</li>
					<li>Aislamiento acústico</li>
					<li>Mejora estética y revalorización de la propiedad</li>
					<li>Producción de alimentos</li>
				</ul>
			</div>
		</div>
		<div class="medium-4 cell">
			<div class="imatge-infraestructura-verda">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/infraestructura_verda/ciutat.png" alt="Edifici" class="responsive-img">
			</div>
			<div class="text-infraestructura-verda">
				<h3 class="subtitol-materials">Beneficios para la ciudad</h3>
				<ul>
					<li>Reducción del efecto "Isla de Calor Urbano"</li>
					<li>Control y mejora del drenaje urbano</li>
					<li>Captura de CO2 y de la polución</li>
					<li>Apoyo a la biodiversidad</li>
					<li>Efectos psicológicos positivos por contacto con la naturaleza</li>
					<li>Servicios educativos y de cultura</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<h2>Cubiertas ajardinadas</h2>
				<h3>Estructura</h3>
				<p>Las cubiertas ajardinadas están formadas por una estructura de capas que obedece a tres funciones fundamentales:</p>
				<ul>
					<li>Garantizar la protección del edificio.</li>
					<li>Garantizar el buen desarrollo de la vegetación.</li>
					<li>Maximización de los servicios ecosistémicos.</li>
				</ul>

				<%= image_tag "https://csostenible.s3-eu-west-1.amazonaws.com/imatges/temes_clau/infraestructura_verda/coberta_verda.jpg", alt:"Cobierta verde" %>
		
				<br/>
				<br/>
				<p>En orden descendente las capas más habituales son, la capa de vegetación, la capa de sustrato, la capa de filtro, la capa de drenaje, la capa de protección y de retención de agua y finalmente la capa anti-raíces y membrana de impermeabilización. En la Tabla 1 se recogen los materiales más habituales y la función de cada una de estas capas.</p>
			</div>
		</div>
	</div>

	<div class="grid-x grid-margin-x">
		<div class="medium-8 medium-offset-2 cell">
			<p>Tabla 1. Descripción de las capas fundamentales de las cubiertas ajardinadas</p>
			<table>
				<tr>
					<th>Capa</th>
					<th>Función</th>
					<th>Material</th>
				</tr>
				<tr>
					<td>1. Vegetación</td>
					<td>Provisión de los servicios ecosistémicos en el entorno urbano (múltiples beneficios a escala de edificio y de ciudad)</td>
					<td>Extensiva: Suculentas y herbáceas<br/>Intensiva: Cualquiera</td>
				</tr>
				<tr>
					<td>2. Sustrato</td>
					<td>Soporte físico para la vegetación. Provisión de agua y nutrientes. Oxigenación</td>
					<td>Suelo natural <br/>Sustrato de jardinería <br/>Lana de roca mineral (fertirrigación)</td>
				</tr>
				<tr>
					<td>3. Filtro</td>
					<td>Permite el paso del agua pero no de partículas sólidas</td>
					<td>Geotextil de poliéster, polipropileno, etc.</td>
				</tr>
				<tr>
					<td>4. Drenaje</td>
					<td>Almacenamiento de agua / drenaje del agua sobrante / Oxigenación</td>
					<td>Panel alveolar de polietileno, polipropileno, poliestireno, etc. <br/> Materiales pétreos porosos</td>
				</tr>
				<tr>
					<td>5. Protección</td>
					<td>Protección mecánica de las capas inferiores / Almacenamiento de agua</td>
					<td>Geotextil de poliéster, polipropileno, etc.</td>
				</tr>
				<tr>
					<td>6. Impermeabilización / anti-raíces </td>
					<td>Protecció mecànica de les capes inferiors / Impermeabilització de l'edifici</td>
					<td>PVC, membranas asfálticas o bituminosas, polietileno, etc. <br/> (Mejoradas con aditivos anti-raíces, reforzadas o duplicadas)</td>
				</tr>
			</table>

			<br/>

			<img src="https://csostenible.s3-eu-west-1.amazonaws.com/imatges/temes_clau/infraestructura_verda/capes_coberta_verda_ES.gif" alt="Capes coberta verda">
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<h3>Clasificación</h3>
				<p>De acuerdo a la estructura anteriormente descrita, y en función de la tipología de vegetación que se quiere implementar y consecuentemente el régimen de mantenimiento que hay que establecer, las cubiertas ajardinadas se pueden clasificar en tres tipos básicos que son: las extensivas, semi- intensivas e intensivas, siendo las diferencias fundamentales las resumidas en la Tabla 2.</p>
			</div>
		</div>
	</div>

	<div class="grid-x grid-margin-x">
		<div class="medium-8 medium-offset-2 cell">
			<p>Tabla 2. Clasificación de las cubiertas ajardinadas</p>
			<table>
				<tr>
					<th></th>
					<th>Extensiva</th>
					<th>Semi-intensiva</th>
					<th>Intensiva</th>
				</tr>
				<tr>
					<td>Peso máximo saturada de agua</td>
					<td>50-150 Kg/m<sup>2</sup></td>
					<td>120-350 Kg/m<sup>2</sup></td>
					<td>>350 Kg/m<sup>2</sup></td>
				</tr>
				<tr>
					<td>Espesor de la capa de sustrato</td>
					<td>6-20 cm</td>
					<td>10-25 cm</td>
					<td>>25 cm</td>
				</tr>
				<tr>
					<td>Tipo de vegetación</td>
					<td>Suculentas y herbáceas</td>
					<td>Herbáceas y arbustivas</td>
					<td>Herbáceas, arbustivas y árboles</td>
				</tr>
				<tr>
					<td>Pendiente</td>
					<td>< 100% </td>
					<td>< 20%</td>
					<td>< 5%</td>
				</tr>
				<tr>
					<td>Riego</td>
					<td>Nunca o ocasionalmente </td>
					<td>Periodicamente</td>
					<td>Regularmente</td>
				</tr>
				<tr>
					<td>Mantenimiento</td>
					<td>Bajo</td>
					<td>Moderado</td>
					<td>Alto</td>
				</tr>
				<tr>
					<td>Coste</td>
					<td>Bajo</td>
					<td>Moderado</td>
					<td>Alto</td>
				</tr>
				<tr>
					<td>Uso</td>
					<td>Sólo accesible para mantenimiento</td>
					<td>Áreas peatonales de uso limitado</td>
					<td>Áreas de peatones y de recreo</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<h3>Variaciones</h3>
				<p>A partir de esta estructura básica, se pueden encontrar variantes en las que algunas de las capas pueden cambiar ligeramente, siempre garantizando la doble función, a fin de incorporar alguna funcionalidad extra.</p>
				<p>Así, se pueden encontrar sistemas mediante módulos pre-cultivados que permiten un montaje y desmontaje de los módulos de forma individual, algunos de ellos incorporando el sistema de riego integrado. Esta adaptación pretende facilitar el cultivo, que tiene lugar en el vivero y minimizar el tiempo de instalación y sustitución de los módulos.</p>
				<p>Otra variación son las cubiertas ajardinadas que generan una capa de almacenamiento de agua llamada "aljibe", la que se forma mediante la utilización de soportes que permiten elevar las capas superiores a modo de un suelo técnico, creando la capa de depósito de agua que estará disponible para las plantas durante los períodos de sequía.</p>
				<p>Finalmente, la tercera y más reciente variación, es la utilización de capas de lana de roca mineral en sustitución de la capa de sustrato, generando una cubierta sin sustrato, que tiene como principal objetivo maximizar la retención de agua de escorrentía durante los eventos de lluvia.</p>
			</div>
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">

			<div class="grid-x grid-margin-x">
					<div class="medium-8 cell">
						<div class="paragraf-tema-clau">
							<h2>Fachadas ajardinadas</h2>
					<p>Los sistemas verticales de ajardinamiento para edificios se pueden clasificar en dos grandes grupos, las fachadas ajardinadas, que engloban aquellos sistemas en los que plantas trepadoras o arbustos de porte colgante tienden a cubrir un área importante de la fachada, y los muros ajardinados o muro vivos, en los que una estructura ligera basada en capas recubre la pared de fachada permitiendo soportar diferentes tipos de plantas herbáceas y arbustivas.</p>
					<p>En la Tabla 3 se resumen las diferentes tipologías de sistemas verticales de ajardinamiento de edificios, así como sus principales características.</p>
							
						</div>
					</div>
					<div class="medium-4 cell">
						<br/>
						<br/>
						<%= image_tag "https://csostenible.s3-eu-west-1.amazonaws.com/imatges/temes_clau/infraestructura_verda/facana_verda_v2.jpg", alt: "Fachada verde" %>
					</div>
				</div>
		
			<div class="paragraf-tema-clau">
				<p>Las fachadas ajardinadas se pueden clasificar en tres tipologías. Por un lado las fachadas ajardinadas tradicionales en los que plantas trepadoras auto-portantes, normalmente plantadas directamente en el suelo, suben por la superficie de la fachada del edificio empleando en mismo material de fachada como soporte. En una versión contemporánea de estas primeras, en las fachadas ajardinadas de doble piel instala una estructura ligera, por ejemplo calas o mallas, que permiten a las plantas trepadoras crear una cortina vegetal separada de la pared de fachada. Finalmente, se podrían incluir en este grupo, las jardineras perimetrales que formando parte de la composición de la fachada del edificio permiten plantar arbustos de todo tipo, algunos de ellos con puerto colgando, creando cintas verdes io cortinas verdes en la fachada .</p>
				<p>En cuanto a los muros ajardinados o muros vivos, estos fundamentalmente se subdividen en dos gran tipologías. La primera corresponde a aquellos sistemas que utilizan fieltros geotextiles continuos, anclados en la fachada, donde se alojan las plantas en pequeños bolsillos realizadas en la capa más externa y que se basan en tecnologías hidropónicas de fertirrigación. La segunda tipología, engloba aquellos sistemas que utilizan módulos, normalmente pre-cultivados, que se fijan en un soporte vertical anclado a la fachada del edificio. Los módulos, a menudo de plástico, se rellenan de sustrato ligero a base de turba, fibra de coco, etc. Que proporciona soporte físico y nutrientes a las plantas.</p>

			</div>
		</div>
	</div>

	<div class="grid-x grid-margin-x">
		<div class="medium-8 medium-offset-2 cell">
			<p>Tabla 3. Clasificación de los sistemas verticales de ajardinamiento de edificios y sus principales características</p>
			<table class="tg">
				<thead>
				  <tr>
				    <th class="taula-infraestructura-verda" colspan="2" rowspan="2">Sistemas de ajardinamiento vertical de edificios</th>
				    <th class="taula-infraestructura-verda" colspan="4">Capas principales</th>
				    <th class="taula-infraestructura-verda">Mantenimiento</th>
				  </tr>
				  <tr>
				    <td class="taula-infraestructura-verda">Estructura de soporte</td>
				    <td class="taula-infraestructura-verda">Capa de aire</td>
				    <td class="taula-infraestructura-verda">Sustrato</td>
				    <td class="taula-infraestructura-verda">Vegetación</td>
				    <td class="taula-infraestructura-verda"></td>
				  </tr>
				</thead>
				<tbody>
				  <tr>
				    <td class="taula-infraestructura-verda" rowspan="3">Fachadas ajardinadas</td>
				    <td class="taula-infraestructura-verda">Tradicional </td>
				    <td class="taula-infraestructura-verda">Sin apoyo, directamente sobra la pared de fachada</td>
				    <td class="taula-infraestructura-verda">No</td>
				    <td class="taula-infraestructura-verda">No</td>
				    <td class="taula-infraestructura-verda">Plantas trepadoras autoportantes</td>
				    <td class="taula-infraestructura-verda">Extensivo</td>
				  </tr>
				  <tr>
				    <td class="taula-infraestructura-verda">Doble piel </td>
				    <td class="taula-infraestructura-verda">Muy ligera: cables, malas o enrejados</td>
				    <td class="taula-infraestructura-verda">Si, normalmente abierto</td>
				    <td class="taula-infraestructura-verda">No</td>
				    <td class="taula-infraestructura-verda">plantas trepadoras</td>
				    <td class="taula-infraestructura-verda">Extensivo</td>
				  </tr>
				  <tr>
				    <td class="taula-infraestructura-verda">Jardineras perimetrales</td>
				    <td class="taula-infraestructura-verda">Jardineras</td>
				    <td class="taula-infraestructura-verda">Sí, normalmente abierto</td>
				    <td class="taula-infraestructura-verda">Sí, en las jardineras</td>
				    <td class="taula-infraestructura-verda">Trepadoras y arbustivas</td>
				    <td class="taula-infraestructura-verda">Intensivo</td>
				  </tr>
				  <tr>
				    <td class="taula-infraestructura-verda" rowspan="2">Muros ajardinados o muros vivos</td>
				    <td class="taula-infraestructura-verda">Geotextil e hidropónico</td>
				    <td class="taula-infraestructura-verda">Fieltros geotextiles sostenidos por estructuras ligeras ancladas en la fachada del edificio</td>
				    <td class="taula-infraestructura-verda">No, o en el espacio del marco</td>
				    <td class="taula-infraestructura-verda">No, o dentro de los bolsillos</td>
				    <td class="taula-infraestructura-verda">Trepadoras y arbustivas</td>
				    <td class="taula-infraestructura-verda">Intensivo</td>
				  </tr>
				  <tr>
				    <td class="taula-infraestructura-verda">Modular</td>
				    <td class="taula-infraestructura-verda">Módulos soportados por estructuras ancladas en la fachada del edificio</td>
				    <td class="taula-infraestructura-verda">Sí, abierto o cerrado</td>
				    <td class="taula-infraestructura-verda">Sí, rellenando los módulos</td>
				    <td class="taula-infraestructura-verda">Arbustivas</td>
				    <td class="taula-infraestructura-verda">Intensivo</td>
				  </tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<h2>Las claves del éxito y retos de futuro</h2>
				<h3>Diseñar procesos</h3>
				<p>En un contexto de Construcción Sostenible, uno de los principales criterios a considerar es que se deben diseñar procesos, y por lo tanto se debe tener en cuenta todo el ciclo de vida ya en la fase de diseño del edificio.</p>
				<p>Así, al diseñar sistemas basados en la naturaleza, como es el caso de la infraestructura verde urbana, hay que tener en cuenta que deberán mantenerse durante toda su vida útil, de la misma forma que ellos contribuirán con la provisión de los servicios ecosistémicos durante toda esta fase de operación.</p>
				<p>Todos los agentes implicados en estos procesos, técnicos y propietarios, deben ser conscientes de la importancia de cada una de las fases y la obligatoriedad ética y profesional de tener los conocimientos técnicos necesarios y cumplir con los requisitos establecidos en la fase de proyecto , no tan sólo para garantizar el buen desarrollo de la vegetación, sino el fin de poder disfrutar de los múltiples beneficios.</p>
				<p>La gestión continúa de estos sistemas constructivos permitirá calcular el balance coste beneficio durante la fase de operación que debe disipar las dudas actuales sobre la viabilidad económica de los mismos. Se debe ampliar la perspectiva en que se realiza el estudio de viabilidad económica, no sólo mirando el coste de inversión inicial, sino los múltiples beneficios que aportarán durante la vida útil, que actualmente están infra-estimados o directamente no se contemplan como la salud mental, el mayor rendimiento laboral, etc. </p>
				<p>Este balance debe proveer también de los datos necesarios para que la administración municipal sea consciente de los beneficios aportados a nivel social y de ciudad y consecuentemente justificar las inversiones necesarias en el camino hacia las tanto deseadas ciudades inteligentes y sostenibles.</p>

				<h3>Verdaderos sistemas constructivos</h3>
				<p>De forma generalizada se ha tendido a considerar los sistemas de ajardinamiento integrado el los edificios como un complemento que queda fuera del ámbito de lo que es el edificio en sí mismo. </p>
				<p>Lejos de esta concepción simplista, actualmente el nivel de integración en la composición del edificio y su contribución activa al funcionamiento del mismo (arquitectónico y compositivo, térmico, acústico, control escorrentía, protección materiales, etc.) implican que puedan ser considerados como verdaderos sistemas constructivos.</p>
				<p>Así pues, se debe exigir a los técnicos implicados en todo el proceso constructivo, desde las fases de diseño, pasando por la ejecución y finalmente durante la operación y mantenimiento del edificio, el mismo nivel de exigencia a la vez tener los conocimientos necesarios para su correcta ejecución, cumplimiento del control y calidad, y posterior tareas de mantenimiento.</p>

				<h3>Regulación y normalización</h3>
				<p>Actualmente se pueden encontrar dos niveles de regulación de los sistemas de integración de vegetación en los edificios. A nivel europeo y podríamos decir que a nivel internacional las normas alemanas de la asociación Landscape Development and Landscaping Research Societye. V. (FLL) se encargan de definir y actualizar los estándares de diseño y mantenimiento de las cubiertas y fachadas ajardinadas, disponibles en alemán e inglés.</p>
				<p>A nivel nacional, existen las normas de la Fundación de la Jardinería y el Paisaje, que regulan las cubiertas y fachadas ajardinadas, disponibles en catalán y castellano.</p>
				<p>Más allá de estas normas, ya se baja a nivel de ciudad y se pueden encontrar guías de aplicación y recomendaciones a nivel más local, aunque en la gran mayoría se trata de documentos generales y poco técnicos.</p>
				<p>Desgraciadamente, los códigos técnicos que regulan los procesos constructivos, específicamente el Código Técnico de la Edificación español, no considera a estas alturas estos sistemas de una forma específica, así como tampoco se tienen en cuenta en las herramientas de simulación vinculadas al CTE, como por ejemplo las de certificación energética del edificio en la fase de proyecto.</p>

				<h3>El mantenimiento. Soluciones inteligentes y sostenibles</h3>
				<p>Siendo el mantenimiento un punto crucial para el buen funcionamiento de los sistemas, el adecuado desarrollo de las plantas y la maximización de los beneficios, las empresas, especialmente en los sistemas verticales, han tendiendo hacia el diseño de soluciones que incorporan sistemas de control inteligente que permiten hacer una monitorización continua, minimizando así las tareas de mantenimiento, reduciendo los riesgos y optimizando los beneficios.</p>
				<p>Además, el control inteligente de los sistemas permite a la vez recoger datos que en un futuro contexto de ciudades inteligentes y sostenibles pueden ser de gran interés para la planificación urbana.</p>

				<h3>Futuros diseños focalizados en la optimización de los beneficios</h3>
				<p>Durante el desarrollo de estas tecnologías, el foco principal de los diseños han sido las dos funciones principales que deben cumplir estos sistemas, es decir, la protección del edificio y el buen desarrollo de la vegetación.</p>
				<p>Con el nivel de madurez que presentan las soluciones actuales, los nuevos diseños tienden a incorporar la tercera y no menos importante función, que es la optimización de la provisión de los servicios ecosistémicos (beneficios) en el medio ambiente urbano. </p>
				<p>Así, se pueden encontrar variantes constructivas que los técnicos deben conocer e incorporar en su catálogo de estrategias en función de los requisitos y o condicionantes de cada proyecto. Un ejemplo claro de estas adaptaciones son los sistemas de cubierta ajardinada basados en mantas de lana de roca mineral y capas de drenaje especiales que permiten amortiguar los picos de agua de escorrentía hacia el sistema de saneamiento en los eventos de lluvia torrencial, cada vez más frecuentes debido al cambio climático, y que empiezan a suponer un grave problema en los entornos urbanos altamente impermeabilizados.</p>

			</div>
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div style="background-color:#eaeaea; border:1px solid; padding:10px 15px;">
				<p>Este tema clave ha sido realizado por:</p>
				<ul>
					<li>Dr. Gabriel Pérez Luque. Ingeniero Agrónomo por la UdL. Doctor en Arquitectura por la UPC</li>
					<li>Dr. Julià Coma Arpon. Arquitecto Técnico e Ingeniero de la Edificación para el UdL. Doctor en Ingeniería por la UdL</li>
				</ul>
			</div>
		</div>
	</div>

</div>
<% end %>
