<% if params[:locale] == 'ca' %>
<div class="container">
	<div class="grid-x">
	
		<div class="medium-12 cell">
		<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/marc_conceptual_gran_ca.jpg" alt="Marc conceptual" class="responsive-img">	
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<p>Les ciutats i espais urbanitzats que conformen el nostre paisatge són entitats vives complexes que produeixen un fort impacte sobre el planeta. Aquestes ciutats i espais urbanitzats són resultat de tres factors que van estretament lligats: el model de ciutat i territorial, el model de producció industrial i el model de desenvolupament econòmic.</p>
				<p>Els estandards de confort i qualitat que imposa el desenvolupament econòmic actual creix dia a dia, fent augmentar la quantitat i diversitat de subministraments necessaris (materials, aigua i energia) i, per tant, la petjada sobre el medi. Conseqüentment també s’incrementen les emissions i residus que s’emeten a l’atmosfera, a l’aigua, al sòl... Aquests subministres i emissions produiran tot un seguit d’alteracions en el medi (pluja àcida, escalfament global, destrucció de la capa d’ozó...), ja sigui de forma directa o indirecta, a conseqüència del seu ús o durant la producció, transport... Per aquesta raó cal reflexionar i prendre consciència de les repercussions que qualsevol intervenció pot produir sobre el medi durant la planificació (el disseny, la implantació, l’organització...), el desenvolupament (el procés constructiu...), la vida útil (el manteniment, la gestió, l’ús que se'n deriva, efectes sobre la salut...) i la seva posterior deconstrucció.</p>
				<p>La forma d’aquests espais, els estandards marcats i la seva construcció són elements essencials per minimitzar el seu impacte sobre el medi i garantir-ne un ús més eficient, de forma que doni resposta a les necessitats presents sense comprometre la capacitat de les generacions futures a satisfer les seves.</p>
				<p>La universalització de l’accés a l’automòbil, l’abaratiment del cost del transport i el pas de producció estandaritzada a producció flexible basada en els fluxos, xarxes de connexió, etc., afavorit per l’evolució tecnològica i les noves formes de comunicació, han provocat una dispersió en el territori depredadora de sòl, una nova ciutat que ha destruït la idea de centre en un infinit urbanitzat d’espais anònims, difuminant els límits entre camp i ciutat, establint noves formes de sociabilitat, donant com a resultat una ciutat dispersa, segregada, poc accessibles, generadora de mobilitat insostenible, que comporta un alt consum de recursos i posa en perill l’equilibri del territori.</p>
				<p>En contraposició a aquest model poc sostenible trobem el model de ciutat compacta, un model de ciutat eficient i, tot i que hi ha tendència a pensar el contrari, de més qualitat. Aquest model presenta una major eficiència ambiental, eficiència econòmica i equitat social, que junt amb la recuperació i transformació de les parts obsoletes de la ciutat existent en espais funcionalment diversos, ambientalment qualificats, socialment actius, econòmicament capaços, patrimonialment rics, donen un resultat més òptim en la gestió del territori, reduint el consum de sòl, energia i altres recursos, facilitant l’accessibilitat a tots els serveis i reduint la mobilitat obligada, garantint la cohesió social, afavorint la sociabilitat i l’intercanvi d’informació i el sentit de pertinença, potenciant la idea de ciutadania i les dinàmiques participatives.</p>

				<h2>Dinamització econòmica</h2>

				<p>La complexitat i la diversitat urbana, tant del conjunt com de cada una de les parts, és fonamental per aconseguir elements eficients econòmicament, evitant bosses de marginalitat.</p>
				<p>En el nou model econòmic en el que vivim, on les ciutats i les regions vanadquirint importància, cal un repartiment clar i definit de les responsabilitats entre els diferents nivells de presa de decisions (local, regional, nacional, ...), on els governs locals juguen un paper molt important. Per garantir i assegurar el seu funcionament cal, a partir de la planificació, establir una estrategia global que posicioni i permeti un funcionament correcte dels diferents elements de forma independent, i d’aquest element dintre de les xarxes establertes, de forma que obtinguem un territori eficient i adequat als nous usos.</p>

				<h3>Remodelació dels teixits urbans</h3>
				<p>La dispersió territorial anteriorment comentada ha exhaurit el sòl urbanitzable. Aquest fet provoca la necessitat d’una transformació interna dels municipis, establint polítiques de:</p>

				<ul>
					<li>Millora de la qualitat dels barris més degradats.</li>
					<li>Rehabilitació de l'habitatge i l'espai públic.</li>
					<li>Potenciar el comerç tradicional en front de les grans superfícies, per revitalitzar certes zones del nucli urbà.</li>
				</ul>
				<p>Aquest model territorial basat en centres de residència i centres d’oci i treball, totalment insostenible, provoca problemes a l’administració per mantenir els serveis, ja que la riquesa productiva es produeix en uns municipis diferents a on s’ha de donar serveis a la població.</p>

				<ul>
					<li>Cal l’impuls de projectes de nova centralitat orientades a l’atracció d’activitats intensives d’alt valor afegit, acompanyat per una modernització de les infrastructures, que permeti establir focus d’activitat econòmica repartits pel territori. Això permetrà una redistribució de la població i possibilitarà reduir el moviment centre-perifèria de tots els punts a un únic punt.</li>
					<li>Calen noves polítiques de gestió territorial que permetin redistribuir la riquesa.</li>
					<li>Cal millorar els nivells educatius i de formació professional de la població activa, modernitzar la política salarial a favor d’incentivar la productivitat i fomentar el treball estable i a temps parcial, ampliar el parc d’habitatge de lloguer per tal de facilitar les relacions laborals, etc., a tots els municipis per assegurar que la població amb un nivell educatiu alt no marxi a altre municipis millor dotats i amb millors condicions laborals.</li>
				</ul>

				<h2>Equitat social</h2>

				<p>El model urbà i la gestió de les nostres ciutats seràn aspectes fonamentals per a garantir el benestar social dels ciutadans.</p>
				<p>L’ús que fem de les nostres ciutats dependrà en gran mesura de la qualitat de l’espai públic.</p>
				<p>L’espai públic és l’espai de relació dels ciutadants on es produirà l’intercanvi, el coneixement i la convivència. Cal garantir un espai públic de qualitat per a la vida quotidiana, que faciliti l’ús d’aquest espai a les persones sense condició d'edat, raça, característiques físiques o psiquiques o sexe, amb equitat de genere, de forma segura a qualsevol hora del dia. Aquestes condicions aniran estretament lligades a l’edificació que dona suport a aquest espai públic:</p>

				<ul>
					<li>La seva densitat</li>
					<li>La diversitat d'usos</li>
					<li>La proximitat i accessibilitat dels diferents usos</li>
					<li>La mobilitat obligada reduida</li>
					<li>La diversitat de població que hi viu</li>
					<li>La diversitat de l'habitatge</li>
					<li>L'atractiu del parc edificat i en conseqüència de l'espai públic</li>
				</ul>
				<p>La diversitat garantirà la cohesió social, afavorint la participació ciutadana i l’organització social, evitant la formació de ghetos socials, que poden acabar destruint un barri com a part del conjunt.</p>

				<h2>Eficiència mediambiental</h2>

				<p>La ciutat, i l’espai urbanitzat en general, com a receptacle físsic on l’esser humà desenvolupa amb gran intensitat les seves activitats, seràn les grans responsables de l’abast dels efectes medioambientals sobre el planeta. Les característiques dels edificis, la seva distribució en el territori, la seva densitat, la diversitat d’usos i la proximitat entre ells, ..., seràn aspectes fonamentals que determinaran la petjada ecologica que es produeix sobre el planeta, doncs són els aspectes que determinaran l’ús que fem de la ciutat i en contraposició del territori:</p>

				<ul>
					<li>Consum d'aigua i impermeabilització del sòl</li>
					<li>Consum d'energia</li>
					<li>Qualitat de l'aire</li>
					<li>Contaminació acústica</li>
					<li>Consum de sòl</li>
					<li>Valorització del patrimoni</li>
					<li>L'espai urbà resultant</li>
					<li>La neteja, la higiene i la salut tant de l’espai edificat com de l’espai públic</li>
					<li>Els residus resultants</li>
				</ul>
				<p>La planificació serà l’element determinant per definir les tendencies futures i així construir els escenaris més adients pel planeta.</p>

			</div>
		</div>
	</div>
</div>


<% elsif params[:locale] == 'es' %>
<div class="container">

	<div class="grid-x">
		<div class="col m12">
		<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/marc_conceptual_gran_es.jpg" alt="Marco conceptual" class="responsive-img">	
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<p>Las ciudades y espacios urbanizados que conforman nuestro paisaje son entidades vivas complejas que producen un fuerte impacto sobre el planeta. Estas ciudades y espacios urbanizados son resultado de tres factores que van estrechamente ligados: el modelo de ciudad y territorial, el modelo de producción industrial y el modelo de desarrollo económico.</p>
				<p>Los estándares de confort y calidad que impone el desarrollo económico actual crece día a día, haciendo aumentar la cantidad y diversidad de suministros necesarios (materiales, agua y energía) y, por lo tanto, la huella sobre el medio. Consecuentemente también se incrementan las emisiones y residuos que se emiten a la atmósfera, al agua, al suelo&#8230; Estos suministros y emisiones producirán un conjunto de alteraciones en el medio (lluvia ácida, calentamiento global, destrucción de la capa de ozono), ya sea de forma directa o indirecta, a consecuencia de su uso o durante la producción, transporte&#8230; Por esta razón es necesario reflexionar y tomar conciencia de las repercusiones que cualquier intervención puede producir sobre el medio durante la planificación (el diseño, la implantación, la organización), el desarrollo (el proceso constructivo), la vida útil (el mantenimiento, la gestión, el uso derivado, efectos sobre la salud) y su posterior deconstrucción o transformación.</p>
				<p>La forma de estos espacios, los estándares marcados y su construcción son elementos esenciales por minimizar su impacto sobre el medio y garantizar un uso más eficiente, para que dé respuesta a las necesidades presentes sin comprometer la capacidad de las generaciones futuras a satisfacer las suyas.</p>
				<p>La universalización del acceso al automóvil, la disminución del coste del transporte y el paso de producción estandarizada a producción flexible basada en los flujos, redes de conexión, etc., favorecido por la evolución tecnológica y las nuevas formas de comunicación, han provocado una dispersión en el territorio depredadora de suelo, una nueva ciudad que ha destruido la idea de centro en un infinito urbanizado de espacios anónimos, difuminando los límites entre campo y ciudad, estableciendo nuevas formas de sociabilidad, dando como resultado una ciudad dispersa, segregada, poco accesible, generadora de movilidad insostenible, que comporta un alto consumo de recursos y pone en peligro el equilibrio del territorio.</p>
				<p>En contraposición a este modelo poco sostenible encontramos el modelo de ciudad compacta, un modelo de ciudad eficiente y compleja y, aun que hay tendencia a pensar el contrario, de más calidad. Este modelo presenta una mayor eficiencia ambiental, equidad social y dinamización económica, que junto con la recuperación y transformación de las partes obsoletas de la ciudad existente en espacios funcionalmente diversos, ambientalmente calificados, socialmente activos, económicamente capaces, patrimonialmente ricos, dan un resultado más óptimo en la gestión del territorio, reduciendo el consumo de suelo, energía y otros recursos, facilitando la accesibilidad a todos los servicios y reduciendo la movilidad obligada, garantizando la cohesión social, favoreciendo la sociabilidad y el intercambio de información y el sentido de pertenencia, potenciando la idea de ciudadanía y las dinámicas participativas.</p>

				<h2>Dinamización económica</h2>
				<p>Debemos conseguir territorios eficientes económicamente, ya sea planificando los nuevos crecimientos que van apareciendo o remodelando barrios obsoletos por evitar su marginación urbana y social, para repartir cargas y beneficios, y evitar la formación de bolsas monofuncionales que distorsionen el territorio.</p>
				<p>Debido al modelo económico imperante, el radio de acción de cada ciudad va más allá de sus límites físicos. Cada ciudad da servicio y se beneficia de los servicios de los territorios vecinos y a escalera global (infraestructuras y equipamientos compartidos, “commuting”…), formando redes de acción.</p>
				<p>En este nuevo modelo económico, dónde las ciudades y las regiones van adquiriendo importancia, hace falta un reparto claro y definido de las responsabilidades entre los diferentes niveles de toma de decisión (local, regional, nacional), donde los gobiernos locales juegan un papel muy importante.</p>
				<p>Para garantizar y asegurar su funcionamiento hace falta, a partir de la planificación, establecer una estrategia global que posicione y permita un funcionamiento correcto de las partes de forma independiente, y de esta dentro de las redes establecidas, para obtener un territorio eficiente y adecuado a los nuevos usos. Estos territorios eficientes y adaptados ayudarán a evitar bolsas de marginalidad que distorsionen el conjunto.</p>
				<p>El modelo territorial basado en centros de residencia, centros de ocio y centros de trabajo, totalmente obsoleto e insostenible, provoca problemas de marginación social, problemas de movilidad y de accesibilidad, problemas a la administración para mantener los servicios (la riqueza productiva se produce en municipios diferentes de los municipios que deben dar servicio a la población). Por eso es necesario actuar tanto en la ciudad construida como en los nuevos crecimientos, asegurando la complejidad y la diversidad urbana.</p>
				<ul>
					<li>Políticas de gestión territorial: Necesitamos nuevas políticas de gestión territorial que permitan redistribuir la riqueza y asegurar un reparto coherente y equitativo de los servicios en el territorio</li>
					<li>Intervenciones locales: Es necesario transformar las partes degradadas de los municipios, crear nuevas centralidades y tejidos multifuncionales que garanticen un funcionamiento complejo</li>
					<li>Complejidad urbana: Asegurar la diversidad e integración urbana de todos los territorios por garantizar un uso eficiente.</li>
				</ul>

				<h2>Eficiencia medioambiental</h2>
				<p>Las ciudades, y en general los espacios urbanizados, tienen una elevada responsabilidad sobre los problemas medio ambientales del planeta como consumidores de recursos. Por esta razón se deben conseguir ciudades eficientes medio ambientalmente.</p>
				<p>La ciudad, y el espacio urbanizado en general, como receptáculo físico dónde el ser humano desarrolla con gran intensidad sus actividades, es una gran consumidora de bienes materiales y energéticos, y consecuentemente una gran emisora de residuos.</p>
				<p>Cuando el nivel de desarrollo económico aumenta y la dimensión de las ciudades crece, también aumentan las exigencias en bienes materiales y energéticos y la emisión de residuos. En contrapartida el ámbito de influencia de cada espacio urbanizado también se vuelve mayor.</p>
				<p>La planificación será uno de los elementos determinantes para definir las tendencias futuras y así construir escenarios más óptimos, que reduzcan la huella ecológica que se produce sobre el planeta: las ciudades tienen la obligación de reducir la carga que representan para el planeta hasta lograr un equilibrio con el resto del territorio que resulte sostenible.</p>
				<p>La distribución, la densidad, la diversidad de usos y su proximidad, las características, etc. de la edificación y el espacio urbano que conforman la ciudad, y en contraposición del territorio, son elementos que determinarán:</p>
				<ul>
					<li>La preservación de los recursos y la valorización del patrimonio natural: Preservar y potenciar los recursos naturales que serán el patrimonio natural a transmitir a las generaciones futuras.</li>
					<li>La calidad ambiental: Calidad de vida de todas las personas actualmente y en el futuro.</li>
				</ul>

				<h2>Equidad social</h2>
				<p>Nuestras ciudades deben garantizar el bienestar de sus usuarios a partir de un espacio público de calidad, que favorezca la idea de ciudadanía. Debemos conseguir ciudades diversas, que eviten la formación de “ghetos” que segreguen cierta población por sus condiciones sociales, económicas, etc.</p>
				<p>El modelo urbano y la gestión de nuestras ciudades son aspectos fundamentales para garantizar el bienestar social de los ciudadanos.</p>
				<p>Una ciudad compleja permite a sus usuarios un gran intercambio de información en un espacio pequeño de lugar y de tiempo, pues los impulsos recibidos por los ciudadanos son constantes gracias a la gran cantidad de actividad que concentra.</p>
				<p>El espacio público es el espacio de relación de los ciudadanos, dónde se produce el intercambio, el conocimiento y la convivencia. La calidad de este espacio público será determinante para garantizar que esta transferencia de información se produzca de forma adecuada y de calidad. Es por esta razón que es necesario garantizar un espacio público de calidad para la vida cotidiana, que facilite su uso a las personas sin condición de edad, raza, sexo, características físicas o psíquicas, de forma segura a cualquier hora del día.</p>
				<p>La calidad de este espacio público irá estrechamente ligada a la edificación que le sirve de apoyo y sus características. Hace falta que este conjunto sea calificado, para evitar la formación de territorios socialmente segregados, que pueden acabar destruyendo un barrio como parte del conjunto-ciudad. Por lo que son necesarias políticas que fomenten:</p>
				<ul>
					<li>La diversidad: Garantizar la diversidad de población, de funciones, de vivienda, de la actividad humana, del espacio público&#8230;</li>
					<li>La integración urbana: Garantizar la integración de los habitantes en su contexto territorial y de cada parte del conjunto en el todo (la integración de cada barrio en el conjunto de la ciudad, la integración de cada ciudad en la redes territoriales de relación a las que pertenece…).</li>
					<li>La cohesión social: Reforzar la cohesión social, tanto desde el punto de vista de las relaciones ciudadanas, como de las posibilidades de gobernabilidad local y las acciones en busca de la igualdad social.</li>
				</ul>
			</div>
		</div>
	</div>
</div>


<% else %>
<div class="container">
	<div class="grid-x">
	
		<div class="medium-12 cell">
		<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/marc_conceptual_gran_en.jpg" alt="Marc conceptual" class="responsive-img">	
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<p>Cities and urbanised areas are complex entities that have a strong impact on the planet. These spaces are the result of three factors that are closely linked: the city and territorial model, the industrial production model and the economic development model. </p>
				<p>The quality standards imposed by the current economic development increases day by day, and so the quantity and diversity of the needed supplies (materials, water and energy). Therefore, the emissions and wastes to the atmosphere, water or soil also increase, causing several direct or indirect impacts to the environment (acid rain, global warning, destruction of the ozone layer, pollution…) as a consequence of their use or during any other stage of their life cycle. Hence, the ecological footprint increases too. For that reason, it is necessary to become aware of the effects that any activity can cause to the environment during the process of planning (design, implementation, organization…), development (constructive process, for instance), service life (maintenance, management, use, impacts on the health…) and final deconstruction. </p>
				<p>The shape, standards and construction of these spaces are essential to minimize their environmental impacts and to assure a more efficient use in order to meet the actual needs without compromising the capacity of the future generations to satisfy their own ones. </p>
				<p>The generalized access to the private vehicle, the reduction of the transport cost and the transition from a standardized production to a flexible one, together with the technological evolution and new means of communication, have led to a transformation of cities to disperse, decentralised and non-accessible spaces, promoters of unsustainable mobility and involving a higher resource consumption. To sum up, this model puts the balance of the territory at risk. </p>
				<p>In contrast to this unsustainable model, it exists the compact city, which is a more efficient and quality city model, although the opposite general thinking. It is characterised for the public space, the neighbourhood scale, a quality heritage, the diversity of the soil uses and, therefore, it favours the proximity journeys, enhancing the accessibility and the use of more sustainable means of transport, such as the public or the active one. Thus, these spaces are more sustainable according to the three dimensions of the sustainable development. </p>

				<h2>Economic revitalisation </h2>

				<p>The complexity and urban diversity considering the city as a whole and also all the different constituents of it, is fundamental to achieve economic efficiency, avoiding marginalization.</p>
				<p>In the current economic model, where cities and regions are gaining importance, it is essential to define the distribution of the responsibilities between the different decision making levels (local, regional, national…) where local governments play a key role. However, to ensure a correct operation, it is necessary to, through planning, establish a global strategy to achieve an efficient and suitable territory for the new uses. </p>

				<h3>Reorganization of urban fabrics</h3>
				<p>The territorial dispersion has exhausted all the urbanized soil. This fact leads to a need of an internal transformation of municipalities, establishing politics of:</p>

				<ul>
					<li>Improvement of the most deteriorated neighbourhoods. </li>
					<li>Housing and public space restoration.</li>
					<li>Promotion of the traditional commerce in front of large retailers in order to revitalize certain areas of the urban nucleus.</li>
				</ul>
				<p>This unsustainable territorial model based on the distinction between residential areas and leisure and work areas, cause problems to the administration regarding the maintenance of the services, since the productive wealth takes place in different municipalities where it has to be served to the population. Therefore, it is necessary:</p>

				<ul>
					<li>To drive new central projects aimed to attract high-value-added intensive activities, accompanied by a modernization of the infrastructures, allowing the establishment of economic activity centres spread across the territory. This will allow a redistribution of the population and will make possible to reduce the centre-periphery movement of all the points to a single one.</li>
					<li>To create new territorial management policies to redistribute wealth.</li>
					<li>To improve the educational and vocational levels of the active population, to modernize the wage policy in favour of encouraging productivity and promoting stable and part-time work, expanding the rent housing park to facilitate labour relations, etc., in all the municipalities in order to ensure that the population with a high educational level does not move to other better-equipped municipalities and with better working conditions.</li>
				</ul>

				<h2>Social equity</h2>

				<p>The urban model and the management of cities will be indispensable to guarantee the social well-being of the citizens.</p>
				<p>The use of cities will depend on the quality of the public space. </p>
				<p>Public space is where the interchange between citizens will be held. Hence, a quality public space has to be assured for the daily life of the citizens, facilitating the use to all the people independently of the age, race, gender or physical or mental characteristics in a secure way during all day. These conditions will be linked to the edification that supports the public space:</p>

				<ul>
					<li>Density.</li>
					<li>Diversity of uses.</li>
					<li>Proximity and accessibility of uses.</li>
					<li>Compulsory reduced mobility.</li>
					<li>Diversity of the neighbours. </li>
					<li>Building diversity.</li>
					<li>Attractiveness of the space.</li>
				</ul>
				<p>Diversity will ensure the social cohesion, promoting the citizen participation and social organization, avoiding the creation of social ghettos that can destroy the neighbourhood as a part of the whole. </p>

				<h2>Environmental efficiency</h2>

				<p>The city and the urbanised area in general, considered as the space where humans develop the great majority of their daily activities, will be responsible for a large amount of the environmental impacts on the planet. The characteristics of the buildings, their distribution, density, use and distance between them will be fundamental to determine the ecological footprint to the planet, due to they are considered as determinant issues of the uses that we do of the city and, in contrast, of the territory:</p>

				<ul>
					<li>Water consumption and waterproofing soil.</li>
					<li>Energy consumption.</li>
					<li>Air quality.</li>
					<li>Acoustic pollution.</li>
					<li>Soil use.</li>
					<li>Heritage valorisation.</li>
					<li>Urban space.</li>
					<li>The cleaning, hygiene and health of both the built and the public space.</li>
					<li>The waste generation.</li>
				</ul>
				<p>Urban planning will be of crucial importance to define the future tendencies and build the most suitable scenarios for the planet. </p>

			</div>
		</div>
	</div>
</div>
<% end %>