<% if params[:locale] == 'ca' %>
<div class="container">

	<div class="grid-x">
		<div class="medium-12 cell">
			<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials_gran_ca.jpg" alt="Materials" class="responsive-img">	
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<p>Una arquitectura més respectuosa amb el medi ambient passa, en primer lloc, per prendre consciència sobre les càrregues ambientals que genera i, a continuació, per adoptar mesures que les minimitzin.</p>
				<p>La construcció i el manteniment dels edificis consumeix el 40% dels materials utilitzats a la Unió Europea. Aquesta dada indica la gran repercussió que pot tenir fer una bona elecció de materials per a la construcció i rehabilitació d’edificis.</p>
			</div>
			<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; margin-bottom: 40px; margin-top: 20px;} .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}</style><div class='embed-container'><iframe src="https://www.youtube.com/embed/BuvrDzOPGtY" frameborder="0" allowfullscreen></iframe></div>
			<div class="paragraf-tema-clau">
				<p>El repte pels professionals de l’edificació és aconseguir complir els requeriments de funcionalitat, seguretat i habitabilitat dels edificis al mateix temps que reduim al màxim el seu impacte ambiental.</p>
			</div>
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<h2>Impactes ambientals</h2>
				<p>A l'hora d'escollir materials de construcció cal tenir en compte quin consum de recursos naturals representarà, quines emissions es generaran, quin impacte tindrà sobre els ecosistemes i quin serà el seu comportament com a residu.  </p>
				<p>A continuació es detallen alguns dels impactes ambientals més rellevants i que s'acostumen a utilitzar per comparar productes.</p>
			</div>
		</div>
	</div>
	<div class="grid-x grid-margin-x">
		<div class="medium-4 cell">
			<div class="imatge-impacte">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/impactes_acidificacio.png" alt="Impacte ambiental: acidificació dels sòls" class="responsive-img">
			</div>
			<div class="text-impacte">
				<h3 class="subtitol-materials">Acidificació del medi</h3>
				<p>S’origina com a conseqüència del retorn a la superfície de la terra en forma d’àcids dels òxids de sofre i nitrogen descarregats a l’atmosfera. Aquesta acidificació es pot produir com deposició seca o deposició humida (pluja àcida).</p>
			</div>
		</div>
		<div class="medium-4 cell">
			<div class="imatge-impacte">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/impactes_biodiversitat.png" alt="Impacte ambiental: pèrdua de biodiversitat" class="responsive-img">
			</div>
			<div class="text-impacte">
				<h3 class="subtitol-materials">Pèrdua de biodiversitat</h3>
				<p>La biodiversitat és garantia de benestar i equilibri en la biosfera. En cada ecosistema, els organismes vivents són part d'un tot actuant recíprocament entre si, però també amb l'aire, l'aigua i el sòl que els envolta. La principal causa de la pèrdua de biodiversitat és el deteriorament de l'hàbitat de les espècies afectades. </p>
			</div>
		</div>
		<div class="medium-4 cell">
			<div class="imatge-impacte">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/impactes_eutrofitzacio.png" alt="Impacte ambiental: eutrofització de l'aigua" class="responsive-img">
			</div>
			<div class="text-impacte">
				<h3 class="subtitol-materials">Eutrofització de l'aigua</h3>
				<p>La contaminació de l'aigua pot provocar que hi hagi un excés de nutrients, principalment nitrògen i fòsfor. L'excés de vegetació i altres organismes fa que s'esgoti l'oxígen de l'aigua i en condiciona la vida d'altres espècies com els peixos.</p>
			</div>
		</div>
	</div>
	<div class="grid-x grid-margin-x">
		<div class="medium-4 cell">
			<div class="imatge-impacte">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/impactes_hivernacle.png" alt="Impacte ambiental: efecte hivernacle" class="responsive-img">
			</div>
			<div class="text-impacte">
				<h3 class="subtitol-materials">Efecte hivernacle</h3>
				<p>Els gasos responsables de l’efecte hivernacle són aquells components gasosos de l'atmosfera, tant naturals com d'origen antropogènic, que absorbeixen i reemeten radiació infraroja. A mesura que incrementa la concentració d'aquests gasos, la radiació infraroja és absorbida a l'atmosfera i reemesa en totes direccions, contribuint aquest fet a que la temperatura mitjana de la Terra augmenti.</p>
			</div>
		</div>
		<div class="medium-4 cell">
			<div class="imatge-impacte">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/impactes_metalls.png" alt="Impacte ambiental: metalls pesants" class="responsive-img">
			</div>
			<div class="text-impacte">
				<h3 class="subtitol-materials">Metalls pesants</h3>
				<p>Es consideren metalls pesants els que tenen un pes atòmic relativament elevat i una densitat aproximada de 5 g/cm3. En general, acostumen a ser molt tòxics i no es troben en concentracions gaire elevades a l’aire o a l’aigua. Però són elements que són presents al medi en concentracions baixes i que en cas d'acumular-se poden arribar a nivells crítics o letals.</p>
			</div>
		</div>
		<div class="medium-4 cell">
			<div class="imatge-impacte">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/impactes_ozo.png" alt="Impacte ambiental: destrucció de la capa d'ozó" class="responsive-img">
			</div>
			<div class="text-impacte">
				<h3 class="subtitol-materials">Destrucció de la capa d'ozó</h3>
				<p>A la part superior de l'Estratosfera es troba la capa d'ozó, que actua de filtre de la radiació solar ultraviolada. Si es produeix una reducció de la seva concentració, es provoca un increment de la quantitat de radiació ultraviolada que incideix sobre la Terra. Quan el diòxid de nitrogen i els CFCs arriben a les altes regions de l'Estratosfera són dissociats per efecte de la llum solar, produint-se òxid de nitrogen i clor lliure. Aquest darrer element destrueix l'ozó.</p>
			</div>
		</div>
	</div>
	<div class="grid-x grid-margin-x">
		<div class="medium-4 cell">
			<div class="imatge-impacte">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/impactes_plujaacida.png" alt="Impacte ambiental: pluja àcida" class="responsive-img">
			</div>
			<div class="text-impacte">
				<h3 class="subtitol-materials">Pluja àcida</h3>
				<p>L’ús de combustibles fòssils provoca emissions d’òxids de sofre (principalment, SO2) i de nitrogen (NOx) a l’aire. Aquests contaminats es combinen amb la humitat de l’atmosfera i formen àcid sulfúric i nítric, respectivament, que cauen en forma de pluja àcida. La pluja àcida afecta negativament els llacs i els boscos, la flora i la fauna, les terres agrícoles, les reserves d’aigua i la salut humana.</p>
			</div>
		</div>
		<div class="medium-4 cell">
			<div class="imatge-impacte">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/impactes_smog.png" alt="Impacte ambiental: smog" class="responsive-img">
			</div>
			<div class="text-impacte">
				<h3 class="subtitol-materials">Smog</h3>
				<p>És la boira amb presència de contaminats atmosfèrics originats bàsicament per la indústria i el transport, i que és conseqüència de la concentració de partícules de pols i fum que, en actuar com a nuclis de condensació, provoquen la condensació de vapor d’aigua, fins i tot amb una humitat relativa d’aigua molt inferior al 100 %. Els contaminants que més contribueixen a aquest efecte són les partícules, el carbó, la pols de ferro i l’òxid de sofre.</p>
			</div>
		</div>
		<div class="medium-4 cell">
			<div class="imatge-impacte">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/impactes_toxichuma.png" alt="Impacte ambiental: toxicitat per a les persones" class="responsive-img">
			</div>
			<div class="text-impacte">
				<h3 class="subtitol-materials">Afectació de la salut de les persones</h3>
				<p>Les afectacions poden ser múltiples, una de les més destacades és la probabilitat de provocar càncer. Establir els nivells de toxicitat crònica per a cada substància és complicat, ja que en cada cas hi ha molts factors que afavoreixen o desafavoreixen els efectes de la possible toxicitat, que, en no tenir efectes immediats, no sempre permet correlacionar amb claredat les relacions causa-efecte.</p>
			</div>
		</div>
	</div>
	

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<h2>Anàlisi de cicle de vida</h2>
				<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; margin-bottom: 40px; margin-top: 20px;} .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}</style><div class='embed-container'><iframe src="https://www.youtube.com/embed/53vBfgxVT7o" frameborder="0" allowfullscreen></iframe></div>
			</div>
		</div>
	</div>
	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<p>1. La majoria dels materials que s’utilitzen en construcció són vàlids, no els podem considerar bons o dolents. El que és bo o dolent és la manera d’utilitzar-los, com els gestionem durant tota la seva vida útil. </p>
				<p>2. Els tècnics necessitem disposar d’informació sobre el cicle de vida dels materials, per tal de poder elegir les solucions constructives a partir de dades objectives. Aquesta informació ens la proporcionen les declaracions ambientals de producte.</p>
			</div>
		</div>
	</div>
	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<h3 class="subtitol-materials">Tancar els cicles materials</h3>
				<p>El sector de l’edificació actualment es basa en extreure i transformar recursos per a la seva utilització en els edificis i, en un determinat període de temps, convertir-los en residus. </p>
				<div class="imatge-cicle-materials">
					<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/cicles_materials_obert.png" alt="Cicle materials obert" class="imatge-text">
				</div>
				<p>Si aconseguim que els residus es tornin a convertir en recursos podrem tancar el cicle dels materials.</p>
				<div class="imatge-cicle-materials">
					<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/cicles_materials_tancat.png" alt="Cicle materials tancat" class="imatge-text">
				</div>
				<p>A continuació es mostren alguns exemples de mesures que poden ajudar a reduir l’impacte ambiental dels materials utilitzats a l’edifici:</p>
				<table class="table table-striped">
				  <thead>
				    <tr>
				      <th>Etapa</th>
				      <th>Aspectes a considerar durant el disseny de l'edifici</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td>Producció materials</td>
				      <td>
				      	<ul>
				      		<li>Utilitzar preferentment materials procedents de recursos renovables Valoritzar els materials utilitzant materials reciclats (procedents de recuperació de residus).</li>
				      		<li>Utilitzar materials amb una baixa despesa energètica durant la seva extracció i fabricació.</li>
				      		<li>Utilitzar materials procedents de matèries primeres abundants i de baix impacte/toxicitats.</li>
				      		<li>Considerar la distància de transport dels materials fins a l’obra.</li>
				      	</ul>
				      </td>
				    </tr>
				    <tr>
				      <td>Construcció</td>
				      <td>
				      	<ul>
				      		<li>Aplicar un pla de gestió de residus a l’obra que en maximitzi el reciclatge.</li>
				      		<li>Controlar la correcta execució de les mesures de reducció de l’impacte ambiental</li>
				      	</ul>
				      </td>
				    </tr>
				    <tr>
				      <td>Explotació / Manteniment</td>
				      <td>
				      	<ul>
				      		<li>Minimitzar les necessitats energètiques de l’edifici i incorporar l’ús d’energies renovables.</li>
				      		<li>Minimitzar la necessitat d’aigua de l’edifici i afavorir la recirculació d’aigües grises</li>
				      		<li>Incrementar la durabilitat de l’edifici.</li>
				      		<li>Assegurar la reparabilitat dels productes, elements i sistemes.</li>
				      		<li>Definir les operacions de manteniment preventiu i correctiu.</li>
				      	</ul>
				      </td>
				    </tr>
				    <tr>
				      <td>Rehabilitació</td>
				      <td>
				      	<ul>
				      		<li>Fer una correcta diagnosi per avaluar l‘origen de la problemàtica a resoldre.</li>
				      		<li>Utilitzar materials compatibles amb els existents i de vida útil similar als de l’edificació on s’actua.</li>
				      		<li>Utilitzar estructures desmuntables que puguin ser substituïdes</li>
				      		<li>Aplicar la resta de criteris esmentats anteriorment en "producció de materials" i "construcció".</li>
				      	</ul>
				      </td>
				    </tr>
				    <tr>
				      <td>Fi de vida</td>
				      <td>
				      	<ul>
				      		<li>Facilitar el procés de desconstrucció.</li>
				      		<li>Maximitzar la reutilització de components.</li>
				      		<li>Trobar aplicacions als residus intermedis.</li>
				      	</ul>
				      </td>
				    </tr>
				  </tbody>
				</table>
				<p>A més, es recomana aplicar la metodologia de l’Anàlisi de Cicle de Vida (ACV) a l’hora de dissenyar o prioritzar estratègies de reducció d’impacte ambiental. Aquesta metodologia permet tenir un coneixement més complet dels productes i evitar possibles transferències d’impactes ambientals, com per exemple que s’utilitzin materials de baix impacte en quant a producció però que siguin poc durables i se’n necessiti una major quantitat.</p>

				<h3 class="subtitol-materials">Els productes, equips i sistemes de construcció i l'eina d'Anàlisi de Cicle de Vida</h3>
				<p>La metodologia de l'Anàlisi de Cicle de Vida (ACV) pot ser útil per a realitzar estudis comparatius de productes, equips i sistemes que tinguin una mateixa funció. Aquesta eina permet realitzar balanços globals considerant tots els impactes ambientals que es produeixen en les diferents etapes dels materials que incorporem al construir un edifici: la producció de materials, el seu transport i la posada en obra, la seva vida útil en l'edifici, la seva desinstal·lació i la gestió final dels residus que es generen.</p>
			</div>
		</div>
	</div>
	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<h2>Ecoetiquetes</h2>
				<p>L’objectiu de les ecoetiquetes (o etiquetes ecològiques) és el de promoure la demanda d’aquells productes que tenen un menor impacte ambiental associat. D’acord amb la ISO (organització internacional d’estandardització) existeixen tres tipologies d’etiquetes ecològiques:</p>
				<h3 class="subtitol-materials">Ecoetiquetes tipus I</h3>
				<p>Les ecoetiquetes tipus I són certificacions ambientals que consideren l’anàlisi de cicle de vida del producte o servei. D’acord amb la ISO 14024, les ecoetiquetes tipus I formen part d’un programa voluntari, multicriteri i desenvolupat per una tercera part que n’autoritza l’ús. L’ecoetiqueta tipus I indica que un producte és ambientalment preferible en funció d’una sèrie de consideracions basades en el seu cicle de vida. Alguns exemples d’ecoetiquetes tipus I, geogràficament properes i que inclouen productes de la construcció són:</p>
				<table class="table">
					<tbody>
				    <tr>
				      <td><img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/generalitat_alcada40.jpg" alt="Distintiu de Garantia de Qualitat Ambiental"></td>
				      <td><a href="http://mediambient.gencat.net/cat/empreses/ecoproductes_i_ecoserveis/inici.jsp">Distintiu de Garantia de Qualitat Ambiental</a> <br/>Generalitat de Catalunya</td>
				    </tr>
				    <tr>
				    	<td><img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/unio_europea_alcada40.jpg" alt="Ecolabel"></td>
				    	<td><a href="http://ec.europa.eu/environment/ecolabel/index_en.htm">Ecolabel</a> <br/>Unió Europea</td>
				    </tr>
				    <tr>
				    	<td><img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/Aenor_alcada40.jpg" alt="AENOR"></td>
				    	<td><a href="http://www.aenor.es/desarrollo/certificacion/productos/tipo.asp?tipop=2#6">Aenor Medio Ambiente</a> <br/>Asociación Española de Normalización y Certificación</td>
				    </tr>
				    <tr>
				    	<td><img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/angel_blau_alcada40.jpg" alt="Angel Blau"></td>
				    	<td><a href="http://www.blauer-engel.de/en/index.php">Der Blaue Engel (Àngel Blau)</a> <br/>Ministeri Federal de Medi Ambient d'Alemanya</td>
				    </tr>
				    <tr>
				    	<td><img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/cigne_escandinau_alcada40.jpg" alt="Cigne Blanc"></td>
				    	<td><a href="http://www.svanen.nu/">The Swan (Cigne Blanc)</a> <br/>Northern Ecolabelling (Noruega, Finlàndia, Islàndia, Dinamarca, Suècia)</td>
				    </tr>
				    <tr>
				    	<td><img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/nf_alcada40.jpg" alt="NF"></td>
				    	<td><a href="http://www.marque-nf.com/">NF Environnement</a> <br/>AFNOR Certification (França)</td>
				    </tr>
					</tbody>
				</table>
				<h3 class="subtitol-materials">Ecoetiquetes tipus II</h3>
				<p>Les ecoetiquetes tipus II o autodeclaracions ambientals, d’acord amb la ISO 14021, consisteixen en afirmacions relatives a alguna característica ambiental del producte que les conté i que no han estat certificades per una tercera part. Segons la norma ISO 14021, s’ha d’evitar l’ús de frases massa generals o ambigües sobre el producte com ara “respectuós amb el medi ambient”, “ecològic”, “no contamina” o “protegeix la capa d’ozó”.</p>
				<table class="table">
					<tbody>
				    <tr>
				      <td><img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/Moebus.jpg" alt="Bucle de Möbius"></td>
				    </tr>
				  </tbody>
				</table>
				<p>El bucle de Möbius és un exemple d’autodeclaració ambiental molt coneguda pel consumidor. Segons la ISO 14021, es pot utilitzar per indicar que un producte o envàs és reciclable o que conté material reciclat. En absència d’un percentatge, el símbol s’interpreta com que el producte o l’envàs és reciclable. Quan s’indica un %, s’està declarant el contingut de material reciclat del producte o envàs. Algunes empreses utilitzen símbols per tal de diferenciar els productes propis que tenen un millor comportament ambiental. Segons la ISO 14021, aquests símbols han de ser simples, fàcilment reproduïbles i identificables. A més, en cas que s’utilitzin objectes naturals, aquests han de tenir una relació directa i verificable amb allò que es declara.</p>
				<h3 class="subtitol-materials">Ecoetiquetes tipus III</h3>
				<p>Les ecoetiquetes tipus III o declaracions ambientals de producte, d’acord amb la ISO 14025, faciliten la comunicació objectiva, comparable i creïble del comportament ambiental dels productes. Les EPDs no donen criteris per a la preferència d’un producte ni estableixen uns criteris mínims a complir. Tanmateix, poden fomentar la demanda i l’oferta de productes i serveis amb un menor impacte ambiental en permetre una comparació justa entre diferents productes. Aquestes declaracions es basen en l’Anàlisi de Cicle de Vida del producte que es desenvolupen d’acord a uns requeriments específics. A més, les EPDs poden ser revisades i validades per un organisme acreditat. Alguns exemples d’ecoetiquetes tipus III que inclouen productes de la construcció són:</p>
				<table class="table">
					<tbody>
				    <tr>
				      <td><img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/logo_dapcons_40px.png" alt="DAPCons"></td>
				      <td><a href="https://s3-eu-west-1.amazonaws.com/csostenibleindex.php/ca/sistema_dapc">Declaració Ambiental de Producte de la Construcció</a> <br/>El Col·legi d’Aparelladors, Arquitectes Tècnics i Enginyers d’Edificació de Barcelona ha administrat i gestionat un sistema EPDs a nivell ecol myol.</td>
				    </tr>
				    <tr>
				      <td><img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/umwelt_alcada40.jpg" alt="Umwelt"></td>
				      <td><a href="http://bau-umwelt.de/hp1/Startseite.htm">Environmental Product Declaration</a> (Declaració Ambiental de Producte) <br/>AUB (Alemanya)</td>
				    </tr>
				    <tr>
				      <td><img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/epd_suecia_alcada40.jpg" alt="EPD Suècia"></td>
				      <td><a href="http://www.environdec.com">Environmental Product Declaration</a> (Declaració Ambiental de Producte) <br/>The Swedish Environmental Management Council (Suècia)</td>
				    </tr>
				  </tbody>
				</table>
			</div>
		</div>
	</div>
</div>


<% elsif params[:locale] == 'es' %>
<div class="container">

	<div class="grid-x">
		<div class="col m12">
			<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials_gran_es.jpg" alt="Materials" class="responsive-img">	
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<p>Una arquitectura más respetuosa con el medio ambiente pasa, en primer lugar, por tomar conciencia sobre las cargas ambientales que genera y, a continuación, para adoptar medidas que las minimicen.</p>
				<p>La construcción y el mantenimiento de los edificios consume el 40% de los materiales utilizados en la Unión Europea. Este dato indica la gran repercusión que puede tener tener una buena elección de materiales para la construcción y rehabilitación de edificios.</p>
			</div>
			<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; margin-bottom: 40px; margin-top: 20px;} .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}</style><div class='embed-container'><iframe src="https://www.youtube.com/embed/LiKjRNqq8us" frameborder="0" allowfullscreen></iframe></div>
			<div class="paragraf-tema-clau">
				<p>El reto para los profesionales de la edificación es lograr cumplir con los requisitos de funcionalidad, seguridad y habitabilidad de los edificios a la vez que reducimos al máximo su impacto ambiental.</p>
			</div>
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<h2>Impactos ambientales</h2>
				<p>A la hora de elegir materiales de construcción hay que tener en cuenta qué consumo de recursos naturales representará, qué emisiones se generarán, qué impacto tendrá sobre los ecosistemas y cuál será su comportamiento como residuo.</p>
				<p>A continuación se detallan algunos de los impactos ambientales más relevantes y que que se acostumbran a usar para comparar productos.</p>
			</div>
		</div>
	</div>
	<div class="grid-x">
		<div class="medium-4 cell">
			<div class="imatge-impacte">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/impactes_acidificacio.png" alt="Impacte ambiental: acidificació dels sòls" class="responsive-img">
			</div>
			<div class="text-impacte">
				<h3 class="subtitol-materials">Acidificación del medio</h3>
				<p>Se origina como consecuencia del retorno a la superficie de la tierra en forma de ácidos de los óxidos de azufre y nitrógeno descargados a la atmósfera. Esta acidificación puede producirse como deposición seca o deposición húmeda (lluvia ácida).</p>
			</div>
		</div>
		<div class="medium-4 cell">
			<div class="imatge-impacte">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/impactes_biodiversitat.png" alt="Impacte ambiental: pèrdua de biodiversitat" class="responsive-img">
			</div>
			<div class="text-impacte">
				<h3 class="subtitol-materials">Pérdida de biodiversidad</h3>
				<p>La biodiversidad es garantía de bienestar y equilibrio en la biosfera. En cada ecosistema, los organismos vivientes son parte de un todo actuando recíprocamente entre sí, pero también con el aire, el agua y el suelo que los rodea. La principal causa de la pérdida de biodiversidad es el deterioro del hábitat de las especies afectadas.</p>
			</div>
		</div>
		<div class="medium-4 cell">
			<div class="imatge-impacte">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/impactes_eutrofitzacio.png" alt="Impacte ambiental: eutrofització de l'aigua" class="responsive-img">
			</div>
			<div class="text-impacte">
				<h3 class="subtitol-materials">Eutrofización del agua</h3>
				<p>La contaminación del agua puede provocar que haya un exceso de nutrientes, principalmente nitrógeno y fósforo. El exceso de vegetación y otros organismos hace que se agote el oxígeno del agua y condiciona la vida de otras especies como los peces.</p>
			</div>
		</div>
	</div>
	<div class="grid-x">
		<div class="medium-4 cell">
			<div class="imatge-impacte">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/impactes_hivernacle.png" alt="Impacte ambiental: efecte hivernacle" class="responsive-img">
			</div>
			<div class="text-impacte">
				<h3 class="subtitol-materials">Efecto invernadero</h3>
				<p>Los gases responsables del efecto invernadero son aquellos componentes gaseosos de la atmósfera, tanto naturales como de origen antropogénico, que absorben y reemiten radiación infrarroja. A medida que incrementa la concentración de estos gases, la radiación infrarroja es absorbida en la atmósfera y reemitida en todas direcciones, contribuyendo este hecho a que la temperatura media de la Tierra aumente.</p>
			</div>
		</div>
		<div class="medium-4 cell">
			<div class="imatge-impacte">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/impactes_metalls.png" alt="Impacte ambiental: metalls pesants" class="responsive-img">
			</div>
			<div class="text-impacte">
				<h3 class="subtitol-materials">Metales pesantes</h3>
				<p>Se consideran metales pesados los que tienen un peso atómico relativamente elevado y una densidad aproximada de 5 g / cm3. En general, suelen ser muy tóxicos y no se encuentran en concentraciones muy elevadas al aire o al agua. Pero son elementos que están presentes en el medio en concentraciones bajas y que en caso de acumularse pueden llegar a niveles críticos o letales.</p>
			</div>
		</div>
		<div class="medium-4 cell">
			<div class="imatge-impacte">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/impactes_ozo.png" alt="Impacte ambiental: destrucció de la capa d'ozó" class="responsive-img">
			</div>
			<div class="text-impacte">
				<h3 class="subtitol-materials">Destrucción de la capa de ozono</h3>
				<p>En la parte superior de la estratosfera se encuentra la capa de ozono, que actúa de filtro de la radiación solar ultravioleta. Si se produce una reducción de su concentración, se provoca un incremento de la cantidad de radiación ultravioleta que incide sobre la Tierra. Cuando el dióxido de nitrógeno y los CFCs llegan a las altas regiones de la estratosfera son disociados por efecto de la luz solar, produciéndose óxido de nitrógeno y cloro libre. Este último elemento destruye el ozono.</p>
			</div>
		</div>
	</div>
	<div class="grid-x">
		<div class="medium-4 cell">
			<div class="imatge-impacte">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/impactes_plujaacida.png" alt="Impacte ambiental: pluja àcida" class="responsive-img">
			</div>
			<div class="text-impacte">
				<h3 class="subtitol-materials">Lluvia ácida</h3>
				<p>El uso de combustibles fósiles provoca emisiones de óxidos de azufre (principalmente SO2) y de nitrógeno (NOx) en el aire. Estos contaminantes se combinan con la humedad de la atmósfera y forman ácido sulfúrico y nítrico, respectivamente, que caen en forma de lluvia ácida. La lluvia ácida afecta negativamente a los lagos y los bosques, la flora y la fauna, las tierras agrícolas, las reservas de agua y la salud humana.</p>
			</div>
		</div>
		<div class="medium-4 cell">
			<div class="imatge-impacte">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/impactes_smog.png" alt="Impacte ambiental: smog" class="responsive-img">
			</div>
			<div class="text-impacte">
				<h3 class="subtitol-materials">Smog</h3>
				<p>Es la niebla con presencia de contaminantes atmosféricos originados básicamente por la industria y el transporte, y que es consecuencia de la concentración de partículas de polvo y humo que, al actuar como núcleos de condensación, provocan la condensación de vapor de agua, incluso con una humedad relativa de agua muy inferior al 100%. Los contaminantes que más contribuyen a este efecto son las partículas, el carbón, el polvo de hierro y el óxido de azufre.</p>
			</div>
		</div>
		<div class="medium-4 cell">
			<div class="imatge-impacte">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/impactes_toxichuma.png" alt="Impacte ambiental: toxicitat per a les persones" class="responsive-img">
			</div>
			<div class="text-impacte">
				<h3 class="subtitol-materials">Afectación de la salud de las personas</h3>
				<p>Las afectaciones pueden ser múltiples, una de las más destacadas es la probabilidad de provocar cáncer. Establecer los niveles de toxicidad crónica para cada sustancia es complicado, ya que en cada caso hay muchos factores que favorecen o desfavorecen los efectos de la posible toxicidad, que, al no tener efectos inmediatos, no siempre permite correlacionar con claridad las relaciones causa-efecto.</p>
			</div>
		</div>
	</div>
	

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<h2>Análisis de ciclo de vida</h2>
				<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; margin-bottom: 40px; margin-top: 20px;} .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}</style><div class='embed-container'><iframe src="https://www.youtube.com/embed/fLH8j283hH8" frameborder="0" allowfullscreen></iframe></div>
			</div>
		</div>
	</div>
	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<p>1. La mayoría de los materiales que se utilizan en construcción son válidos, no los podemos considerar buenos o malos. Lo que es bueno o malo es la manera de utilizarlos, como los gestionamos durante toda su vida útil.</p>
				<p>2. Los técnicos necesitamos disponer de información sobre el ciclo de vida de los materiales, para poder elegir los materiales a partir de datos objetivos. Esta información nos la proporcionan las declaraciones ambientales de producto.</p>
			</div>
		</div>
	</div>
	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<h3>Cerrar los ciclos materiales</h3>
				<p>El sector de la edificación actualmente se basa en extraer y transformar recursos para su utilización en los edificios y, en un determinado periodo de tiempo, convertirlos en residuos.</p>
				<div class="imatge-cicle-materials">
					<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/cicles_materials_obert_es.png" alt="Ciclo materiales abierto" class="imatge-text">
				</div>
				<p>Si conseguimos que los residuos se vuelvan a convertir en recursos podremos cerrar el ciclo de los materiales.</p>
				<div class="imatge-cicle-materials">
					<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/cicles_materials_tancat_es.png" alt="Ciclo materiales cerrado" class="imatge-text">
				</div>
				<p>A continuación se muestran algunos ejemplos de medidas que pueden ayudar a reducir el impacto ambiental de los materiales utilizados en el edificio:</p>
				<table class="table table-striped">
				  <thead>
				    <tr>
				      <th>Etapa</th>
				      <th>Aspectos a considerar durante el diseño del edificio</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td>Producción materiales</td>
				      <td>
				      	<ul>
				      		<li>Utilizar con preferencia materiales procedente de recursos renovablesValorizar los materiales utilizando materiales reciclados (procedentes de recuperación de residuos).</li>
				      		<li>Utilizar materiales de bajo consumo energético durante su proceso de extracción y fabricación.</li>
				      		<li>Utilizar materiales procedentes de materias primeres abundantes y de bajo impacto/toxicidad.</li>
				      		<li>Considerar la distancia de transporte de los materiales hasta la obra.</li>
				      	</ul>
				      </td>
				    </tr>
				    <tr>
				      <td>Construcción</td>
				      <td>
				      	<ul>
				      		<li>Aplicar un plan de gestión de residuos de obra que maximice el reciclaje.</li>
				      		<li>Controlar la correcta ejecución de las medidas de reducción del impacto ambiental.</li>
				      	</ul>
				      </td>
				    </tr>
				    <tr>
				      <td>Explotación / Mantenimiento</td>
				      <td>
				      	<ul>
				      		<li>Minimizar las necesidades energéticas del edificio incorporando energías renovables y sistemas de alta eficiencia.</li>
				      		<li>Minimizar la necesidad de agua en el edificio, favoreciendo la recirculación de aguas grises.</li>
				      		<li>Incrementar la durabilidad del edificio.</li>
				      		<li>Asegurar la reparabilidad de los productos, equipos y sistemas.</li>
				      		<li>Definir les operaciones de mantenimiento preventivo y correctivo.</li>
				      	</ul>
				      </td>
				    </tr>
				    <tr>
				      <td>Rehabilitación</td>
				      <td>
				      	<ul>
				      		<li>Hacer una correcta diagnosis para evaluar el origen de las patologías a resolver.</li>
				      		<li>Utilizar materiales compatibles con los existentes y de vida útil similar a los del edifico donde se actúa.</li>
				      		<li>Utilizar estructuras desmontables que puedan ser substituidas.</li>
				      		<li>Aplicar el resto de criterios del apartado de "producción de materiales" y "construcción".</li>
				      	</ul>
				      </td>
				    </tr>
				    <tr>
				      <td>Fin de vida</td>
				      <td>
				      	<ul>
				      		<li>Facilitar el proceso de desconstrucción.</li>
				      		<li>Maximizar la reutilitzación de componentes.</li>
				      		<li>Buscar aplicaciones a los residuos intermedios.</li>
				      	</ul>
				      </td>
				    </tr>
				  </tbody>
				</table>
				<p>Además, se recomienda aplicar la metodología del Análisis de Ciclo de Vida (ACV) en el momento de diseñar o priorizar estrategias de reducción de impacto ambiental. Esta metodología permite tener un conocimiento más completo de los productos y evitar posibles transferencias de impactos ambientales, como por ejemplo que se utilicen materiales de bajo impacto en cuanto a producción pero que sean poco durables y se necesite una rápida substitución.</p>

				<h3>Los productos, equipos y sistemes de construcción y la herramienta de análisis de ciclo de vida</h3>
				<p>La metodología del Análisis de Ciclo de Vida (ACV) puede ser útil para realizar estudios comparativos de productos, equipos y sistemas que tengan una misma función. Esta herramienta permite realizar balances globales considerando todos los impactos ambientales que se dan en las diferentes etapas de los materiales que incorporamos al construir un edificio: la producción de materiales, su transporte y puesta en obra, su vida útil en el edificio, su desintalación y la gestión final de los residuos que se generan. Como ejemplo de una aplicación de esta metodología se puede descargar el resumen de una ACV comparativa de cuatro sistemas de rehabilitación de cubiertas.</p>
			</div>
		</div>
	</div>
	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<h2>Ecoetiquetas</h2>
				<p>El objetivo de las ecoetiquetas (o etiquetas ecológicas) es el de promover la demanda de aquellos productos que tengan un menor impacto ambiental asociado. Conforme a la ISO (organización internacional de estandarización) existen tres tipologías de etiquetas ecológicas:</p>
				<h3>Ecoetiquetas tipo I</h3>
				<p>Las ecoetiquetas tipo I son certificaciones ambientales que consideran el análisis de ciclo de vida del producto o servicio. De acuerdo con la ISO 14024, las ecoetiquetas tipos I forman parte de un programa voluntario, multicriterio y desarrollado por una tercera parte que autoriza su uso. La ecoetiqueta tipo E indica que un producto es ambientalmente preferible en función de una serie de consideraciones basadas en su ciclo de vida. Algunos ejemplos de ecoetiquetas tipo I, geográficamente próximas y que incluyen productos de la construcción son:</p>
				<table class="table">
					<tbody>
				    <tr>
				      <td><img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/generalitat_alcada40.jpg" alt="Distintiu de Garantia de Qualitat Ambiental"></td>
				      <td><a href="http://mediambient.gencat.net/cat/empreses/ecoproductes_i_ecoserveis/inici.jsp">Distintiu de Garantia de Qualitat Ambiental</a> <br/>Generalitat de Catalunya</td>
				    </tr>
				    <tr>
				    	<td><img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/unio_europea_alcada40.jpg" alt="Ecolabel"></td>
				    	<td><a href="http://ec.europa.eu/environment/ecolabel/index_en.htm">Ecolabel</a> <br/>Unión Europea</td>
				    </tr>
				    <tr>
				    	<td><img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/Aenor_alcada40.jpg" alt="AENOR"></td>
				    	<td><a href="http://www.aenor.es/desarrollo/certificacion/productos/tipo.asp?tipop=2#6">Aenor Medio Ambiente</a> <br/>Asociación Española de Normalización y Certificación</td>
				    </tr>
				    <tr>
				    	<td><img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/angel_blau_alcada40.jpg" alt="Angel Blau"></td>
				    	<td><a href="http://www.blauer-engel.de/en/index.php">Der Blaue Engel (Àngel Blau)</a> <br/>Ministerio Federal de Medio Ambiente de Alemania</td>
				    </tr>
				    <tr>
				    	<td><img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/cigne_escandinau_alcada40.jpg" alt="Cigne Blanc"></td>
				    	<td><a href="http://www.svanen.nu/">The Swan (Cigne Blanc)</a> <br/>Northern Ecolabelling (Noruega, Finlandia, Islandia, Dinamarca, Suecia)</td>
				    </tr>
				    <tr>
				    	<td><img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/nf_alcada40.jpg" alt="NF"></td>
				    	<td><a href="http://www.marque-nf.com/">NF Environnement</a> <br/>AFNOR Certification (Francia)</td>
				    </tr>
					</tbody>
				</table>
				<h3>Ecoetiquetas tipo II</h3>
				<p>Las ecoetiquetas tipo II o auto declaraciones ambientales, de acuerdo con la ISO 14021, consisten en afirmaciones relativas a alguna característica ambiental del producto que las contiene y que no han estado certificadas por una tercera parte. Según la norma ISO 14021, debe evitarse el uso de frases generalistas o ambiguas sobre el producto como seria “respetuoso con el medio ambiente”, “ecológico”, “no contamina” o “protege la capa de ozono”.</p>
				<table class="table">
					<tbody>
				    <tr>
				      <td><img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/Moebus.jpg" alt="Bucle de Möbius"></td>
				    </tr>
				  </tbody>
				</table>
				<p>El bucle de Möbius es un ejemplo de auto declaración ambiental muy conocido por el consumidor. La ISO 14021 indica que puede utilizarse para informar que un producto o envase es reciclable o que contiene material reciclado. En caso de no indicar un porcentaje, el símbolo se interpreta como que el producto o envase es reciclable. En caso de indicar un %, el número declara el contenido de material reciclado del producto o envase. Algunas empresas utilizan símbolos para diferenciar en sus propios productos los que tienen un mejor comportamiento ambiental. Según la ISO 14021, estos símbolos deben ser simples, fácilmente reproducibles e identificables. Además, en caso de que utilicen objetos naturales, estos han de tener una relación directa y verificable con respecto al tema declarado.</p>
				<h3>Ecoetiquetas tipo III</h3>
				<p>Las ecoetiquetas tipo III o declaraciones ambientales de producto (EPDs), de acuerdo con la ISO 14025, facilitan la comunicación objetiva, comparable y creíble del comportamiento ambiental de los productos. Las EPDs no dan criterios sobre la preferencia de un producto ni establecen unos criterios mínimos a cumplir. Al mismo tiempo, pueden fomentarla demanda y oferta de productos y servicios con un menor impacto ambiental al permitir una comparación justa entre diferentes productos. Estas declaraciones se basan en estudios de Análisis de Ciclo de Vida de un producto y se desarrollan de acuerdo a unos requerimientos específicos. Además, las EPDs pueden estar revisadas y validadas por un organismo acreditado. Algunos ejemplos de ecoetiquetas tipo III que incluyen productos de la construcción son:</p>
				<table class="table">
					<tbody>
				    <tr>
				      <td><img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/logo_dapcons_40px.png" alt="DAPCons"></td>
				      <td><a href="https://s3-eu-west-1.amazonaws.comindex.php/ca/sistema_dapc">Declaración Ambiental de Producto de la Construcción</a> <br/>El Col·legi d’Aparelladors, Arquitectes Tècnics i Enginyers d’Edificació de Barcelona administra y gestiona un sistema de EPDs a nivel español.</td>
				    </tr>
				    <tr>
				      <td><img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/umwelt_alcada40.jpg" alt="Umwelt"></td>
				      <td><a href="http://bau-umwelt.de/hp1/Startseite.htm">Environmental Product Declaration</a> (Declaración Ambiental de Producto) <br/>AUB (Alemania)</td>
				    </tr>
				    <tr>
				      <td><img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/epd_suecia_alcada40.jpg" alt="EPD Suècia"></td>
				      <td><a href="http://www.environdec.com">Environmental Product Declaration</a> (Declaración Ambiental de Producto) <br/>The Swedish Environmental Management Council (Suecia)</td>
				    </tr>
				  </tbody>
				</table>
			</div>
		</div>
	</div>
</div>


<% else %>
<div class="container">

	<div class="grid-x">
		<div class="col m12">
			<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials_gran_es.jpg" alt="Materials" class="responsive-img">	
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<p>A more respectful architecture with the environment implies, firstly, to become aware of the environmental burdens that generates and, secondly, to adopt measures to minimise them.</p>
				<p>The construction and maintenance of buildings consumes a 40% of the total used materials in the European Union. This percentage indicates the great repercussion that a good materials choice can have for the buildings construction and rehabilitation.  </p>
			</div>
			<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; margin-bottom: 40px; margin-top: 20px;} .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}</style><div class='embed-container'><iframe src="https://www.youtube.com/embed/LiKjRNqq8us" frameborder="0" allowfullscreen></iframe></div>
			<div class="paragraf-tema-clau">
				<p>The main challenge for building professionals is to meet the functionality, safety and habitability requirements of buildings while minimizing their environmental impacts.</p>
			</div>
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<h2>Environmental impacts</h2>
				<p>When choosing the construction materials it has to be considered the natural resource consumption and emissions that will represent, the impact on ecosystems and the behaviour as a waste.</p>
				<p>Some of the most relevant environmental impacts that are commonly used to compare products are explained below:</p>
			</div>
		</div>
	</div>
	<div class="grid-x">
		<div class="medium-4 cell">
			<div class="imatge-impacte">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/impactes_acidificacio.png" alt="Impacte ambiental: acidificació dels sòls" class="responsive-img">
			</div>
			<div class="text-impacte">
				<h3 class="subtitol-materials">Soil acidification</h3>
				<p>It is originated as a result of the return of the sulfur and nitrogen oxides released into the atmosphere to the Earth surface as acids. The acidification can occur as dry or wet deposition (acid rain).</p>
			</div>
		</div>
		<div class="medium-4 cell">
			<div class="imatge-impacte">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/impactes_biodiversitat.png" alt="Impacte ambiental: pèrdua de biodiversitat" class="responsive-img">
			</div>
			<div class="text-impacte">
				<h3 class="subtitol-materials">Biodiversity loss</h3>
				<p>Biodiversity is guarantee of biosphere’s comfort and balance. In each ecosystem, all the living organisms are part of a whole, interacting among each other, but also with the surrounding air, water and soil. The main cause of the biodiversity loss is the habitat deterioration of the affected species. </p>
			</div>
		</div>
		<div class="medium-4 cell">
			<div class="imatge-impacte">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/impactes_eutrofitzacio.png" alt="Impacte ambiental: eutrofització de l'aigua" class="responsive-img">
			</div>
			<div class="text-impacte">
				<h3 class="subtitol-materials">Water eutrophication</h3>
				<p>Water pollution can cause an overabundance of nutrients, mainly nitrogen and phosphorous. This leads to an excess of vegetation and other organisms that, consequently, cause a depletion of the oxygen dissolved in water affecting other species such as fishes. </p>
			</div>
		</div>
	</div>
	<div class="grid-x">
		<div class="medium-4 cell">
			<div class="imatge-impacte">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/impactes_hivernacle.png" alt="Impacte ambiental: efecte hivernacle" class="responsive-img">
			</div>
			<div class="text-impacte">
				<h3 class="subtitol-materials">Greenhouse effect</h3>
				<p>The responsible gases for the greenhouse effect are those gaseous compounds of the atmosphere, both with natural and anthropogenic origins, which absorb and reemit the infrared radiation, contributing to the increase of the Earth mean temperature.</p>
			</div>
		</div>
		<div class="medium-4 cell">
			<div class="imatge-impacte">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/impactes_metalls.png" alt="Impacte ambiental: metalls pesants" class="responsive-img">
			</div>
			<div class="text-impacte">
				<h3 class="subtitol-materials">Heavy metals</h3>
				<p>As heavy metals, those having a relatively high atomic weight and a density of about 5g/cm3 are considered. In general, they are very toxic but without presence in high concentrations in the air or in the water. However, in case of accumulation, they can reach critical or lethal levels. </p>
			</div>
		</div>
		<div class="medium-4 cell">
			<div class="imatge-impacte">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/impactes_ozo.png" alt="Impacte ambiental: destrucció de la capa d'ozó" class="responsive-img">
			</div>
			<div class="text-impacte">
				<h3 class="subtitol-materials">Ozone layer depletion</h3>
				<p>At the top of the Stratosphere there is the ozone layer, which acts as a filter of the ultraviolet solar radiation. If there is a reduction on its concentration, the amount of ultraviolet radiation that goes into the Earth also increases. When nitrogen dioxide and CFCs reach other regions of the Stratosphere, they dissociate because of the sunlight, producing nitrogen oxide and free chlorine. This last element destroys ozone. </p>
			</div>
		</div>
	</div>
	<div class="grid-x">
		<div class="medium-4 cell">
			<div class="imatge-impacte">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/impactes_plujaacida.png" alt="Impacte ambiental: pluja àcida" class="responsive-img">
			</div>
			<div class="text-impacte">
				<h3 class="subtitol-materials">Acid rain</h3>
				<p>The use of fossil fuels emits sulfur oxides (mainly SO2) and nitrogen oxides (NOx) into the air. These pollutants, when combined with the atmosphere humidity, turn into sulfuric and nitric acids, respectively, that fall as acid rain. The acid rain negatively affects lakes and forests, flora and fauna, cultivable land, water reservoirs and human health. </p>
			</div>
		</div>
		<div class="medium-4 cell">
			<div class="imatge-impacte">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/impactes_smog.png" alt="Impacte ambiental: smog" class="responsive-img">
			</div>
			<div class="text-impacte">
				<h3 class="subtitol-materials">Smog</h3>
				<p>It refers to the fog with atmospheric pollutants whose main origins are industrial activities and transport. As a consequence of the concentration of dust particles and smoke, when acting as condensation nuclei, they produce water vapor condensation, even when the relative humidity is much less than 100%. The pollutants that contribute the most to this effect are particles, coal, iron dust and sulfur oxide.</p>
			</div>
		</div>
		<div class="medium-4 cell">
			<div class="imatge-impacte">
				<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/impactes_toxichuma.png" alt="Impacte ambiental: toxicitat per a les persones" class="responsive-img">
			</div>
			<div class="text-impacte">
				<h3 class="subtitol-materials">Human health affections</h3>
				<p>The affections can be multiple. Establishing the chronic toxicity levels for each substance is complicated since there are several factors favouring or disadvantaging the effects of the possible toxicity and, as it does not have immediate effects, it is not always possible to correlate the cause-effect relationships. </p>
			</div>
		</div>
	</div>
	

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<h2>Life Cycle Assessment (LCA)</h2>
				<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; margin-bottom: 40px; margin-top: 20px;} .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}</style><div class='embed-container'><iframe src="https://www.youtube.com/embed/fLH8j283hH8" frameborder="0" allowfullscreen></iframe></div>
			</div>
		</div>
	</div>
	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<p>1. The majority of the materials used in construction are valid since they can not be considered as good or bad. What is good or bad is the way to use them and how they are managed throughout their entire service life.</p>
				<p>2. Technicians need to have information about the complete materials’ life cycle to be able to choose constructive solutions based on objective data. This information is provided by the environmental product declarations.</p>
			</div>
		</div>
	</div>
	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<h3>Closing materials cycles</h3>
				<p>Currently, the construction sector is based on extracting and transforming resources for its use in buildings and, after a while, converting them into wastes. </p>
				<div class="imatge-cicle-materials">
					<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/cicles_materials_obert_es.png" alt="Ciclo materiales abierto" class="imatge-text">
				</div>
				<p>If the wastes can be converted again into resources, it will be possible to close the cycle of the materials.</p>
				<div class="imatge-cicle-materials">
					<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/cicles_materials_tancat_es.png" alt="Ciclo materiales cerrado" class="imatge-text">
				</div>
				<p>Some examples of measures that can help to reduce the environmental impacts of the materials used in buildings are showed below:</p>
				<table class="table table-striped">
				  <thead>
				    <tr>
				      <th>Stage</th>
				      <th>Aspects to consider during the design of the building</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td>Materials production</td>
				      <td>
				      	<ul>
				      		<li>Preferably, use of materials coming from renewable resources. Valorise the materials by using recycled materials (coming from the waste recovery).</li>
				      		<li>Use of materials with a low energetic expenditure during the extraction and fabrication.</li>
				      		<li>Use of materials coming from abundant raw materials and with low impacts and toxicity.</li>
				      		<li>Consider the distance between the materials and the construction.</li>
				      	</ul>
				      </td>
				    </tr>
				    <tr>
				      <td>Construction</td>
				      <td>
				      	<ul>
				      		<li>Application of a waste management plan for the construction that maximizes the recycling.</li>
				      		<li>Control of the correct execution of measures to reduce the environmental impact.</li>
				      	</ul>
				      </td>
				    </tr>
				    <tr>
				      <td>Exploitation / Maintenance</td>
				      <td>
				      	<ul>
				      		<li>Minimize the building energetic needs and incorporate the use of renewable energy.</li>
				      		<li>Minimize the water needs of the building and favour the grey water circulation. </li>
				      		<li>Increase the durability of the building.</li>
				      		<li>Assure the reparability of buildings, elements and systems.</li>
				      		<li>Define preventative and corrective maintenance operations.</li>
				      	</ul>
				      </td>
				    </tr>
				    <tr>
				      <td>Restoration</td>
				      <td>
				      	<ul>
				      		<li>Make a correct diagnosis to evaluate the origin of the problem to be solved.</li>
				      		<li>Use compatible materials with existing ones and with similar service life than those used in the building. </li>
				      		<li>Use detachable structures that can be easily replaced.</li>
				      		<li>Application of the criteria mentioned above in "production of materials" and "construction".</li>
				      	</ul>
				      </td>
				    </tr>
				    <tr>
				      <td>End-of-life</td>
				      <td>
				      	<ul>
				      		<li>Facilitate the deconstruction process.</li>
				      		<li>Maximize the reuse of components.</li>
				      		<li>Find applications for intermediate-level waste.</li>
				      	</ul>
				      </td>
				    </tr>
				  </tbody>
				</table>
				<p>Furthermore, it is recommended to apply a Life Cycle Assessment (LCA) when designing or having to prioritise strategies to reduce the environmental impacts. This methodology allows having a more complete knowledge of products and avoids possible transfers of environmental impacts, such as using low-impact materials in terms of production, but not durable implying a periodic substitution. </p>

				<h3>Products, equipments and construction systems and the Life Cycle Assessment (LCA) tool</h3>
				<p>The Life Cycle Assessment (LCA) methodology can be useful to compare between products, equipments and systems that have the same function. This tool allows making global balances considering all the environmental impacts produced in the different stages of the materials used to construct a building: the production of materials, transport, service life in the building, uninstallation and final management of the wastes generated. </p>
			</div>
		</div>
	</div>
	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<h2>Eco-labels</h2>
				<p>The main goal of the eco-labels (also known as environmental labels) is to promote the demand of the products that have a lower environmental impact. According to the ISO (International Organization for Standarization) there are three eco-labels types.</p>
				<h3>Type I eco-labels</h3>
				<p>Type I eco-labels are environmental certifications that consider the life cycle assessment of a product or service. According to the ISO 14024, the type I eco-labels are part of a voluntary and multi-criteria program, developed by a third party that authorises the use. The type I eco-labels indicates that a product is environmentally preferable dependent on several considerations based on its life cycle assessment. Some examples of type I eco-labels geographically close and that includes construction products are:</p>
				<table class="table">
					<tbody>
				    <tr>
				      <td><img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/generalitat_alcada40.jpg" alt="Distintiu de Garantia de Qualitat Ambiental"></td>
				      <td><a href="http://mediambient.gencat.net/cat/empreses/ecoproductes_i_ecoserveis/inici.jsp">Distintiu de Garantia de Qualitat Ambiental</a> <br/>Generalitat de Catalunya</td>
				    </tr>
				    <tr>
				    	<td><img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/unio_europea_alcada40.jpg" alt="Ecolabel"></td>
				    	<td><a href="http://ec.europa.eu/environment/ecolabel/index_en.htm">Ecolabel</a> <br/>European Union</td>
				    </tr>
				    <tr>
				    	<td><img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/Aenor_alcada40.jpg" alt="AENOR"></td>
				    	<td><a href="http://www.aenor.es/desarrollo/certificacion/productos/tipo.asp?tipop=2#6">Aenor Medio Ambiente</a> <br/>Asociación Española de Normalización y Certificación</td>
				    </tr>
				    <tr>
				    	<td><img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/angel_blau_alcada40.jpg" alt="Angel Blau"></td>
				    	<td><a href="http://www.blauer-engel.de/en/index.php">Der Blaue Engel (Àngel Blau)</a> <br/>Ministerio Federal de Medio Ambiente de Alemania</td>
				    </tr>
				    <tr>
				    	<td><img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/cigne_escandinau_alcada40.jpg" alt="Cigne Blanc"></td>
				    	<td><a href="http://www.svanen.nu/">The Swan (Cigne Blanc)</a> <br/>Northern Ecolabelling (Noruega, Finlandia, Islandia, Dinamarca, Suecia)</td>
				    </tr>
				    <tr>
				    	<td><img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/nf_alcada40.jpg" alt="NF"></td>
				    	<td><a href="http://www.marque-nf.com/">NF Environnement</a> <br/>AFNOR Certification (Francia)</td>
				    </tr>
					</tbody>
				</table>
				<h3>Type II eco-labels</h3>
				<p>Type II eco-labels or environmental self-declarations, in accordance with the ISO 14021, focus on positive environmental characteristics of a product that have not been authorised by a third party. According to the ISO 14021, too general and ambiguous phrases about a product like “respectful with the environment”, “ecological”, “does not pollute” or “protects the ozone layer” must be avoided.  </p>
				<table class="table">
					<tbody>
				    <tr>
				      <td><img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/Moebus.jpg" alt="Bucle de Möbius"></td>
				    </tr>
				  </tbody>
				</table>
				<p>The Möbius strip is an example of environment self-declaration widely known by the consumer. According to the ISO 14021, it can be used to indicate that a product or container is recyclable or contains recycled materials. In the absence of a percentage, the symbol is interpreted as the product or container is recyclable. On the contrary, when the percentage is specified, it indicates the amount of recycled material that contains. Some companies make use of symbols to indicate that their own products have a better environmental performance. In accordance with the ISO 14021, these symbols have to be simple, easily reproducible and recognisable. Moreover, in case of using symbols emulating natural objects, they must have a direct and verifiable relation with what is stated.</p>
				<h3>Type III eco-labels</h3>
				<p>Type III eco-labels or environmental product declarations, based on the ISO 14025, facilitate the objective, comparable and trustable communication of the environmental performance of products. EPDs neither give criteria for the preference of a product nor establish a minimum criterion to be achieved. However, they promote the products and services demand and offer with a lower environmental impact by comparing between different products. These declarations are based on the life cycle assessment of a product that is developed according to specific requirements. What is more, EPD can be reviewed and validated by accredited organisms. Some examples of type III eco-labels that include construction products are:</p>
				<table class="table">
					<tbody>
				    <tr>
				      <td><img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/logo_dapcons_40px.png" alt="DAPCons"></td>
				      <td><a href="https://s3-eu-west-1.amazonaws.comindex.php/ca/sistema_dapc">Declaración Ambiental de Producto de la Construcción</a> <br/>El Col·legi d’Aparelladors, Arquitectes Tècnics i Enginyers d’Edificació de Barcelona administra y gestiona un sistema de EPDs a nivel español.</td>
				    </tr>
				    <tr>
				      <td><img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/umwelt_alcada40.jpg" alt="Umwelt"></td>
				      <td><a href="http://bau-umwelt.de/hp1/Startseite.htm">Environmental Product Declaration</a> <br/>AUB (Alemania)</td>
				    </tr>
				    <tr>
				      <td><img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/materials/epd_suecia_alcada40.jpg" alt="EPD Suècia"></td>
				      <td><a href="http://www.environdec.com">Environmental Product Declaration</a> (Declaración Ambiental de Producto) <br/>The Swedish Environmental Management Council (Suecia)</td>
				    </tr>
				  </tbody>
				</table>
			</div>
		</div>
	</div>

</div>

<% end %>