<% if params[:locale] == 'ca' %>
<div class="container">

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				
				<div class="card blue lighten-4">
					<div class="card-content">
				  	<strong>Atenció!</strong> Estem treballant en l'actualització d'aquest tema clau.
				  </div>
				</div>

				<h2>Residus</h2>
				<p style="text-align: justify">Els residus de construcció i demolició (RCDs), procedeixen en la seva major part d'enderrocaments d'edificis i de les restes dels materials de construcció de les obres de nova planta i de petites obres de reformes en habitatges o urbanitzacions. Conforme a la legislació espanyola marc de residus -Llei 10/1998, de Residus- la competència sobre la seva gestió correspon a les Comunitats Autònomes, llevat dels procedents d'obres menors domiciliàries, que està confiada als ajuntaments. La major part dels RCDs es poden considerar inerts o assimilables a inerts, i per tant el seu poder contaminant és relativament baix però, per contra, el seu impacte visual és amb freqüència alt pel gran volum que ocupen i per l'escàs control ambiental exercit sobre els terrenys que es trien per al seu dipòsit.</p>
<p style="text-align: justify">Un segon impacte ambiental negatiu es deriva del balafiament de matèries primeres que implica el tipus de gestió que habitualment es fa a Espanya, que majoritàriament no contempla el reciclatge.</p>
<p style="text-align: justify">Els comunment denominats residus inerts poden tenir diferents procedències: els generats en les demolicions d'edificis, les excavacions de sòls o execució d'obres de reforma en carrers; els originats en carreteres i infraestructures; les excavacions d'obres d'edificació; les barreges dels enderrocs de construcció i els rebutjos o trencaments de la fabricació de peces i elements de construcció.</p>
<p style="text-align: justify">La majoria d'aquests residus inerts serien reutilitzables, generalment en altres usos en el mateix sector de la construcció, amb operacions de neteja i preparació prèvies no molt complicades, però la realitat actualment en el nostre país és que la majoria es destinen als abocadors (mes o menys controlats) i que els percentatges de reciclatge o reutilització de residus de construcció són dels mes baixos d'Europa.</p>

<p style="text-align: justify">En aquest article s'analitza quin és la situació actual de la gestió de residus de construcció en l'Estat Espanyol, el marc normatiu que la regeix, i es plantegen una sèrie d'estratègies de millora per a avançar cap a un escenari més sostenible.</p>
				
				
			</div>
		</div>
	</div>

</div>
<% else %>
<div class="container">

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				
				<div class="card blue lighten-4">
					<div class="card-content">
				  	<strong>Atención!</strong> Estamos trabajando en la actualización de este tema clave.
				  </div>
				</div>

				<h2>Residuos</h2>

				<p style="padding-top: 7px;padding-right: 0px;padding-bottom: 7px;padding-left: 0px;text-align: justify;margin: 0px">Los residuos de construcción y demolición (RCDs), proceden en su mayor parte de derribos de edificios y de los restos de los materiales de construcción de las obras de nueva planta y de pequeñas obras de reformas en viviendas o urbanizaciones. Conforme a la legislación española marco de residuos -Ley 10/1998, de Residuos- la competencia sobre su gestión corresponde a las Comunidades Autónomas, excepto los procedentes de obras menores domiciliarias, que está confiada a los ayuntamientos. La mayor parte de los RCDs se pueden considerar inertes o asimilables a inertes, y por lo tanto su poder contaminante es relativamente bajo pero, por el contrario, su impacto visual es con frecuencia alto por el gran volumen que ocupan y por el escaso control ambiental ejercido sobre los terrenos sobre los que se realiza su vertido.</p>
<p style="padding-top: 7px;padding-right: 0px;padding-bottom: 7px;padding-left: 0px;text-align: justify;margin: 0px">Un segundo impacto ambiental negativo se deriva del despilfarro de materias primeras que implica el tipo de gestión que habitualmente se hace en España, que mayoritariamente no contempla el reciclaje. Los comúnmente denominados residuos inertes pueden tener diferentes procedencias: los generados en las demoliciones de edificios, las excavaciones de suelos o ejecución de obras de reforma en calles; los originados en carreteras e infraestructuras; las excavaciones de obras de edificación; las mezclas de los escombros de construcción y los rechazos o roturas de la fabricación de piezas y elementos de construcción. La mayoría de estos residuos inertes serían reutilizables, generalmente, en otros usos en el mismo sector de la construcción, con operaciones de limpieza y preparación previas no muy complicadas, pero la realidad actualmente en nuestro país es que la mayoría se destinan a los vertederos (más o menos controlados) y que los porcentajes de reciclaje o reutilización de residuos de construcción son de los más bajos de Europa.</p>

<p style="padding-top: 7px;padding-right: 0px;padding-bottom: 7px;padding-left: 0px;text-align: justify;margin: 0px">En este artículo se analiza cuál es la situación actual de la gestión de residuos de construcción en el Estado Español, el marco normativo que la rige, y se plantean una serie de estrategias de mejora para adelantar hacia un escenario más sostenible.</p>

			</div>
		</div>
	</div>

</div>
<% end %>