<% if params[:locale] == 'ca' %>
<div class="container">

	<div class="grid-x">
		<div class="medium-12 cell">
			<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/residus_gran_ca.jpg" alt="Residus" class="responsive-img">	
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<p>Els residus de construcció i demolició (RCDs), procedeixen en la seva major part d’enderrocaments d’edificis i de les restes dels materials de construcció de les obres de nova planta i de petites obres de reformes en habitatges o urbanitzacions.</p>

				<p>La major part dels RCDs es poden considerar inerts o assimilables a inerts, i per tant el seu poder contaminant és relativament baix però, per contra, el seu impacte visual és amb freqüència alt pel gran volum que ocupen i per l'escàs control ambiental exercit sobre els terrenys que es trien per al seu dipòsit. També hi ha l’impacte negatiu que es deriva de l’ús de matèries primeres de forma innecessària provocat per tenir una economia linial, on cada vegada s’accelera més l’extracció de recursos i la seva conversió en residus.</p>

			</div>
			<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; margin-bottom: 40px; margin-top: 20px;} .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}</style><div class='embed-container'><iframe src="https://player.vimeo.com/video/309828920" width="640" height="360" frameborder="0" allowfullscreen></iframe></div>
			
			<div class="paragraf-tema-clau">
				<h3>Origen i producció de RCDs</h3>
				<p>El tractament dels residus de construcció i demolició no ha de començar a la planta de tractament, ni tan sols a la pròpia obra en el moment en el que es produeixen. L’inici és el moment en el qual s’està projectant l’edifici. </p>
				<p>A l’obra també hi ha una part important de la feina. Per obtenir uns àrids reciclats de qualitat és necessari separar les diferents fraccions mitjantçant un procés de demolició selectiva. Com que això implicarà uns majors costos de demolició les plantes de tractament d’RCDs han de disposar de tases diferenciades en funció del grau de contaminació i mescla de fraccions que tinguin els RCDs en la seva recepció.</p>
				<p>Etapes de la demolició selectiva:
					<ol>
						<li>Elements qualificats com a residus perillosos.</li>
						<li>Instal·lacions d’electricitat, aigua i sanejament.</li>
						<li>Fusteries.</li>
						<li>Falsos sostres, revestiments de parets, envans i tancaments.</li>
						<li>Estructura.</li>
						<li>Fonamentació.</li>
					</ol>

				</p>
			</div>

			<div class="paragraf-tema-clau">
				<h3>Residus especials</h3>
				<p>De la gran quantitat de residus que es generen, la major part són inerts, però hi ha una petita fracció de residus especials i perillosos que cal gestionar adequadament. Entre aquests hi trobem l‘amiant (i els productes que el contenen com el fibrociment) o les travesses de via.</p>
				<p>D’altra banda, cal tenir present que cada dia apareixen nous productes que ens fan la vida més fàcil i incrementen el nostre nivell de vida, però la velocitat amb que tot evoluciona no sempre permet assegurar que tot el que surt el mercat està prou desenvolupat i provat per assegurar que l'impacte que pot tenir sobre el medi ambient i especialment sobre la salut de les persones és inexistent.</p>
				<p>La construcció no és aliena a aquestes limitacions que comencen a afectar principalment a l'impacte sobre el mediambient, la contaminació local i global, a la qualitat de l'aire interior dels edificis i en alguns casos a la qualitat de l'aigua potable. Sembla clar que fins ara el nostre sector no s'ha preocupat massa per aquests aspectes; la fe redemptora en les noves tecnologies comporta moltes vegades l'ús de materials poc experimentats, dels quals desconeixem moltes de les seves característiques.</p>
				<p>És per això que recerca en el camp de la toxicologia no s’atura, i empeny als països occidentals a legislar per prohibir o limitar l'ús de noves substàncies, que tot d’un plegat passen de ser materials utilitzats diàriament a convertir-se en tòxiques per l'home i a esdevenint a la vegada residus perillosos.</p>

				<h4>Amiant</h4>
				<p>L’amiant és un silicat mineral en forma de fibres que quan s’inhala pot provocar, a la llarga, una malaltia pulmonar anomenada asbestosi i càncers de pulmó o de pleura. Les seves aplicacions han estat generalment vinculades al seu excel·lent comportament davant del foc (protecció d'estructures metàl·liques, aïllament de focus de calor, calorifugació de canonades calentes, etc.). Existeix un risc potencial molt elevat per als treballadors que el manipulin sense els mínims de seguretat.</p>
				<p>En aquest sentit, altres fibres, com la de vidre o la de roca comencen a ser qüestionades, tot i que sembla que la seva perillositat està molt dessota de la provocada per l'amiant.</p>

				<h4>Creosota</h4>
				<p>La creosota és una substància utilitzada històricament com a protector per a la fusta, principalment per a travesses de ferrocarril, pals de llum i telèfon, tanques i ponts. Aquesta fusta tractada químicament s’ha reutilitzat en molts casos en parcs i jardins o com a element de construcció.</p>
				<p>La creosota és el nom amb què es designen la varietat d’uns dos-cents compostos químics, entre els quals trobem el quitrà mineral, la creosota de fusta i la brea d’hulla.</p>
				<p>Els hidrocarburs aromàtics policíclics, principals components de la creosota, són derivats del benzè, que tenen com a principal compost el benzè (a) pireno, producte catalogat com a perillós i cancerigen ( l’Agència Internacional per a la Recerca del Càncer classifica aquesta substància com a 2A: probable carcinogen per l’home).</p>
				<p>Per aquest fet la creosota queda subjecte a la normativa que limita la comercialització i ús de determinades substàncies i preparats perillosos.</p>
				<p>La comercialització i ús de substàncies i preparats perillosos ve regulat per les normatives següents:
				<ul>
					<li>A nivell Europeu la Directiva 2001/90/CE, del 26 d’octubre de 2001, amb la que s'adapta al progrés tècnic per setena vegada l’annex I de la Directiva 76/769/CEE i regula específicament la creosota.</li>
					<li>A nivell Estatal l’Ordre PRE/2666/2002, del 25 d’octubre de 2002, on es modifica l’annex I del Real Decret 1406/1989 i incorpora el compliment de la Directiva Europea 2001/90/CE a partir del 30 de juny de 2003.</li>
				</ul>
				<p>El compliment d’aquesta última Ordre comporta no comercialitzar ni utilitzar les substàncies que apareixen en la llista que figura en l’annex I, entre els quals hi ha la creosota, i estableix les limitacions i excepcions en la utilització d’aquest tipus de substàncies perilloses o preparats que les continguin. Així, doncs, la normativa prohibeix la utilització de fusta tractada amb creosota, ja sigui comercialitzada per primer cop o de segona mà, en l’interior d’edificis, joguines, terrenys de joc, parcs, jardins, instal·lacions recreatives, mobles de jardí, envasos en contacte amb matèria primera o cultius, etc., a partir de la data establerta.</p>
				<p>En definitiva tots aquells usos que es considera que poden tenir un elevat risc de contacte freqüent amb la pell, pels seus efectes nocius per la salut,  deixant de banda l’efecte que causen sobre el medi ambient, per la difícil descomposició d’alguns dels seus components.</p>

				<h4>Plàstics</h4>
				<p>Tot i que la majoria de plàstics es comporten com inerts quan formen part de materials de construcció, alguns són altament tòxics en cas d'incendi. Aquest aspecte controlat ja des de la NBE-CPI-81 va ser sorprenentment oblidat per les normes d'incendi posteriors.</p>
				<p>En són un exemple: el PVC que emet gasos tòxics i àcid clorhídric; i les escumes de poliuretà que poden emetre compostos amb cianur.</p>

				<h4>Materials radioactius</h4>
				<p>Tots els materials tenen radioactivitat, si bé en la majoria de casos no suposa cap perill per a les persones. Les radiacions poden ser de tipus alfa, beta o gamma; les més perilloses són les gamma i les menys les alfa. Un cas prou conegut va ser el dels parallamps radioactius, que es van haver de retirar degut a les radiacions que emetien. Una altra font de radioactivitat dins els edificis és el gas radó. És un gas noble que s'acostuma a trobar en terrenys granítics i que penetra dins els edificis a través dels fonaments. A països com Suècia es creen barreres als fonaments per evitar el seu pas.</p>
				<p>Uns altres elements perillosos poden ser els detectors iònics de foc. La manera de procedir en el cas d'haver de retirar aquest tipus de detectors en un enderroc o rehabilitació, serà la següent: Primer de tot, s'ha de mirar la marca i posar-se en contacte amb el comerciant i retornar-lo. Pot ser que no tingui marca. En aquest cas, si és més o menys actual haurà de tenir una contrasenya d'homologació atorgada per l'Estat. A partir d'aquesta dada es pot trobar el comerciant o el distribuïdor del producte a l'Estat espanyol.</p>
				<p>Pot succeir que el detector sigui anterior al procés d'homologació. En conseqüència, no hi haurà manera possible de contactar amb el comerciant. En aquest cas, s'hauria de sol·licitar a ENRESA la seva retirada. Per a la seva retirada pot demanar-se una autorització de transferència, en el cas de Catalunya es pot realitzar a través del Departament d'Indústria, Comerç i Turisme. La problemàtica és que ENRESA habitualment espera a tenir un carregament més o menys important per a efectuar la seva retirada. Això significa, que entre que es sol·licita la seva retirada fins que venen a recollir-lo, poden passar de dos a tres mesos.</p>
				<p>Pel què fa a la seva manipulació, en principi, no hi ha cap tipus de problema per a retirar-los manualment i emmagatzemar-los, sempre i quan no es trenquin ni s'afecti la integritat de la carcassa. Si fos de extrema necessitat manipular elements que estiguessin danyats, es farà amb extrema precaució protegint-se amb guants de plàstic, que s'extrauran quedant-se l'exterior cap al interior (per a no tocar cap residu radioactiu), igual que faria un cirurgià per treure's els guants. Posteriorment es pot guardar tot dins d'una bossa de plàstic.</p>
				<p>És important saber que en el cas que sigui el distribuïdor o comerciant qui vingui a recollir el detector, aquest element radioactiu segurament serà 'reciclat' per a poder-se reutilitzar. En canvi, en el cas de que sigui ENRESA qui se'n encarregui, en principi (encara que mai es té la seguretat completa que pugui ser venut o transferit amb posterioritat), aquest producte passarà a la seva seu d'emmagatzematge a Almeria. Una curiositat: molts dels detectors que hi ha col·locats o que col·loquem nous, contenen material radioactiu procedent del reciclatge dels parallamps radioactius (actualment gairebé tots retirats).</p>
				<p>Finalment, cal saber que els detectors iònics sempre poden ser substituïts per d'altres tipus menys nocius, com pot ser el cas dels detectors òptics o els termovelocimètrics.</p>

				<h4>PCB</h4>
				<p>L'any 1996 la Comissió Europea impulsà la Directiva 96/59/CE relativa a l'eliminació dels PCB, a causa dels alts riscos que presenten per al medi ambient i la salut humana.</p>
				<p>Aquesta Directiva obliga a realitzar, a cada Estat membre, un inventari de tots aquells aparells que continguin un volum de PCB superior a 5 dm3. Aquest inventari, que en principi havia de quedar enllestit en el termini màxim de tres anys, ha de servir perquè cada país elabori un pla propi per a la descontaminació i eliminació dels PCB, dins el termini que va del 2001 a finals del 2010. Així com un projecte de recollida i posterior eliminació de la resta d'aparells no inventariats.</p>
				<p>Seguint les pautes marcades per la Directiva europea, el Govern central aprovà, el 18 d'abril de 2001, el Pla corresponent. En aquest Pla es dictamina incloure a l'inventari els aparells de fins a 1 dm3. A la vegada que determina que són les Comunitats Autònomes qui han de realitzar anualment l'inventari. I a la vegada, realitzar plans propis de descontaminació i eliminació, revisables cada quatre anys, que haurien d’haver remès abans del 31 d'agost de 2001. La confecció de l'inventari contempla dos apartats: quantitats existents de PCB i aparells que els contenen, quantitats existents d'olis dielèctrics contaminats amb PCB i d'aparells que els contenen.</p>
				<p>El Pla fixa els següents objectius:
					<ul>
						<li>Descontaminació o eliminació de transformadors, així com la resta d'aparells, amb un volum de PCB superior a 5 dm3; i eliminació dels PCB continguts en els mateixos, abans de l'1 de gener del 2011.</li>
						<li>Els transformadors, amb una concentració entre 50 i 500 ppm en pes de PCB, es podran mantenir fins al final de la seva vida útil; i posteriorment eliminats o descontaminats.</li>
						<li>Recollida i posterior descontaminació o eliminació de tots els aparells amb un volum de PCB entre 1 i 5 dm3; i, en la mesura del possible, els que continguin menys d'1 dm3.</li>
					</ul>
				</p>
				<p>Les limitacions imposades a la seva comercialització i ús deixen sense aplicació la possibilitat de reutilitzar o reciclar els PCB. D'aquesta manera l'única opció vàlida és la de la seva eliminació, prioritzant la incineració quan es realitzi amb aprofitament de la seva energia. En l'eliminació per incineració caldrà tractar els gasos, per eliminar-ne el clor, abans d'evaquar-los a l'atmosfera. En el cas dels aparells contaminats per PCB es pot portar a terme la reutilització dels mateixos, amb un procés previ de descontaminació.</p>

		</div>
	</div>

</div>
<% else %>
<div class="container">

	<div class="grid-x">
		<div class="medium-12 cell">
			<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/residus_gran_ca.jpg" alt="Residuos" class="responsive-img">	
		</div>
	</div>
<% end %>