<% if params[:locale] == 'ca' %>
<div class="container">

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				
				<div class="card blue lighten-4">
					<div class="card-content">
				  	<strong>Atenció!</strong> Estem treballant en l'actualització d'aquest tema clau.
				  </div>
				</div>

				<h2>Salut</h2>

				<p style="text-align: justify">La persona urbana es passa un 90% de la seva vida vivint, treballant o relacionant-se a dins dels edificis. Així doncs, cal considerar els efectes que poden tenir algunes pràctiques constructives o la utilització d’alguns materials sobre la salut.</p>

<h3>La qualitat de l'aire</h3>
<p style="text-align: justify">S’ha d’evitar la utilització de productes que continguin compostos orgànics volàtils (COV). Principalment els trobarem en pintures, vernissos, moquetes i cortines.</p>
<p style="text-align: justify">És important realitzar un bon manteniment de les instal.lacions de climatització, netejant sovint els filtres i els conductes per evitar la propagació de pols i diversos agents al.lèrgens en l’aire. En espais on es produeixi molta pols s’hauran d’instal.lar sistemes de ventilació específics per extreure-la. Un altre dels factors que més malmeten la qualitat de l’aire és el fum de les cigarretes. Es calcula que per cada cigarreta que es fuma fan falta 100 m3 d’aire fresc per eliminar-ne els efectes. La ventilació natural és preferible a la mecànica, i si s’utilitza la mecànica s’ha de poder mesurar la qualitat de l’aire que s’està recirculant. Tot i que per millorar l’eficiència energètica de l’edifici es recomana recircular una part important de l’aire climatitzat, si tenim en compte la salut la recomanació és just la contrària, hem de procurar abastir l’edifici amb aire net de l’exterior.</p>

<h3>El soroll</h3>
<p style="text-align: justify">El soroll és un dels problemes que més preocupa als usuaris dels edificis, i aconseguir un adequat confort acústic presenta diverses dificultats. L’excés de soroll que es produeix prop de les vies del tren, carreteres molt transitades o zones properes als aeroports, produeix un gran disconfort que pot tenir implicacions serioses sobre l’organisme com desordres del sistema nerviós autònom, manca de concentració i trastorns del son. Tot i així, cal remarcar que l’absència absoluta de soroll pot provocar trastorns similars, per tant és important remarcar que per aconseguir el confort acústic cal mantenir una certa relació entre l’interior de l’edifici i l’exterior, no es pot aïllar completament.</p>
<p style="text-align: justify">Quan hi ha un excés de soroll el més recomanable és eliminar-ne la font, però aquesta solució en molts casos no està a l’abast de l’usuari de l’edifici. En aquests casos cal millorar l’aïllament acústic, i es pot fer de diverses maneres:</p>
<p style="text-align: justify">Aïllament per massa: Duplicar la massa del tancament permet una millora teòrica de 6 dB en l’aïllament en la majoria de casos.</p>
<p style="text-align: justify">Aïllament per sandwich: Al col.locar un material flexible entre dues fulles del tancament fem que l’element flexible impedeixi la vibració de les fulles rígides. S’ha de tenir en compte que l’element flexible s’ha de mantenir en contacte amb les parets.</p>

<h3>L'entorn</h3>
<p style="text-align: justify">Treballar tot el dia sense percebre els canvis de la il.luminació natural o estar en un entorn opressiu pot ocasionar estrés laboral. Un ambient saludable va ineludiblement lligat a la interacció entre l’interior i l’exterior de l’edifici. S’ha de procurar que la llum exterior entri dins l’edifici, i que hi hagi contacte visual entre l’interior i l’exterior.</p>
<p style="text-align: justify">La salut depèn en gran part de l’estat de la ment, i uns colors adequats i la presència de plantes interiors o vegetació exterior ajuda a crear un ambient molt més estimulant i confortable. La influència dels colors és força variable depenent de diversos factors com la funcionalitat de l’espai o la cultura. Així, uns colors molt vius com vermells i grocs poden semblar-nos agradables en unabotiga però crear-nos ansietat en una oficina.</p>
<p style="text-align: justify">Tot i que s’ha comprovat que amb el pas del temps la percepció que tenim dels colors varia, en general es considera que els colors freds (blaus, verds…) aporten serenitat però fan que un espai sigui menys acollidor, i els colors càlids (vermells, taronges…) creen l’efecte contrari.</p>

<h3>Els materials</h3>
<p style="text-align: justify">La majoria de materials de la construcció naturals són més sans que els seus substituts artificials. La raó per la qual s’utilitzen poc acostuma a ser el seu elevat preu o les inferiors característiques tècniques, principalment la inferior durabilitat d’alguns d’ells. De totes maneres cada vegada adquireix més importància el factor salut i això els està impulsant novament al mercat.</p>
<p style="text-align: justify">Entre els molts materials disponibles podem destacar:</p>
<p style="text-align: justify"><strong>Aïllaments orgànics:</strong> Estan fets de fibres vegetals o llana d’ovella, no són tòxics i no desprenen substàncies químiques. En alguns casos poden ser menys durables que altres aïllants artificials, per tant s’haurà de tenir una cura especial en els detalls constructius per evitar l’exposició a la humitat.</p>
<p style="text-align: justify"><strong>Pintures a l’aigua:</strong> Es caracteritzen per no utilitzar olis com a base de la pintura, per tant no són tòxiques.</p>
<p style="text-align: justify"><strong>Terra: </strong>La construcció en terra encara és molt habitual en diversos països, i té l’avantatge de ser un material produït amb molt poca energia, no tòxic i de gran durabilitat si s’utilitza correctament.</p>
<p style="text-align: justify"><strong>Fusta:</strong> És un material autorrenovable que es produeix amb molt poca energia i té un gran atractiu estètic. S’ha de tenir en compte que tingui una certificació que asseguri la seva procedència d’explotacions forestals controlades.</p>
				
			</div>
		</div>
	</div>

</div>
<% else %>
<div class="container">

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				
				<div class="card blue lighten-4">
					<div class="card-content">
				  	<strong>Atención!</strong> Estamos trabajando en la actualización de este tema clave.
				  </div>
				</div>

				<h2>Salud</h2>

				<p style="padding-top: 7px;padding-right: 0px;padding-bottom: 7px;padding-left: 0px;text-align: justify;margin: 0px">La persona urbana se pasa un 90% de su vida viviendo, trabajando o relacionándose dentro de los edificios. Así pues, es necesario considerar los efectos que pueden tener algunas prácticas constructivas o la utilización de algunos materiales sobre la salud.</p>
<h3>La calidad del aire</h3>
<p style="padding-top: 7px;padding-right: 0px;padding-bottom: 7px;padding-left: 0px;text-align: justify;margin: 0px">Se debe evitar la utilización de productos que contengan compuestos orgánicos volátiles (COV). Principalmente los encontraremos en pinturas, barnices, moquetas y cortinas. Es importante realizar un buen mantenimiento de las instalaciones de climatización, limpiando a menudo los filtros y los conductos para evitar la propagación de polvo y varios agentes alergénico en el aire. En espacios donde se produzca mucho polvo se deberán instalar sistemas de ventilación específicos para extraerlo. Otro de los factores que más malogran la calidad del aire es el humo del tabaco. Se calcula que por cada cigarro que se fuma hacen falta 100 m3 de aire fresco para eliminar sus efectos. La ventilación natural es preferible a la mecánica, y si se utiliza la mecánica se debe poder medir la calidad del aire que se está haciendo recircular. Aun cuando para mejorar la eficiencia energética del edificio se recomienda hacer recircular una parte importante del aire climatizado, si tenemos en cuenta la salud la recomendación es justo la contraria: debemos procurar abastecer el edificio con aire limpio del exterior.</p>
<h3>El ruido</h3>
<p style="padding-top: 7px;padding-right: 0px;padding-bottom: 7px;padding-left: 0px;text-align: justify;margin: 0px">El ruido es uno de los problemas que más preocupa a los usuarios de los edificios y conseguir un adecuado confort acústico presenta varias dificultades. El exceso de ruido que se produce cerca de las vías del tren, carreteras muy transitadas o zonas próximas a los aeropuertos, produce un gran disconfort, que puede tener implicaciones serias sobre el organismo, como desórdenes del sistema nervioso autónomo, carencia de concentración y trastornos del sueño. A pesar de ello, hace falta remarcar que la ausencia absoluta de ruido puede provocar trastornos similares; por lo tanto es importante remarcar que para conseguir confort acústico hace falta mantener una cierta relación entre el interior del edificio y el exterior; no se puede aislar completamente.</p>
<p style="padding-top: 7px;padding-right: 0px;padding-bottom: 7px;padding-left: 0px;text-align: justify;margin: 0px">Cuando hay un exceso de ruido lo más recomendable es eliminar la fuente, pero esta solución en muchos casos no está al alcance del usuario del edificio. En estos casos hace falta mejorar el aislamiento acústico y se puede hacer de varias maneras:</p>
<ul style="padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 10px;margin-top: 5px;margin-right: 0px;margin-bottom: 5px;margin-left: 50px">
<li><strong>Aislamiento por masa: <span style="font-weight: normal">Duplicar la masa del cerramiento permite una mejora teórica de 6 dB en el aislamiento en la mayoría de casos.</span></strong></li>
<li><strong>Aislamiento por sandwich:</strong> Al colocar un material flexible entre dos hojas del cierre hacemos que el elemento flexible impida la vibración de las hojas rígidas. Se debe tener en cuenta que el elemento flexible se debe mantener en contacto con las paredes.</li>
</ul>
<h3>El entorno</h3>
<p style="padding-top: 7px;padding-right: 0px;padding-bottom: 7px;padding-left: 0px;text-align: justify;margin: 0px">Trabajar todo el día sin percibir los cambios de la iluminación natural o estar en un entorno opresivo puede ocasionar estrés laboral. Un ambiente saludable va ineludiblemente atado a la interacción entre el interior y el exterior del edificio. Se debe procurar que la luz exterior entre dentro del edificio, y que exista contacto visual entre el interior y el exterior.</p>
<p style="padding-top: 7px;padding-right: 0px;padding-bottom: 7px;padding-left: 0px;text-align: justify;margin: 0px">La salud depende en gran parte del estado de la mente, y unos colores adecuados y la presencia de plantas interiores o vegetación exterior ayuda a crear un ambiente muy estimulante y confortable. La influencia de los colores varía bastante dependiendo de diversos factores, como la funcionalidad del espacio o la cultura. Así, unos colores muy vivos, como rojos y amarillos, pueden parecernos agradables en una tienda pero crearnos ansiedad en una oficina.</p>
<p style="padding-top: 7px;padding-right: 0px;padding-bottom: 7px;padding-left: 0px;text-align: justify;margin: 0px">Aunque se ha comprobado que con el paso del tiempo la percepción que tenemos de los colores varía, en general se considera que los colores fríos (azules, verdes…) aportan serenidad pero hacen que un espacio sea menos acogedor, y los colores cálidos (rojos, naranjas…) crean el efecto contrario.</p>
<h3>Los materiales</h3>
<p style="padding-top: 7px;padding-right: 0px;padding-bottom: 7px;padding-left: 0px;text-align: justify;margin: 0px">La mayoría de materiales de la construcción naturales son más sanos que sus sustitutos artificiales. La razón por la cual se utilizan poco acostumbra a ser su elevado precio o las inferiores características técnicas, principalmente la inferior durabilidad de algunos de ellos. De todos modos, cada vez adquiere más importancia el factor salud y esto los está impulsando nuevamente al mercado.</p>
<p style="padding-top: 7px;padding-right: 0px;padding-bottom: 7px;padding-left: 0px;text-align: justify;margin: 0px">Entre los muchos materiales disponibles podemos destacar:</p>
<ul style="padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 10px;margin-top: 5px;margin-right: 0px;margin-bottom: 5px;margin-left: 50px">
<li><strong>Aislamientos orgánicos:</strong> Están hechos de fibras vegetales o lana de oveja, no son tóxicos y no desprenden sustancias químicas. En algunos casos pueden ser menos durables que otros aislantes artificiales; por lo tanto se deberá tener un cuidado especial en los detalles constructivos para evitar su exposición a la humedad.</li>
<li><strong>Pinturas al agua:</strong> Se caracterizan por no utilizar aceites como base de la pintura; por lo tanto no son tóxicas.</li>
<li><strong>Tierra:</strong> La construcción en tierra todavía es muy habitual en varios países, y tiene la ventaja de ser un material producido con muy poca energía, no tóxico y de gran durabilidad si se utiliza correctamente.</li>
<li><strong>Madera:</strong> Es un material autorenovable que se produce con muy poca energía y tiene un gran atractivo estético. Se debe comprobar que tenga una certificación que asegure su procedencia de explotaciones forestales controladas.</li>
</ul>
			</div>
		</div>
	</div>

</div>
<% end %>