<% if params[:locale] == 'ca' %>
<div class="container">

	<div class="grid-x">
		<div class="medium-12 cell">
			<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/salut_gran_ca.jpg" alt="Salut" class="responsive-img">	
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<p>La OMS defineix la salut com un estat de complet benestar físic, mental i social i no només com l’absència de malalties. És per això que un habitatge ha d’anar molt més enllà de proporcionar refugi contra les inclemències del temps i ser segur per a les persones. Una arquitectura més centrada en la salut de les persones farà que la gent arribi a la vellesa amb millor estat de salut.</p>
				<p>Les cèdules d’habitabilitat asseguren que es compleixin uns requisits mínims d'higiene i salubritat, però el coneixement actual ens permet anar molt més enllà i en comptes de limitar-nos a tenir edificis salubres tenir edificis saludables. Edificis que proporcionin una millora en la qualitat de vida dels seus ocupants.</p>
				<p>Com ens pot afectar la salut un mal edifici i què podem fer per solucionar-ho:</p>
			</div>
			<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; margin-bottom: 40px; margin-top: 20px;} .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}</style><div class='embed-container'><iframe src="https://player.vimeo.com/video/292618567" width="640" height="360" frameborder="0" allowfullscreen></iframe></div>
			
			<div class="paragraf-tema-clau">
				<h3>L'entorn</h3>
				<p>Treballar tot el dia sense percebre els canvis de la il.luminació natural o estar en un entorn opressiu pot ocasionar estrés laboral. Un ambient saludable va ineludiblement lligat a la interacció entre l’interior i l’exterior de l’edifici. S’ha de procurar que la llum exterior entri dins l’edifici, i que hi hagi contacte visual entre l’interior i l’exterior.</p>
				<p>La salut depèn en gran part de l’estat de la ment, i uns colors adequats i la presència de plantes interiors o vegetació exterior ajuda a crear un ambient molt més estimulant i confortable. La influència dels colors és força variable depenent de diversos factors com la funcionalitat de l’espai o la cultura. Així, uns colors molt vius com vermells i grocs poden semblar-nos agradables en una botiga però crear-nos ansietat en una oficina.</p>
				<p>Tot i que s’ha comprovat que amb el pas del temps la percepció que tenim dels colors varia, en general es considera que els colors freds (blaus, verds…) aporten serenitat però fan que un espai sigui menys acollidor, i els colors càlids (vermells, taronges…) creen l’efecte contrari.</p>
			</div>

			<div class="paragraf-tema-clau">
				<h3>El soroll</h3>
				<p>El soroll és un dels problemes que més preocupa als usuaris dels edificis, i aconseguir un adequat confort acústic presenta diverses dificultats. L’excés de soroll que es produeix prop de les vies del tren, carreteres molt transitades o zones properes als aeroports, produeix un gran disconfort que pot tenir implicacions serioses sobre l’organisme com desordres del sistema nerviós autònom, manca de concentració i trastorns del son. Tot i així, cal remarcar que l’absència absoluta de soroll pot provocar trastorns similars, per tant és important remarcar que per aconseguir el confort acústic cal mantenir una certa relació entre l’interior de l’edifici i l’exterior, no es pot aïllar completament.</p>
				<p>Quan hi ha un excés de soroll el més recomanable és eliminar-ne la font, però aquesta solució en molts casos no està a l’abast de l’usuari de l’edifici. En aquests casos cal millorar l’aïllament acústic, i es pot fer de diverses maneres:
					<ul>
						<li>Aïllament per massa: Duplicar la massa del tancament permet una millora teòrica de 6 dB en l’aïllament en la majoria de casos.</li>
						<li>Aïllament per sandwich: Al col.locar un material flexible entre dues fulles del tancament fem que l’element flexible impedeixi la vibració de les fulles rígides. S’ha de tenir en compte que l’element flexible s’ha de mantenir en contacte amb les parets.</li>
					</ul>
				</p>
			</div>

			<div class="paragraf-tema-clau">
				<h3>La qualitat de l'aire</h3>
				<p>Els éssers vius utilitzem l'aire per obtenir l'energia que necessitem per mantenir-nos vius, posant-nos en contacte directe amb l'ambient que ens envolta de forma directa i permanent. És per això que l'aire, conjuntament amb la presència d'aigua, és un dels elements fonamentals perquè pugui existir vida al nostre planeta i aquest ha de tenir un adequat estàndard de qualitat, amb una bona relació de gasos, el més lliures de contaminants possible. Aquesta relació de gasos està composta principalment per nitrogen i oxigen i en menor mesura per altres gasos com són: l'argó, el vapor d'aigua, el diòxid de carboni, el metà, l'òxid nitrós, l'ozó i altres, podent emmagatzemar alguns contaminants suspesos, com la pols, pol·len, compostos orgànics volàtils, bacteris, virus, àcars, fongs, fum, etc ... Alguns d'aquests contaminants tenen la capacitat per poder causar malalties respiratòries, cardíaques o danys en altres òrgans del cos humà, ja que utilitzem l’aire en els pulmons per l'oxigenació de la sang i aquesta circula després per tot l’organisme, distribuint oxigen i nutrients als diferents teixits del cos.</p>
 
				<p>En alguns casos, aquests problemes de salut són complexos de diagnosticar, degut a que hi ha grups heterogenis de contaminants en l’aire que dificulten l'estudi etiològic per a determinar amb certesa la relació causal i en altres, les causes són fruit d'una combinació de contaminants. No obstant, s’ha constatat que hi ha edificis en què els seus usuaris presenten un conjunt de malalties originades o estimulades per la contaminació de l'aire i que l'Organització Mundial de la Salut -OMS- ha definit com el "Síndrome de l'Edifici Malalt". Això és especialment important perquè tal i com adverteix la pròpia OMS- la població de les ciutats passa entre un 80% i un 90% del temps en l'interior dels edificis.</p>
 
				<p>Per altra banda, l'aire atmosfèric exterior que s'utilitza per a la ventilació dels edificis pot presentar unes elevades concentracions de pol·lució i contaminants. Aquesta contaminació de l'aire atmosfèric es va iniciar de forma lenta i progressiva amb la revolució industrial i avui, en algunes zones urbanes, presenta una situació força crítica. La seva existència es deu principalment als processos de combustió, que comporta l'emissió de monòxid de carboni, òxids de nitrogen, cendres i hidrocarburs no combustionats. Quan aquesta pol·lució presenta unes elevades concentracions pot ocasionar problemes en la salut i lamentables efectes en el medi ambient, com és l'escalfament global a causa de l'augment dels gasos d'efecte hivernacle. En aquests casos no és la millor solució ventilar natural l’interior dels edificis amb l’aire exterior.</p>
 
				<p>Al seu torn i intrínsecament relacionat, els edificis han de permetre cobrir les seves necessitats tèrmiques amb una baixa demanda energètica, el que exigeix edificis hermètics que evitin pèrdues tèrmiques per infiltracions i un ús molt eficient de l'energia utilitzada per la climatització, sent això contradictori amb la ventilació natural, ja que aquesta expulsa fluxos d'aire viciat en bones condicions tèrmiques per altres fluxos d'aire nou que necessiten ser condicionat climàticament, sent això inassumible energèticament i econòmicament per una societat que requereix una millor eficiència dels recursos.</p>

				<p>Tots aquests aspectes energètics, mediambientals i de salut, conjuntament amb la necessitat de disposar d'un bon confort interior en els habitatges, sense mals olors ni humitats per condensació, ha comportat que es desenvolupi normatives específiques a cada país per garantir una bona qualitat de l'aire interior en els edificis.</p>
 
				<p>Des d'un punt de vista d'estalvi energètic la ventilació natural, utilitzada tradicionalment, no està considerada un sistema eficient i és per això que no es considera un sistema general de ventilació en la legislació espanyola (CTE), essent considerat un sistema complementari. Els sistemes generals de ventilació pels habitatges que es recull en aquesta legislació són: ventilació híbrida o ventilació mecànica.</p>
			</div>

			<div class="paragraf-tema-clau">
				<h2>El síndrome de l'edifici malalt</h2>
				<p>El síndrome de l’edifici malalt afecta als ocupants de l’edifici i no a l’edifici en sí, i es caracteritza per causar diversos símptomes com irritació de la pell, els ulls o el coll, així com altres molèsties relacionades amb els sentits de l’olfacte i el gust.</p>
				<p>Habitualment el síndrome de l’edifici malalt es produeix per una mala ventilació, partícules en suspensió i càrregues iòniques o electromagnètiques.</p>
				<p>Els edificis més propensos a patir aquest síndrome són els edificis d’oficines amb mur cortina que tanquen hermèticament per reduir les infiltracions d’aire i així estalviar energia. Si la ventilació artificial no està correctament calculada afavorirà l’aparció d’al.lèrgies i la transmissió de malalties com la grip.</p>
				<p>Les zones humides, amb poca ventilació i presència de pols afavoreixen l’aparició d’àcars. Els seus excrements són inhalats pels usuaris de l’edifici i poden causar diversos problemes respiratoris i altres dolències.</p>
				<p>Alguns materials de les oficines poden contribuir a l’aparició del síndrome de l’edifici malalt al desprendre fibres minerals, contenir compostos orgànics volàtils (COV) o emetre vapors tòxics.</p>
				<p>Principals recomanacions per evitar el síndrome de l’edifici malalt:
					<ul>
						<li>Evitar la utilització de productes que continguin compostos orgànics volàtils (COV). Principalment els trobarem en pintures, vernissos, moquetes i cortines.</li>
						<li>Realitzar un bon manteniment de les instal.lacions de climatització, netejant sovint els filtres i els conductes.</li>
						<li>Mantenir netes les moquetes i qualsevol superfície que afavoreixi l’acumulació d’agents contaminants.</li>
						<li>Separar les zones de qualitat d’aire especial, com sales de combustió, sales de màquines, banys i cuines, procurant ventilar de manera independent.</li>
						<li>Minimitzar les emissions de radó utilitzant materials que no el continguin o creant espais ventilats sobre sòls que el continguin.</li>
					</ul>
				</p>	
			</div>

			<div class="paragraf-tema-clau">
				<h2>Materials nocius per a la salut</h2>
				<p>Afortunadament la majoria de materials perillosos per a la salut ja s'han prohibit. Tot i així encara els podem trobar en obres de rehabilitació, per tant cal conèixer quins són els perills de la seva manipulació.</p>
				<p>També trobarem elements com el radó que depenen del terreny, per tant el podem trobar en qualsevol edifici que s'hagi construit en una zona on aquest gas estigui present.</p>

				<h3>Amiant</h3>
				<p>L’amiant és un material que s’ha utilitzat molt en el nostre país per la seva gran resistència al foc, propietats d’aïllament tèrmic o com a matriu resistent per als productes de fibrociment. Consisteix en una sèrie de metasilicats de ferro alumini i magnesi que presenten formes fibroses.</p>

				<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; margin-bottom: 40px; margin-top: 20px;} .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}</style><div class='embed-container'><iframe width="100%" src="https://www.youtube.com/embed/K4SaNPuWjPw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

				<p>Des de l’any 2002 a l’estat espanyol està prohibit l’ús de l’amiant per les greus malalties que provoca al ser inhalat. Aquest és especialment nociu en persones fumadores, que tenen més possibilitats de desenvolupar les malalties a les quals s’associa l’amiant.</p>
				<p>Els principals problemes es produeixen en el pulmó i la pleura, en forma d’inflamació fibròtica i de càncer. Les malalties més freqüents que s’han detectat directament relacionades amb la inhalació de fibres d’amiant són les següents:
					<ul>
						<li>Càncer broncopulmonar: És la primera causa de mort relacionada amb l’exposició a l’amiant. Apareix amb un temps de latència de més de 30 anys i la possibilitat de curació depèn de que sigui possible extirpar el tumor completament i de que no existeixin disseminacions cancerígenes o metàstasi a distància.</li>
						<li>Asbestosi pulmonar: És una fibrosi que es produeix com a conseqüència de la inhalació de quantitats importants de fibres d’amiant. Pot aparèixer després de 10 o 20 anys d’haver-hi estat exposat de forma prolongada.</li>
						<li>Malalties pleurals benignes: La forma més freqüent són les plaques de pleura parietal que apareixen a partir dels 20 anys de l’inici de l’exposició. També es pot desenvolupar una fibrosi difusa, que consisteix en una alteració fibrosa de la pleure parietal i visceral.</li>
						<li>Mesotelioma maligne: És el càncer de la cèl.lula mesotelial, i afecta a la pleura i al peritoneu. Tot i que en certes ocasions es pot desenvolupar en persones que s’hi ha exposat esporàdicament, en general es presenta en persones amb una exposició prolongada.</li>
					</ul>
				</p>

				<h3>PCB</h3>
				<p>Gràcies a la inimflamabilitat i a les propietats dielèctriques (aïllants) que tenen els PCBs, aquests s’han emprat en numeroses aplicacions, moltes de les quals son presents als nostres edificis i habitatges. Els transformadors i condensadors elèctrics en són un exemple. Està demostrat que sotmesos a temperatures superiors als 350ºC (que poden arribar fàcilment en cas d’incendi) es transformen en un producte altament tòxic, desprenent gasos perillosos com les dioxines.</p>
				<p>Cal constatar que els compostos de PCB no són biodegradables i, per tant, la contaminació persisteix pràcticament de forma indefinida, acumulant-se en el medi ambient. I encara que la seva solubilitat a l'aigua sigui baixa, poden romandre indefinidament en els rius i mars, contaminant el seu hàbitat i fauna.</p>
				<p>S’ha demostrat en animals que els PCBs són cancerígens, i es considera molt provable que tinguin els mateixos efectes en els éssers humans. Actualment els PCBs tenen la consideració d’agents potencialment carcinògens.</p>
				<p>A part de la carcinogènesi, els PCBs tenen altres efectes nocius per la salut. Principalment afecta al sistema immunològic, nerviós, reproductiu i endocrí.</p>

				<h3>Detectors iònics de foc</h3>
				<p>Aquests tipus de detectors de foc, presents en la majoria d'edificis públics, docents, hospitals i oficines, emeten una certa quantitat de radioactivitat.</p>
				<p>Tot i que la radioactivitat d'aquests tipus de productes en principi no és problemàtica, sempre existeix el risc latent que en un accident, com pot ser un incendi, els isòtops radioactius es barregin amb l'aire. Aquest fet pot provocar un risc de contaminació radioactiva elevada, tant a la salut humana com al medi ambient.</p>
				<p>Bàsicament, aquests detectors estan fabricats amb Americi 241. Aquest element té una activitat per sota de 0,09 microcuris, o 33,3 kbq (kilobequerels). Les emissions radioactives que emeten són de tipus alfa (pesades) i la seva intensitat fa que a 5 centímetres de la font perdin la suficient potència com per a deixar de ser perjudicials per a la salut. També emeten partícules gamma que són menyspreables. En els casos de detectors molt antics n'hi ha amb Radi 226.</p>
				<p>Finalment, cal saber que els detectors iònics sempre poden ser substituïts per altres detectors menys nocius, com pot ser el cas dels òptics o els termovelocimètrics.</p>

				<h3>Radó</h3>
				<p>Hi ha certs materials petris com el granit o les roques del mateix origen geològic que emeten radiacions de radó. Les partícules radioactives que el radó emet al descompondre’s poden quedar atrapades als pulmons, danyar-ne els teixits i causar càncer.</p>
				<p>Per als fumadors exposats a nivells alts de radó les provabilitats de contraure càncer de pulmó són força més altes, tot i que poden passar molts anys fins que es desenvolupi el càncer.</p>
				<p>Com que el radó és un gas que prové del sòl, pot entrar als edificis a través de petites esquerdes en fonaments i sostres i acumular-se a l’interior de soterranis o altres estances més elevades de les vivendes.</p>
				<p>Per a limitar el risc d’exposició dels usuaris a concentracions inadequades de  gas radó procedent del terreny en l’interior dels locals habitables, l’administració espanyola ha fixat un nivell de referència per a la mitjana anual de concentració de gas radó en l’interior dels mateixos de 300 Bq/m3.</p>
				<p>Per a verificar i justificar el seu compliment ha establert dues zones geogràfiques on cal prendre alguna mena de protecció. Per als edificis ubicats en la zona on el risc és més alt s’ha establert l’obligació d’haver de disposar d’una barrera de protecció i un espai de contenció ventilat situat entre el terreny i els locals a protegir, per mitigar l'entrada de radó provinent del terreny als locals habitables mitjançant ventilació natural o mecànica o bé, un sistema de despressurització del terreny, que permeti extreure els gasos continguts en el terreny sota l'edifici.</p>
				<p>En els municipis ubicats en les zona amb un grau d’exposició menor s’ha de disposar d’una barrera de protecció entre el terreny i els locals habitables de l'edifici, que limiti el pas dels gasos provinents del terreny o alternativament, es pot disposar d’una càmera d'aire destinada a mitigar l'entrada del gas radó a aquests locals. En aquest cas, la camera d'aire haurà d'estar ventilada i separada dels locals habitables mitjançant un tancament sense esquerdes, fissures o discontinuïtats que puguin permetre el pas del radó.</p>

				<h3>Creosota</h3>
				<p>La creosota és el nom amb què es designa a una varietat de productes tal com el quitrà mineral, la creosota de la fusta i de quitrà mineral i la brea de hulla i els seus compostos volàtils. Aquests productes provenen del tractaments a alta temperatura de la fusta de faig i altres espècies, del carbó mineral i de la reïna que s'obté de l'arbust de creosota. La seva utilitat més important és com a protector de la fusta.</p>
				<p>Aquest producte s'aplicava fa uns anys en el tractament de les travesses de les vies del tren, materials que s'han utilitzat molt com a elements de construcció i de decoració en parcs i jardins, tant d'ús públic com privat.</p>
				<p>La creosota és un producte classificat com a carcinògen de categoria 2 en el Reglament sobre notificació de substàncies noves i classificació, envasat i etiquetatge de substàncies perilloses, i en el seu etiquetatge ha de constar el símbol de Nociu amb la frase de risc R45: "pot causar càncer" i les frases S de consells de prudència 53 i 45: "Eviti's l'exposició. Mirar instruccions especials abans del seu ús".</p>
				<p>L'Agència Internacional per a la Recerca del Càncer ( International Agency for the Research on Cancer- IARC ) classifica aquesta substància en el grup 2A: Probable carcinògen per a l'home. Normalment es classifiquen en aquest grup els compostos per als quals existeixen evidències limitades de carcinogenicitat en l'home però suficients en animals.</p>
				<p>Els grups de l'IARC són:
					<ul>
						<li>Grup 1: Carcinògens per a l'home</li>
						<li>Grup 2 A: Probables carcinògens per a l'home</li>
						<li>Grup 2 B: Possibles carcinògens per a l'home</li>
						<li>Grup 3: No classificables per la seva carcinogenicitat</li>
						<li>Grup 4: No carcinògens per a l'home.</li>
					</ul>
				</p>
			</div>

			<div class="paragraf-tema-clau">
				<h2>Els camps electromagnètics</h2>

				<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; margin-bottom: 40px; margin-top: 20px;} .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}</style><div class='embed-container'><iframe width="100%" src="https://www.youtube.com/embed/rnM3oNMAax4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

				<h3>Camps electromagnètics de baixa freqüència</h3>
				<p>Les instal·lacions elèctriques dels edificis creen camps electromagnètics de baixa freqüència. A l’entorn de l’edifici podem trobar torres i cables d’electricitat o transformadors elèctrics que produeixin aquests camps, però també es produeixen a l’interior dels edificis pel cablejat elèctric i els aparells en general.</p>

				<p>Per a determinades persones l’exposició a aquests camps electromagnètics és un problema greu. Tal i com passaria amb una al·lèrgia, el seu cos reacciona de manera desproporcionada. Segons l’OMS entre un 1 i un 3% de la població mostra electrosensibilitat, que es pot manifestar en formes diverses com el mal de cap, irritació de la pell o el cansament.</p>

				<p>La millor manera de no veure’s afectat pels camps electromagnètics és eliminar la font de l’electromagnetisme o apartar-nos d’ella tant com sigui possible. Si les fonts són externes normalment no podrem apagar-les, i per la seva naturalesa de camp magnètic, resulta molt complex protegir-nos-en perquè atravessa parets i altres barreres. En aquest cas la millor estratègia és utilitzar més les zones allunyades de la font. En el cas d’un habitatge, procurar que la zona de descans sigui la més allunyada de la font del camp electromagnètic. Quan les fonts són internes normalment podrem evitar-les parant l’aparell.</p>

				<h3>Camps electromagnètics d’alta freqüència</h3>
				<p>En les últimes dècades les persones ens hem vist envoltades de molts més camps electromagnètics d’alta freqüència perquè són els que s’associen a la ràdio, la televisió i a la tecnologia mòbil. Es considera que els camps més nocius són els que tenen una modulació codificada per pulsacions, els que trobem en els telèfons mòbils, dispositius wifi i bluetooth per exemple.</p>

				<p>Cal remarcar que no hi ha un consens total sobre les afectacions a la salut dels camps electromagnètics en les intensitats en les que ens trobem en els edificis. També cal recordar que en altres àmbits hi ha hagut estudis contradictoris durant molts anys abans d’arribar a un consens sobre els problemes de salut que pot comportar un determinat element. Per això es recomana ser precabut en la quantitat de camps electromagnètics als que ens exposem. No està clar si el wifi de casa ens causarà efectes negatius per a la salut, el que sí que està clar és que reduir la nostra exposició a aquests camps no pot empitjorar la nostra salut.</p>

				<p>El control de les fonts externes, com les antenes de telefonia mòbil, sempre resulta més complex perquè no les podem apagar a voluntat. És possible fer un apantallament protector a l’edifici utilitzant malla metàl·lica connectada a terra. Per a les fonts internes és recomanable utilitzar dispositius cablejats.</p>

			</div>

			<div class="paragraf-tema-clau">
				<h2>Malalties</h2>
				<p>Existeixen diverses malalties relacionades directament amb l'ús d'edificis que no tenen un correcte manteniment o que s'han construït amb materials tòxics, com la legionel.la o la carcinogènesi, que són força conegudes.</p>
				<p>De totes maneres també existeixen malalties menys conegudes com la lipoatròfia semicircular, que es produeixen en edificis moderns amb un gran nombre d'instal.lacions elèctriques.</p>

				<h3>Legionel·la</h3>
				<p>Una de les malalties més greus que poden causar els edificis als seus ocupants i usuaris és la produïda per la Legionella pnemophila, una de les quaranta espècies d'aquest bacteri i que produeix més del 80% de les infeccions.</p>
				<p>Es contagia com a conseqüència dels aerosols, únicament per via respiratòria. No es contagia de persona a persona, mitjançant els aliments o en beure aigua contaminada.</p>
				<p>Aquest bacteri sobreviu en condicions de temperatura dels 0 als 63º C i en un pH d’entre 5 i 8,5, amb unes concentracions d’O2 entre 0,2 i 15 mg/l, tot i que la temperatura ideal per créixer i reproduir-se és de 25 a 35º C.</p>
				<p>Es troba a les instal·lacions que compleixen les característiques referides i que produeixen aerosols, que posteriorment poden ser inhalats per les persones, com són torres de refrigeració, humidificadors, aparells de refrigeració evaporativa, condensadors evaporatius, sistemes de distribució de l'aigua calenta sanitària, fonts ornamentals, etc.</p>
				<p>La seva prevenció passa per un manteniment adequat de les instal·lacions, que consisteix principalment en la seva neteja i desinfecció com a mínim dos cops l'any, a la primavera i a la tardor, sempre després que la instal·lació porti un mes sense funcionar i abans de posar-la en funcionament, així com també després de qualsevol reparació.</p>
				<p>La cloració de l'aigua, com a mètode desinfectant, és econòmica, senzilla i molt eficaç, en concentracions que no superin les 2 ppm i amb un pH inferior a 8, perquè mantingui la seva eficiència i no sigui corrosiva.</p>
				<p>Hauran de realitzar-se proves periòdiques, per tal d'assegurar que les condicions químiques i microbiològiques de l'aigua es mantinguin.</p>

				<h3>Carcinogènesi</h3>
				<p>La carcinogènesi és la formació de càncer, de carcinoma o de qualsevol altra neoplàsia maligna, i consisteix en el creixement tumoral dels teixits incoordinat amb les necessitats de l'organisme, de caràcter maligne i pertorbador de les funcions biològiques normals.</p>
				<p>En els edificis podem trobar diversos elements o materials que poden provocar aquesta malaltia després d’una exposició més o menys prolongada. Els més coneguts per la seva perillositat són l’amiant i els PCBs, però també n’hi ha d’altres que mereixen especial atenció, com el gas radó i la creosota.</p>

				<h3>Lipoatròfia semicircular</h3>
				<p>El síndrome de lipoatrofia semicircular està relacionat amb els edificis d’oficines nous amb una gran quantitat d’instal.lacions d’electricitat, telefonia i elements electrònics en general que creen camps magnètics. Aquests camps poden provocar la descàrrega electrostàtica de les cuixes, a través de la taula de l’escriptori.</p>
				<p>La conseqüència més habitual és l’atrofiament d’una zona de teixit subcutani, situat principalment a la part frontal de les cuixes. Aquesta atròfia es pot veure a simple vista, i s’ha comprovat que en la majoria d’afectats l’atròfia desapareix tan sols al abandonar l’edifici durant un cert període de temps. Altres efectes d’aquest síndrome són la sensació de cames feixugues i un alt grau de fatiga.</p>

			</div>



		</div>
	</div>

</div>
<% else %>
<div class="container">

	<div class="grid-x">
		<div class="medium-12 cell">
			<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/salut_gran_es.jpg" alt="Salut" class="responsive-img">	
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<p>La OMS define la salud como un estado de completo bienestar físico, mental y social y no sólo como la ausencia de enfermedades. Es por ello que una vivienda debe ir mucho más allá de proporcionar refugio contra las inclemencias del tiempo y ser segura para las personas. Una arquitectura más centrada en la salud de las personas hará que la gente llegue a la vejez con mejor estado de salud.</p>
				<p>Las cédulas de habitabilidad aseguran que se cumplan unos requisitos mínimos de higiene y salubridad, pero el conocimiento actual nos permite ir mucho más allá y en vez de limitarnos a tener edificios salubres tener edificios saludables. Edificios que proporcionen una mejora en la calidad de vida de sus ocupantes.</p>
				<p>Como nos puede afectar a la salud un mal edificio y qué podemos hacer para solucionarlo:</p>
			</div>
			<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; margin-bottom: 40px; margin-top: 20px;} .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}</style><div class='embed-container'><iframe src="https://player.vimeo.com/video/292618567" width="640" height="360" frameborder="0" allowfullscreen></iframe></div>
			
			<div class="paragraf-tema-clau">
				<h3>El entorno</h3>
				<p>Trabajar todo el día sin percibir los cambios de la iluminación natural o estar en un entorno opresivo puede ocasionar estrés laboral. Un ambiente saludable va ineludiblemente ligado a la interacción entre el interior y el exterior del edificio. Hay que procurar que la luz exterior entre dentro del edificio, y que haya contacto visual entre el interior y el exterior.</p>
				<p>La salud depende en gran parte del estado de la mente, y unos colores adecuados y la presencia de plantas interiores o vegetación exterior ayuda a crear un ambiente mucho más estimulante y confortable. La influencia de los colores es bastante variable dependiendo de varios factores como la funcionalidad del espacio o la cultura. Así, unos colores muy vivos como rojos y amarillos pueden parecernos agradables en una tienda pero crearnos ansiedad en una oficina.</p>
				<p>Aunque se ha comprobado que con el paso del tiempo la percepción que tenemos de los colores varía, en general se considera que los colores fríos (azules, verdes ...) aportan serenidad pero hacen que un espacio sea menos acogedor, y los colores cálidos (rojos, naranjas ...) crean el efecto contrario.</p>
			</div>

			<div class="paragraf-tema-clau">
				<h3>El ruido</h3>
				<p>El ruido es uno de los problemas que más preocupa a los usuarios de los edificios, y conseguir un adecuado confort acústico presenta varias dificultades. El exceso de ruido que se produce cerca de las vías del tren, carreteras muy transitadas o zonas cercanas a los aeropuertos, produce un gran disconfort que puede tener implicaciones serias sobre el organismo como desórdenes del sistema nervioso autónomo, falta de concentración y trastornos del sueño. Sin embargo, cabe destacar que la ausencia absoluta de ruido puede provocar trastornos similares, por lo tanto es importante remarcar que para conseguir el confort acústico necesario mantener una cierta relación entre el interior del edificio y el exterior, no se puede aislar completamente.</p>
				<p>Cuando hay un exceso de ruido lo más recomendable es eliminar la fuente, pero esta solución en muchos casos no está al alcance del usuario del edificio. En estos casos hay que mejorar el aislamiento acústico, y se puede hacer de varias maneras:
					<ul>
						<li>Aislamiento por masa: Duplicar la masa del cierre permite una mejora teórica de 6 dB en el aislamiento en la mayoría de casos.</li>
						<li>Aislamiento para sandwich: Al colocar un material flexible entre dos hojas del cierre hacemos que el elemento flexible impida la vibración de las hojas rígidas. Hay que tener en cuenta que el elemento flexible debe mantenerse en contacto con las paredes.</li>
					</ul>
				</p>
			</div>

			<div class="paragraf-tema-clau">
				<h3>La calidad del aire</h3>
				<p>Los seres vivos utilizamos el aire para obtener la energía que necesitamos para mantenernos vivos, poniéndonos en contacto directo con el ambiente que nos rodea de forma directa y permanente. Es por ello que el aire, conjuntamente con la presencia de agua, es uno de los elementos fundamentales para que pueda existir vida en nuestro planeta y este debe tener un adecuado estándar de calidad, con una buena relación de gases, lo más libres de contaminantes posible. Esta relación de gases está compuesta principalmente por nitrógeno y oxígeno y en menor medida por otros gases como son: el argón, el vapor de agua, el dióxido de carbono, el metano, el óxido nitroso, el ozono y otros, pudiendo almacenar algunos contaminantes suspendidos, como el polvo, polen, compuestos orgánicos volátiles, bacterias, virus, ácaros, hongos, humo, etc ... algunos de estos contaminantes tienen la capacidad para poder causar enfermedades respiratorias, cardíacas o daños en otros órganos del cuerpo humano, ya que utilizamos el aire en los pulmones para la oxigenación de la sangre y ésta circula después por todo el organismo, distribuyendo oxígeno y nutrientes a los diferentes tejidos del cuerpo.</p>
 
				<p>En algunos casos, estos problemas de salud son complejos de diagnosticar, debido a que hay grupos heterogéneos de contaminantes en el aire que dificultan el estudio etiológico para determinar con certeza la relación causal y en otros, las causas son fruto de una combinación de contaminantes. Sin embargo, se ha constatado que hay edificios en que sus usuarios presentan un conjunto de enfermedades originadas o estimuladas por la contaminación del aire y que la Organización Mundial de la Salud -OMS- ha definido como el "Síndrome del Edificio Enfermo". Esto es especialmente importante porque tal y como advierte la propia OMS la población de las ciudades pasa entre un 80% y un 90% del tiempo en el interior de los edificios.</p>
 
				<p>Por otro lado, el aire atmosférico exterior que se utiliza para la ventilación de los edificios puede presentar unas elevadas concentraciones de polución y contaminantes. Esta contaminación del aire atmosférico se inició de forma lenta y progresiva con la revolución industrial y hoy, en algunas zonas urbanas, presenta una situación bastante crítica. Su existencia se debe principalmente a los procesos de combustión, que conlleva la emisión de monóxido de carbono, óxidos de nitrógeno, cenizas e hidrocarburos no combustionados. Cuando esta polución presenta unas elevadas concentraciones puede ocasionar problemas en la salud y lamentables efectos en el medio ambiente, como es el calentamiento global debido al aumento de los gases de efecto invernadero. En estos casos no es la mejor solución ventilar natural el interior de los edificios con el aire exterior.</p>
 
				<p>A su vez y intrínsecamente relacionado, los edificios deben permitir cubrir sus necesidades térmicas con una baja demanda energética, lo que exige edificios herméticos que eviten pérdidas térmicas por infiltraciones y un uso muy eficiente de la energía utilizada para la climatización, siendo esto contradictorio con la ventilación natural, ya que ésta expulsa flujos de aire viciado en buenas condiciones térmicas para otros flujos de aire nuevo que necesitan ser acondicionados climáticamente, siendo esto inasumible energéticamente y económicamente por una sociedad que requiere una mejor eficiencia de los recursos.</p>

				<p>Todos estos aspectos energéticos, medioambientales y de salud, conjuntamente con la necesidad de disponer de un buen confort interior en las viviendas, sin malos olores ni humedades por condensación, ha comportado que se desarrollen normativas específicas en cada país para garantizar una buena calidad de el aire interior en los edificios.</p>
 
				<p>Desde un punto de vista de ahorro energético la ventilación natural, utilizada tradicionalmente, no está considerada un sistema eficiente y es por eso que no se considera un sistema general de ventilación en la legislación española (CTE), siendo considerado un sistema complementario. Los sistemas generales de ventilación para las viviendas que se recoge en esta legislación son: ventilación híbrida o ventilación mecánica.</p>
			</div>

			<div class="paragraf-tema-clau">
				<h2>El síndrome del edificio enfermo</h2>
				<p>El síndrome del edificio enfermo afecta a los ocupantes del edificio y no en el edificio en sí, y se caracteriza por causar diversos síntomas como irritación de la piel, los ojos o el cuello, así como otras molestias relacionadas con los sentidos del olfato y el gusto.</p>
				<p>Habitualmente el síndrome del edificio enfermo se produce por una mala ventilación, partículas en suspensión y cargas iónicas o electromagnéticas.</p>
				<p>Los edificios más propensos a padecer este síndrome son los edificios de oficinas con muro cortina que cierran herméticamente para reducir las infiltraciones de aire y así ahorrar energía. Si la ventilación artificial no está correctamente calculada favorecerá la aparció de alergias y la transmisión de enfermedades como la gripe.</p>
				<p>Las zonas húmedas, con poca ventilación y presencia de polvo favorecen la aparición de ácaros. Sus excrementos son inhalados por los usuarios del edificio y pueden causar varios problemas respiratorios y otras dolencias.</p>
				<p>Algunos materiales de las oficinas pueden contribuir a la aparición del síndrome del edificio enfermo al desprender fibras minerales, contener compuestos orgánicos volátiles (COV) o emitir vapores tóxicos.</p>
				<p>Principales recomendaciones para evitar el síndrome del edificio enfermo:
					<ul>
						<li>Evitar la utilización de productos que contengan compuestos orgánicos volátiles (COV). Principalmente los encontraremos en pinturas, barnices, moquetas y cortinas.</li>
						<li>Realizar un buen mantenimiento de las instalaciones de climatización, limpiando a menudo los filtros y los conductos.</li>
						<li>Mantener limpias las moquetas y cualquier superficie que favorezca la acumulación de agentes contaminantes.</li>
						<li>Separar las zonas de calidad de aire especial, como salas de combustión, salas de máquinas, baños y cocinas, procurando ventilar de manera independiente.</li>
						<li>Minimizar las emisiones de radón utilizando materiales que no lo contengan o creando espacios ventilados sobre suelos que lo contengan.</li>
					</ul>
				</p>	
			</div>

			<div class="paragraf-tema-clau">
				<h2>Materiales nocivos para la salud</h2>
				<p>Afortunadamente la mayoría de materiales peligrosos para la salud ya se han prohibido. Aún así todavía los podemos encontrar en obras de rehabilitación, por lo tanto hay que conocer cuáles son los peligros de su manipulación.</p>
				<p>También encontraremos elementos como el radón que dependen del terreno, por lo tanto lo podemos encontrar en cualquier edificio que se haya construido en una zona donde este gas esté presente.</p>

				<h3>Amianto</h3>
				<p>El amianto es un material que se ha utilizado mucho en nuestro país por su gran resistencia al fuego, propiedades de aislamiento térmico o como matriz resistente para los productos de fibrocemento. Consiste en una serie de metasilicatos de hierro aluminio y magnesio que presentan formas fibrosas.</p>

				<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; margin-bottom: 40px; margin-top: 20px;} .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}</style><div class='embed-container'><iframe width="100%" src="https://www.youtube.com/embed/K4SaNPuWjPw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

				<p>Desde el año 2002 en España está prohibido el uso del amianto por las graves enfermedades que provoca al ser inhalado. Este es especialmente nocivo en personas fumadoras, que tienen más posibilidades de desarrollar las enfermedades a las que se asocia el amianto.</p>
				<p>Los principales problemas se producen en el pulmón y la pleura, en forma de inflamación fibrótica y de cáncer. Las enfermedades más frecuentes que se han detectado directamente relacionadas con la inhalación de fibras de amianto son las siguientes:
					<ul>
						<li>Cáncer broncopulmonar: Es la primera causa de muerte relacionada con la exposición al amianto. Aparece con un tiempo de latencia de más de 30 años y la posibilidad de curación depende de que sea posible extirpar el tumor completamente y de que no existan diseminaciones cancerígenas o metástasis a distancia.</li>
						<li>Asbestosis pulmonar: Es una fibrosis que se produce como consecuencia de la inhalación de cantidades importantes de fibras de amianto. Puede aparecer después de 10 o 20 años de haber estado expuesto de forma prolongada.</li>
						<li>Enfermedades pleurales benignas: La forma más frecuente son las placas de pleura parietal que aparecen a partir de los 20 años del inicio de la exposición. También se puede desarrollar una fibrosis difusa, que consiste en una alteración fibrosa de lapleau parietal y visceral.</li>
						<li>Mesotelioma maligno: Es el cáncer de la célula mesotelial, y afecta a la pleura y el peritoneo. Aunque en ciertas ocasiones se puede desarrollar en personas que se ha expuesto esporádicamente, en general se presenta en personas con una exposición prolongada.</li>
					</ul>
				</p>

				<h3>PCB</h3>
				<p>Gracias a la ininflamabilidad y en las propiedades dieléctricas (aislantes) que tienen los PCBs, estos se han empleado en numerosas aplicaciones, muchas de las cuales están presentes en nuestros edificios y viviendas. Los transformadores y condensadores eléctricos son un ejemplo. Está demostrado que sometidos a temperaturas superiores a los 350ºC (que pueden llegar fácilmente en caso de incendio) se transforman en un producto altamente tóxico, desprendiendo gases peligrosos como las dioxinas.</p>
				<p>Hay que constatar que los compuestos de PCB no son biodegradables y, por tanto, la contaminación persiste prácticamente de forma indefinida, acumulándose en el medio ambiente. Y aunque su solubilidad en el agua sea baja, pueden permanecer indefinidamente en los ríos y mares, contaminando su hábitat y fauna.</p>
				<p>Se ha demostrado en animales que los PCBs son cancerígenos, y se considera muy probable que tengan los mismos efectos en los seres humanos. Actualmente los PCBs tienen la consideración de agentes potencialmente carcinógenos.</p>
				<p>Aparte de la carcinogénesis, los PCBs tienen otros efectos nocivos para la salud. Principalmente afecta al sistema inmunológico, nervioso, reproductivo y endocrino.</p>

				<h3>Detectores iónicos de fuego</h3>
				<p>Estos tipos de detectores de fuego, presentes en la mayoría de edificios públicos, docentes, hospitales y oficinas, emiten una cierta cantidad de radiactividad.</p>
				<p>Aunque la radiactividad de estos tipos de productos en principio no es problemática, siempre existe el riesgo latente de que en un accidente, como puede ser un incendio, los isótopos radiactivos se mezclen con el aire. Este hecho puede provocar un riesgo de contaminación radiactiva elevada, tanto en la salud humana como al medio ambiente.</p>
				<p>Básicamente, estos detectores están fabricados con Americio 241. Este elemento tiene una actividad por debajo de 0,09 microcurios, o 33,3 kBq (kilobequerels). Las emisiones radiactivas que emiten son de tipo alfa (pesadas) y su intensidad hace que a 5 centímetros de la fuente pierdan la suficiente potencia como para dejar de ser perjudiciales para la salud. También emiten partículas gamma que son despreciables. En los casos de detectores muy antiguos hay con Radio 226.</p>
				<p>Finalmente, hay que saber que los detectores iónicos siempre pueden ser sustituidos por otros detectores menos nocivos, como puede ser el caso de los ópticos o los termovelocimétricos.</p>

				<h3>Radón</h3>
				<p>Hay ciertos materiales pétreos como el granito o las rocas del mismo origen geológico que emiten radiaciones de radón. Las partículas radiactivas que el radón emite al descomponerse pueden quedar atrapadas en los pulmones, dañar los tejidos y causar cáncer.</p>
				<p>Para los fumadores expuestos a niveles altos de radón las provabilitats de contraer cáncer de pulmón son bastante más altas, aunque pueden pasar muchos años hasta que se desarrolle el cáncer.</p>
				<p>Como el radón es un gas que proviene del suelo, puede entrar en los edificios a través de pequeñas grietas en cimientos y techos y acumularse en el interior de sótanos u otras estancias más elevadas de las viviendas.</p>
				<p>Para limitar el riesgo de exposición de los usuarios a concentraciones inadecuadas de gas radón procedente del terreno en el interior de los locales habitables, la administración española ha fijado un nivel de referencia para la media anual de concentración de gas radón en el interior de los mismos de 300 Bq/m3.</p>
				<p>Para verificar y justificar su cumplimiento ha establecido dos zonas geográficas donde hay que tomar algún tipo de protección. Para los edificios ubicados en la zona donde el riesgo es más alto se ha establecido la obligación de tener que disponer de una barrera de protección y un espacio de contención ventilado situado entre el terreno y los locales a proteger, para mitigar la entrada de radón proveniente del terreno en los locales habitables mediante ventilación natural o mecánica o bien, un sistema de despresurización del terreno, que permita extraer los gases contenidos en el terreno bajo el edificio.</p>
				<p>En los municipios ubicados en las zona con un grado de exposición menor debe disponer de una barrera de protección entre el terreno y los locales habitables del edificio, que limite el paso de los gases provenientes del terreno o alternativamente, se puede disponer de una cámara de aire destinada a mitigar la entrada del gas radón en estos locales. En este caso, la cámara de aire deberá estar ventilada y separada de los locales habitables mediante un cierre sin grietas, fisuras o discontinuidades que puedan permitir el paso del radón.</p>

				<h3>Creosota</h3>
				<p>La creosota es el nombre con que se designa a una variedad de productos como el alquitrán mineral, la creosota de la madera y de alquitrán mineral y la brea de hulla y sus compuestos volátiles. Estos productos provienen del tratamientos a alta temperatura de la madera de haya y otras especies, del carbón mineral y de la resina que se obtiene del arbusto de creosota. Su utilidad más importante es como protector de la madera.</p>
				<p>Este producto se aplicaba hace unos años en el tratamiento de las traviesas de las vías del tren, materiales que se han utilizado mucho como elementos de construcción y de decoración en parques y jardines, tanto de uso público como privado.</p>
				<p>La creosota es un producto clasificado como carcinógeno de categoría 2 en el Reglamento sobre notificación de sustancias nuevas y clasificación, envasado y etiquetado de sustancias peligrosas, y en su etiquetado debe constar el símbolo de nocivo con la frase de riesgo R45: "puede causar cáncer" y las frases S de consejos de prudencia 53 y 45:"Evítese la exposición. Mirar instrucciones especiales antes de su uso ".</p>
				<p>La Agencia Internacional para la Investigación del Cáncer (International Agency for the Research on Cancer- IARC) clasifica esta sustancia en el grupo 2A: probable carcinógeno para el hombre. Normalmente se clasifican en este grupo los compuestos para los que existen evidencias limitadas de carcinogenicidad en el hombre pero suficientes en animales.</p>
				<p>Los grupos de la IARC son:
					<ul>
						<li>Grup 1: Carcinógenos para el hombre</li>
						<li>Grup 2 A: Probables carcinógenos para el hombre</li>
						<li>Grup 2 B: Posibles carcinógenos para el hombre</li>
						<li>Grup 3: No clasificables por su carcinogeneidad</li>
						<li>Grup 4: No carcinógenos para el hombre.</li>
					</ul>
				</p>
			</div>

			<div class="paragraf-tema-clau">
				<h2>Los campos electromagnéticos</h2>

				<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; margin-bottom: 40px; margin-top: 20px;} .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}</style><div class='embed-container'><iframe width="100%" src="https://www.youtube.com/embed/rnM3oNMAax4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
				
				<h3>Campos electromagnéticos de baja frecuencia</h3>
				<p>Las instalaciones eléctricas de los edificios crean campos electromagnéticos de baja frecuencia. Alrededor del edificio podemos encontrar torres y cables de electricidad o transformadores eléctricos que produzcan estos campos, pero también se producen en el interior de los edificios por el cableado eléctrico y los aparatos en general.</p>

				<p>Para determinadas personas la exposición a estos campos electromagnéticos es un problema grave. Tal y como pasaría con una alergia, su cuerpo reacciona de manera desproporcionada. Según la OMS entre un 1 y un 3% de la población muestra electrosensibilidad, que puede manifestarse en formas diversas como el dolor de cabeza, irritación de la piel o el cansancio.</p>

				<p>La mejor manera de no verse afectado por los campos electromagnéticos es eliminar la fuente del electromagnetismo o apartarnos de ella tanto como sea posible. Si las fuentes son externas normalmente no podremos apagarlas, y por su naturaleza de campo magnético, resulta muy complejo protegernos porque atraviesa paredes y otras barreras. En este caso la mejor estrategia es utilizar más las zonas alejadas de la fuente. En el caso de una vivienda, procurar que la zona de descanso sea la más alejada de la fuente del campo electromagnético. Cuando las fuentes son internas normalmente podremos evitarlas parando el aparato.</p>

				<h3>Campos electromagnéticos de alta frecuencia</h3>
				<p>En las últimas décadas las personas nos hemos visto rodeadas de muchos más campos electromagnéticos de alta frecuencia porque son los que se asocian a la radio, la televisión y la tecnología móvil. Se considera que los campos más dañinos son los que tienen una modulación codificada por pulsaciones, los que encontramos en los teléfonos móviles, dispositivos wifi y bluetooth por ejemplo.</p>

				<p>Hay que remarcar que no hay un consenso total sobre las afectaciones a la salud de los campos electromagnéticos en las intensidades en las que nos encontramos en los edificios. También hay que recordar que en otros ámbitos ha habido estudios contradictorios durante muchos años antes de llegar a un consenso sobre los problemas de salud que puede conllevar un determinado elemento. Por ello se recomienda ser cuidadoso en la cantidad de campos electromagnéticos a los que nos exponemos. No está claro si el wifi de casa nos causará efectos negativos para la salud, lo que sí está claro es que reducir nuestra exposición a estos campos no puede empeorar nuestra salud.</p>

				<p>El control de las fuentes externas, como las antenas de telefonía móvil, siempre resulta más complejo porque no las podemos apagar a voluntad. Es posible hacer pantalla protectora en el edificio utilizando malla metálica conectada a tierra. Para las fuentes internas es recomendable utilizar dispositivos cableados.</p>

			</div>

			<div class="paragraf-tema-clau">
				<h2>Enfermedades</h2>
				<p>Existen varias enfermedades relacionadas directamente con el uso de edificios que no tienen un correcto mantenimiento o que se han construido con materiales tóxicos, como la legionel.la o la carcinogénesis, que son bastante conocidas.</p>
				<p>De todos modos también existen enfermedades menos conocidas como la lipoatrofia semicircular, que se producen en edificios modernos con un gran número de instalaciones eléctricas.</p>

				<h3>Legionela</h3>
				<p>Una de las enfermedades más graves que pueden causar los edificios a sus ocupantes y usuarios es la producida por la Legionella pnemophila, una de las cuarenta especies de esta bacteria y que produce más del 80% de las infecciones.</p>
				<p>Se contagia como consecuencia de los aerosoles, únicamente por vía respiratoria. No se contagia de persona a persona, mediante los alimentos o al beber agua contaminada.</p>
				<p>Esta bacteria sobrevive en condiciones de temperatura de los 0 a los 63º C y en un pH de entre 5 y 8,5, con unas concentraciones de O2 entre 0,2 y 15 mg/l, aunque la temperatura ideal para crecer y reproducirse es de 25 a 35º C.</p>
				<p>Se encuentra en las instalaciones que cumplen las características referidas y que producen aerosoles, que posteriormente pueden ser inhalados por las personas, como son torres de refrigeración, humidificadores, aparatos de refrigeración evaporativa, condensadores evaporativos, sistemas de distribución del agua caliente sanitaria, fuentes ornamentales, etc.</p>
				<p>Su prevención pasa por un mantenimiento adecuado de las instalaciones, que consiste principalmente en su limpieza y desinfección al menos dos veces al año, en primavera y en otoño, siempre después de que la instalación lleve un mes sin funcionar y antes de ponerla en funcionamiento, así como también después de cualquier reparación.</p>
				<p>La cloración del agua, como método desinfectante, es económica, sencilla y muy eficaz, en concentraciones que no superen las 2 ppm y con un pH inferior a 8, para que mantenga su eficiencia y no sea corrosiva.</p>
				<p>Deberán realizarse pruebas periódicas, para asegurar que las condiciones químicas y microbiológicas del agua se mantengan.</p>

				<h3>Carcinogénesis</h3>
				<p>La carcinogénesis es la formación de cáncer, de carcinoma o de cualquier otra neoplasia maligna, y consiste en el crecimiento tumoral de los tejidos incoordinat con las necesidades del organismo, de carácter maligno y perturbador de las funciones biológicas normales.</p>
				<p>En los edificios podemos encontrar diversos elementos o materiales que pueden provocar esta enfermedad después de una exposición más o menos prolongada. Los más conocidos por su peligrosidad son el amianto y los PCBs, pero también hay otros que merecen especial atención, como el gas radón y la creosota.</p>

				<h3>Lipoatrofia semicircular</h3>
				<p>El síndrome de lipoatrofia semicircular está relacionado con los edificios de oficinas nuevos con una gran cantidad de instalaciones de electricidad, telefonía y elementos electrónicos en general que crean campos magnéticos. Estos campos pueden provocar la descarga electrostática de los muslos, a través de la mesa del escritorio.</p>
				<p>La consecuencia más habitual es la atrofia de una zona de tejido subcutáneo, situado principalmente en la parte frontal de los muslos. Esta atrofia se puede ver a simple vista, y se ha comprobado que en la mayoría de afectados la atrofia desaparece tan sólo al abandonar el edificio durante un cierto período de tiempo. Otros efectos de este síndrome son la sensación de piernas pesadas y un alto grado de fatiga.</p>

			</div>



		</div>
	</div>

</div>
<% end %>