<% if params[:locale] == 'ca' %>
<div class="container">

	<div class="grid-x">
		<div class="medium-12 cell">
			<img src="https://s3-eu-west-1.amazonaws.com/csostenible/imatges/temes_clau/salut_gran_ca.jpg" alt="Salut" class="responsive-img">	
		</div>
	</div>

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				<p>La OMS defineix la salut com un estat de complet benestar físic, mental i social i no només com l’absència de malalties. És per això que un habitatge ha d’anar molt més enllà de proporcionar refugi contra les inclemències del temps i ser segur per a les persones. Una arquitectura més centrada en la salut de les persones farà que la gent arribi a la vellesa amb millor estat de salut.</p>
				<p>Les cèdules d’habitabilitat asseguren que es compleixin uns requisits mínims de higiene i salubritat, però el coneixement actual ens permet anar molt més enllà i en comptes de limitar-nos a tenir edificis salubres tenir edificis saludables. Edificis que proporcionin una millora en la qualitat de vida dels seus ocupants.</p>
				<p>Com ens pot afectar la salut un mal edifici i què podem fer per solucionar-ho:</p>
			</div>
			<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; margin-bottom: 40px; margin-top: 20px;} .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}</style><div class='embed-container'><iframe src="https://player.vimeo.com/video/292618567" width="640" height="360" frameborder="0" allowfullscreen></iframe></div>
			
			<div class="paragraf-tema-clau">
				<h3>L'entorn</h3>
				<p>Treballar tot el dia sense percebre els canvis de la il.luminació natural o estar en un entorn opressiu pot ocasionar estrés laboral. Un ambient saludable va ineludiblement lligat a la interacció entre l’interior i l’exterior de l’edifici. S’ha de procurar que la llum exterior entri dins l’edifici, i que hi hagi contacte visual entre l’interior i l’exterior.</p>
				<p>La salut depèn en gran part de l’estat de la ment, i uns colors adequats i la presència de plantes interiors o vegetació exterior ajuda a crear un ambient molt més estimulant i confortable. La influència dels colors és força variable depenent de diversos factors com la funcionalitat de l’espai o la cultura. Així, uns colors molt vius com vermells i grocs poden semblar-nos agradables en una botiga però crear-nos ansietat en una oficina.</p>
				<p>Tot i que s’ha comprovat que amb el pas del temps la percepció que tenim dels colors varia, en general es considera que els colors freds (blaus, verds…) aporten serenitat però fan que un espai sigui menys acollidor, i els colors càlids (vermells, taronges…) creen l’efecte contrari.</p>
			</div>

			<div class="paragraf-tema-clau">
				<h3>El soroll</h3>
				<p>El soroll és un dels problemes que més preocupa als usuaris dels edificis, i aconseguir un adequat confort acústic presenta diverses dificultats. L’excés de soroll que es produeix prop de les vies del tren, carreteres molt transitades o zones properes als aeroports, produeix un gran disconfort que pot tenir implicacions serioses sobre l’organisme com desordres del sistema nerviós autònom, manca de concentració i trastorns del son. Tot i així, cal remarcar que l’absència absoluta de soroll pot provocar trastorns similars, per tant és important remarcar que per aconseguir el confort acústic cal mantenir una certa relació entre l’interior de l’edifici i l’exterior, no es pot aïllar completament.</p>
				<p>Quan hi ha un excés de soroll el més recomanable és eliminar-ne la font, però aquesta solució en molts casos no està a l’abast de l’usuari de l’edifici. En aquests casos cal millorar l’aïllament acústic, i es pot fer de diverses maneres:
					<ul>
						<li>Aïllament per massa: Duplicar la massa del tancament permet una millora teòrica de 6 dB en l’aïllament en la majoria de casos.</li>
						<li>Aïllament per sandwich: Al col.locar un material flexible entre dues fulles del tancament fem que l’element flexible impedeixi la vibració de les fulles rígides. S’ha de tenir en compte que l’element flexible s’ha de mantenir en contacte amb les parets.</li>
					</ul>
				</p>
			</div>

			<div class="paragraf-tema-clau">
				<h3>La qualitat de l'aire</h3>
				<p>Els éssers vius utilitzem l'aire per obtenir l'energia que necessitem per mantenir-nos vius, posant-nos en contacte directe amb l'ambient que ens envolta de forma directa i permanent. És per això que l'aire, conjuntament amb la presència d'aigua, és un dels elements fonamentals perquè pugui existir vida al nostre planeta i aquest ha de tenir un adequat estàndard de qualitat, amb una bona relació de gasos, el més lliures de contaminants possible. Aquesta relació de gasos està composta principalment per nitrogen i oxigen i en menor mesura per altres gasos com són: l'argó, el vapor d'aigua, el diòxid de carboni, el metà, l'òxid nitrós, l'ozó i altres, podent emmagatzemar alguns contaminants suspesos, com la pols, pol·len, compostos orgànics volàtils, bacteris, virus, àcars, fongs, fum, etc ... Alguns d'aquests contaminants tenen la capacitat per poder causar malalties respiratòries, cardíaques o danys en altres òrgans del cos humà, ja que utilitzem l’aire en els pulmons per l'oxigenació de la sang i aquesta circula després per tot l’organisme, distribuint oxigen i nutrients als diferents teixits del cos.</p>
 
				<p>En alguns casos, aquests problemes de salut són complexos de diagnosticar, degut a que hi ha grups heterogenis de contaminants en l’aire que dificulten l'estudi etiològic per a determinar amb certesa la relació causal i en altres, les causes són fruit d'una combinació de contaminants. No obstant, s’ha constatat que hi ha edificis en què els seus usuaris presenten un conjunt de malalties originades o estimulades per la contaminació de l'aire i que l'Organització Mundial de la Salut -OMS- ha definit com el "Síndrome de l'Edifici Malalt". Això és especialment important perquè tal i com adverteix la pròpia OMS- la població de les ciutats passa entre un 80% i un 90% del temps en l'interior dels edificis.</p>
 
				<p>Per altra banda, l'aire atmosfèric exterior que s'utilitza per a la ventilació dels edificis pot presentar unes elevades concentracions de pol·lució i contaminants. Aquesta contaminació de l'aire atmosfèric es va iniciar de forma lenta i progressiva amb la revolució industrial i avui, en algunes zones urbanes, presenta una situació força crítica. La seva existència es deu principalment als processos de combustió, que comporta l'emissió de monòxid de carboni, òxids de nitrogen, cendres i hidrocarburs no combustionats. Quan aquesta pol·lució presenta unes elevades concentracions pot ocasionar problemes en la salut i lamentables efectes en el medi ambient, com és l'escalfament global a causa de l'augment dels gasos d'efecte hivernacle. En aquests casos no és la millor solució ventilar natural l’interior dels edificis amb l’aire exterior.</p>
 
				<p>Al seu torn i intrínsecament relacionat, els edificis han de permetre cobrir les seves necessitats tèrmiques amb una baixa demanda energètica, el que exigeix edificis hermètics que evitin pèrdues tèrmiques per infiltracions i un ús molt eficient de l'energia utilitzada per la climatització, sent això contradictori amb la ventilació natural, ja que aquesta expulsa fluxos d'aire viciat en bones condicions tèrmiques per altres fluxos d'aire nou que necessiten ser condicionat climàticament, sent això inassumible energèticament i econòmicament per una societat que requereix una millor eficiència dels recursos.</p>

				<p>Tots aquests aspectes energètics, mediambientals i de salut, conjuntament amb la necessitat de disposar d'un bon confort interior en els habitatges, sense mals olors ni humitats per condensació, ha comportat que es desenvolupi normatives específiques a cada país per garantir una bona qualitat de l'aire interior en els edificis.</p>
 
				<p>Des d'un punt de vista d'estalvi energètic la ventilació natural, utilitzada tradicionalment, no està considerada un sistema eficient i és per això que no es considera un sistema general de ventilació en la legislació espanyola (CTE), essent considerat un sistema complementari. Els sistemes generals de ventilació pels habitatges que es recull en aquesta legislació són: ventilació híbrida o ventilació mecànica.</p>
			</div>

			<div class="paragraf-tema-clau">
				<h2>El síndrome de l'edifici malalt</h2>
				<p>El síndrome de l’edifici malalt afecta als ocupants de l’edifici i no a l’edifici en sí, i es caracteritza per causar diversos símptomes com irritació de la pell, els ulls o el coll, així com altres molèsties relacionades amb els sentits de l’olfacte i el gust.</p>
				<p>Habitualment el síndrome de l’edifici malalt es produeix per una mala ventilació, partícules en suspensió i càrregues iòniques o electromagnètiques.</p>
				<p>Els edificis més propensos a patir aquest síndrome són els edificis d’oficines amb mur cortina que tanquen hermèticament per reduir les infiltracions d’aire i així estalviar energia. Si la ventilació artificial no està correctament calculada afavorirà l’aparció d’al.lèrgies i la transmissió de malalties com la grip.</p>
				<p>Les zones humides, amb poca ventilació i presència de pols afavoreixen l’aparició d’àcars. Els seus excrements són inhalats pels usuaris de l’edifici i poden causar diversos problemes respiratoris i altres dolències.</p>
				<p>Alguns materials de les oficines poden contribuir a l’aparició del síndrome de l’edifici malalt al desprendre fibres minerals, contenir compostos orgànics volàtils (COV) o emetre vapors tòxics.</p>
				<p>Principals recomanacions per evitar el síndrome de l’edifici malalt:
					<ul>
						<li>Evitar la utilització de productes que continguin compostos orgànics volàtils (COV). Principalment els trobarem en pintures, vernissos, moquetes i cortines.</li>
						<li>Realitzar un bon manteniment de les instal.lacions de climatització, netejant sovint els filtres i els conductes.</li>
						<li>Mantenir netes les moquetes i qualsevol superfície que afavoreixi l’acumulació d’agents contaminants.</li>
						<li>Separar les zones de qualitat d’aire especial, com sales de combustió, sales de màquines, banys i cuines, procurant ventilar de manera independent.</li>
						<li>Minimitzar les emissions de radó utilitzant materials que no el continguin o creant espais ventilats sobre sòls que el continguin.</li>
					</ul>
				</p>	
			</div>

			<div class="paragraf-tema-clau">
				<h2>Materials nocius per a la salut</h2>
				<p>Afortunadament la majoria de materials perillosos per a la salut ja s'han prohibit. Tot i així encara els podem trobar en obres de rehabilitació, per tant cal conèixer quins són els perills de la seva manipulació.</p>
				<p>També trobarem elements com el radó que depenen del terreny, per tant el podem trobar en qualsevol edifici que s'hagi construit en una zona on aquest gas estigui present.</p>

				<h3>Amiant</h3>
				<p>L’amiant és un material que s’ha utilitzat molt en el nostre país per la seva gran resistència al foc, propietats d’aïllament tèrmic o com a matriu resistent per als productes de fibrociment. Consisteix en una sèrie de metasilicats de ferro alumini i magnesi que presenten formes fibroses.</p>
				<p>Des de l’any 2002 a l’estat espanyol està prohibit l’ús de l’amiant per les greus malalties que provoca al ser inhalat. Aquest és especialment nociu en persones fumadores, que tenen més possibilitats de desenvolupar les malalties a les quals s’associa l’amiant.</p>
				<p>Els principals problemes es produeixen en el pulmó i la pleura, en forma d’inflamació fibròtica i de càncer. Les malalties més freqüents que s’han detectat directament relacionades amb la inhalació de fibres d’amiant són les següents:
					<ul>
						<li>Càncer broncopulmonar: És la primera causa de mort relacionada amb l’exposició a l’amiant. Apareix amb un temps de latència de més de 30 anys i la possibilitat de curació depèn de que sigui possible extirpar el tumor completament i de que no existeixin disseminacions cancerígenes o metàstasi a distància.</li>
						<li>Asbestosi pulmonar: És una fibrosi que es produeix com a conseqüència de la inhalació de quantitats importants de fibres d’amiant. Pot aparèixer després de 10 o 20 anys d’haver-hi estat exposat de forma prolongada.</li>
						<li>Malalties pleurals benignes: La forma més freqüent són les plaques de pleura parietal que apareixen a partir dels 20 anys de l’inici de l’exposició. També es pot desenvolupar una fibrosi difusa, que consisteix en una alteració fibrosa de la pleure parietal i visceral.</li>
						<li>Mesotelioma maligne: És el càncer de la cèl.lula mesotelial, i afecta a la pleura i al peritoneu. Tot i que en certes ocasions es pot desenvolupar en persones que s’hi ha exposat esporàdicament, en general es presenta en persones amb una exposició prolongada.</li>
					</ul>
				</p>

				<h3>PCB</h3>
				<p>Gràcies a la inimflamabilitat i a les propietats dielèctriques (aïllants) que tenen els PCBs, aquests s’han emprat en numeroses aplicacions, moltes de les quals son presents als nostres edificis i habitatges. Els transformadors i condensadors elèctrics en són un exemple. Està demostrat que sotmesos a temperatures superiors als 350ºC (que poden arribar fàcilment en cas d’incendi) es transformen en un producte altament tòxic, desprenent gasos perillosos com les dioxines.</p>
				<p>Cal constatar que els compostos de PCB no són biodegradables i, per tant, la contaminació persisteix pràcticament de forma indefinida, acumulant-se en el medi ambient. I encara que la seva solubilitat a l'aigua sigui baixa, poden romandre indefinidament en els rius i mars, contaminant el seu hàbitat i fauna.</p>
				<p>S’ha demostrat en animals que els PCBs són cancerígens, i es considera molt provable que tinguin els mateixos efectes en els éssers humans. Actualment els PCBs tenen la consideració d’agents potencialment carcinògens.</p>
				<p>A part de la carcinogènesi, els PCBs tenen altres efectes nocius per la salut. Principalment afecta al sistema immunològic, nerviós, reproductiu i endocrí.</p>

				<h3>Detectors iònics de foc</h3>
				<p>Aquests tipus de detectors de foc, presents en la majoria d'edificis públics, docents, hospitals i oficines, emeten una certa quantitat de radioactivitat.</p>
				<p>Tot i que la radioactivitat d'aquests tipus de productes en principi no és problemàtica, sempre existeix el risc latent que en un accident, com pot ser un incendi, els isòtops radioactius es barregin amb l'aire. Aquest fet pot provocar un risc de contaminació radioactiva elevada, tant a la salut humana com al medi ambient.</p>
				<p>Bàsicament, aquests detectors estan fabricats amb Americi 241. Aquest element té una activitat per sota de 0,09 microcuris, o 33,3 kbq (kilobequerels). Les emissions radioactives que emeten són de tipus alfa (pesades) i la seva intensitat fa que a 5 centímetres de la font perdin la suficient potència com per a deixar de ser perjudicials per a la salut. També emeten partícules gamma que són menyspreables. En els casos de detectors molt antics n'hi ha amb Radi 226.</p>
				<p>Finalment, cal saber que els detectors iònics sempre poden ser substituïts per altres detectors menys nocius, com pot ser el cas dels òptics o els termovelocimètrics.</p>

				<h3>Radó</h3>
				<p>Hi ha certs materials petris com el granit o les roques del mateix origen geològic que emeten radiacions de radó. Les partícules radioactives que el radó emet al descompondre’s poden quedar atrapades als pulmons, danyar-ne els teixits i causar càncer.</p>
				<p>Per als fumadors exposats a nivells alts de radó les provabilitats de contraure càncer de pulmó són força més altes, tot i que poden passar molts anys fins que es desenvolupi el càncer.</p>
				<p>Com que el radó és un gas que prové del sòl, pot entrar als edificis a través de petites esquerdes en fonaments i sostres i acumular-se a l’interior de soterranis o altres estances més elevades de les vivendes.</p>
				<p>Per a limitar el risc d’exposició dels usuaris a concentracions inadequades de  gas radó procedent del terreny en l’interior dels locals habitables, l’administració espanyola ha fixat un nivell de referència per a la mitjana anual de concentració de gas radó en l’interior dels mateixos de 300 Bq/m3.</p>
				<p>Per a verificar i justificar el seu compliment ha establert dues zones geogràfiques on cal prendre alguna mena de protecció. Per als edificis ubicats en la zona on el risc és més alt s’ha establert l’obligació d’haver de disposar d’una barrera de protecció i un espai de contenció ventilat situat entre el terreny i els locals a protegir, per mitigar l'entrada de radó provinent del terreny als locals habitables mitjançant ventilació natural o mecànica o bé, un sistema de despressurització del terreny, que permeti extreure els gasos continguts en el terreny sota l'edifici.</p>
				<p>En els municipis ubicats en les zona amb un grau d’exposició menor s’ha de disposar d’una barrera de protecció entre el terreny i els locals habitables de l'edifici, que limiti el pas dels gasos provinents del terreny o alternativament, es pot disposar d’una càmera d'aire destinada a mitigar l'entrada del gas radó a aquests locals. En aquest cas, la camera d'aire haurà d'estar ventilada i separada dels locals habitables mitjançant un tancament sense esquerdes, fissures o discontinuïtats que puguin permetre el pas del radó.</p>

				<h3>Creosota</h3>
				<p>La creosota és el nom amb què es designa a una varietat de productes tal com el quitrà mineral, la creosota de la fusta i de quitrà mineral i la brea de hulla i els seus compostos volàtils. Aquests productes provenen del tractaments a alta temperatura de la fusta de faig i altres espècies, del carbó mineral i de la reïna que s'obté de l'arbust de creosota. La seva utilitat més important és com a protector de la fusta.</p>
				<p>Aquest producte s'aplicava fa uns anys en el tractament de les travesses de les vies del tren, materials que s'han utilitzat molt com a elements de construcció i de decoració en parcs i jardins, tant d'ús públic com privat.</p>
				<p>La creosota és un producte classificat com a carcinògen de categoria 2 en el Reglament sobre notificació de substàncies noves i classificació, envasat i etiquetatge de substàncies perilloses, i en el seu etiquetatge ha de constar el símbol de Nociu amb la frase de risc R45: "pot causar càncer" i les frases S de consells de prudència 53 i 45: "Eviti's l'exposició. Mirar instruccions especials abans del seu ús".</p>
				<p>L'Agència Internacional per a la Recerca del Càncer ( International Agency for the Research on Cancer- IARC ) classifica aquesta substància en el grup 2A: Probable carcinògen per a l'home. Normalment es classifiquen en aquest grup els compostos per als quals existeixen evidències limitades de carcinogenicitat en l'home però suficients en animals.</p>
				<p>Els grups de l'IARC són:
					<ul>
						<li>Grup 1: Carcinògens per a l'home</li>
						<li>Grup 2 A: Probables carcinògens per a l'home</li>
						<li>Grup 2 B: Possibles carcinògens per a l'home</li>
						<li>Grup 3: No classificables per la seva carcinogenicitat</li>
						<li>Grup 4: No carcinògens per a l'home.</li>
					</ul>
				</p>
			</div>

			<div class="paragraf-tema-clau">
				<h2>Malalties</h2>
				<p>Existeixen diverses malalties relacionades directament amb l'ús d'edificis que no tenen un correcte manteniment o que s'han construït amb materials tòxics, com la legionel.la o la carcinogènesi, que són força conegudes.</p>
				<p>De totes maneres també existeixen malalties menys conegudes com la lipoatròfia semicircular, que es produeixen en edificis moderns amb un gran nombre d'instal.lacions elèctriques.</p>

				<h3>Legionel·la</h3>
				<p>Una de les malalties més greus que poden causar els edificis als seus ocupants i usuaris és la produïda per la Legionella pnemophila, una de les quaranta espècies d'aquest bacteri i que produeix més del 80% de les infeccions.</p>
				<p>Es contagia com a conseqüència dels aerosols, únicament per via respiratòria. No es contagia de persona a persona, mitjançant els aliments o en beure aigua contaminada.</p>
				<p>Aquest bacteri sobreviu en condicions de temperatura dels 0 als 63º C i en un pH d’entre 5 i 8,5, amb unes concentracions d’O2 entre 0,2 i 15 mg/l, tot i que la temperatura ideal per créixer i reproduir-se és de 25 a 35º C.</p>
				<p>Es troba a les instal·lacions que compleixen les característiques referides i que produeixen aerosols, que posteriorment poden ser inhalats per les persones, com són torres de refrigeració, humidificadors, aparells de refrigeració evaporativa, condensadors evaporatius, sistemes de distribució de l'aigua calenta sanitària, fonts ornamentals, etc.</p>
				<p>La seva prevenció passa per un manteniment adequat de les instal·lacions, que consisteix principalment en la seva neteja i desinfecció com a mínim dos cops l'any, a la primavera i a la tardor, sempre després que la instal·lació porti un mes sense funcionar i abans de posar-la en funcionament, així com també després de qualsevol reparació.</p>
				<p>La cloració de l'aigua, com a mètode desinfectant, és econòmica, senzilla i molt eficaç, en concentracions que no superin les 2 ppm i amb un pH inferior a 8, perquè mantingui la seva eficiència i no sigui corrosiva.</p>
				<p>Hauran de realitzar-se proves periòdiques, per tal d'assegurar que les condicions químiques i microbiològiques de l'aigua es mantinguin.</p>

				<h3>Carcinogènesi</h3>
				<p>La carcinogènesi és la formació de càncer, de carcinoma o de qualsevol altra neoplàsia maligna, i consisteix en el creixement tumoral dels teixits incoordinat amb les necessitats de l'organisme, de caràcter maligne i pertorbador de les funcions biològiques normals.</p>
				<p>En els edificis podem trobar diversos elements o materials que poden provocar aquesta malaltia després d’una exposició més o menys prolongada. Els més coneguts per la seva perillositat són l’amiant i els PCBs, però també n’hi ha d’altres que mereixen especial atenció, com el gas radó i la creosota.</p>

				<h3>Lipoatròfia semicircular</h3>
				<p>El síndrome de lipoatrofia semicircular està relacionat amb els edificis d’oficines nous amb una gran quantitat d’instal.lacions d’electricitat, telefonia i elements electrònics en general que creen camps magnètics. Aquests camps poden provocar la descàrrega electrostàtica de les cuixes, a través de la taula de l’escriptori.</p>
				<p>La conseqüència més habitual és l’atrofiament d’una zona de teixit subcutani, situat principalment a la part frontal de les cuixes. Aquesta atròfia es pot veure a simple vista, i s’ha comprovat que en la majoria d’afectats l’atròfia desapareix tan sols al abandonar l’edifici durant un cert període de temps. Altres efectes d’aquest síndrome són la sensació de cames feixugues i un alt grau de fatiga.</p>

			</div>



		</div>
	</div>

</div>
<% else %>
<div class="container">

	<div class="grid-x">
		<div class="medium-8 medium-offset-2 cell">
			<div class="paragraf-tema-clau">
				
				<div class="card blue lighten-4">
					<div class="card-content">
				  	<strong>Atención!</strong> Estamos trabajando en la actualización de este tema clave.
				  </div>
				</div>

				<h2>Salud</h2>

				<p style="padding-top: 7px;padding-right: 0px;padding-bottom: 7px;padding-left: 0px;text-align: justify;margin: 0px">La persona urbana se pasa un 90% de su vida viviendo, trabajando o relacionándose dentro de los edificios. Así pues, es necesario considerar los efectos que pueden tener algunas prácticas constructivas o la utilización de algunos materiales sobre la salud.</p>
<h3>La calidad del aire</h3>
<p style="padding-top: 7px;padding-right: 0px;padding-bottom: 7px;padding-left: 0px;text-align: justify;margin: 0px">Se debe evitar la utilización de productos que contengan compuestos orgánicos volátiles (COV). Principalmente los encontraremos en pinturas, barnices, moquetas y cortinas. Es importante realizar un buen mantenimiento de las instalaciones de climatización, limpiando a menudo los filtros y los conductos para evitar la propagación de polvo y varios agentes alergénico en el aire. En espacios donde se produzca mucho polvo se deberán instalar sistemas de ventilación específicos para extraerlo. Otro de los factores que más malogran la calidad del aire es el humo del tabaco. Se calcula que por cada cigarro que se fuma hacen falta 100 m3 de aire fresco para eliminar sus efectos. La ventilación natural es preferible a la mecánica, y si se utiliza la mecánica se debe poder medir la calidad del aire que se está haciendo recircular. Aun cuando para mejorar la eficiencia energética del edificio se recomienda hacer recircular una parte importante del aire climatizado, si tenemos en cuenta la salud la recomendación es justo la contraria: debemos procurar abastecer el edificio con aire limpio del exterior.</p>
<h3>El ruido</h3>
<p style="padding-top: 7px;padding-right: 0px;padding-bottom: 7px;padding-left: 0px;text-align: justify;margin: 0px">El ruido es uno de los problemas que más preocupa a los usuarios de los edificios y conseguir un adecuado confort acústico presenta varias dificultades. El exceso de ruido que se produce cerca de las vías del tren, carreteras muy transitadas o zonas próximas a los aeropuertos, produce un gran disconfort, que puede tener implicaciones serias sobre el organismo, como desórdenes del sistema nervioso autónomo, carencia de concentración y trastornos del sueño. A pesar de ello, hace falta remarcar que la ausencia absoluta de ruido puede provocar trastornos similares; por lo tanto es importante remarcar que para conseguir confort acústico hace falta mantener una cierta relación entre el interior del edificio y el exterior; no se puede aislar completamente.</p>
<p style="padding-top: 7px;padding-right: 0px;padding-bottom: 7px;padding-left: 0px;text-align: justify;margin: 0px">Cuando hay un exceso de ruido lo más recomendable es eliminar la fuente, pero esta solución en muchos casos no está al alcance del usuario del edificio. En estos casos hace falta mejorar el aislamiento acústico y se puede hacer de varias maneras:</p>
<ul style="padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 10px;margin-top: 5px;margin-right: 0px;margin-bottom: 5px;margin-left: 50px">
<li><strong>Aislamiento por masa: <span style="font-weight: normal">Duplicar la masa del cerramiento permite una mejora teórica de 6 dB en el aislamiento en la mayoría de casos.</span></strong></li>
<li><strong>Aislamiento por sandwich:</strong> Al colocar un material flexible entre dos hojas del cierre hacemos que el elemento flexible impida la vibración de las hojas rígidas. Se debe tener en cuenta que el elemento flexible se debe mantener en contacto con las paredes.</li>
</ul>
<h3>El entorno</h3>
<p style="padding-top: 7px;padding-right: 0px;padding-bottom: 7px;padding-left: 0px;text-align: justify;margin: 0px">Trabajar todo el día sin percibir los cambios de la iluminación natural o estar en un entorno opresivo puede ocasionar estrés laboral. Un ambiente saludable va ineludiblemente atado a la interacción entre el interior y el exterior del edificio. Se debe procurar que la luz exterior entre dentro del edificio, y que exista contacto visual entre el interior y el exterior.</p>
<p style="padding-top: 7px;padding-right: 0px;padding-bottom: 7px;padding-left: 0px;text-align: justify;margin: 0px">La salud depende en gran parte del estado de la mente, y unos colores adecuados y la presencia de plantas interiores o vegetación exterior ayuda a crear un ambiente muy estimulante y confortable. La influencia de los colores varía bastante dependiendo de diversos factores, como la funcionalidad del espacio o la cultura. Así, unos colores muy vivos, como rojos y amarillos, pueden parecernos agradables en una tienda pero crearnos ansiedad en una oficina.</p>
<p style="padding-top: 7px;padding-right: 0px;padding-bottom: 7px;padding-left: 0px;text-align: justify;margin: 0px">Aunque se ha comprobado que con el paso del tiempo la percepción que tenemos de los colores varía, en general se considera que los colores fríos (azules, verdes…) aportan serenidad pero hacen que un espacio sea menos acogedor, y los colores cálidos (rojos, naranjas…) crean el efecto contrario.</p>
<h3>Los materiales</h3>
<p style="padding-top: 7px;padding-right: 0px;padding-bottom: 7px;padding-left: 0px;text-align: justify;margin: 0px">La mayoría de materiales de la construcción naturales son más sanos que sus sustitutos artificiales. La razón por la cual se utilizan poco acostumbra a ser su elevado precio o las inferiores características técnicas, principalmente la inferior durabilidad de algunos de ellos. De todos modos, cada vez adquiere más importancia el factor salud y esto los está impulsando nuevamente al mercado.</p>
<p style="padding-top: 7px;padding-right: 0px;padding-bottom: 7px;padding-left: 0px;text-align: justify;margin: 0px">Entre los muchos materiales disponibles podemos destacar:</p>
<ul style="padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 10px;margin-top: 5px;margin-right: 0px;margin-bottom: 5px;margin-left: 50px">
<li><strong>Aislamientos orgánicos:</strong> Están hechos de fibras vegetales o lana de oveja, no son tóxicos y no desprenden sustancias químicas. En algunos casos pueden ser menos durables que otros aislantes artificiales; por lo tanto se deberá tener un cuidado especial en los detalles constructivos para evitar su exposición a la humedad.</li>
<li><strong>Pinturas al agua:</strong> Se caracterizan por no utilizar aceites como base de la pintura; por lo tanto no son tóxicas.</li>
<li><strong>Tierra:</strong> La construcción en tierra todavía es muy habitual en varios países, y tiene la ventaja de ser un material producido con muy poca energía, no tóxico y de gran durabilidad si se utiliza correctamente.</li>
<li><strong>Madera:</strong> Es un material autorenovable que se produce con muy poca energía y tiene un gran atractivo estético. Se debe comprobar que tenga una certificación que asegure su procedencia de explotaciones forestales controladas.</li>
</ul>
			</div>
		</div>
	</div>

</div>
<% end %>