<h1>Editing Tipus Dada Inventari</h1>

<%= render 'form', tipus_dada_inventari: @tipus_dada_inventari %>

<%= link_to 'Show', @tipus_dada_inventari %> |
<%= link_to 'Back', tipus_dada_inventaris_path %>
