<div class="container">
	<div class="grid-x">
		<div class="cell medium-12">
			<h1>Editar notícia</h1>
		</div>
	</div>

<%= render 'form', noticia: @noticia %>

<%= link_to 'Show', @noticia %> |
<%= link_to 'Back', noticies_path %>
</div>
