<div class="container">
  <%= render "layouts/marketcons_navigation" %>

  	<div class="medium-9 cell">
  		<h3><%= t('.sobre_marketcons') %></h3>
		</div>
	</div>
</div>

<script>
$(document).ready(function(){
	alert(navigator.userAgent);
	if (navigator.userAgent.indexOf("gonative") > -1) {
		window.location.replace("https://www.csostenible.com/marketcons");
	}
});
</script>