<div class="container">
  <%= render "layouts/marketcons_navigation" %>

  	<div class="medium-9 cell">
  		<h3><%= t('.editar_anunci') %></h3>
  		<%= render "mk_products/form" %>
			</div>
		</div>
	</div>
</div>

<script>
$("#container-unitats").hide();

$("#mk_product_categoria").change(function() {
	/*alert($("#mk_product_categoria").val());
	if($("#mk_product_categoria").val() == '1') {
		$("#container-pes").hide();
		$("#container-unitats").show();
	}*/

  $.ajax({
      type: 'GET',
      url: '<%= marketcons_comprova_unitats_categoria_path %>',
      data: {
        categoria_id: $("#mk_product_categoria").val()
      },
      success: function(data) {
      	if(data == 'unitats'){
      		$("#container-pes").hide();
      		$("#text-kg").hide();
      		$("#container-unitats").show();

      	} 
      	if(data == 'kg') {
      		$("#container-pes").show();
      		$("#text-kg").show();
      		$("#container-unitats").hide();
      	}
      }
    });
});
</script>