<div class="container">
  <%= render "layouts/marketcons_navigation" %>

  	<div class="medium-9 cell">
  		<h3><%= t('.nou_anunci') %></h3>
  		<%= render "mk_products/form" %>
			</div>
		</div>
	</div>
</div>

		  			