<div class="container">
  <div class="grid-x grid-margin-x">
    <div class="medium-12 cell">
			<h1>Editing Video</h1>

			<%= render 'form', video: @video %>

			<%= link_to 'Show', @video %> |
			<%= link_to 'Back', videos_path %>
		</div>
	</div>
</div>