<div class="container">
  <div class="grid-x grid-margin-x">
    <div class="medium-12 cell">
      <div class="main-title-container">
        <span class="main-title"><%= t('.panell') %></span>
        <br/>
        <span class="secondary-title"><%= t('.editar_tipus_indicador') %></span>
      </div>
    </div>
  </div>

  <div class="grid-x grid-margin-x">
    <div class="medium-12 cell">
			<%= render 'form', tipus_indicador: @tipus_indicador %>
		</div>
		<div class="medium-12 cell">
			<%= link_to t('.llistat_tipus_indicadors'), tipus_indicadors_path %>
		</div>
	</div>
</div>