<div class="container">
	<div class="grid-x grid-margin-x">
		<div class="medium-9 cell">
			
			<% if params[:locale] == 'ca' %>
				
				<div class="sub-title-container">
	        <span class="sub-title">Avís legal</span>
	      </div>

	      <h2>AVÍS LEGAL I DE PRIVACITAT</h2>

<h4>1.	OBJECTE I INFORMACIÓ GENERAL</h4>

<p>L’AGENDA DE LA CONSTRUCCIÓ SOSTENIBLE (d’ara endavant, l’ACS), mitjançant aquest Avís legal i de privacitat (d’ara endavant, Avís Legal) regula l’ús del servei ("Servei") del web d’Internet www.csostenible.net (d’ara endavant, WEB) que l’ACS posa a disposició dels usuaris d’Internet.</p>

<p>Les dades del gestor del Web són les següents:
<ul>
<li>Denominació: Col·legi de l’Arquitectura Tècnica de Barcelona (Cateb)</li>
<li>N.I.F.: Q0875009C</li>
<li>Adreça: carrer Bon Pastor, nº 5, Cp 08021, Barcelona.</li>
<li>Contacte: <a href="mailto:sostenible@apabcn.cat">sostenible@apabcn.cat</a></li>
</ul>
</p>

<p>Les dades dels titulars del Web (en endavant: els Titulars del Web) són les següents:
<ul>
<li>El Col·legi de l’Arquitectura Tècnica de Barcelona (el Col.legi).</li>

<li>GEA, Associació d'Estudis Geobiològics, amb N.I.F G12288247, domicili al carrer Sant Francesc, nº 95, Cp 12580 de Benicarló.</li>

<li>La Universitat Politècnica de Catalunya, amb N.I.F Q0818003F, domicili al carrer Girona, nº 31, Cp 08034 de Barcelona.</li>

<li>L’Institut Cerdà, amb N.I.F G-08985392, domicili al carrer Numància, nº 185, Cp 08034 de Barcelona.</li>
</ul>
<p>A més, la utilització del WEB està sotmesa igualment a tots els avisos, reglaments d'ús, instruccions i qualsevol altre condició particular continguts a la Web, els quals seran informats degudament i es deuran complir per l´Usuari.</p>

<p>La utilització del WEB estableix la condició d’usuari del WEB (d’ara endavant, Usuari) i implica l’acceptació plena i sense reserves de totes les disposicions incloses en aquest Avís Legal a la versió publicada en el moment mateix en què l’Usuari accedeixi al WEB.</p>

<p>Ens reservem el dret d’en qualsevol moment completar, modificar o substituir el present Avís Legal, així com qualsevol altre condició general o particular, entenent-se que la mera publicació de tals canvis en la Web tindrà efectes de notificació. Per això, preguem a l’Usuari que les llegeixi atentament cada vegada que accedeixi a la Web, abstenint-se de fer ús de la Web si no estigués d’acord amb qualsevol de les condicions establertes.</p>


<h4>2.	ACCÉS I UTILITZACIÓ DEL WEB</h4>

<h4>2.1.	Caràcter gratuït de l’accés i la utilització del WEB</h4>

<p>La prestació dels Serveis té caràcter gratuït pels Usuaris.</p> 

<h4>2.2.	Registre d’Usuari</h4>

<p>Amb caràcter general, la prestació dels Serveis no exigeix la subscripció o el registre previs dels Usuaris. No obstant això, es pot condicionar la utilització d'alguns dels Serveis al fet d'omplir el registre d'Usuari corresponent, que es troba a disposició de qui vulgui registrar-se. Així mateix, podria ser que es posés a disposició dels Usuaris alguns Serveis en què per utilitzar-los cal omplir registres addicionals. El registre esmentat s'efectuarà en la forma expressament indicada pel Servei o en les condicions particulars que el regulen.</p>

<h4>2.3.	Veracitat de la informació</h4>

<p>Tota la informació que faciliti l’Usuari a través dels Serveis haurà de ser veraç. A aquests efectes, l’Usuari garanteix l’autenticitat de totes les dades que faciliti. Així mateix, serà responsabilitat seva mantenir tota la informació facilitada permanentment actualitzada, de manera que respongui, en cada moment, a la seva situació real. Els titulars de la web no seran responsables de les manifestacions falses o inexactes que faci l´Usuari i es reserva la possibilitat d'exercir les accions legals que siguin adients per a defensar els seus interessos. </p>

<h4>2.4.	Capacitat de l´Usuari</h4>

<p>L´Usuari garanteix:
	<ul>
		<li>Que és una persona major d’edat (18 anys) i amb capacitat per contractar.</li>
		<li>Que no poseeix limitada la seva capacitat d´obrar i celebrar contractes vinculants.</li>
	</ul>
</p>

<h4>2.5.	Obligació de fer un ús correcte del WEB i dels Serveis</h4>

<p>L’Usuari es compromet a utilitzar el WEB i els Serveis de conformitat amb la llei, aquest Avís Legal, les condicions particulars de determinats Serveis, i altres avisos, reglaments d’ús i instruccions que puguin existir al Web, així com amb la moral i les bones costums generalment acceptades i l’ordre públic.</p>

<p>A aquest efecte, l’Usuari ha d'abstenir-se d’utilitzar qualsevol dels Serveis amb finalitats o efectes il·lícits, prohibits en aquest Avís legal, lesius dels drets i interessos de tercers. També, d'utilitzar-los de forma que puguin danyar, inutilitzar, sobrecarregar, deteriorar o impedir la normal utilització dels Serveis, els equips informàtics, o els documents, arxius i tota mena de continguts emmagatzemats en qualsevol equip informàtic (hacking) dels titulars o gestors de la web, d’altres usuaris o de qualsevol usuari d’Internet (maquinari i programari).</p>

<p>No es controla, la utilització que els Usuaris fan del WEB, dels Serveis i dels Continguts. Concretament,  no es garanteix que els Usuaris utilitzin el WEB, els Serveis i els Continguts de conformitat amb aquest Avís Legal i, si escau, amb les condicions particulars que hi són d’aplicació, encara que ho facin de forma diligent i prudent. No es posseeix l'obligació de verificar, i no verifica, la identitat dels Usuaris, ni la veracitat, vigència, exhaustivitat i/o autenticitat de les dades que aquests proporcionen sobre si mateixos a d’altres Usuaris.</p>


<h4>2.6.	Exclusió de garanties i de responsabilitat pel funcionament del WEB i dels Serveis</h4>

<h5>2.6.1.	Disponibilitat, continuïtat, utilitat.</h5>

<p>No es garanteix la disponibilitat i continuïtat del funcionament del WEB i dels Serveis. Quan sigui possible, s´advertirà de les interrupcions en el funcionament del WEB i dels Serveis. No es garanteix la utilitat del WEB i dels Serveis per a la realització d’alguna activitat en concret. Tampoc es garanteix la seva infal·libilitat i, en concret (tot i que no de manera exclusiva), que els Usuaris puguin utilitzar el WEB i els Serveis per accedir a les pàgines i els Serveis que en formen part. </p>

<p>S´exclou, amb tota l'extensió permesa per l'ordenament jurídic, qualsevol responsabilitat pels danys i perjudicis de tota naturalesa que puguin ser deguts a la falta de disponibilitat o de continuïtat del WEB i dels Serveis, a la defraudació de la utilitat que els Usuaris atribueixin al WEB i als Serveis, a la no infal·libilitat del WEB i els Serveis i, en particular (tot i que no de manera exclusiva) a les errades en l'accés a les diferents pàgines web de l´Agenda de la Construcció Sostenible o a aquelles des de les quals es presten serveis. </p>


<h5>2.6.2.	Privacitat i seguretat en la utilització del WEB i els Serveis</h5>

<p>Sense perjudici del que es disposa en matèria de protecció de dades personals, no es garanteix la privacitat i seguretat de la utilització del WEB i els Serveis i, en particular, que tercers no autoritzats no puguin tenir coneixement del tipus, les condicions, les característiques i les circumstàncies de l’ús que els usuaris fan del WEB i els Serveis. </p>

<p>S´exclou, amb tota l’extensió permesa per l’ordenament jurídic, qualsevol responsabilitat pels danys i perjudicis de tota naturalesa que puguin ser deguts al coneixement que tercers no autoritzats tinguin del tipus, les condicions, les característiques i les circumstàncies de l'ús que els usuaris fan del WEB i els Serveis.</p>


<h4>3.	CONTINGUTS</h4>

<h4>3.1.	Obligació de fer un ús correcte dels Continguts</h4>

<p>L’usuari es compromet a utilitzar el Web i els continguts posats a la seva disposició, entenent per aquests (sense que aquesta enumeració tingui caràcter limitador): textos, fotografies, gràfics, imatges, icones, tecnologia, programari (software), enllaços i altres continguts audiovisuals o sonors, així com el seu disseny gràfic i codis font (d'ara endavant, Continguts), de conformitat amb la llei, aquest Avís Legal, les condicions particulars de determinats serveis i altres avisos, reglaments d’ús i instruccions, així com amb la moral i les bones costums generalment acceptades i l’ordre públic. </p>

<p>Particularment, es compromet a abstenir-se de:
	<ol>
		<li>Reproduir, copiar, distribuir, posar a disposició, comunicar públicament, transformar o modificar els Continguts, a no ser que tingui l'autorització del titular dels corresponents drets o allò que resulti legalment permès.</li>
		<li>Suprimir, manipular o alterar el copyright i altres dades identificatives de la reserva de drets dels titulars de la Web, de les empremtes digitals o d'altres mitjans tècnics establerts per al seu reconeixement.</li>
	</ol>
</p>
<p>L’Usuari haurà d’abstenir-se d’obtenir i d’intentar obtenir els Continguts utilitzant per a aquesta finalitat mitjans o procediments diferents dels que, segons els casos, s’hagin posat a la seva disposició o s'hagin indicat a aquest efecte a les pàgines web on es trobin els Continguts o, en general, dels que s’emprin habitualment a Internet amb aquesta finalitat, sempre que no suposin un risc de dany o inutilització del WEB, dels serveis i/o dels Continguts.</p>


<h4>3.2.	Llicències</h4>

<p>Totes les marques, els noms comercials o els signes distintius de qualsevol tipus que apareixen al WEB són propietat dels titulars del Web o de tercers. L'ús o l'accés al WEB i/o als serveis no atribueix a l'Usuari cap dret sobre les marques, els noms comercials i/o els signes distintius esmentats. 
Així mateix, els Continguts són propietat intel·lectual dels titulars del Web o de tercers. En virtut del que s'ha establert en aquest Avís Legal, no es poden considerar cedits a l’Usuari cap dels drets d'explotació que hi ha o hi pugui haver sobre aquests Continguts més enllà dels estrictament necessaris per a l'ús correcte del WEB i els Serveis.</p>



<h4>3.3.	Exclusió de garanties i de responsabilitat</h4>

<h5>3.3.1.	Qualitat</h5>

<p>Els titulars del Web no garanteixen l’absència de virus ni altres elements en els Continguts ni en els serveis prestats a tercers a través del WEB, que puguin produir alteracions en el seu sistema informàtic (programari i maquinari) o en els documents electrònics i fitxers emmagatzemats en el seu sistema informàtic.</p>

<p>Els titulars exclouen, amb tota l’extensió permesa per l’ordenament jurídic, les responsabilitats pels danys i perjudicis de tota naturalesa que puguin ser deguts a la presència de virus o altres elements en els Continguts, o en els serveis prestats a tercers, que puguin produir alteracions en el sistema informàtic, documents electrònics o fitxers dels Usuaris. </p>

<h5>3.3.2.	Veracitat, exactitud, exhaustivitat i actualitat</h5>

<p>Els titulars del Web no garanteixen la veracitat, exactitud, exhaustivitat i actualitat dels Continguts ni dels serveis prestats a tercers a través del WEB. </p>

<p>Els titulars del Web exclouen, amb tota l'extensió permesa per l’ordenament jurídic, les responsabilitats pels danys i perjudicis de tota naturalesa que puguin ser deguts a la falta de veracitat, exactitud, exhaustivitat i/o actualitat dels Continguts i dels serveis prestats a tercers a través del WEB.</p>


<h5>3.3.3.	Exclusió de garanties i de responsabilitat per la informació, Continguts i serveis allotjats fora del WEB</h5>

<p>El WEB posa a disposició dels Usuaris dispositius tècnics d'enllaç (entre altres, enllaços, cibertires i botons), directoris i eines de cerca que permetin als Usuaris accedir a webs pertanyents i/o gestionats per tercers (d'ara endavant, Enllaços). La instal·lació d’aquests Enllaços, directoris i eines de cerca al WEB té com a únic objecte facilitar als Usuaris la cerca i accés a la informació, els Continguts i els serveis disponibles a Internet.</p>

<p>Els resultats d’eines de cerca són proporcionades directament per tercers i són conseqüència del funcionament automàtic de mecanismes tècnics. Per aquest motiu, els titulars del Web no controlen ni poden controlar aquests resultats. En particular, no es controla que entre aquests apareguin llocs d’Internet amb Continguts que puguin resultar il·lícits, contraris a la moral o a les bones costums o considerats inapropiats per altres motius. En el supòsit que un Usuari consideri que en algun dels llocs inclosos en els resultats de la cerca hi ha activitats o informacions il·lícites i estigui interessat a sol·licitar la supressió de l’enllaç, pot posar en marxa el procediment previst en aquest Avís Legal. </p>

<p>Els titulars de la Web no ofereixen ni comercialitzen, per si mateixos ni per mitjà de tercers, la informació, els Continguts i els serveis disponibles en els Enllaços. Tampoc no es controlen prèviament, s´aprova, recomana, vigila ni sel´s fan propis. L’Usuari, per tant, ha de ser molt prudent en la valoració i utilització de la informació, els Continguts i els serveis existents en els Enllaços.</p>

<p>Els titulars de la Web no garanteixen ni assumeixen cap tipus de responsabilitat pels danys i perjudicis de tota mena que puguin ser deguts al funcionament, la disponibilitat, l'accessibilitat o la continuïtat dels llocs enllaçats, ni el manteniment de la informació i serveis en els Enllaços esmentats. Els titulars de la Web tampoc es responsabilitzen de la qualitat, licitud, fiabilitat i utilitat de la informació, els Continguts i els serveis existents en els Enllaços. </p>


<h4>4.	PROTECCIÓ DE DADES</h4>

<p>Introducció: Amb la informació que li proporcionarem a continuació els titulars de la Web, volen que vostè conegui quina és la política de privacitat aplicada respecte a les seves dades personals.</p>

<p>Compliment de la normativa de protecció de dades: els titulars de la Web compleixen tots els requisits establerts per la normativa vigent en matèria de protecció de dades personals, i totes les dades sota la nostra responsabilitat, són tractades d’acord amb les exigències legals.</p>


<p>Mesures de Seguretat: es guardaran les degudes mesures de seguretat tant tècniques como organitzatives, que garanteixin la confidencialitat de les dades.</p>

<p>Finalitats: les finalitats per a les quals es tractaran les dades que ens facilitin seran les següents:
	<ol>
		<li>L´informem que les dades personals que ens faciliti i aquelles que siguin obtingudes de les seves relacions amb nosaltres, seran incorporades a un fitxer o fitxers, responsabilitat dels titulars de la Web, i seran dedicades principalment a les finalitats relacionades amb la gestió d’administració general, manteniment, compliment, desenvolupament i control, gestionar la seva relació o contacte amb nosaltres.</li>
		<li>Dades de tercers: si vostè ens facilita dades personals d’un tercer haurà, amb caràcter previ haver-lo informat i sol·licitat el seu consentiment dels extrems aquí exposats.</li>
		<li>Subscripció al newsletter: les seves dades i aquelles que es generin degut a la seva relació amb nosaltres, s´utilitzaran amb les finalitats de gestió, manteniment, compliment, desenvolupament o control de la subscripció sol.licitada. </li>
		<li>Formació: pel manteniment, compliment, desenvolupament, control i gestió de la inscripció, petició o sol.licitud d´informació del curs, jornada, programa formatiu o similar que seleccioni que organitzem nosaltres. Respecte als cursos i d´altres propostes de formació que apareix la referència i són de tercers es deurà estar al que s´indiqui a les seves polítiques de privacitat respectives.</li>
		<li>Podran existir d´altres clàusules de protecció de dades a la Web i/o als formularis que hi puguin aparèixer les quals seran complementàries i en cas necessari, s´aplicarà la present política de privacitat. </li>
		<li>Tanmateix, les seves dades podran ser tractades o comunicades pel compliment de les obligacions legals i/o contractuals que puguin existir. </li>
	</ol>
</p>


<p>Drets dels afectats: en cas necessari, pot exercir els seus drets d’accés, rectificació, cancel·lació i oposició, dirigint-se per escrit acompanyant còpia de document oficial que li identifiqui al gestor de la web: el COL.LEGI D´APARELLADORS, ARQUITECTES TÈCNICS I ENGINYERS D´EDIFICACIÓ DE BARCELONA, amb domicili al carrer Bon Pastor, nº 5, Cp 08021, Barcelona, o enviant un correu electrònic a: <a href="mailto:sostenible@apabcn.cat">sostenible@apabcn.cat</a> indicant en el sobre o en l’assumpte del missatge: Política de Privacitat Agenda de la Construcció Sostenible. </li>

<p>Per tot això entendrem que en el supòsit de facilitar-nos les seves dades ens autoritza expressament per a realitzar el tractament de les seves dades conforme al descrit anteriorment.</p>


<h4>5.	PROCEDIMENT EN CAS DE REALITZACIÓ D’ACTIVITATS DE CARÀCTER IL·LÍCIT</h4>

<p>En el cas que qualsevol Usuari o un tercer consideri que hi ha fets o circumstàncies que revelen el caràcter il·lícit de la utilització de qualsevol Contingut i/o de la realització de qualsevol activitat en les pàgines web incloses o accessibles a través del WEB i, en particular, de la violació de drets de la propietat intel·lectual o industrial (patents, models i dibuixos industrials, marques i noms comercials, etc.) o altres drets, haurà d’enviar una notificació al Col.legi.</p>


<h4>6.	NOTIFICACIONS</h4>

<p>Totes les notificacions i comunicacions que l’Usuari vulgui transmetre les podrà fer arribar per mitjà d'alguna de les formes següents:</p>
	<ol>
		<li>Enviant un correu postal al Departament Jurídic del Col.legi, al COL·LEGI D´APARELLADORS, ARQUITECTES TÈCNICS I ENGINYERS D´EDIFICACIÓ DE BARCELONA amb domicili al carrer Bon Pastor, nº 5, Cp 08021,Barcelona. </li>
		<li>Enviant un correu electrònic a l'adreça següent: <a href="mailto:sostenible@apabcn.cat">sostenible@apabcn.cat</a> </li>
	</ol>
</p>

<h4>7.	RETIRADA I SUSPENSIÓ DELS SERVEIS</h4>

<p>El gestor de la web podrà retirar o suspendre en qualsevol moment i sense necessitat d’avís previ la prestació dels Serveis a aquells Usuaris que incompleixin l’establert en aquest Avís Legal.</p>


<h4>8.	DURADA I FINALITZACIÓ</h4>

<p>La prestació del servei del WEB i dels altres Serveis té, en principi, una durada indefinida. No obstant això, el COL·LEGI com a gestor de la Web està autoritzat per finalitzar o suspendre la prestació del servei del WEB i/o dels Serveis en qualsevol moment, sense perjudici del que s'hagués disposat pel que fa al tema en les condicions particulars corresponents. Quan això sigui raonablement possible, el COL·LEGI com a gestor de la Web advertirà prèviament de la finalització o suspensió de la prestació del servei del WEB i dels altres Serveis.</p>



<h4>9.	POLÍTICA DE COOKIES</h4>

<p>En relació a les Cookies consulti la nostra: Política de cookies.</p>


<h4>10.	LEGISLACIÓ APLICABLE</h4>

<p>Aquest Avís Legal es regeix per la llei espanyola. Pels casos que la normativa prevegi la possibilitat a les parts de sotmetre’s a un fur, ambdues parts, amb renúncia expressa de qualsevol altre que els pogués correspondre, es sotmeten als Jutjats i Tribunals de la ciutat de Barcelona (Espanya).</p>

		</div>
	</div>
</div>

			<% else %>

				<div class="sub-title-container">
	        <span class="sub-title">Aviso legal</span>
	      </div>

	      <h2>AVISO LEGAL Y DE PRIVACIDAD</h2>
			<h4>1. OBJETO E INFORMACIÓN GENERAL</h4>
			<p>LA AGENDA DE LA CONSTRUCCIÓN SOSTENIBLE (en adelante, la ACS), mediante este Aviso legal y de privacidad (en adelante, Aviso Legal) regula el uso del servicio ("Servicio") de la web Internet www.csostenible.net (en adelante, WEB) que la ACS pone a disposición de los usuarios de Internet. </p>

<p>Los datos del gestor de la Web son las siguientes:
<ul>
<li>Denominación: Colegio de la Aquitectura Técnica de Barcelona</li>
<li>N.I.F .: Q0875009C </li>
<li>Dirección: calle Buen Pastor, nº 5, Cp 08021, Barcelona. </li>
<li>Contacto: <a href="mailto:sostenible@apabcn.cat">sostenible@apabcn.cat</a> </li>
</ul>
</p>

<p>Los datos de los titulares de la Web (en adelante: los Titulares de la Web) son los siguientes:
<ul>
<li>El Colegio de la Aquitectura Técnica de Barcelona (el Colegio). </li>

<li>GEA, Asocicación de Estudios Geobiológicos, con NIF G12288247, domicilio en la calle San Francisco, nº 95, Cp 12580 de Benicarló. </li>

<li>La Universitat Politècnica de Catalunya, con NIF Q0818003F, domicilio en la calle Gerona, nº 31, Cp 08034 de Barcelona. </li>

<li>El Institut Cerdà, con NIF G-08985392, domicilio en la calle Numancia, nº 185, Cp 08034 de Barcelona. </li>
</ul>
<p>Además, la utilización de la WEB está sometida igualmente a todos los avisos, reglamentos de uso, instrucciones y cualquier otra condición particular contenidos en la Web, los cuales serán informados debidamente y se deberán cumplir para el Usuario. </p>

<p>La utilización de la WEB establece la condición de usuario de la WEB (en adelante, Usuario) e implica la aceptación plena y sin reservas de todas las disposiciones incluidas en este Aviso Legal en la versión publicada en el momento mismo en que el Usuario acceda a la WEB. </p>

<p>Nos reservamos el derecho de en cualquier momento completar, modificar o sustituir el presente Aviso Legal, así como cualquier otra condición general o particular, entendiéndose que la mera publicación de tales cambios en la Web tendrá efectos de notificación. Por ello, rogamos al Usuario que las lea atentamente cada vez que acceda a la Web, absteniéndose de hacer uso de la Web si no estuviera de acuerdo con cualquiera de las condiciones establecidas. </p>


<h4>2. ACCESO Y UTILIZACIÓN DEL WEB </h4>

<h4>2.1. Carácter gratuito del acceso y utilización de la WEB </h4>

<p>La prestación de los Servicios tiene carácter gratuito para los Usuarios. </p>

<h4>2.2. Registro de Usuario </h4>

<p>Con carácter general, la prestación de los Servicios no exige la previa suscripción o registro de los Usuarios. Sin embargo, se puede condicionar la utilización de algunos de los Servicios a rellenar el correspondiente registro de Usuario, que se encuentra a disposición de quien quiera registrarse. Asimismo, podría ser que se pusiera a disposición de los Usuarios algunos Servicios cuya utilización requiere la cumplimentación de registros adicionales. Dicho registro se efectuará en la forma expresamente indicada por el Servicio o en las condiciones particulares que lo regulan. </p>

<h4>2.3. Veracidad de la información </h4>

<p>Toda la información que facilite el Usuario a través de los Servicios deberá ser veraz. A estos efectos, el Usuario garantiza la autenticidad de todos los datos que facilite. Asimismo, será responsabilidad del Usuario mantener toda la información facilitada permanentemente actualizada, de forma que responda, en cada momento, a su situación real. Los titulares de la web no serán responsables de las manifestaciones falsas o inexactas que realice el Usuario y se reserva la posibilidad de ejercer las acciones legales que sean adecuadas para defender sus intereses. </p>

<h4>2.4. Capacidad del Usuario </h4>

<p>El Usuario garantiza:
<ul>
<li>Que es una persona mayor de edad (18 años) y con capacidad para contratar. </li>
<li>Que no posee limitada su capacidad de obrar y celebrar contratos vinculantes. </li>
</ul>
</p>

<h4>2.5. Obligación de hacer un uso correcto de la WEB y de los Servicios </h4>

<p>El Usuario se compromete a utilizar la WEB y los Servicios de conformidad con la ley, el presente Aviso Legal, las condiciones particulares de determinados Servicios, y demás avisos, reglamentos de uso e instrucciones que puedan existir en la Web, así como con la moral y las buenas costumbres generalmente aceptadas y el orden público. </p>

<p>A tal efecto, el Usuario debe abstenerse de utilizar cualquiera de los Servicios con fines o efectos ilícitos, prohibidos en el presente Aviso Legal, lesivos de los derechos e intereses de terceros. También, de utilizarlos de forma que puedan dañar, inutilizar, sobrecargar, deteriorar o impedir la normal utilización de los Servicios, los equipos informáticos o los documentos, archivos y toda clase de contenidos almacenados en cualquier equipo informático (hacking) de los titulares o gestores de la web, de otros usuarios o de cualquier usuario de Internet (hardware y software). </p>

<p>No se controla, la utilización que los Usuarios hacen de la WEB, de los Servicios y de los Contenidos. Concretamente, no se garantiza que los Usuarios utilicen el WEB, los Servicios y los Contenidos de conformidad con el presente Aviso Legal y, en su caso, con las condiciones particulares que le son de aplicación, aunque lo hagan de forma diligente y prudente. No se posee la obligación de verificar y no verifica la identidad de los Usuarios, ni la veracidad, vigencia, exhaustividad y / o autenticidad de los datos que éstos proporcionan sobre sí mismos a otros Usuarios. </p>











<h4>2.6. Exclusión de garantías y de responsabilidad por el funcionamiento de la WEB y de los Servicios </h4>

<h5>2.6.1. Disponibilidad, continuidad, utilidad. </H5>

<p>No se garantiza la disponibilidad y continuidad del funcionamiento de la WEB y de los Servicios. Cuando sea posible, se advertirá de las interrupciones en el funcionamiento de la WEB y de los Servicios. No se garantiza la utilidad de la WEB y de los Servicios para la realización de alguna actividad en concreto. Tampoco se garantiza su infalibilidad y, en concreto (aunque no de manera exclusiva), que los Usuarios puedan utilizar el WEB y los Servicios para acceder a las páginas y los Servicios que forman parte. </p>

<p>Se excluye, con toda la extensión permitida por el ordenamiento jurídico, cualquier responsabilidad por los daños y perjuicios de toda naturaleza que puedan deberse a la falta de disponibilidad o de continuidad de la WEB y de los Servicios, a la defraudación de la utilidad que los Usuarios atribuyan a la WEB y los Servicios, a la no infalibilidad de la WEB y los Servicios y, en particular (aunque no de forma exclusiva) a los fallos en el acceso a las distintas páginas web de la Agenda de la Construcción Sostenible o aquellas desde las que se prestan servicios. </p>


<h5>2.6.2. Privacidad y seguridad en la utilización de la WEB y los Servicios </h5>

<p>Sin perjuicio de lo dispuesto en materia de protección de datos personales, no se garantiza la privacidad y seguridad de la utilización de la WEB y los Servicios y, en particular, que terceros no autorizados no puedan tener conocimiento del tipo, las condiciones, las características y las circunstancias del uso que los usuarios hacen de la WEB y los Servicios. </p>

<p>Se excluye, con toda la extensión permitida por el ordenamiento jurídico, cualquier responsabilidad por los daños y perjuicios de toda naturaleza que puedan deberse al conocimiento que terceros no autorizados de la clase, condiciones, características y circunstancias del uso que los usuarios hacen de la WEB y los Servicios. </p>







<h4>3. CONTENIDOS </h4>

<h4>3.1. Obligación de hacer un uso correcto de los Contenidos </h4>

<p>El usuario se compromete a utilizar el Web y los contenidos puestos a su disposición, entendiendo por estos (sin que esta enumeración tenga carácter limitativo): textos, fotografías, gráficos, imágenes, iconos, tecnología, software (software) , enlaces y otros contenidos audiovisuales o sonoros, así como su diseño gráfico y códigos fuente (en adelante, Contenidos), de conformidad con la ley, el presente Aviso Legal, las condiciones particulares de ciertos servicios y demás avisos, reglamentos de uso e instrucciones, así como con la moral y las buenas costumbres generalmente aceptadas y el orden público. </p>

<p>Particularmente, se compromete a abstenerse de:
<ol>
<li>Reproducir, copiar, distribuir, poner a disposición, comunicar públicamente, transformar o modificar los Contenidos, a menos que tenga la autorización del titular de los correspondientes derechos o ello resulte legalmente permitido. </li>
<li>Borrar, manipular o alterar el copyright y demás datos identificativos de la reserva de derechos de los titulares de la Web, de las huellas digitales o de otros medios técnicos establecidos para su reconocimiento. </li>
</ol>
</p>
<p>El Usuario deberá abstenerse de obtener e intentar obtener los Contenidos empleando para ello medios o procedimientos distintos de los que, según los casos, se hayan puesto a su disposición o se hayan indicado a este efecto en las páginas web donde se encuentren los Contenidos o, en general, de los que se empleen habitualmente en Internet con este fin, siempre que no supongan un riesgo de daño o inutilización de la WEB, de los servicios y / o de los Contenidos . </p>


<h4>3.2. Licencias </h4>

<p>Todas las marcas, nombres comerciales o signos distintivos de cualquier tipo que aparecen en la web son propiedad de los titulares de la Web o de terceros. El uso o el acceso a la WEB y / o los servicios no atribuye al Usuario derecho alguno sobre las marcas, nombres comerciales y / o signos distintivos mencionados.
Asimismo, los Contenidos son propiedad intelectual de los titulares de la Web o de terceros. En virtud de lo establecido en este Aviso Legal, no se pueden considerar cedidos al Usuario ninguno de los derechos de explotación que existen o puedan existir sobre dichos Contenidos más allá de los estrictamente necesarios para el uso correcto del WEB y los Servicios. </p>



<h4>3.3. Exclusión de garantías y de responsabilidad </h4>

<h5>3.3.1. Calidad </h5>

<p>Los titulares de la Web no garantizan la ausencia de virus ni otros elementos en los Contenidos ni en los servicios prestados por terceros a través de la WEB, que puedan producir alteraciones en su sistema informático (software y hardware) o en los documentos electrónicos y ficheros almacenados en su sistema informático. </p>

<p>Los titulares excluyen, con toda la extensión permitida por el ordenamiento jurídico, las responsabilidades por los daños y perjuicios de toda naturaleza que puedan deberse a la presencia de virus u otros elementos en los Contenidos, o en los servicios prestados a terceros, que puedan producir alteraciones en el sistema informático, documentos electrónicos o ficheros de los Usuarios. </p>

<h5>3.3.2. Veracidad, exactitud, exhaustividad y actualidad </h5>

<p>Los titulares de la Web no garantizan la veracidad, exactitud, exhaustividad y actualidad de los Contenidos ni de los servicios prestados por terceros a través de la WEB. </p>

<p>Los titulares de la Web excluyen, con toda la extensión permitida por el ordenamiento jurídico, las responsabilidades por los daños y perjuicios de toda naturaleza que puedan deberse a la falta de veracidad, exactitud, exhaustividad y / o actualidad de los Contenidos y los servicios prestados por terceros a través de la WEB. </p>


<h5>3.3.3. Exclusión de garantías y de responsabilidad por la información, contenidos y servicios alojados fuera de la WEB </h5>

<p>WEB pone a disposición de los Usuarios dispositivos técnicos de enlace (entre otros, links, banners, botones), directorios y herramientas de búsqueda que permitan a los Usuarios acceder a sitios web pertenecientes y / o gestionados por terceros (en adelante Enlaces). La instalación de estos enlaces, directorios y herramientas de búsqueda en la WEB tiene como único objeto facilitar a los Usuarios la búsqueda y acceso a la información, contenidos y servicios disponibles en Internet. </p>






<p>Los resultados de herramientas de búsqueda son proporcionados directamente por terceros y son consecuencia del funcionamiento automático de mecanismos técnicos. Por este motivo, los titulares de la Web no controlan ni pueden controlar estos resultados. En particular, no se controla que entre ellos aparezcan sitios de Internet cuyos contenidos puedan resultar ilícitos, contrarios a la moral oa las buenas costumbres o considerados inapropiados por otros motivos. En el supuesto de que un Usuario considere que en alguno de los sitios incluidos en los resultados de la búsqueda hay actividades o informaciones ilícitas y esté interesado en solicitar la supresión del enlace, puede poner en marcha el procedimiento previsto en este Aviso legal. </p>

<p>Los titulares de la Web no ofrecen ni comercializan, por sí mismos ni por medio de terceros, la información, contenidos y servicios disponibles en los Enlaces. Tampoco se controlan previamente, aprueba, recomienda, vigila ni sel's hacen propios. El Usuario, por tanto, debe ser muy prudente en la valoración y utilización de la información, contenidos y servicios existentes en los Enlaces. </p>

<p>Los titulares de la Web no garantizan ni asumen ningún tipo de responsabilidad por los daños y perjuicios de toda naturaleza que puedan deberse al funcionamiento, la disponibilidad, la accesibilidad o continuidad de los sitios enlazados, ni el mantenimiento de la información y servicios en dichos enlaces. Los titulares de la Web tampoco se responsabilizan de la calidad, licitud, fiabilidad y utilidad de la información, contenidos y servicios existentes en los Enlaces. </p>


<h4>4. PROTECCIÓN DE DATOS </h4>

<p>Introducción: Con la información que le proporcionaremos a continuación los titulares de la Web, quieren que usted conozca cuál es la política de privacidad aplicada respecto a sus datos personales. </p>

<p>Cumplimiento de la normativa de protección de datos: los titulares de la Web cumplen todos los requisitos establecidos por la normativa vigente en materia de protección de datos personales, y todos los datos bajo nuestra responsabilidad, son tratados de acuerdo con las exigencias legales. </p>


<p>Medidas de Seguridad: se guardarán las debidas medidas de seguridad tanto técnicas como organizativas, que garanticen la confidencialidad de los datos. </p>

<p>Finalidades: las finalidades para las que se tratarán los datos que nos faciliten serán las siguientes:
<ol>
<li>Le informamos que los datos personales que nos facilite y aquellas que sean obtenidas de sus relaciones con nosotros, serán incorporados a un fichero o ficheros, responsabilidad de los titulares de la Web, y serán dedicados principalmente a las finalidades relacionadas con la gestión de administración general, mantenimiento, cumplimiento, desarrollo y control, gestionar su relación o contacto con nosotros. </li>
<li>Datos de terceros: si usted nos facilita datos personales de un tercero deberá, con carácter previo haberle informado y solicitado su consentimiento de los extremos aquí expuestos. </li>
<li>Suscripción al newsletter: sus datos y aquellas que se generen debido a su relación con nosotros, se utilizarán con las finalidades de gestión, mantenimiento, cumplimiento, desarrollo o control de la suscripción solicitada. </li>
<li>Formación: el mantenimiento, cumplimiento, desarrollo, control y gestión de la inscripción, petición o solicitud de información del curso, jornada, programa formativo o similar que seleccione que organizamos nosotros. Respecto a los cursos y otras propuestas de formación que aparece la referencia y son de terceros se deberá estar a lo que se indique en sus políticas de privacidad respectivas. </Li>
<li>Podrán existir otras cláusulas de protección de datos en la Web y / o los formularios que puedan aparecer las cuales serán complementarias y en caso necesario, se aplicará la presente política de privacidad. </li>
<li>Sin embargo, sus datos podrán ser tratados o comunicados por el cumplimiento de las obligaciones legales y / o contractuales que puedan existir. </li>
</ol>
</p>


<p>Derechos de los afectados: en caso necesario, puede ejercer sus derechos de acceso, rectificación, cancelación y oposición, dirigiéndose por escrito acompañando copia de documento oficial que le identifique al gestor de la web: el COL. COLEGIO Aparejadores, ARQUITECTOS TÉCNICOS E INGENIEROS DE EDIFICACIÓN DE BARCELONA, con domicilio en la calle Buen Pastor, nº 5, Cp 08021, Barcelona, o enviando un correo electrónico a: <a href="mailto:sostenible@apabcn.cat">sostenible@apabcn.cat</a> indicando en el sobre o en el asunto del mensaje: Política de Privacidad Agenda de la Construcción Sostenible. </li>

<p>Por todo ello entenderemos que en el supuesto de facilitarnos sus datos nos autoriza expresamente para realizar el tratamiento de sus datos conforme a lo descrito anteriormente. </p>


<h4>5. PROCEDIMIENTO EN CASO DE REALIZACIÓN DE ACTIVIDADES DE CARÁCTER ILÍCITO </h4>

<p>En el caso de que cualquier Usuario o un tercero considere que existen hechos o circunstancias que revelan el carácter ilícito de la utilización de cualquier Contenido y / o de la realización de cualquier actividad en las páginas web incluidas o accesibles a través de la WEB y, en particular, de la violación de derechos de la propiedad intelectual o industrial (patentes, modelos y dibujos industriales, marcas y nombres comerciales, etc.) u otros derechos, deberá enviar una notificación al Colegio . </p>


<h4>6. NOTIFICACIONES </h4>

<p>Todas las notificaciones y comunicaciones que el Usuario quiera transmitir podrán hacerse por medio de alguna de las formas siguientes: </p>
<ol>
<li>Enviando un correo postal al Departamento Jurídico del Colegio, al COLEGIO Aparejadores, ARQUITECTOS TÉCNICOS E INGENIEROS DE EDIFICACIÓN DE BARCELONA con domicilio en la calle Buen Pastor, nº 5, Cp 08021, Barcelona. </li>
<li>Enviando un correo electrónico a la siguiente dirección: <a href="mailto:sostenible@apabcn.cat">sostenible@apabcn.cat</a> </li>
</ol>
</p>

<h4>7. RETIRADA Y SUSPENSIÓN DE LOS SERVICIOS </h4>

<p>El gestor de la web podrá retirar o suspender en cualquier momento y sin necesidad de aviso previo la prestación de los Servicios a aquellos Usuarios que incumplan lo establecido en este Aviso Legal. </p>








<h4>8. DURACIÓN Y FINALIZACIÓN </h4>

<p>La prestación del servicio de la WEB y de los demás Servicios tiene, en principio, una duración indefinida. Sin embargo, el COLEGIO como gestor de la Web está autorizado para finalizar o suspender la prestación del servicio de la WEB y / o de los Servicios en cualquier momento, sin perjuicio de que se hubiera dispuesto con respecto al tema en las condiciones particulares correspondientes. Cuando ello sea razonablemente posible, el COLEGIO como gestor de la Web advertirá previamente de la terminación o suspensión de la prestación del servicio de la WEB y de los demás Servicios. </p>



<h4>9. POLÍTICA DE COOKIES </h4>

<p>En relación a las Cookies consulte nuestra Política de cookies. </p>


<h4>10. LEGISLACIÓN APLICABLE </h4>

<p>Este Aviso Legal se rige por la ley española. Para los casos en que la normativa prevea la posibilidad a las partes de someterse a un fuero, ambas partes, con renuncia expresa de cualquier otro que pudiera corresponderles, se someten a los Juzgados y Tribunales de la ciudad de Barcelona (España). </p>
		</div>
	</div>
</div>

			<% end %>
		</div>
		<div class="medium-3 cell">
			
		</div>
	</div>
</div>