<div class="container">
	<div class="grid-x grid-margin-x">
		<div class="medium-12 cell">
			
			<% if params[:locale] == 'ca' %>
				
				<div class="sub-title-container">
	        <span class="sub-title">Contacta</span>
	      </div>

	      <p>Per a qualsevol dubte, comentari o aclariment relacionat amb el web podeu escriure'ns a: sostenible@apabcn.cat</p>

	    <% elsif params[:locale] == 'es' %>

	    	<div class="sub-title-container">
	        <span class="sub-title">Contacto</span>
	      </div>

	      <p>Para cualquier duda, comentario o aclaración en relación a la página web pueden escribirnos a: sostenible@apabcn.cat</p>

	    <% else %>

	    	<div class="sub-title-container">
	        <span class="sub-title">Contact</span>
	      </div>

	      <p>For any doubt, comment or clarification related to the web you can write to us at: sostenible@apabcn.cat</p>

	    <% end %>
	  </div>
	</div>
</div>