<div class="container">
	<div class="grid-x grid-margin-x">
		<div class="medium-9 cell">
			
			<% if params[:locale] == 'ca' %>
				
				<div class="sub-title-container">
	        <span class="sub-title">Política de cookies</span>
	      </div>


<h4>1. Definició i funció de les cookies.</h4>

<p>Què són les cookies? Una cookie o galeta és un arxiu que es descarrega al seu ordinador en accedir a determinades pàgines web. Les cookies permeten a una pàgina web, entre altres coses, emmagatzemar i recuperar informació sobre els hàbits de navegació d'un usuari o del seu equip i, depenent de la informació que continguin i de la forma en què utilitzi el seu equip, es poden utilitzar per reconèixer l'usuari.</p>

<h4>2. Quins tipus de cookies utilitza aquesta pàgina web?</h4>

<p>Galetes tècniques i de personalització: necessàries o convenients per a la prestació de determinats serveis. Les primeres permeten a l'usuari la navegació a través de la pàgina web i la utilització dels diferents serveis que hi ha, i les segones permeten accedir a l'usuari al servei amb algunes característiques de caràcter general predefinides. S'utilitzen cookies per pel manteniment de sessió quan és necessari. Si es desactiven aquestes galetes es podria no rebre correctament els continguts del lloc web.</p>




<p>Cookies analítiques, ja sigui perque són tractades per nosaltres o per tercers, permeten fer el seguiment i anàlisi estadística del comportament del conjunt dels usuaris. Si es desactiven aquestes galetes, el lloc web podrà seguir funcionant, sense perjudici que la informació captada per aquestes cookies sobre l'ús del nostre web i sobre el seu contingut permet millorar els nostres serveis.</p>


<h4>3. Forma de desactivar o eliminar les cookies.</h4>

<p>Vostè pot permetre, bloquejar o eliminar les cookies instal.lades en el seu equip mitjançant la configuració de les opcions del navegador en el vostre ordinador.</p>
<ul>
	<li><a href="http://windows.microsoft.com/es-es/internet-explorer/delete-manage-cookies#ie=ie-11">Configuració per a Internet Explorer</li>
	<li><a href="https://support.mozilla.org/es/kb/Borrar%20cookies">Configuració per a Mozilla Firefox</a></li>
	<li><a href="https://support.google.com/chrome/answer/95647?hl=%22es%22">Configuració per a Google Chrome</a></li>
	<li><a href="http://support.apple.com/es-es/HT1677">Configuració per a Safari</a></li>
</ul>
<p>En cas que no accepti les cookies és possible que la pàgina web no funcioni correctament.</p>


<h4>4. Informació sobre la identificació de qui utilitza les cookies.</h4>

<p>La informació obtinguda per les cookies és tractada pel COL.LEGI D´APARELLADORS, ARQUITECTES TÈCNICS I ENGINYERS D´EDIFICACIÓ DE BARCELONA com a gestor de la web en que s´ha contractat la prestació del servei d´analítica amb [.] on seguint el link podrà accedir a les seves condicions legals.</p>

</div>
</div>
</div>	


			<% else %>

				<div class="sub-title-container">
	        <span class="sub-title">Política de cookies</span>
	      </div>

	      <h4>1. Definición y función de las cookies. </h4>

<p>¿Qué son las cookies? Una cookie o galleta es un archivo que se descarga en su ordenador al acceder a determinadas páginas web. Las cookies permiten a una página web, entre otras cosas, almacenar y recuperar información sobre los hábitos de navegación de un usuario o de su equipo y, dependiendo de la información que contengan y de la forma en que utilice su equipo, se pueden utilizar para reconocer al usuario. </p>

<h4>2. ¿Qué tipos de cookies utiliza esta página web? </h4>

<p>Galletas técnicas y de personalización: necesarias o convenientes para la prestación de determinados servicios. Las primeras permiten al usuario la navegación a través de la página web y la utilización de los diferentes servicios que hay, y las segundas permiten acceder al usuario al servicio con algunas características de carácter general predefinidas. Se utilizan cookies para el mantenimiento de sesión cuando es necesario. Si se desactivan estas galletas se podría no recibir correctamente los contenidos del sitio web. </p>




<p>Cookies analíticas, ya sea porque son tratadas por nosotros o por terceros, permiten hacer el seguimiento y análisis estadístico del comportamiento del conjunto de los usuarios. Si se desactivan estas galletas, el sitio web podrá seguir funcionando, sin perjuicio de que la información captada por estas cookies sobre el uso de nuestra web y sobre su contenido permite mejorar nuestros servicios. </p>


<h4>3. Forma de desactivar o eliminar las cookies. </h4>

<p>Usted puede permitir, bloquear o eliminar las cookies instaladas en su equipo mediante la configuración de las opciones del navegador en su ordenador. </p>
<ul>
<li><a href="http://windows.microsoft.com/es-es/internet-explorer/delete-manage-cookies#ie=ie-11">Configuración para Internet Explorer </li>
<li><a href="https://support.mozilla.org/es/kb/Borrar%20cookies">Configuración para Mozilla Firefox </a></li>
<li><a href="https://support.google.com/chrome/answer/95647?hl=%22es%22">Configuración para Google Chrome </a></li>
<li><a href="http://support.apple.com/es-es/HT1677">Configuración para Safari </a></li>
</ul>
<p>En caso de que no acepte las cookies es posible que la página web no funcione correctamente. </p>


<h4>4. Información sobre la identificación de quien utiliza las cookies. </h4>

<p>La información obtenida por las cookies es tratada por el Colegio de Aparejadores, Arquitectos Técnicos e Ingenieros EDIFICACIÓN DE BARCELONA como gestor de la web en que se ha contratado la prestación del servicio d'analítica con [. ] donde siguiendo el link podrá acceder a sus condiciones legales. </p>

</div>
</div>
</div>

	    <% end %>
	  </div>
		<div class="medium-3 cell">
			
		</div>
	</div>
</div>