<!DOCTYPE html>
<html>
<head>
  <title>Log out</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <style>
  .dialog {
    margin-top: 60px;
    text-align: center;
  }
  </style>
</head>

<body class="rails-default-error-page">
  <div class="dialog">
    <div>
      <p><%= t('.sessio_finalitzada') %></p>
    </div>
  </div>
</body>

<script>
  $(document).ready(function() {
    if (navigator.userAgent.indexOf('gonative') > -1) {
      $('.dialog').text("Tancat");
      window.location.href = 'https://www.csostenible.net/mobile_marketcons/index?distancia=tots&preu=tots&categoria=tots&locale=ca';
    }
    else {
      window.location.href = 'https://www.csostenible.net/home/index?locale=ca';
    }
  });
</script>
</html>