<div class="container">
	<div class="grid-x grid-margin-x">
		<div class="medium-9 cell">
			
			<% if params[:locale] == 'ca' %>
				
				<div class="sub-title-container">
	        <span class="sub-title">Qui som</span>
	      </div>

	      <p>La Unitat de Medi Ambient i Sostenibilitat del Col·legi d’Aparelladors i Arquitectes Tècnics de Barcelona, fa ja més de 14 anys que treballa en l’àmbit de la promoció, la formació especialitzada, publicacions i l’assessorament especialitzat en el camps de la rehabilitació, la restauració, el manteniment i els aspectes mediambientals de la construcció d’edificis.   El 1996 va ser el promotor i organitzador de les I Jornades de Construcció i Desenvolupament Sostenible. Des de l’any 2003 estem certificats per ISO 14001 i EMAS, formant part del Club EMAS des de l’any 2006.   Complint amb el compromís ciutadà per la sostenibilitat hem redactat els 21 consells per tenir un habitatge sostenible, per tal d’incentivar la sostenibilitat d’edificis, amb equipaments per a la recollida selectiva, reducció de soroll intern, utilització de la llum natural, energies renovables i de materials amb ecoetiqueta i aprofitament d’aigua.</p>

	      <p>La Secció de Tecnologia, dins del Departament de Construccions Arquitectòniques I, és l’encarregada d’exercir la docència de les assignatures de l’àrea de coneixement que engloba els materials, la construcció, l’edificació i la tecnologia. Actualment s’estan impartint algunes assignatures relacionades amb el medi ambient, la construcció i l’arquitectura. Les seves línies de recerca recullen totes aquelles activitats d’investigació que es desenvolupen des de la tecnologia aplicada a la construcció arquitectònica, amb un esment especial als aspectes Tècnics i dels materials emprats. Actualment s’estan desenvolupant les següents:

	      	<ul>
	      		<li>Tècniques de construcció innovadores per a materials determinats</li>
	      		<li>Propietats i comportaments dels materials de construcció</li>
	      		<li>Sistemes i solucions constructives</li>
	      		<li>Tecnologia de la construcció i medi ambient</li>
	      	</ul>
	      </p>

	      <p>L’Institut Cerdà és una Fundació Privada que actua de forma independent, neutral i no lucrativa. Col·labora amb entitats públiques i privades en l’impuls de projectes i iniciatives innovadores.</p>

	      <p>Les seves eines fonamentals consisteixen en analitzar situacions, evidenciar problemes i oportunitats, seleccionar alternatives i planificar actuacions.</p>

	      <p>Actua, bàsicament, en quatre àrees amb un elevat potencial de desenvolupament de canvi i d’emergència amb noves oportunitats de negoci, que són:

	      	<ul>
	      		<li>Energia</li>
	      		<li>Logística i distribució</li>
	      		<li>Medi ambient</li>
	      		<li>Tecnologies de la informació</li>
	      	</ul>
	      </p>

	      <p>L’Asociación de Estudios Geobiologicos GEA, es va formar l’any 1991, amb l’objectiu d’agrupar els esforços i activitats per a divulgar i promoure l’estudi de la Geobiologia i la Bioconstrucció. Aquestes ciències – anomenades també “Medicines de l’Hàbitat” – estudien les interrelacions entre els éssers vius i les radicacions que emanen del centre de la terra, les que provenen de les radiacions còsmiques i les generades per la pròpia activitat humana i la seva influència en la salut de les persones així com els efectes nocius que puguin tenir alguns elements i materials de construcció. Aquests estudis serveixen per a conèixer la importància del lloc sobre el que es viu, i ens permeten realitzar les modificacions necessàries als edificis per a obtenir una major qualitat vida. L’Associació publica el butlletí trimestral “GEA”, que recull estudis, investigacions, projectes etc.</p>

	      <p>La Fundació ITL és una entitat sense ànim de lucre dedicada a la prestació de serveis tecnològics avançats, formació, assessorament i difusió de tecnologia relacionada amb el sector de la construcció i, de manera especial en l’àmbit dels materials, el seu comportament i l’entorn, tenint com a objectiu fundacional la transferència d’informació, de tecnologia i d’innovació a les empreses, tècnics i professionals del sector.</p>

	      <p>Després d’obtenir l’any 2005 l’acreditació de la Generalitat de Catalunya com a centre de difusió tecnològica, la Fundació ITL pertany avui a la xarxa TECNIO impulsada pel govern català, com a centre tecnològic que ofereix serveis tecnològics de primera línia i clarament especialitzat en àmbits de gran projecció en el sector com són la rehabilitació, la construcció sostenible i la bioconstrucció. La Fundació ITL ha estat també l’entitat pionera del Parc Científic i Tecnològic Agroalimentari de Lleida.</p>

			<% elsif params[:locale] == 'es' %>

				<div class="sub-title-container">
	        <span class="sub-title">Quién somos</span>
	      </div>

	      <p>La ‘Unitat de Medi Ambient i Sostenibilitat del Col·legi d’Aparelladors i Arquitectes Tècnics de Barcelona’, hace ya más de 14 años que trabaja en el ámbito de la promoción, la formación especializada, publicaciones y el asesoramiento especializado en el campos de la rehabilitación, la restauración, el mantenimiento y los aspectos medioambientales de la construcción de edificios. El 1996 fue el promotor y organizador de las I Jornadas de Construcción y Desarrollo Sostenible. Desde el año 2003 estamos certificados por ISO 14001 y EMAS, formando parte del Club EMAS desde el año 2006. Cumpliendo con el compromiso ciudadano por la sostenibilidad hemos redactado los 21 consejos para tener una vivienda sostenible, con el objetivo de incentivar la sostenibilidad de edificios, con equipamientos para la recogida selectiva, reducción de ruido interno, utilización de la luz natural, energías renovables y de materiales con ecoetiqueta y aprovechamiento del agua.</p>

	      <p>La ‘Secció de Tecnologia’, dentro del ‘Departament de Construccions Arquitectòniques I’, es la encargada de ejercer la docencia de las asignaturas del área de conocimiento que engloba los materiales, la construcción, la edificación y la tecnología. Actualmente se están impartiendo algunas asignaturas relacionadas con el medio ambiente en la construcción y la arquitectura. Sus líneas de investigación recogen todas esas actividades que se desarrollan desde la tecnología aplicada a la construcción arquitectónica, con un acento especial en los aspectos técnicos y en los materiales utilizados. Actualmente se están desarrollando las siguientes:

	      	<ul>
	      		<li>Técnicas de Construcción innovadoras para materiales determinados</li>
	      		<li>Propiedades y comportamientos de los Materiales de Construcción</li>
	      		<li>Sistemas y Soluciones Constructivas</li>
	      		<li>Tecnología de la construcción y Medio Ambiente</li>
	      	</ul>
	      </p>

	      <p>El ‘Institut Cerdà’ es una Fundación Privada que actúa de forma independiente, neutral y no lucrativa. Colabora con entidades públicas y privadas en el impulso de proyectos e iniciativas innovadoras.</p>

	      <p>Sus herramientas fundamentales consisten en analizar situaciones, evidenciar problemas y oportunidades, seleccionar alternativas y planificar actuaciones.</p>

	      <p>Actúa, básicamente, en cuatro áreas con un elevado potencial de desarrollo de cambio y de emergencia con nuevas oportunidades de negocio, que son:

	      	<ul>
	      		<li>Energía</li>
	      		<li>Logística y Distribución</li>
	      		<li>Medio ambiente</li>
	      		<li>Tecnologías de la información</li>
	      	</ul>
	      </p>

	      <p>La Asociación de Estudios Geobiológicos GEA, se formó el año 1991, con el objetivo de agrupar los esfuerzos y actividades para difundir y promover el estudio de la Geobiología y la Bioconstrucción. Estas ciencias – llamadas también “Medicinas del Hábitat” – estudian las interrelaciones entre los seres vivos y las radiaciones que emanan del centro de la tierra, las que proceden de las radiaciones cósmicas y las generadas por la propia actividad humana y su influencia en la salud de las personas, así como los efectos nocivos que puedan tener algunos elementos y materiales de construcción. Estos estucios sirven para conocer la importancia del lugar sobre el que se vive, y nos permiten realizar las modificaciones necesarias en los edificios para obtener una mayor calidad de vida. La Asociación publica el boletín trimestral “GEA”, que recoge estudios, investigaciones, proyectos, etc.</p>

	      <p>La Fundación ITL es una entidad sin ánimo de lucro dedicada a la prestación de servicios tecnológicos avanzados, formación, asesoramiento y difusión de tecnología relacionada con el sector de la construcción y, de manera especial en el ámbito de los materiales, su comportamiento y el entorno, teniendo como objetivo fundacional la transferencia de información, de tecnología y de innovación en las empresas, técnicos y profesionales del sector.</p>

	      <p>Tras obtener en 2005 la acreditación de la Generalitat de Cataluña como centro de difusión tecnológica, la Fundación ITL pertenece hoy a la red TECNIO impulsada por el gobierno catalán, como centro tecnológico que ofrece servicios tecnológicos de primera línea y claramente especializado en ámbitos de gran proyección en el sector como son la rehabilitación, la construcción sostenible y la bioconstrucción. La Fundación ITL ha sido también la entidad pionera del Parque Científico y Tecnológico Agroalimentario de Lleida.</p>
	      
			<% else %>

				<div class="sub-title-container">
	        <span class="sub-title">Who we are</span>
	      </div>

	      <p>The Environmental and Sustainability Unit of the College of Technical Architects and Architects of Barcelona has been working for more than 14 years in the field of promotion, specialized training, publications and specialized advice in the fields of the rehabilitation, the restoration, the maintenance and the environmental aspects of the construction of buildings. In 1996 he was the promoter and organizer of the I Days of Construction and Sustainable Development. Since 2003 we have been certified by ISO 14001 and EMAS, forming part of the EMAS Club since 2006. Compliant with the citizen commitment to sustainability, we have written the 21 tips for sustainable housing, in order to stimulate Sustainability of buildings, with equipment for selective collection, reduction of internal noise, use of natural light, renewable energies and materials with eco-labeling and water use.</p>

	      <p>The Technology Section, within the Department of Architectural Constructions I, is in charge of teaching subjects in the area of knowledge that encompasses materials, construction, construction and technology. Currently, some subjects related to the environment, construction and architecture are being taught. Its lines of research cover all those research activities that are developed from the technology applied to the architectural construction, with a special mention to the technical aspects and the materials used. The following are currently being developed:

	      	<ul>
	      		<li>Innovative construction techniques for specific materials</li>
	      		<li>Properties and behavior of building materials</li>
	      		<li>Systems and constructive solutions</li>
	      		<li>Construction and environment technology</li>
	      	</ul>
	      </p>

	      <p>The Cerdà Institute is a Private Foundation that acts independently, neutral and non-profit. Collaborate with public and private entities in the promotion of innovative projects and initiatives.</p>

	      <p>Their fundamental tools consist of analyzing situations, demonstrating problems and opportunities, selecting alternatives and planning actions.</p>

	      <p>It basically works in four areas with a high potential for change and emergence development with new business opportunities, which are:

	      	<ul>
	      		<li>Energy</li>
	      		<li>Logistics and distribution</li>
	      		<li>Natural environment</li>
	      		<li>Information technology</li>
	      	</ul>
	      </p>

	      <p>The Association of Geobiological Studies GEA, was formed in 1991, with the aim of grouping the efforts and activities to disseminate and promote the study of Geobiology and Bioconstruction. These sciences - also called "Habitat Medications" - study the interrelations between living beings and the radications that emanate from the center of the earth, those that come from cosmic radiation and those generated by human activity itself and its influence in the health of the people as well as the harmful effects that some elements and construction materials may have. These studies serve to know the importance of the place on which one lives, and allow us to make the necessary modifications to the buildings to obtain a higher quality life. The Association publishes the quarterly bulletin "GEA", that collects studies, investigations, projects etc.</p>

	      <p>The ITL Foundation is a non-profit organization dedicated to the provision of advanced technological services, training, advice and dissemination of technology related to the construction sector and, especially in the field of materials, its behavior and its The environment, with the foundational objective of transferring information, technology and innovation to companies, technicians and professionals in the sector.</p>

	      <p>After obtaining the accreditation of the Generalitat de Catalunya as a center of technological dissemination in 2005, the ITL Foundation is now part of the TECNIO network promoted by the Catalan government, as a technology center that offers cutting-edge technology services Specialized in areas of great projection in the sector such as rehabilitation, sustainable construction and bioconstruction. The ITL Foundation has also been the pioneer entity of the Lleida Agri-Food Science and Technology Park.</p>

			<% end %>
		</div>
		<div class="medium-3 cell">
			<%= image_tag "https://dcyqocdz7x3wj.cloudfront.net/imatges/logos_quisom_v4.gif" %>
		</div>
	</div>
</div>