<h1>Editing Ecoetiqueta Producte</h1>

<%= render 'form', ecoetiqueta_producte: @ecoetiqueta_producte %>

<%= link_to 'Show', @ecoetiqueta_producte %> |
<%= link_to 'Back', ecoetiqueta_productes_path %>
