<h1>Editing Organitzacio Afiliada</h1>

<%= render 'form', organitzacio_afiliada: @organitzacio_afiliada %>

<%= link_to 'Show', @organitzacio_afiliada %> |
<%= link_to 'Back', organitzacio_afiliades_path %>
