// Place all the styles related to the Dapcons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3.titol-etapa {
	font-size: 1.2em;
	font-weight: bold;	
}

span.unitats-indicadors {
	font-size: 0.8em;
}

.highlight {
	background-color: #DEF3DE;
}

.header-cell-indicadors {
	border: 1px solid #999;

}

.body-cell-indicadors {
	border: 1px solid #999;
	padding: 5px;
}

.comparador-dapcons-item {
	border: 1px solid #999;
	padding: 10px 20px;
	background-color: #eaeaea;
	margin-bottom: 20px;
}

.comparador-dapcons-item-nom {
	font-size: 1.2em;
	font-weight: bold;
}

.item-seleccionat {
	background-color: #DEF3DE;
	border-left: 6px solid #6ABE6A;
}

.container-titol-unitat-funcional {
	margin-bottom: 20px;
}

.titol-unitat-funcional {
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: underline;
}

.nom-producte-unitats-declarades {
	font-size: 1em;
	font-weight: bold;
}

.accordion-item {
	background-color: #999;
}

a.accordion-title {
	color: white;
	font-weight: bold;
}

a.accordion-title:hover {
	color: #333;
	font-weight: bold;
}

.menu-dapcons > li > a {
	color: #333;
}

.menu-dapcons > li:hover {
	background-color: #eaeaea;
}

.contenidor-noticies-dapcons {
	
}

.titol-noticia-dapcons > a {
	color: #333;
}

.titol-noticia-dapcons > a > h4 {
	font-size: 1em;
	font-weight: bold;
}

.img-noticia-dapcons {
	height: 150px;
}