// Place all the styles related to the Dapcons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sub-title-container {
	background-color: #A5BE63;
	padding: 5px 15px;
	margin-bottom: 40px;
}

.sub-title {
	color: white;
	font-size: 1.6em;
	font-weight: bold;
}

.logo-dapcons-container {
	text-align: right;	
	margin-bottom: 20px;
}

.logo-dapcons {
	max-width: 150px;
}

.text-negreta {
	font-weight: bold;
}

h4.titol-seccio-dapcons {
	font-size: 1.2em;
	font-weight: bold;
}

p.paragraf-seccio-dapcons {
	margin-bottom: 40px;
}

/**** Llistat organitzacions afiliades ****/

span.nom-organitzacio-membre {
	font-weight: bold;
}

td.num_organitzacio {
	padding-left: 30px;
}

.separador-organitzacions-dapcons {
	margin-top: 60px;
}

/**** Llistat productes ****/

.filtres-productes-dapcons {
	background-color: #eaeaea;
	padding: 15px 15px 0px 15px;
	margin-top: -40px;
}

.filtre-dapcons-container {
	
}

.checkbox-vigent-container {
	padding-top: 10px;
}

.button-actualitzar-container {
	text-align: right;
	padding-top: 5px;
}

.llistat-productes-dapcons {
	background-color: #eaeaea;
	padding: 15px;
	margin-top: 20px;
}

.separador-categoria-productes-dapcons {
	width: 100%;
	height: 80px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}

.titol-categoria-productes-dapcons {
	font-size: 1.3em;
	font-weight: bold;
}

.item-categoria-productes-dapcons {
	background-color: white;
	margin: 15px 0px;
}

span.nom-producte-dapcons {
	font-size: 1.4em;
	font-weight: bold;
}

span.titol-dada-producte-dapcons {
	font-weight: bold;
}

span.valid-producte-dapcons {
	background-color: #A5BE63;
	padding: 4px 10px;
	font-size: 0.8em;
	color: white;
}

span.no-valid-producte-dapcons {
	background-color: #D8130E;
	padding: 4px 10px;
	font-size: 0.8em;
	color: white;
}

.apartat-item-categoria-productes-dapcons {
	padding: 15px;
}

/**** Comparador ****/

h3.titol-etapa {
	font-size: 1.2em;
	font-weight: bold;	
}

span.unitats-indicadors {
	font-size: 0.8em;
}

.highlight {
	background-color: #DEF3DE;
}

.header-cell-indicadors {
	border: 1px solid #999;

}

.body-cell-indicadors {
	border: 1px solid #999;
	padding: 5px;
}

.comparador-dapcons-item {
	border: 1px solid #999;
	padding: 10px 20px;
	background-color: #eaeaea;
	margin-bottom: 20px;
}

.comparador-dapcons-item-nom {
	font-size: 1.2em;
	font-weight: bold;
}

.item-seleccionat {
	background-color: #DEF3DE;
	border-left: 6px solid #6ABE6A;
}

.container-titol-unitat-funcional {
	margin-bottom: 20px;
}

.titol-unitat-funcional {
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: underline;
}

.nom-producte-unitats-declarades {
	font-size: 1em;
	font-weight: bold;
}

.grafic-comparador {
	max-height: 400px;
	margin-bottom: 40px;
}

.titol-grafic-comparador {
	font-weight: bold;
	font-size: 1.1em;
	text-align: center;
}


/**** Altres DAPcons ****/

.imatge-dapcons-centrada {
	text-align: center;
	margin-bottom: 20px;
}


.accordion-item {
	background-color: #999;
}

a.accordion-title {
	color: white;
	font-weight: bold;
}

a.accordion-title:hover {
	color: #333;
	font-weight: bold;
}

.menu-dapcons > li > a {
	color: #333;
}

.menu-dapcons > li:hover {
	background-color: #eaeaea;
}

.contenidor-noticies-dapcons {
	
}

.titol-noticia-dapcons > a {
	color: #333;
}

.titol-noticia-dapcons > a > h4 {
	font-size: 1em;
	font-weight: bold;
}

.img-noticia-dapcons {
	height: 150px;
}