// Place all the styles related to the Marketcons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logo-marketcons {
	max-width: 200px;
}

/* Menú Marketcons */

.menu > a.link-menu-marketcons {
	padding: 5px 0px 2px 0px;
}

.accordion-menu > a.link-menu-marketcons {
	padding: 5px 0px 2px 0px;
}

.link-marketcons-actiu {
	background-color: #0D5D72;
}


.menu-marketcons-lateral-container {
	padding: 0px;
	background-color: #D6EFF4;
	border-radius: 5px;
}

.mk-filtres-container {
	padding: 10px 15px;
}

.nom-filtre-marketcons {
	font-weight: bold;
}

.menu-marketcons-link {
	padding: 0px;
	color: black;
}

.menu-marketcons-item {
	padding: 5px 15px;
	border-bottom: 1px solid #fff;
	font-weight: bold;
	color: #0D5D72;
}

.menu-marketcons-item:last-child {
	border-bottom: none;
}

.menu-marketcons-actiu {
	background-color: #0D5D72;
	color: white;
}

.menu-marketcons-actiu > a {
	font-weight: bold;
}

.titol-menu-marketcons {
	font-size: 0.8em;
	font-weight: bold;
}

.mk-icons-navigation {
	width: 20px;
	margin: -4px 7px 0px -4px;
}



/* Llistat productes */

.mk-producte-link {
	color: black;
}

.mk-producte-link:hover {
	color: black;
}

.mk-item {
	border: 1px solid #cccccc;
	border-radius: 5px;
	box-shadow: 3px 3px 5px grey;
	margin-bottom: 20px;
	background-color: white;
}

.mk-item:hover {
	box-shadow: 5px 5px 7px grey;
}

.mk-item-text {
	padding: 4px 8px;
	height: 110px;
}

.mk-item-preu {
	margin: 0px;
	font-size: 1.3em;
	font-weight: bold;
}

.mk-item-nom {
	margin: 0px;
}

.mk-image {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


/* Venedor */

.container-llistat-mkproducts {
	background-color: #eaeaea;
	padding: 20px;
	border-radius: 5px;
}

.nombre-productes-venedor {
	margin-bottom: 20px;
	float: left;
}

.membre-des-de {
	float: right;
	text-align: right;
}



/* Detall producte */

.mk-product-nom {
	font-size: 1.5em;
	font-weight: bold;
}

.titol-camp-producte {
	color: #666;
	font-size: 0.8em;
}

.text-camp-producte {
	
}

.preu-producte {
	font-size: 1.4em;
	font-weight: bold;
	margin-left: 10px;
}

.boto-enviar-missatge {
	/*background-color: #7DD2E2;*/
	background-color: #D6EFF4;
	color: #0D5D72;
	font-weight: bold;
	float: right;
	width: 200px;
	height: 50px;
}

.hr-no-margin {
	margin: 0px;
}

.img-icona-dialeg {
	width: 20px;
	float: left;
	margin-left: 20px;
	margin-top: 18px;
}

.text-enviar-missatge {
	float: right;
	margin: 12px 20px 0px 0px;
}

.mk-preu-container {
	margin-top: 9px;
}

.mk-product-imatge-perfil-container {
	margin-top: 20px;
	float: left;
}

.mk-product-text-perfil-container {
	margin-left: 110px;
	margin-top: 40px;
}

.mk-imatge-perfil-producte {
	width: 90px;
	border-radius: 50%;
}

.boto-editar-producte {
	background-color: #D6EFF4;
	border-radius: 5px;
	padding: 10px 15px;
	color: #0D5D72;
	font-weight: bold;
	float: right;
	margin: 10px 0px 10px 10px;
}

.boto-eliminar-producte {
	background-color: #D12020;
	border-radius: 5px;
	padding: 10px 15px;
	color: #fff;
	font-weight: bold;
	float: right;
	margin: 10px 0px 10px 10px;
}

.boto-eliminar-producte:hover {
	color: #fff;
}

/* Edició producte */

.mk-text-discret {
	color: #666;
	font-size: 0.8em;
}

.mk-text-ressaltat {
	font-size: 1.3em;
	font-weight: bold;
	margin: 30px 0px 0px -10px;
}


/* Perfil */

.privacitat-perfil {
	padding: 20px;
	background-color: #eaeaea;
}

.titol-privacitat-perfil {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 20px;
}

.mk-imatge-perfil-container {
	text-align: center;
	margin-bottom: 20px;
}

.mk-text-perfil-container {
	text-align: center;
	margin-bottom: 20px;
}

.mk-imatge-perfil {
	width: 150px;
	border-radius: 50%;
}

.nom-imatge-perfil {
	font-weight: bold;
}


