// Place all the styles related to the Marketcons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logo-marketcons {
	max-width: 200px;
}

/* Menú Marketcons */

.link-menu-marketcons {
	padding: 0px;
	color: #0D5D72;
}

.link-menu-marketcons:hover {
	color: #0D5D72;
}

.link-marketcons-actiu {
	background-color: #0D5D72;
	color: #fff;
}

.link-marketcons-actiu:hover {
	color: #fff;
}


.menu-marketcons-lateral-container {
	padding: 0px;
	background-color: #D6EFF4;
	border-radius: 5px;
}

.mk-filtres-container {
	padding: 10px 15px;
}

.nom-filtre-marketcons {
	font-weight: bold;
}

.menu-marketcons-link {
	padding: 0px;
	color: black;
}

.menu-marketcons-item {
	padding: 0px;
	border-bottom: 1px solid #fff;
	font-weight: bold;
	color: #0D5D72;
}

.menu-marketcons-item-categoria {
	border-bottom: 1px solid #fff;
	font-weight: bold;
	color: #0D5D72;
}

.link-marketcons-categoria {
	color: #0D5D72; 
}

.link-marketcons-categoria:hover {
	color: #0D5D72; 
}

.menu-marketcons-item:last-child {
	/*border-bottom: none;*/
}

.menu-marketcons-actiu {
	background-color: #0D5D72;
	color: white;
}

.menu-marketcons-actiu > a {
	font-weight: bold;
	color: #fff;
}

.menu-marketcons-actiu > a:hover {
	font-weight: bold;
	color: #fff;
}

.titol-menu-marketcons {
	font-size: 0.8em;
	font-weight: bold;
}

.mk-icons-navigation {
	width: 20px;
	margin: -4px 7px 0px -4px;
}



/* Llistat productes */

.mk-producte-link {
	color: black;
}

.mk-producte-link:hover {
	color: black;
}

.mk-item {
	border: 1px solid #cccccc;
	border-radius: 5px;
	box-shadow: 3px 3px 5px grey;
	margin-bottom: 20px;
	background-color: white;
}

.mk-item:hover {
	box-shadow: 5px 5px 7px grey;
}

.mk-item-text {
	padding: 4px 8px;
	height: 110px;
}

.mk-item-preu {
	margin: 0px;
	font-size: 1.3em;
	font-weight: bold;
}

.mk-item-nom {
	margin: 0px;
}

.mk-image {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.badge-preu {
	float: left;
}

.container-badge-producte-reservat {
	float: right;
	margin-top: 5px;
}

.badge-producte-reservat {
	background-color: #0D5D72;
	color: #fff;
	font-weight: bold;
	font-size: 0.7em;
	border-radius: 5px;
	padding: 3px 6px;
}

.badge-nom {
	clear: both;
}

.mk-item-distancia {
	color: #666;
	font-size: 0.8em;
}



/* Venedor */

.container-llistat-mkproducts {
	background-color: #eaeaea;
	padding: 20px;
	border-radius: 5px;
}

.nombre-productes-venedor {
	margin-bottom: 20px;
	float: left;
}

.membre-des-de {
	float: right;
	text-align: right;
}

.boto-publicar-anunci {
	background-color: #0D5D72;
	color: #fff;
	padding: 10px 15px;
	border-radius: 5px;
}

.boto-publicar-anunci:hover {
	color: #fff;
}


/* Nou anunci */

.mk-imatge-producte {
	width: 250px;
}



/* Detall producte */

.mk-image-principal {
	margin-bottom: 10px;	
}

.mk-product-nom {
	font-size: 1.5em;
	font-weight: bold;
}

.titol-camp-producte {
	color: #666;
	font-size: 0.8em;
}

.text-camp-producte {
	
}

.preu-producte {
	font-size: 1.4em;
	font-weight: bold;
	margin-left: 10px;
}

.boto-enviar-missatge {
	/*background-color: #7DD2E2;*/
	background-color: #D6EFF4;
	color: #0D5D72;
	font-weight: bold;
	float: right;
	width: 200px;
	height: 50px;
}

.hr-no-margin {
	margin: 0px;
}

.img-icona-dialeg {
	width: 20px;
	float: left;
	margin-left: 20px;
	margin-top: 18px;
}

.text-enviar-missatge {
	float: right;
	margin: 12px 20px 0px 0px;
}

.mk-preu-container {
	margin-top: 9px;
}

.mk-product-imatge-perfil-container {
	margin-top: 20px;
	float: left;
}

.mk-product-text-perfil-container {
	margin-left: 110px;
	margin-top: 40px;
}

.mk-imatge-perfil-producte {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	border: 1px solid #999;
	object-fit: cover;
}

.boto-editar-producte {
	background-color: #D6EFF4;
	border-radius: 5px;
	padding: 10px 15px;
	color: #0D5D72;
	font-weight: bold;
	float: right;
	margin: 10px 0px 10px 10px;
}

.boto-eliminar-producte {
	background-color: #D12020;
	border-radius: 5px;
	padding: 10px 15px;
	color: #fff;
	font-weight: bold;
	float: right;
	margin: 10px 0px 10px 10px;
}

.boto-eliminar-producte:hover {
	color: #fff;
}

.mk-product-missatge-comprador-item {
	clear: both;
	background-color: #eaeaea;
	margin-bottom: 20px;
	min-height: 120px;
	border-radius: 5px;
	padding: 15px;
}

.mk-product-missatge-imatge-perfil-container {
	float: left;
}

.mk-product-missatge-text-container {
	margin-left: 120px;
	color: #333;
}

.mk-product-missatge-usuari {
	font-weight: bold;
}

.mk-product-marca-reservat {
	border-radius: 5px;
	background-color: #39A72B;
	color: white;
	padding: 5px 10px;
	margin-top: 20px;
}

#opcions-eliminar-producte {
	clear: both;
	background-color: #eaeaea;
	padding: 15px;
}

.producte-venut {
	border-radius: 5px;
	background-color: #fff;
	padding: 10px 15px;
	color: #fff;
	font-weight: bold;
	margin-bottom: 15px;
}

.producte-amagar {
	border-radius: 5px;
	background-color: #fff;
	padding: 10px 15px;
	color: #fff;
	font-weight: bold;
}

/* Edició producte */

.mk-text-discret {
	color: #666;
	font-size: 0.8em;
}

.mk-text-ressaltat {
	font-size: 1.3em;
	font-weight: bold;
	margin: 30px 0px 0px -10px;
}

.mk-documents-container {
	background-color: #eaeaea;
	margin-bottom: 20px;
	padding: 15px;
}

.mk-afegir-document {
	margin-top: 15px;
}


/* Perfil */

.privacitat-perfil {
	padding: 20px;
	background-color: #eaeaea;
}

.titol-privacitat-perfil {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 20px;
}

.mk-imatge-perfil-container {
	text-align: center;
	margin-bottom: 20px;
}

.mk-text-perfil-container {
	text-align: center;
	margin-bottom: 20px;
}

.mk-imatge-perfil {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	object-fit: cover;
}

.nom-imatge-perfil {
	font-weight: bold;
}


/* Missatges */

.missatges-imatge-principal-producte {
	width: 100px;
	float: left;
}

.missatges-dades-producte {
	margin-left: 120px;
}

.mk-missatge-imatge-perfil-container {
	float: right;
}

.mk-missatge-text-perfil-container {
	margin-right: 120px;
	text-align: right;
	padding-top: 20px;
}

.mk-missatge-preu-producte {
	font-size: 1.4em;
	font-weight: bold;
}

.mk-missatge-usuari {
	background-color: #EFFFF2;
	padding: 15px;
	border-radius: 5px;
	margin-bottom: 15px;
}

.mk-missatge-altre {
	background-color: #EFF9FF;
	padding: 15px;
	border-radius: 5px;
	margin-bottom: 15px;
}

.nom-mk-missatge {
	font-weight: bold;
}

.text-mk-missatge {
	margin: 0px;
}

.data-mk-missatge {
	color: #999;
	text-align: right;
	font-size: 0.8em;
}

.mk-missatge-producte-link {
	color: #333;
}

.mk-missatge-producte-link:hover {
	color: #333;
}

.container-reserva-mkproduct {
	padding: 10px 20px;
	margin-top: 25px;
	background-color: #eaeaea;
	border-radius: 5px;
}

.titol-text-reserva-mkproduct {
	font-size: 1.2em;
	font-weight: bold;
}

.container-resposta-reserva {
	margin-top: 20px;
}


/* Administració */

.mk-item-admin {
	height: 70px;
	margin-bottom: 20px;

}

.boto-admin-aprovar-producte {
	background-color: #D6EFF4;
	border-radius: 5px;
	padding: 5px 15px;
	color: #0D5D72;
	margin: 10px 5px 0px 0px;
	float: left;
}

.boto-admin-eliminar-producte {
	background-color: #D12020;
	border-radius: 5px;
	padding: 5px 15px;
	color: #fff;
	margin: 10px 5px 0px 0px;
	float: left;
}

.boto-admin-eliminar-producte:hover {
	color: #fff;
}

.container-admin-bloquejar-usuari {
	padding-top: 30px;
}

.boto-admin-bloquejar-usuari {
	background-color: #D6EFF4;
	border-radius: 5px;
	padding: 5px 15px;
	color: #0D5D72;
	margin: 10px 5px 0px 0px;
	float: right;
}
