// Place all the styles related to the MobileMarketcons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.mk-body-mobile {
	background-color: #D6EFF4;
}

.mk-mobile-container-text-general {
	padding: 0px 15px;
}

.mk-mobile-products-container {
	margin-top: 5px;
}

.mk-mobile-titol-pagina {
	font-size: 1.4em;
	font-weight: bold;
	margin-top: 15px;
	padding-left: 20px;
}

.mk-mobile-inici-sessio-container {
	padding: 20px 15px;
}

.mk-mobile-filtres-container {
	padding: 10px 15px;
	background-color: #666;
}

.mk-mobile-nom-filtre-marketcons {
	color: white;
}

#boto-filtres {
	padding: 4px 15px;
	background-color: #666;
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 0.8em;
}

.mk-mobile-product-container {
	background-color: white;
	padding-bottom: 40px;
}

.mk-mobile-item {
	border-radius: 5px;
	background-color: white;
	height: 100px;
	margin: 0px 5px 5px 5px;
	padding-right: 5px;
}

.mk-mobile-image-container {
	margin-bottom: 15px;
}

.mk-mobile-imatge-principal {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.mk-mobile-item-imatge {
	float: left;
}

.mk-mobile-item-text {
	margin-left: 115px;
}

.mk-mobile-badge-preu {
	float: left;
}

.mk-mobile-badge-nom {
	position: relative;
 	padding-top: 30px;
}

.mk-mobile-badge-producte-reservat {
	background-color: #0D5D72;
	color: #fff;
	font-weight: bold;
	font-size: 0.7em;
	border-radius: 5px;
	padding: 3px 6px;
}

.mk-mobile-hr {
	margin-bottom: 10px;
}

.mk-mobile-hr-missatges {
	margin-top: 0px;
	margin-bottom: 5px;
}

.mobile-text-camp-producte {
	font-size: 1.2em;
}

.mk-mobile-missatges-imatge-principal-producte {
	width: 100px;
	float: left;
}

.mk-mobile-missatges-dades-producte {
	margin-left: 120px;
}

.mk-mobile-product-nom {
	font-size: 1em;
	font-weight: bold;
	margin-top: 10px;
}

.mk-mobile-missatge-preu-producte {
	font-size: 1.2em;
	font-weight: bold;
}

.mk-mobile-container-missatges-venedor {
	background-color: white;
	padding: 5px 15px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.mk-mobile-missatge-imatge-perfil-container {
	float: left;
}

.mk-mobile-imatge-perfil-producte {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid #999;
	object-fit: cover;
}

.mk-mobile-missatge-text-perfil-container {
	margin-left: 56px;
	margin-top: 8px;
}

.mk-mobile-background-missatges {
	background-color: #999;
	padding-top: 20px;
	margin-bottom: 10px;
}

.mk-mobile-missatge-usuari {
	background-color: #EFFFF2;
	padding: 15px;
	border-radius: 5px;
	margin-bottom: 15px;
	margin-left: 20px;
}

.mk-mobile-missatge-venedor {
	background-color: #EFF9FF;
	padding: 15px;
	border-radius: 5px;
	margin-bottom: 15px;
	margin-right: 20px;
}

.mk-mobile-button {
	border-radius: 8px;
}

.mk-mobile-button-right {
	text-align: right;
}

.mk-mobile-nombre-productes-venedor {
	background-color: white;
	padding: 10px 20px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.mk-mobile-membre-des-de {
	background-color: white;
	padding: 10px 20px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}

.mk-mobile-imatge-perfil-container {
	text-align: center;
	margin: 20px 0px 20px 0px;
}

.mk-mobile-input {
	padding-left: 10px;
}

.mk-mobile-container-boto-eliminar-producte {
	margin-right: 15px;
}

.mk-mobile-info-canvi-idioma {
	padding: 20px 15px 0px 15px;
}

.mk-mobile-canvi-idioma {
	border-top: 1px solid #ccc;
	padding: 10px 15px;
	background-color: white;
}

.mk-mobile-canvi-idioma-last {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 10px 15px;
	background-color: white;
}