
.container-tema-clau {
	margin-top: 20px;
}

.paragraf-tema-clau {
	margin-top: 40px;
}

.paragraf-tema-clau > p {
	font-family: Georgia,Cambria,"Times New Roman",Times,serif;
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 40px;
}

.paragraf-tema-clau > h2 {
	font-family: Georgia,Cambria,"Times New Roman",Times,serif;
	font-size: 30px;
	line-height: 40px;
	margin-bottom: 40px;
	margin-top: 60px;
	font-weight: bold;
}

.paragraf-tema-clau > h3 {
	font-family: Georgia,Cambria,"Times New Roman",Times,serif;
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 30px;
	margin-top: 40px;
	font-weight: bold;
}

.paragraf-tema-clau > ul {
	margin-bottom: 40px;
}

.paragraf-tema-clau > ul > li {
	font-family: Georgia,Cambria,"Times New Roman",Times,serif;
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 15px;
}

.imatge-impacte {
	max-width: 200px;
}

.imatge-text {
	margin-bottom: 40px;
	max-width: 600px;
}

.imatge-cicle-materials {
	
	text-align: center;
}

.icona-passius {
	max-width: 150px;
	float: right;
}

p.peu-foto {
	font-size: 14px;
	font-style: oblique;
	padding-top: 20px;
}

.imatge-climatitzacio {
	margin-bottom: 20px;
}

.imatge-ventilacio {
	max-width: 150px;
}

.text-ventilacio > p {
	font-size: 16px;
	border-bottom: 1px solid #8DC63F;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

h4.titol-caldera {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

h3.subtitol-materials {
	font-size: 1.2em;
	font-weight: bold;
}