	<div class="grid-x grid-margin-x">
		<div class="medium-12 cell">
			<div class="contenidor-noticies-dapcons">
				<div class="titol-seccio">
					NOTÍCIES DAPcons<sup>®</sup>
				</div>
				<div class="grid-x grid-margin-x">
					<div class="medium-2 cell">
						<% @noticies.each do |noticia| %>
							<div class="container-noticia-lateral">
								<% if noticia.imatge_noticia.attached? %>
		              <%= link_to noticia do %>
		                <%= image_tag noticia.imatge_noticia.variant(resize: "500x500"), class: 'img-noticia-dapcons' %>
		              <% end %>
		            <% end %> 
		            <div class="titol-noticia-dapcons">
		              <%= link_to noticia do %>
		                <h4><%= noticia.titol_ca %></h4>
		              <% end %>
		            </div>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>

